.about {
    position: relative;

    &__container {
        position: relative;
        // padding: rem(132) rem(225) rem(122);
        @include adaptiveValue("padding-top", 132, 30, 1920, 375, 1);
        @include adaptiveValue("padding-right", 225, 15, 1920, 375, 1);
        @include adaptiveValue("padding-left", 225, 15, 1920, 375, 1);
        @include adaptiveValue("padding-bottom", 127, 23, 1920, 375, 1);
    }

    &__title {
        // margin-bottom: rem(68);
        @include adaptiveValue("margin-bottom", 68, 15, 1920, 375, 1);
        @include adaptiveValue("font-size", 48, 24, 1920, 375, 1);
        font-weight: 700;
    }

    &__body {
        max-width: percent(716, 1570);
        @media (max-width:$mobile){
            max-width: 100%; 
        }
    }

    &__text {
        @include adaptiveValue("font-size", 32, 13, 1920, 375, 1);
        line-height: math.div(39, 32);
        text-align: justify;

        &:not(:last-child) {
            margin-bottom: rem(34);

            @media (max-width:$mobileSmall){
                margin-bottom: rem(15); 
            }
        }
    }

    &__quote {
        display: block;
        color: $highlightColor;
        @include adaptiveValue("font-size", 48, 24, 1920, 375, 1);
        font-weight: 900;
        text-align: left;
        text-transform: uppercase;
    }

    &__label {
        display: inline-block;
        margin-top: rem(13);
        font-family: Magenda;
        @include adaptiveValue("font-size", 39, 13, 1920, 375, 1);

        @media (max-width:$mobileSmall){
             display: block; 
        }
    }

    &__img {
        position: absolute;
        top: rem(-44);
        right: 0;
        max-width: 50%;
        z-index: 3;

        @media (max-width:$tablet){
            top: 50%;
            transform: translateY(-50%);
        }

        @media (max-width:$mobile){
            display: none; 
        }

        &-mob {
            margin-bottom: rem(23);
            // max-height: rem(500);
            width: 100vw;
            @media (min-width:$mobile){
                display: none; 
            }
        }
    }
}