<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		//- .loader#loader
		//- 	.loader__spinner
		//- 		.loader__icon
		//- 			div

		.wrapper._highlight
			include html/_header
			main.main-content
				section.document
					.document__container 
						h2.document__title Complains policy
						p.document__text 
							| Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							| Recusandae deserunt neque ad nulla, maxime sunt! 
							| Harum eveniet excepturi laborum nisi fugiat, 
							| officiis quo maiores sequi assumenda dolore nobis cupiditate? Corporis.
							<br><br>
							| Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							| Recusandae deserunt neque ad nulla, maxime sunt! 
							| Harum eveniet excepturi laborum nisi fugiat, 
							| officiis quo maiores sequi assumenda dolore nobis cupiditate? Corporis.
							<br><br>
							| Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							| Recusandae deserunt neque ad nulla, maxime sunt! 
							| Harum eveniet excepturi laborum nisi fugiat, 
							| officiis quo maiores sequi assumenda dolore nobis cupiditate? Corporis.
							<br><br>
							| Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							| Recusandae deserunt neque ad nulla, maxime sunt! 
							| Harum eveniet excepturi laborum nisi fugiat, 
							| officiis quo maiores sequi assumenda dolore nobis cupiditate? Corporis.
							<br><br>
							| Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							| Recusandae deserunt neque ad nulla, maxime sunt! 
							| Harum eveniet excepturi laborum nisi fugiat, 
							| officiis quo maiores sequi assumenda dolore nobis cupiditate? Corporis.
							<br><br>
			include html/_footer
		//- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
		script(src="js/app.min.js")