<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		//- .loader#loader
		//- 	.loader__spinner
		//- 		.loader__icon
		//- 			div

		.wrapper._highlight
			include html/_header
			main.main-content
				include html/_feedback
			include html/_footer
		//- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
		script(src="js/app.min.js")