<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		//- .loader#loader
		//- 	.loader__spinner
		//- 		.loader__icon
		//- 			div

		.wrapper
			include html/_header
			main.main-content
				include html/_hero
				//- include html/_partners
				//- include html/_about
				//- include html/_examples
				include html/_advantages
				//- include html/_why
				//- include html/_video
				include html/_services
				include html/_news
				.separator
				include html/_qa
				include html/_contacts
			include html/_footer
		script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
		script(src="js/app.min.js")
	