<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		//- .loader#loader
		//- 	.loader__spinner
		//- 		.loader__icon
		//- 			div

		.wrapper
			include html/_header
			main.main-content
				section.news#news
					.news__container
						h2.news__title LATEST NEWS
						.news__slider
							ul.news__list.list-news
								li.list-news__item
									.list-news__img(style="background-image: url(@img/news/item-1.png?12345)")
									.list-news__content 
										h4.list-news__title COOPERATION WITH BOUTIQUE HOTELS:
										.list-news__text 
											| We are very pleased to announce a new cooperation
											| with a chain of boutique hotels.
											| This opens up new opportunities for our customers
											| by providing access to exclusive numbers.
										a(href="single-news.html").button.button-standart.list-news__link Read completely
								li.list-news__item
									.list-news__img(style="background-image: url(@img/news/item-2.png?12345)")
									.list-news__content 
										h4.list-news__title THE HOME MANAGEMENT SERVICE IS NOW AVAILABLE
										.list-news__text 
											| We are pleased to announce that we have expanded the
											| list of our services and now offer "Home Management".
											| Our new service allows you to easily manage all aspects
											| of household management.
										a(href="single-news.html").button.button-standart.list-news__link Read completely
								li.list-news__item
									.list-news__img(style="background-image: url(@img/news/item-3.png?12345)")
									.list-news__content 
										h4.list-news__title CHARITY EVENT "GIFT FOR CHILDREN"
										.list-news__text 
											| This month we are taking part in the charity event
											| "Gift for Children". We collect toys, books and school
											| supplies for children in need.
										a(href="single-news.html").button.button-standart.list-news__link Read completely
				include html/_contacts
			include html/_footer
		//- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
		script(src="js/app.min.js")