<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		//- .loader#loader
		//- 	.loader__spinner
		//- 		.loader__icon
		//- 			div

		.wrapper._highlight
			include html/_header
			main.main-content
				section.single-news
					.single-news__container
						.single-news__header.news-header
							a(href="news.html").news-header__back 
								svg(xmlns='http://www.w3.org/2000/svg' width='10' height='17' viewbox='0 0 10 17' fill='none')
									path(d='M8.93 15.9567L0.97 8.27664L8.92 1.01663C9.01 0.936627 9.05 0.836588 9.05 0.726588C9.05 0.636588 9.02 0.53669 8.95 0.45669C8.8 0.29669 8.55 0.286661 8.39 0.426661L0.13 7.96658C0.0500001 8.03658 0 8.14662 0 8.25662V8.26663C0 8.37663 0.0399999 8.47666 0.12 8.54666L8.38 16.5266C8.54 16.6766 8.79 16.6766 8.94 16.5166C9.09 16.3566 9.09 16.1067 8.93 15.9567Z' fill='#132237')
								span Back

						.single-news__body 
							.single-news__top 
								.single-news__img(style="background-image: url(@img/news/item-1.png?12345)")
								.single-news__content 
									h4.single-news__title COOPERATION WITH BOUTIQUE HOTELS:
									.single-news__text 
										| We are very pleased to announce a new cooperation
										| with a chain of boutique hotels.<br>
										| This opens up new opportunities for our customers
										| by providing access to exclusive numbers.
							.single-news__bottom.bottom-news
								p.bottom-news__text
									| There is a common assumption in the hotelier industry: No matter how much a hotel’s direct bookings have been increased, no one should turn away from the classic marketing methods, which are not other than the tour operators…<br>
									| The reasons are many: Firstly, the global markets do not “buy” vacations in a particular way.<br> 
									| Furthermore, the collaboration with a strong tour operator gives many solutions to the hotelier. For example; the low-cost advertisement and promotion of the accommodation on the global markets (see brochures), the power to create destinations, charters and strengthen greatly the hotel during its low season.<br>
									| The more the hotels in Greece increase their standards and follow the “boutique” character, the more they tend to search for more exclusive tour operators, which are not other than the luxury travel agents.<br>
									| Also referred as small boutique agencies which specialize on a more selective but luxurious market.<br>
									| The reason is obvious. Because the reservations coming from these small tourist agencies:
								ul.bottom-news__list
									li Require lower commission (usually 10-12%) compared to the tour operators (usually up to 25-30%).
									li Increase the Average Daily Rate (ADR), since the clients of these channels buy the more expensive types of rooms.
									li Increase the income of the services-facilities-outlets of the accommodation, since usually the clients consume more from the hotel.

			include html/_footer
		//- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
		script(src="js/app.min.js")