<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		//- .loader#loader
		//- 	.loader__spinner
		//- 		.loader__icon
		//- 			div

		.wrapper
			include html/_header
			main.main-content
				section.service 
					ul.services__list.grid
						li.grid-item
							.grid-item__img(style="background-image: url(@img/service/travel-org/item-0.png)") 
							.grid-item__content
								h4.grid-item__title._with-icon TRAVEL ORGANIZATION
									svg(xmlns='http://www.w3.org/2000/svg' width='19' height='25' viewbox='0 0 19 25' fill='none')
										path(d='M0 0H0.246696C6.25143 0.00217438 12.2551 0.00434875 18.2598 0.00652313C18.429 0.00652313 18.5992 0.0152168 18.7683 0.00434875C18.9267 -0.00543404 18.9805 0.0478268 18.9794 0.214132C18.9741 1.29565 18.9784 2.37826 18.9784 3.45978C18.9784 10.287 18.9784 17.1141 18.9794 23.9413C18.9794 24.2217 18.9945 24.5022 18.9999 24.7826C19.001 24.8478 18.9924 24.912 18.987 25C18.9234 24.9761 18.8846 24.9696 18.8556 24.9489C17.5219 24.0326 16.1893 23.1152 14.8578 22.1967C13.3076 21.1272 11.7585 20.0565 10.2083 18.988C10.0736 18.8957 9.9314 18.8152 9.79782 18.7217C9.56836 18.563 9.34537 18.5696 9.11914 18.725C8.72701 18.9946 8.3338 19.262 7.9406 19.5315C6.62955 20.4304 5.31743 21.3293 4.00639 22.2304C2.90757 22.9848 1.8109 23.7402 0.712079 24.4957C0.484774 24.6522 0.255314 24.8076 0 24.9815V0Z' fill='#132237')
								h5.grid-item__subtitle (Сompilation of travel guide<br> and assistance in organization)
								p.grid-item__text 
									| The text is intended as an example of the location and is subject to editing.
								button.button.button-highlight.grid-item__button Arrange
					.service__container 
						p.service__text
							| Our services provide maximum convenience and ease during your travels.<br>
							| We offer personal support in finding and booking excursions, choosing guides, 
							| organizing transport and solving any other issues related to your trip.<br>
							| Whether you are planning a walk through the historic center of Rome, hiking
							| in the Andes Mountains or visiting the nightclubs of Berlin, our team wil
							| help you plan and organize your perfect vacation.
					ul.service__grid.service-grid
						li.service-grid__item._item-1(style="background-image: url(@img/service/travel-org/item-1.png)") 
						li.service-grid__item._item-2(style="background-image: url(@img/service/travel-org/item-2.png)") 
						li.service-grid__item._item-3(style="background-image: url(@img/service/travel-org/item-3.png)") 
						li.service-grid__item._item-4(style="background-image: url(@img/service/travel-org/item-4.png)") 
				include html/_contacts
			include html/_footer
		//- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
		script(src="js/app.min.js")