@use "sass:math";

// Подключение миксинов ================================================================
@import "base/mixins";

// Подключение шрифтов =================================================================
// добавить флаг &display=swap при подключении через google fonts
// @import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap);

// Подключение локальных шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов========================================================
// Подключить если есть файл иконочного шрифта

// @import "base/swiper";


// Шрифт по умолчанию
$fontFamily: "Manrope", sans-serif;
$fontSize: rem(16); // где 14px - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #383838; // Цвет шрифта по умолчанию
$bgColor: #F1F5F9; // Цвет фона
$highlightColor: #FFAE05; // Цвет акцентов
$decorColor: #849496; // Цвет деталей
$decorColor2: #96B2BA;
$addColor: #e8e8e8;
$addColorGreen: #f5faf9;
$textColor: #2a2a2a;
$gradient: linear-gradient(90deg, #FF6D18 0%, #FFAE05 100%);

@import "base/forms/select";
 
// Настройки ===========================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контайнера (0 = нет ограничения)
$maxWidthContainer: 1280;
// Общий отступ у контейнера
// 30 = по 15px слева и справа, 0 = нет отступа
$containerPadding: 38;
// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейк-поинтов)
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбука, некоторые планшеты в гор. положении
$tablet: em(1079.98); // Планшеты, некоторые телефоны в гор.положении
$mobile: em(656.98); // Телефоны L 
$mobileSmall: em(576.98); // Телефоны S 

// Обнуление и общие параметры
@import "base/null";

// кастомный скроллбар

*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
*::-webkit-scrollbar-track {
	background: $bgColor;        /* цвет дорожки */	
}
*::-webkit-scrollbar-thumb {
	background-color: $highlightColor;    /* цвет плашки */
	border-radius: 20px;       /* закругления плашки */
	border: 1px solid $bgColor; 
}

*::-webkit-scrollbar:horizontal {
	height: 0;
	width: 0;
	display: none;
  }
  
*::-webkit-scrollbar-thumb:horizontal {
	display: none;
}

html {
	overflow-x:hidden; 
	overscroll-behavior: none;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

body {
	// overflow-y: scroll;
	scroll-behavior: auto;
	background-color: $bgColor;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	max-width: $maxWidth;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 0 auto;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничения контейнера ================================================

// (i) Стили будут применяться ко 
// всем классамм содержащим *__container
// Например, header__container, main__container
// Снипет (HTML): cnt

@if ($responsiveType == 1) {
    // Отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer > 0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding > 0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
} @else {
    // По брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer > 0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding > 0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(750);
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding > 0 and $maxWidthContainer > 0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "hero";
@import "partners";
@import "about";
@import "examples";
@import "audience";
@import "why";
@import "video";
@import "cases";
@import "quick-start";
@import "qa";
@import "contacts";
@import "footer";

// @import "base/swiper";

// Подключение стилей отдельных страниц
// @import "animation";

// @import "libs/tippy"; 
// @import "base/swiper"; 


#www {
	width: 100%;
	height: 100px;
	background-color: #96B2BA;
}