.soft-types {

    &__body {

        @media (min-width:$mobileSmall) {
            padding-bottom: 50px;
            border-bottom: 1px solid $bgColor-2;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__item {
        color: #4F4F4F;
        font-weight: 300;
        @include adaptiveValue("font-size", 20, 16);
        line-height: 1.3;

        &:first-child {
            @include adaptiveValue("margin-bottom", 20, 14);
        }
    }
}