@font-face{
	font-family: HoltwoodOneSC;
	font-display: swap;
	src: url("../fonts/HoltwoodOneSC-Regular.woff2") format("woff2"), url("../fonts/HoltwoodOneSC-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}