<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.wrapper.wrapper__container
			include html/_header
			main.main-content
				.main-content__left
					h1.main__title AVOID HATE
					h2.main__subtitle BECOME A POOP 
					span CA: 0xdkfjfjfejfejw123jrjfgnsksjsj11
				.main-content__right 
					video(src="https://storage.yandexcloud.net/videos-meyou/gif.mov", autoplay muted playsinline loop)

				.media-links 
					a(href="https://x.com/poops404")
						<img src="@img/x.svg" alt="">
					a(href="https://t.me/poops404")
						<img src="@img/telegram.svg" alt="">
				.dyor DYOR
			//- include html/_footer

		script(src="js/app.min.js")
	