.form-banner {
    margin-bottom: 90px;

    @media (max-width:$tablet) {
        margin-bottom: 80px;
    }

    &__container {
        @media (max-width:$mobileSmall) {
            padding: 0;
        }
    }

    &.banner-newsletter {}

    &__body {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 24px;
        overflow: hidden;
    }
}

.banner-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 80px;
    min-height: 450px;

    @media (max-width:$tablet) {
        padding: 40px 50px;
    }

    @media (max-width:$mobileSmall) {
        padding: 50px 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: percent(774, 1360);

        @media (max-width:$tablet) {
            max-width: 80%;
        }

        @media (max-width:$mobileSmall) {
            max-width: 100%;
        }
    }

    &__title {
        margin-bottom: 24px;
        // max-width: percent(774, 1360);
        color: #fff;
        font-family: Manrope;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.1;

        @media (max-width:$tablet) {
            // max-width: 80%;
            font-size: 32px;
            font-weight: 500;
        }

        @media (max-width:$mobileSmall) {
            // max-width: 85%;
            font-size: 24px;
        }
    }

    &__text {
        margin-bottom: 50px;
        max-width: 67%;
        color: #fff;
        font-size: 32px;
        font-weight: 400;
        line-height: 1.2;

        @media (max-width:$tablet) {
            margin-bottom: 40px;
            font-size: 20px;
        }

        @media (max-width:$mobileSmall) {
            max-width: 100%;
            font-size: 16px;
        }
    }

    &__form {
        display: flex;
        gap: 14px;

        .banner-subscription & {
            margin-bottom: 50px;

            @media (max-width:$tablet) {
                margin-bottom: 40px;
            }
        }

        @media (max-width:$tablet) {
            flex-direction: column;
            align-items: stretch;
            width: 335px;
        }

        @media (max-width:$mobileSmall) {
            width: 100%;
        }
    }

    &__input {
        width: 358px;
        height: 50px;
        border-radius: 30px;
        border: 2px solid #E3E3E3;
        transition: 0.3s ease border-color;

        @media (max-width:$tablet) {
            width: 100%;
        }

        &:active,
        &:focus {
            border-color: $highlightColor-2;
        }


    }
}

.banner-body {

    &__success {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 16px 24px;
        min-height: 57px;
        background-color: #fff;
        border-radius: 50px;

        span {
            color: $highlightColor-1;
            font-size: 20px;
            line-height: 1.2;

            .banner-subscription & {
                color: $highlightColor-2;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__item {}

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #fff;

        svg {
            path {
                transition: 0.3s ease fill;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                svg {
                    path {
                        fill: $highlightColor-2;
                    }
                }
            }
        }
    }

    &__button {
        @media (max-width:$tablet) {
            min-width: 100%;
        }
    }
}