h1,
h2,
h3,
h4,
p,
span,
small,
button,
a,
div {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

ol,
ul {
    list-style: none;
}

picture {
    font-size: 0;
}

input {
    border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.input {

    color: $mainColor;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid transparent;
    outline: none;
    transition: 0.3s ease border-color;

    &::placeholder {
        color: #6F8290;
    }

    @media (any-hover: hover) {
        &:hover {
            border-color: #7F7F7F;
        }
    }
}

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
    display: none
}

/* Убираем стандартный маркер Firefox */
details>summary {
    list-style: none;
}

details {
    &[open] {
        summary {
            svg {
                transform: rotate(-180deg);
            }
        }
    }

    summary {

        svg {
            transition: 0.3s ease transform;
        }
    }
}

.scroll-x {
    cursor: grab;
}

.mb0 {
    margin-bottom: 0;
}

.mb32 {
    margin-bottom: 32px;
}

[class*="__container"] {
    @media (max-width:$mobileSmall) {
        padding: 0 15px;
    }
}

.section-title {
    margin-bottom: 40px;
    color: $mainColor;
    font-family: Manrope;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1;

    @media (max-width:$tablet) {
        font-size: 32px;
        line-height: 1.2;
    }

    @media (max-width:$mobileSmall) {
        font-size: 28px;
        line-height: 1.1;
    }

    &__text {
        position: relative;
    }

    &__counter {
        position: absolute;
        top: 0;
        left: 100%;
        // color: $mainColor;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.6;
    }

    span {
        &._highligth {
            color: $highlightColor-2;
        }
    }
}

.section-link {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 10px;

    span {
        color: $mainColor;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        transition: 0.3s ease color;

        @media (any-hover: hover) {
            &:hover {
                color: $highlightColor-2;
            }
        }
    }

    @media (max-width:$mobileSmall) {
        padding: 17px 30px;
        justify-content: center;
        width: 100%;
        border: 1px solid #C2EAB8;
        border-radius: 30px;
    }
}

.location-block {

    &__current {
        position: relative;
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        @media (any-hover: hover) {
            &:hover {
                .location-block__city {
                    color: $highlightColor-2;
                }

                svg path {
                    stroke: $highlightColor-2;
                    ;
                }
            }
        }
    }

    &__location {
        display: flex;
    }

    &__city {
        color: $textColor;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 500;
        white-space: pre;
        transition: 0.3s ease color;

        @media (max-width:$tablet) {
            font-size: 13px;
            line-height: 1.5;
        }
    }

    &__icon {
        display: flex;
        transition: 0.3s ease transform;

        ._open & {
            transform: rotate(-180deg);
        }

        svg path {
            transition: 0.3s ease stroke;
        }
    }

    &__hidden {
        position: absolute;
        top: 26px;
        left: 0;
        min-width: 318px;
        box-shadow: 0px 12px 50px 0px rgba(48, 49, 53, 0.08);
        transform: scaleY(0);
        transition: 0.3s ease transform;
        z-index: 2;

        ._open & {
            transform: scaleY(1);
        }
    }
}

// всплывающий блок в верхней шапке

.hidden-block {
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    cursor: auto;
    z-index: 2;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    &__title {
        display: flex;
        gap: 15px;
        color: $textColorExtra;
        font-size: 14px;
        line-height: math.div(20, 14);

        span {

            &._highligth {
                color: $highlightColor-1;
            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 20px;

        span {
            display: block;
            color: $mainColor;
            font-size: 14px;
            font-weight: 500;
            line-height: math.div(20, 14);
            transition: 0.3s ease color;
            cursor: pointer;

            @media (any-hover: hover) {
                &:hover {
                    color: $highlightColor-2;
                }
            }
        }
    }

    &__button {
        min-width: 138px;

        @media (any-hover: hover) {
            &:hover {
                background-color: #58A429;
            }
        }
    }
}

// клуб привелегий

.club {
    position: relative;

    @media (any-hover: hover) {
        &:hover {
            .club__list {
                transform: scaleY(1);
            }
        }
    }


    &__list {
        position: absolute;
        top: 12px;
        padding-top: 17px;
        width: 100%;
        background-color: #fff;
        border-radius: 0 0 15px 15px;
        box-shadow: 0px 12px 50px 0px rgba(48, 49, 53, 0.08);
        transform: scaleY(0);
        transition: 0.3s ease transform;
    }

    &__item {
        padding: 0 16px;
        color: $textColor;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        text-align: center;
        transition: 0.3s ease color;

        &:not(:last-child) {
            border-bottom: 1px solid $borderColor;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $highlightColor-2;
            }
        }

        a {
            display: inline-block;
            padding: 10px 0;
        }
    }
}

// форма поиска

.search-form {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    background: #FFF;
    border-radius: 30px;
    border: 1px solid $borderColor-2;

    @media (max-width:$mobileSmall) {
        border: none;

        ._mobile-search-open & {
            border: 1px solid $borderColor-2;
        }
    }

    &__select {
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px 30px;
        min-height: 50px;
        background-color: $bgColor-2;
        border-radius: 30px 0 0 30px;

        @media (max-width:$tablet) {
            display: none;
        }
    }
}

.select {

    &__title {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.1;
            white-space: pre;
        }

        svg {
            transition: 0.3s ease transform;

            ._open-select & {
                transform: rotate(-180deg);
            }
        }
    }

    &__hidden-block {
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        min-width: 336px;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0px 12px 50px 0px rgba(48, 49, 53, 0.08);
        transform: scaleY(0);
        transition: 0.3s ease transform;
        z-index: 2;

        ._open-select & {
            transform: scaleY(1);
        }
    }

    &__list {
        padding: 12px 0;
        background-color: #fff;
    }

    &__item {
        padding: 10px 24px;
        color: $textColor;
        font-size: 14px;
        line-height: math.div(23, 14);
        transition: 0.3s ease background-color;
        cursor: pointer;

        @media (any-hover: hover) {
            &:hover {
                font-weight: 500;
                color: #6F8290;
                background-color: $bgColor-2;
            }
        }
    }
}

.input-wrapper {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;

    @media (max-width:$mobileSmall) {
        display: none;

        ._mobile-search-open & {
            display: flex;
        }
    }

    // @media (max-width:$mobileSmall) {
    //     justify-content: flex-end;
    // }

    .input {
        flex: 1 1 auto;
        padding: 0;
        color: $textColor;
        min-height: 50px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.1;
        border: none;
        outline: none;

        &::placeholder {
            color: #DCE4EA;
        }

        &__icon-search {}
    }
}

.customer-block {

    &__body {
        position: relative;
    }

    &__text {
        position: relative;
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        @media (any-hover: hover) {
            &:hover {
                // span {
                //     color: $highlightColor-2;
                // }

                svg path {
                    stroke: $highlightColor-2;
                    ;
                }
            }
        }
    }

    &__hidden-block {
        position: absolute;
        top: 26px;
        left: 0;
        min-width: 273px;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0px 12px 50px 0px rgba(48, 49, 53, 0.08);
        transform: scaleY(0);
        transition: 0.3s ease transform;
        z-index: 2;

        ._open & {
            transform: scaleY(1);
        }
    }

    &__list {
        padding: 12px 0;
        background-color: #fff;
    }

    &__item {
        padding: 10px 24px;
        color: $textColor;
        font-size: 14px;
        line-height: math.div(23, 14);
        font-weight: 500;
        transition: 0.3s ease background-color;
        cursor: pointer;

        @media (any-hover: hover) {
            &:hover {
                // font-weight: 500;
                color: #6F8290;
                background-color: $bgColor-2;
            }
        }
    }
}

// градиентный текст

.gradient-text {
    background: linear-gradient(124deg, #00A0DB 10.09%, #86D06C 105.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-menu {
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    width: 88px;
    height: 50px;
    color: #fff;
    background-color: $highlightColor-2;
    border-radius: 30px;
    cursor: pointer;

    @media (max-width:$tablet) {
        padding: 8px;
        width: 50px;
    }

    &._open-menu {

        .header-menu__line {
            height: 0;

            &::after {
                transform: rotate(45deg) translate(3px, 4px);
            }

            &::before {
                transform: rotate(-45deg) translate(3px, -4px);
            }
        }
    }

    &__line {
        position: relative;
        display: block;
        width: 19px;
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
        transition: 0.3s ease height;

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 19px;
            height: 2px;
            background-color: #fff;
            border-radius: 2px;
            transform-origin: center;
            transition: 0.3s ease transform;
        }

        &::after {
            top: -6px;
        }

        &::before {
            bottom: -6px;
        }
    }

    &__hidden-block {
        position: absolute;
        top: 130px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 130px);
        background-color: #fff;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0px 12px 50px 0px rgba(48, 49, 53, 0.08);
        transform: scaleY(0);
        transition: 0.3s ease transform;
        z-index: 4;

        ._open-menu & {
            transform: scaleY(1);
        }

        @media (max-width:$mobileSmall) {
            display: none;
        }
    }

    &__tabs {
        display: flex;
        padding: 14px 0;
    }

    &__list {
        padding: 12px 0;
        background-color: #fff;
    }

    &__item {
        padding: 10px 32px;
        color: $textColor;
        font-size: 18px;
        line-height: 1.6;
        transition: 0.3s ease all;
        cursor: pointer;

        @media (any-hover: hover) {
            &:hover {
                font-weight: 500;
                color: #6F8290;
                background-color: $bgColor-2;
            }
        }
    }
}

.header-tabs {

    &__container {
        max-width: 1440px;
    }

    &__navigation {
        flex: 0 0 346px;

        @media (max-width:$tablet) {
            flex: 1 1 auto;
            gap: 5px;
        }
    }

    &__title {
        @media (max-width:$tablet) {
            padding: 10px;
            font-size: 16px;
        }
    }

    &__category {
        position: relative;
        display: inline;
        width: fit-content;
        color: $mainColor;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;

        &::before {
            content: attr(data-count);
            position: absolute;
            top: 50%;
            left: calc(100% + 10px);
            color: #B7CCD8;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            transform: translateY(-50%);
        }
    }

    &__content {
        display: none;
        flex: 1 1 auto;
        padding: 32px;
        max-height: calc(100vh - 135px);
        overflow-y: auto;

        @media (max-width:$tablet) {
            padding: 24px;
        }

        @media (max-width:$mobile) {
            padding: 10px 24px;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &._content-active {
            display: block;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media (max-width:$tablet) {
            gap: 24px;
        }
    }

    &__banner {}

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;

        @media (max-width:$tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:$tablet) {
            grid-template-columns: 1fr;
        }
    }
}

.grid-tab {
    display: flex;
    flex-direction: column;
    gap: 16px;


    &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__item {
        position: relative;
        width: fit-content;

        &:nth-child(n+6) {
            display: none;
        }

        ._full-list & {
            &:nth-child(n+6) {
                display: flex;
            }
        }

        &:first-child {
            margin-bottom: 6px;
            color: $textColor;
            font-family: Geometria;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.4;
        }

        &:not(:first-child) {

            .grid-tab__link {
                display: -webkit-box;
                width: fit-content;
                max-width: 229px;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                text-overflow: ellipsis;
                word-break: break-all;
                line-height: 1.7;

                @media (max-width:$mobile) {
                    max-width: 100%;
                }
            }
        }

        &::before {
            content: attr(data-count);
            position: absolute;
            top: 50%;
            left: calc(100% + 10px);
            color: #B7CCD8;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            transform: translateY(-50%);
        }
    }

    &__link {
        color: $textColor;
        font-size: 14px;
        line-height: 1.4;
        transition: 0.3s ease color;

        @media (any-hover: hover) {
            &:hover {
                color: $highlightColor-2;
            }
        }
    }

    &__more,
    &__less {
        // margin-top: 6px;
        color: $highlightColor-2;
        font-family: Geometria;
        font-size: 14px;
        line-height: 1.4;
        transition: 0.3s ease color;

        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }
    }

    &__more {

        ._full-list & {
            display: none;
        }
    }

    &__less {
        display: none;

        ._full-list & {
            display: inline;
        }
    }

}

.banner-header {
    padding: 24px;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;

    @media (max-width:$mobile) {
        display: none;
    }

    &__title {
        margin-bottom: 16px;
        max-width: 235px;
        color: $mainColor;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
    }

    &__button {
        min-width: 127px;
        min-height: 32px;
        height: 32px;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.2
    }
}

.mobile-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #fff;
    border-top: 1px solid #ECF1F4;
    z-index: 3;

    @media (min-width:em(768)) {
        display: none;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        padding: 8px 0;

        @media (max-width: em(1280)) {
            gap: 21px;
        }
    }

    &__item {}

    &__link {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        @media (any-hover: hover) {
            &:hover {
                span {
                    color: $highlightColor-2;
                }
            }
        }

        svg {
            width: 28px;
            height: 28px;
        }

        &::before {
            content: attr(data-counter);
            position: absolute;
            top: 0;
            right: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 15px;
            min-height: 15px;
            border-radius: 50%;
            color: #fff;
            background-color: $highlightColor-2;
            font-size: 10px;
            font-weight: 500;
            line-height: 1.5;
        }

        &[data-counter="0"] {
            &::before {
                display: none;
            }
        }
    }

    &__text {
        color: $mainColor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.4;
        transition: 0.3s ease color;
    }
}

.verification-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;

    &__example {
        flex: 1 1 auto;
        display: flex;
        padding: 20px;
        min-width: 124px;
        color: $mainColor;
        background-color: #ECF1F4;
        border-radius: 30px;
        font-weight: 500;

        @media (max-width:$mobileSmall) {
            min-width: fit-content;
            font-size: rem(16);
        }

        span {
            white-space: pre;
        }
    }
}

.control--radio {
    position: relative;
    cursor: pointer;

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        z-index: -1;

        &:checked~span {
            color: $mainColor;
        }
    }

    span {
        color: $textColor;
    }

    .control__indicator {
        position: absolute;
        top: 50%;
        left: 0;
        height: 12px;
        width: 12px;
        border: 1px solid $borderColor-2;
        border-radius: 50%;
        transform: translate(-16px, -50%);

        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 6px;
            height: 6px;
            background: $gradient-1;
            border-radius: 50%;
            opacity: 0;
        }

    }
}

.control input:checked~.control__indicator {
    &::before {
        opacity: 1;
    }
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    &__label {
        display: inline-block;
        color: #333;
        leading-trim: both;
        text-edge: cap;
        font-size: 14px;
        font-weight: 500;
    }

    &__input,
    &__textarea {
        flex: 1 1 auto;
        padding: 14px 20px;
        color: #6F8290;
        leading-trim: both;
        text-edge: cap;
        font-size: 16px;
        max-height: 50px;
        border-radius: 30px;
        border: 1px solid #E3E3E3;
        resize: none;

        &:focus {
            outline-color: $highlightColor-2;
        }
    }
}