.comparisson {
    padding: 32px 0 80px;

    &__pattern {
        position: absolute;
        top: 35%;
        width: 100vw;
        max-width: 100vw;
        height: 20.5vw;
        background-image: url(../img/laboratory/pattern.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        z-index: -1;
        // mix-blend-mode: soft-light;

        &-2 {
            top: 60%;
            background-image: url(../img/popular/pattern-2.png);
        }
    }

    &__container {}

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;
        width: 100%;
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 7px 20px;
        min-height: 34px;
        font-size: 14px;
        line-height: 1.4;


        ._section-empty & {
            display: none;
        }
    }

    &__products {

        ._section-empty & {
            display: none;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding-bottom: 32px;
        background-color: #fff;
        border-radius: 24px;
        overflow: hidden;
        transition: 0.3s ease padding-bottom;

        ._hide-comparisson-info & {
            padding-bottom: 0;
        }

        @media (max-width: em(900)) {
            gap: 32px;
        }

        @media (max-width:$mobileSmall) {
            margin: 0 -20px;
        }
    }

    &__slider {}

    &__navigation {}

    &__prev,
    &__next {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #fff;
        box-shadow: 0px 12px 50px 0px rgba(48, 49, 53, 0.15);
        border: 1px solid #F3F6F8;
        border-radius: 50%;
        z-index: 1;
        cursor: pointer;

        &.swiper-button-disabled {
            opacity: 0;
        }

        svg {
            path {
                transition: 0.3s ease stroke;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                svg {
                    path {
                        stroke: $highlightColor-2;
                    }
                }
            }
        }
    }

    &__prev {
        left: 301px;

        @media (max-width: em(900)) {
            left: 12px;
        }

        svg {
            transform: rotate(-180deg);
        }
    }

    &__next {
        right: 0px;

        @media (max-width: em(900)) {
            right: 12px;
        }
    }

    &__button {
        display: none;
        align-items: center;
        gap: 8px;
        padding: 7px 20px;
        min-height: 34px;
        font-size: 14px;
        line-height: 1.4;

        @media (min-width: em(900)) {
            display: flex;
        }


        ._section-empty & {
            display: none;
        }
    }
}

.empty-comparisson {
    display: none;
    place-items: center;
    min-height: 528px;

    @media (max-width:$mobileSmall) {
        min-height: 250px;
    }

    ._section-empty & {
        display: grid;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 440px;

        @media (max-width:$mobile) {
            max-width: 233px;
        }
    }

    &__title {
        margin-bottom: 16px;
        color: $mainColor;
        text-align: center;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 500;

        @media (max-width:$mobile) {
            margin-bottom: 12px;
            font-size: 20px;
        }
    }

    &__text {
        color: $textColor;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;

        @media (max-width:$mobile) {
            font-size: 16px;
        }

        a {
            color: $highlightColor-2;
            transition: 0.3s ease color;

            @media (any-hover: hover) {
                &:hover {
                    color: $mainColor ;
                }
            }
        }
    }
}

.comparisson-tabs {
    position: relative;

    &>div {
        display: grid;
        justify-content: flex-start;
        align-items: center;
        grid-auto-flow: column;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    @media (min-width:$mobileSmall) {
        overflow-x: auto;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $borderColor-2;
    }

    &__title {
        position: relative;
        padding: 16px 32px;
        color: $textColor;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        white-space: pre;

        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }

        @media (max-width:$mobileSmall) {
            padding: 16px 24px;
        }


        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: transparent;
            z-index: 1;
            transition: 0.3s ease background-color;
        }

        &._tab-active {
            color: $mainColor;

            &::after {
                background-color: $highlightColor-2;
            }
        }
    }
}

.comparisson-tab {
    display: none;
    flex-direction: column;
    gap: 60px;

    @media (max-width: em(900)) {
        gap: 32px;
    }

    &._content-active {
        display: flex;
    }

    &__top {
        display: flex;
        align-items: flex-end;
        gap: 20px;
    }
}

.comparisson-block {
    position: relative;
    padding: 0 32px;

    @media (max-width:$mobileSmall) {
        display: none;
    }

    &__section {
        display: flex;
        align-items: flex-end;
        gap: 20px;
        max-width: 100%;
    }

    &__list {
        flex: 0 0 261px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 16px;

        @media (max-width: em(900)) {
            display: none;
        }
    }

    &__slider {
        width: 100%;

        @media (min-width:em(901)) {
            width: calc(100% - 261px);
        }
    }

    &__item {
        padding-bottom: 12px;
        color: $mainColor;
        font-size: 16px;
        line-height: 1.6;
        border-bottom: 1px solid $borderColor-2;
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0 24px;
        padding: 7px 20px;
        min-height: 34px;
        font-size: 14px;
        line-height: 1.4;


        @media (min-width: em(900)) {
            display: none;
        }
    }
}

.body-comparisson {

    // &__content {
    //     display: flex;
    // }
}

.info-comparisson-tabs {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
    width: 100%;

    @media (max-width:$mobile) {
        gap: 20px;
    }

    @media (max-width:$mobileSmall) {
        gap: 0;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $borderColor-2;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &__title {
        position: relative;
        padding: 16px 32px;
        color: $textColor;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        white-space: pre;

        @media (max-width:$mobileSmall) {
            flex: 1 1 50%;
            padding: 12px 24px;
            font-size: 12px;
        }

        @media (min-width:$mobileSmall) {
            min-width: 261px;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }

        &._tab-active {
            color: $mainColor;

            &::after {
                background-color: $highlightColor-2;
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: transparent;
            z-index: 1;
            transition: 0.3s ease background-color;
        }
    }

    &__button {
        margin: 0 32px 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        border: 1px solid $highlightColor-2;
        border-radius: 50%;

        @media (max-width:$mobile) {
            display: none;
        }

        svg {
            transition: 0.3s ease transform;

            path {
                stroke: $highlightColor-2;
            }
        }

        ._hide-comparisson-info & {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.info-comparisson {

    &__content {
        display: none;
        // flex-direction: column;
        gap: 60px;
        padding: 0 32px;
        gap: 10px;

        &._content-active {
            display: flex;
        }
    }
}

.comparisson-info-block {

    display: flex;
    // align-items: flex-end;
    gap: 20px;
    width: 100%;

    ._hide-comparisson-info & {
        display: none;
    }

    @media (max-width:$mobileSmall) {
        display: none;
    }

    &__list {
        flex: 0 0 261px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 16px;

        @media (max-width: em(900)) {
            display: none;
        }
    }

    &__slider {
        width: 100%;

        @media (min-width:em(901)) {
            width: calc(100% - 261px);
        }
    }

    &__item {
        // min-height: 28px;
        font-size: 18px;
        line-height: 1.6;
    }

}

.comparisson-info {

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 16px;
    }

    &__item {
        min-height: 28px;
        font-size: 18px;
        line-height: 1.6;
        max-width: 90%;

        @media (max-width:$mobileSmall) {
            font-size: 14px;
            line-height: 1.4;
        }

        p {
            color: $mainColor;
            font-size: 12px;
            line-height: 1.6;

            @media (min-width:em(901)) {
                display: none;
            }
        }
    }
}

.comparisson-mobile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 24px;

    ._fix-slider & {
        position: fixed;
        top: 0;
        left: 0;
        gap: 0;
        margin: 0;
        padding: 0 24px;
        width: 100%;
        max-width: 100vw;
        background-color: #fff;
        box-shadow: 0px 12px 50px 0px rgba(48, 49, 53, 0.08);
        z-index: 6;
        transform: translateY(-100%);
        animation: showSlider 0.3s ease forwards;

        .product-item__text {
            margin-bottom: 0;
        }

        .product-item__code {
            display: none;
        }

        .product-item__label {
            display: none;
        }

        .product-item__prices {
            display: none;
        }

        .product-item__image-ibg {
            height: 56px;
            width: 56px;
        }

        .comparisson-mobile__slider {
            &:not(:last-child) {
                border-right: 1px solid $borderColor-2;
            }
        }
    }

    ._transparent-slider & {
        // opacity: 0;
        // transform: translateY(-100%);
        animation: hideSlider 0.3s ease forwards;
        // transition: 0.3s ease all;
    }

    @media (min-width:$mobileSmall) {
        display: none;
    }

    @media (max-width:$mobileSmall) {
        gap: 10px;
    }

    &>div {
        padding: 0 1px;
        width: calc(50% - 9px);

        @media (max-width:$mobileSmall) {
            width: calc(50% - 4px);
        }
    }

    ._fix-slider & {
        &>div {
            width: 50%;
        }
    }

    &__counter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        color: $textColor;
        font-size: 12px;
        line-height: 1.6;

        ._fix-slider & {
            position: absolute;
            top: 30px;
            right: 10px;
            z-index: 7;
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        gap: 4px;

        .swiper-pagination-bullet {
            width: 3px;
            height: 3px;
            background: #DCE4EA;

            &-active {
                background: #6F8290;
            }
        }

        ._fix-slider & {
            display: none;
        }
    }
}

.comparisson-info-mobile {
    display: flex;

    &__slider {
        @media (min-width:$mobileSmall) {
            display: none;
        }
    }

    &>div {
        padding: 0 1px;
        width: calc(50% - 4px);
    }

    ._fix-slider & {
        &>div {
            width: 50%;
        }
    }
}