.header {
	background-color: $headerBg;

	&__container {}

	&__top {
		padding: 10px 0;
	}

	&__top-mobile {
		padding: 5px 16px;
		background-color: #F2F6F9;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.4;
		border-radius: 300px;

		@media (min-width:$mobileSmall) {
			display: none;
		}
	}

	&__middle {
		padding: 14px 0;

		@media (max-width:$mobileSmall) {
			padding: 20px 0;
			min-height: 92px;
		}
	}

	&__bottom {
		@media (max-width: em(767)) {
			display: none;
		}
	}

	&-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;

		&__left {
			display: flex;
			align-items: center;
			gap: 40px;

			@media (max-width: em(1280)) {
				gap: 20px;
			}

			@media (max-width:$tablet) {
				gap: 10px;
			}
		}

		&__club {
			@media (max-width:$mobileSmall) {
				display: none;
			}
		}

		&__right {
			display: flex;
			align-items: center;
			gap: 20px;

			@media (max-width: em(1280)) {
				gap: 10px;
			}
		}

		&__link {
			color: $textColor;
			font-size: 14px;
			font-weight: 500;
			line-height: 140%;
			transition: 0.3s ease color;

			@media (any-hover: hover) {
				&:hover {
					color: $highlightColor-2;
				}
			}


			&._to-customer,
			&._to-mail {
				@media (max-width: em(767)) {
					display: none;
				}
			}

			&._to-call {
				font-weight: 700;
			}
		}

		&__button {
			background: $gradient-1;
		}

		&__call {
			background: #F2F6F9;

			span {
				background: linear-gradient(124deg, #00A0DB 10.09%, #86D06C 105.92%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			&::before {
				content: attr(data-text);
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				box-sizing: border-box;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				color: #fff;
				background: $gradient-1;
				transition: 0.3s ease opacity;
			}

			@media (any-hover: hover) {
				&:hover {
					&::before {
						opacity: 0;
					}
				}
			}

			// padding: 5px 16px;
			// min-width: 155px;
		}

		&__call {

			@media (max-width:$tablet) {
				display: none;
			}
		}
	}

	&-middle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 14px;

		@media (max-width:$tablet) {
			gap: 10px;
		}

		&__left {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 40px;

			@media (max-width: em(1280)) {
				gap: 26px;
			}
		}

		&__center {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			gap: 35px;
			margin-right: 26px;

			@media (max-width: em(1280)) {
				margin-right: 16px;
			}

			@media (max-width: em(767)) {
				margin-right: 0;
			}
		}

		&__right {
			@media (max-width: em(767)) {
				display: none;
			}
		}

		&__menu {
			@media (max-width: em(767)) {
				display: none;
			}
		}

		&__logo {

			._mobile-search-open & {
				display: none;
			}

			img {
				height: 44px;

				@media (max-width:$tablet) {
					height: 30px;
				}
			}
		}

		&__search {

			display: flex;
			align-items: center;
			cursor: pointer;

			._mobile-search-open & {
				display: none;
			}

			@media (min-width:$mobileSmall) {
				display: none;
			}
		}

		&__close {
			display: none;
			align-items: center;
			cursor: pointer;

			@media (min-width:$mobileSmall) {
				display: none;
			}

			._mobile-search-open & {
				display: flex;
			}
		}
	}

	&-bottom {

		&__top {
			position: relative;
			display: flex;
			justify-content: center;
			padding: 14px;
			border-top: 1px solid $borderColor-3;
			border-bottom: 1px solid $borderColor-3;
			font-family: Manrope;
			font-size: 22px;
			font-weight: 700;
			line-height: 1.2;
			letter-spacing: 0.66px;

			@media (max-width:$tablet) {
				font-size: 16px;
			}

			&::before {
				content: attr(data-text);
				position: absolute;
				inset: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				color: #fff;
				background: linear-gradient(124deg, #00A0DB 10.09%, #86D06C 105.92%);
				opacity: 0;
				transition: 0.3s ease opacity;
			}

			@media (any-hover: hover) {
				&:hover {
					&::before {
						opacity: 1;
					}
				}
			}

			p {
				font-family: Manrope;
				font-size: 22px;
				font-weight: 700;
				line-height: 1.2;
				letter-spacing: 0.66px;

				@media (max-width:$tablet) {
					font-size: 16px;
				}
			}
		}

		&__links {
			padding: 16px 0;
		}

		&__list {
			display: flex;
			justify-content: space-between;
			padding: 0 80px;

			@media (max-width:$tablet) {
				padding: 0 40px;
			}
		}

		&__item {}

		&__link {
			color: $textColor;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.2;
			transition: 0.3s ease color;

			@media (max-width:$tablet) {
				font-size: 14px;
				line-height: 1.4;
			}

			@media (any-hover: hover) {
				&:hover {
					color: $highlightColor-2;
				}
			}
		}
	}
}

.header-icons {

	&__list {
		display: flex;
		align-items: center;
		gap: 32px;

		@media (max-width: em(1280)) {
			gap: 21px;
		}
	}

	&__item {
		cursor: pointer;

		&._show-cart {
			position: relative;


			@media (any-hover: hover) {
				&:hover {
					.header-cart {
						display: block;
					}
				}
			}
		}
	}

	&__link {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4px;

		@media (any-hover: hover) {
			&:hover {
				.header-icons__text {
					color: $highlightColor-2;
				}
			}
		}

		svg {
			width: 28px;
			height: 28px;
		}

		&::before {
			content: attr(data-counter);
			position: absolute;
			top: -6px;
			right: 3px;
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 15px;
			min-height: 15px;
			border-radius: 50%;
			color: #fff;
			background-color: $highlightColor-2;
			font-size: 10px;
			font-weight: 500;
			line-height: 1.5;

			@media (max-width:$tablet) {
				right: -4px;
			}
		}

		&[data-counter="0"] {
			&::before {
				display: none;
			}
		}
	}

	&__text {
		color: $textColor;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.4;
		transition: 0.3s ease color;

		@media (max-width:$tablet) {
			display: none;
		}
	}
}

.scroll-header {
	position: fixed;
	top: 0;
	z-index: 4;
	// box-shadow: 0 4px 27px rgba(0, 0, 0, 0.08);
	width: 100%;
	background-color: #fff;

	._header-fixed & {
		// position: fixed;
		// top: 0;
		// z-index: 4;
		box-shadow: 0 4px 27px rgba(0, 0, 0, 0.08);
	}
}