.hero {
    margin-bottom: 24px;

    &__slider {
        position: relative;
    }

    &__slide {
        height: 470px;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 0 24px 24px;

        @media (max-width:$mobileSmall) {
            height: 619px;
            background-position: center bottom;
        }
    }

    &__controls {
        position: absolute;
        bottom: 55px;
        right: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 5px;
        border-radius: 30px;
        background: rgba(185, 191, 207, 0.30);
        backdrop-filter: blur(15px);
        z-index: 2;

        @media (max-width:$mobileSmall) {
            right: unset;
            left: 50%;
            bottom: 28px;
            background: transparent;
            backdrop-filter: none;
            transform: translateX(-50%);
        }
    }

    &-slide {
        padding: 55px 15px;

        @media (max-width:$mobileSmall) {
            padding: 30px 0;
        }

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 100%;

            @media (max-width:$mobileSmall) {
                justify-content: flex-start;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            max-width: percent(481, 1360);

            @media (max-width:$tablet) {
                max-width: 43%;
            }

            @media (max-width:$mobileSmall) {
                max-width: 100%;
            }
        }

        &__title {
            margin-bottom: 24px;
            color: $highlightColor-1;
            font-family: Manrope;
            font-size: 36px;
            font-weight: 600;
            line-height: 1.1;

            @media (max-width:$tablet) {
                margin-bottom: 20px;
                font-size: 32px;
            }

            @media (max-width:$mobileSmall) {
                font-size: 28px;
            }
        }

        &__text {
            color: $textColor;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.2;

            @media (max-width:$tablet) {
                font-size: 16px;
            }

            @media (max-width:$mobileSmall) {
                margin-bottom: 24px;
            }
        }

        &__button {
            @media (any-hover: hover) {
                &:hover {
                    .button__icon {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        &__prev,
        &__next {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s ease background-color;

            @media (max-width:$mobileSmall) {
                display: none;
            }

            svg {
                path {
                    transition: 0.3s ease stroke;
                }
            }

            @media (any-hover: hover) {
                &:hover {
                    background-color: rgba(255, 255, 255, 1);

                    svg {
                        path {
                            stroke: $textColor;
                        }
                    }
                }
            }
        }

        &__pagination {
            display: flex;
            align-items: end;
            gap: 10px;

            span {
                background: #fff;
                opacity: 0.5;
                transition: 0.3s ease opacity;
            }

            .swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }
}