.spheres {
    margin-bottom: 90px;

    @media (max-width:$tablet) {
        margin-bottom: 80px;
    }

    &__body {
        position: relative;
    }

    &__slider {
        position: relative;
    }

    &__slide {}

    &__pagination {
        bottom: -32px;

        @media (min-width:$mobile) {
            display: none;
        }
    }

    &-slide {
        padding: 40px 20px 20px;
        background-color: #fff;
        border-radius: 16px;
        min-height: 226px;
        cursor: pointer;

        svg {
            max-height: 142px;

            @media (max-width:$tablet) {
                max-height: 97px;
            }

            stop {
                transition: 0.3s ease all;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                background: $gradient-1;

                h4 {
                    color: #fff;
                }

                svg {
                    stop {
                        stop-color: #fff;
                    }
                }
            }
        }

        @media (max-width:$tablet) {
            gap: 8px;
            min-height: 184px;
        }

        &__link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        &__title {
            color: $textColor;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            text-align: center;
            transition: 0.3s ease color;

            @media (max-width:$tablet) {
                font-size: 16px;
            }
        }

        &__img {
            max-height: 142px;

            @media (max-width:$tablet) {
                max-height: 97px;
            }
        }
    }
}