#breadcrumb.breadcrumb
	ol.breadcrumb__list 
		li.breadcrumb__item
			a(href="/catalog").breadcrumb__link  Каталог
		li.breadcrumb__item
			a(href="/playgrounds").breadcrumb__link Детские площадки
		li.breadcrumb__item 
			a(href="/kids-complex").breadcrumb__link Игровые комплексы
		li.breadcrumb__item
			a(href="/size-xl").breadcrumb__link Комплексы размера XL
		li.breadcrumb__item.breadcrumb__item-current
			a(href="/size-xl").breadcrumb__link Спортивный комплекс К1197
	form(action="" method="post").breadcrumb__search-form
		#search.filters__search.search
			form(action="", method="post")
				input#search-input.search__input(type="text", name="search-input" placeholder="Игровой комплекс")
				svg#search-btn(width="20", height="20", viewBox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
					g#Search_icon
						path(id="Vector", d="M8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15Z", stroke="#383838", stroke-linecap="round", stroke-linejoin="round")
						path(id="Vector_2", d="M13 13L19 19", stroke="#383838", stroke-linecap="round", stroke-linejoin="round")
