#breadcrumb.breadcrumb
	ol.breadcrumb__list 
		li.breadcrumb__item
			a(href="/catalog").breadcrumb__link  Каталог
		li.breadcrumb__item
			a(href="/playgrounds").breadcrumb__link Детские площадки
		li.breadcrumb__item 
			a(href="/kids-complex").breadcrumb__link Игровые комплексы
		li.breadcrumb__item
			a(href="/size-xl").breadcrumb__link Комплексы размера XL
		li.breadcrumb__item.breadcrumb__item-current
			a(href="/size-xl").breadcrumb__link Спортивный комплекс К1197