section.case
	h2.case__title Шарикоподши́пниковская улица 125с2
	img(src="@img/cases/case-1.png", alt="img").case__img
	.case__text
		p
			| Crosbee предлагает широкий ассортимент игровых систем 
			| и элементов благоустройства городской среды. 
			| Каталог компании разнообразен и уникален, малые архитектурные формы представлены 
			| в категориях: унифицированные конструкции для детей широкой возрастной группы.
		p
			| Комплексы для самых маленьких и требовательных, уличные спортивные тренажеры, 
			| элементы благоустройства дворовых территорий, 
			| а также специализированные решения для игровых парков.