section.catalog
	.catalog__poster.poster(style="background-image:url(@img/catalog/poster/image-1.png)")
		h1.poster__title Каталог
	.catalog__filters.filters
			form(action="" method="post").filters__form
				ul.filters__list 
					li
						select(name="form[]").form
							option(value="1", selected) Все категории
							option(value="2")  Игровые комплексы размера XL
							option(value="3") Игровые комплексы размера L
							option(value="4") Игровые комплексы размера M
					li
						select(name="form[]").form
							option(value="1", selected) Материал
							option(value="2") Материал 1
							option(value="3") Материал 2
							option(value="4") Материал 3
					li
						select(name="form[]").form
							option(value="1", selected) Назначение
							option(value="2")  Назначение 1
							option(value="3") Назначение 2
							option(value="4") Назначение 3
					li
						select(name="form[]").form
							option(value="1", selected) Сортировать
							option(value="2") По размеру (сначала маленькие)
							option(value="3") По размеру (сначала большие)
							option(value="4") По цене (сначала дешевые)
							option(value="5") По цене (сначала дорогие)
				.filters__search 
					img(src="@img/search.svg", alt="search")

	.products
		.products__header.products-header
			h2.products-header__title Игровые комплексы размера XL
			a.products-header__link(href="/size-xl") Смотреть все
		ul.products__list
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.

	.products
		.products__header.products-header
			h2.products-header__title Игровые комплексы размера L
			a.products-header__link(href="/size-xl") Смотреть все
		ul.products__list
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-xl/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.

	.products
		.products__header.products-header
			h2.products-header__title Игровые комплексы размера M
			a.products-header__link(href="/size-m") Смотреть все
		ul.products__list
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-m/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-m/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-m/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-m/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-m/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-m/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-m/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.
			li.produsts__item.product
				a(href="/product.html")
					.product__inner
						article.product__card.item-ibg_contain
							img(src="@img/catalog/size-m/item-1.png" loading="lazy", alt="product")
						.product__body.product-body
							h4.product-body__text Игровой комплекс K1012
							span.product-body__size 14 500 x 13 000 x 3 900
							span.product-body__price 27 500 000 р.

	.paggination
		ul.paggination__list 
			li.paggination__item.active 1
			li.paggination__item 2
			li.paggination__item 3
			li.paggination__item &bull; &bull; &bull;
			li.paggination__item 10
			li.paggination__item 11