footer.footer
	.footer__container
		.footer-top
			.footer-top__text Crosbee<br>реализует в жизнь детские мечты
			.footer-top__btns 
				button.button 
					span Скачать каталог
				button.button 
					span Позвоните мне
		.footer-center
			.footer-center__wrapper
				.footer-center__menu.footer-menu 
					h4.footer-menu__title Детские площадки
					ul
						li
							a(href="#") Игровые комплексы
						li
							a(href="#")  Балансиры
						li
							a(href="#") Качели
						li
							a(href="#") Карусели
						li
							a(href="#") Пружины
				.footer-center__menu.footer-menu 
					h4.footer-menu__title Спортивное оборудование
					ul
						li
							a(href="#") Воркаут площадки
						li
							a(href="#")  Тренажеры
				.footer-center__menu.footer-menu 
					h4.footer-menu__title Городская инфраструктура
					ul
						li
							a(href="#") Теневые навесы
						li
							a(href="#")  Спортивные площадки
						li
							a(href="#") Парковая мебель
						li
							a(href="#") Заборы и ограждения
						li
							a(href="#") Контакты
						li
							a(href="#") Контейнерные площадки
			nav.footer-center__nav.footer-nav
				ul
					li 
						h4 О нас
					li 
						h4 Кейсы
					li 
						h4 Как мы работаем
					li 
						h4 Контакты
		.footer-bottom
			.footer-bottom__contacts.contacts
				a(href="tel:+74951207776").contacts__tel +7(495) 120 77 76
				a(href="mailto:info@crosbee") info@crosbee.ru 
			.footer-bottom__logo
				img(src="@img/footer/logo.svg", alt="logo")
