head 
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	link(rel="icon", href="favicon.ico")
	link(rel="icon", type="image/png", sizes="32x32", href="img/favicon.png")
	meta(property="og:title", content="Quick follow-up without app")
	meta(property="og:site_name", content="https://paymushkin.github.io/crosbee/dist/")
	meta(property="og:url", content="https://paymushkin.github.io/crosbee/dist/")
	meta(property="og:description", content="Создаем комфортные городские пространства")
	meta(property="og:image", content="https://paymushkin.github.io/crosbee/dist/img/landing/hero-poster-1.png")
	meta(property="og:image:width", content="968")
	meta(property="og:image:height", content="504")
	link(rel="preload" as="image" href="@img/landing/hero-poster-1.webp")
	//- link(rel="preload" as="image" href="@img/landing/hero-poster-2.webp")
	//- link(rel="preload" as="image" href="@img/landing/hero-poster-3.webp")
	link(rel="preload" as="image" href="@img/landing/hero-poster-1-mob.webp")
	//- link(rel="preload" as="image" href="@img/landing/hero-poster-2-mob.webp")
	//- link(rel="preload" as="image" href="@img/landing/hero-poster-3-mob.webp")
	title CrosBee
	link(rel="stylesheet", href="css/style.min.css")
	meta(name="description", content="Описание вашей страницы для SEO1")
	meta(name="keywords", content="ключевые, слова, для, SEO")
	meta(name="author", content="Ваше имя или название компании")
	meta(name="twitter:card", content="summary_large_image")
	meta(name="twitter:title", content="My Website Title")
	meta(name="twitter:description", content="Описание вашей страницы для Twitter")
	meta(name="twitter:image", content="path/to/image.jpg")
	script(src="js/app.min.js", defer)
