section.landing-manager
	h2 Получить персонального менеджера
	p Каталог компании разнообразен и уникален, малые архитектурные формы представлены в категориях: унифицированные конструкции для детей широкой возрастной группы.
	button.button.button-standart Давайте