section.landing-numbers
	h2 Достижения/цифры
	ul.landing-numbers__list
		li
			span 128K
			p Детей и взрослых пользуются
		li
			span 157+
			p Реализованных проектов
		li
			span 456
			p Разных товаров на любые цели
