section.landing-about
	.landing-about__content
		p Crosbee предлагает широкий ассортимент 
			| <i>игровых систем и элементов благоустройства городской среды</i>. 
			| Комплексы для самых маленьких и требовательных, 
			| уличные спортивные тренажеры, элементы благоустройства.