section.landing-how
	.landing-how__content
		h2 Как мы работаем/этапы
		p 
			| Crosbee предлагает широкий ассортимент игровых систем и элементов благоустройства городской среды.
			| Каталог компании разнообразен и уникален, малые архитектурные формы представлены в категориях: 
			| унифицированные конструкции для детей широкой возрастной группы.
		p
			| Комплексы для самых маленьких и требовательных, уличные спортивные тренажеры, 
			| элементы благоустройства дворовых территорий, 
			| а также специализированные решения для игровых парков.
		a.products-header__link.landing-how__link(href="#")
			span Подробнее
			<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
				<path d="M4.5 9.5L7.5 6.5L4.5 3.5" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
			</svg> 
	img(src="@img/landing/how.png", alt="").landing-how__img