section.landing-objects
	a(href="/case.html").landing-objects__title
		h3 Реализованные объекты
		.button-link
			span Смотреть еще
			<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
				<path d="M4.5 9.5L7.5 6.5L4.5 3.5" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
	.landing-objects__grid 
		a(href="/case.html").landing-objects__item.item-objects
			.item-objects__img(style="background-image: url(@img/landing/card-1.png)")
			.item-objects__content
				.item-objects__text 
					h4 Шарикоподши́пниковская улица 125с2
					span Открыть
				//- a.button.button-standart._small Подробнее
		a(href="/case.html").landing-objects__item.item-objects
			.item-objects__img(style="background-image: url(@img/landing/card-1.png)") 
			.item-objects__content
				.item-objects__text 
					h4 Ленина 125с2
					span Открыть
				//- a.button.button-standart._small Подробнее
		a(href="/case.html").landing-objects__item.item-objects
			.item-objects__img(style="background-image: url(@img/landing/card-1.png)") 
			.item-objects__content
				.item-objects__text 
					h4 Шарикоподши́пниковская улица 125с2
					span Открыть
				//- a.button.button-standart._small Подробнее
		a(href="/case.html").landing-objects__item.item-objects
			.item-objects__img(style="background-image: url(@img/landing/card-1.png)") 
			.item-objects__content
				.item-objects__text 
					h4 Шарикоподши́пниковская улица 125с2
					span Открыть
				//- a.button.button-standart._small Подробнее
		a(href="/case.html").landing-objects__item.item-objects
			.item-objects__img(style="background-image: url(@img/landing/card-1.png)") 
			.item-objects__content
				.item-objects__text 
					h4 Шарикоподши́пниковская улица 125с2
					span Открыть
				//- a.button.button-standart._small Подробнее
		a(href="/case.html").landing-objects__item.item-objects
			.item-objects__img(style="background-image: url(@img/landing/card-1.png)") 
			.item-objects__content
				.item-objects__text 
					h4 Шарикоподши́пниковская улица 125с2
					span Открыть
				//- a.button.button-standart._small Подробнее