section.landing-objects
	a(href="cases.html").landing-objects__title
		h3 Реализованные объекты
		.button-link
			span Смотреть еще
			<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
				<path d="M4.5 9.5L7.5 6.5L4.5 3.5" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
	.landing-objects__grid 
		a(href="case.html").landing-objects__item.item-objects
			.item-objects__img
				img(src="@img/landing/objects/item-1.png", alt="")
			.item-objects__content
				.item-objects__text 
					h4 7 МАФ, 10х18
					span Москва, ул. Костикова, 1
				span.item-objects__btn
					svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewbox='0 0 13 12' fill='none')
						path(d='M6.62783 11L11.5 6M11.5 6L6.62783 1M11.5 6H1.5' stroke='#2E2E30' stroke-width='2' stroke-linecap='round' stroke-linejoin='round') 
		a(href="case.html").landing-objects__item.item-objects
			.item-objects__img
				img(src="@img/landing/objects/item-2.png", alt="")
			.item-objects__content
				.item-objects__text 
					h4 Название
					span Москва, ул. Литвина-Седого, 7А
				span.item-objects__btn
					svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewbox='0 0 13 12' fill='none')
						path(d='M6.62783 11L11.5 6M11.5 6L6.62783 1M11.5 6H1.5' stroke='#2E2E30' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
		a(href="case.html").landing-objects__item.item-objects
			.item-objects__img
				img(src="@img/landing/objects/item-3.png", alt="")
			.item-objects__content
				.item-objects__text 
					h4 Название
					span Москва, 1-й Смоленский пер., 13
				span.item-objects__btn
					svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewbox='0 0 13 12' fill='none')
						path(d='M6.62783 11L11.5 6M11.5 6L6.62783 1M11.5 6H1.5' stroke='#2E2E30' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
		a(href="case.html").landing-objects__item.item-objects
			.item-objects__img
				img(src="@img/landing/objects/item-4.png", alt="")
			.item-objects__content
				.item-objects__text 
					h4 Название
					span Москва, Большой Каретный пер., 22с5 Москва, Большой Каретный пер., 22с5
				span.item-objects__btn
					svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewbox='0 0 13 12' fill='none')
						path(d='M6.62783 11L11.5 6M11.5 6L6.62783 1M11.5 6H1.5' stroke='#2E2E30' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
		a(href="case.html").landing-objects__item.item-objects
			.item-objects__img
				img(src="@img/landing/objects/item-1.png", alt="")
			.item-objects__content
				.item-objects__text 
					h4 7 МАФ, 10х18
					span Москва, ул. Костикова, 1
				span.item-objects__btn
					svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewbox='0 0 13 12' fill='none')
						path(d='M6.62783 11L11.5 6M11.5 6L6.62783 1M11.5 6H1.5' stroke='#2E2E30' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
		a(href="case.html").landing-objects__item.item-objects
			.item-objects__img
				img(src="@img/landing/objects/item-2.png", alt="")
			.item-objects__content
				.item-objects__text 
					h4 Название
					span Москва, ул. Литвина-Седого, 7А
				span.item-objects__btn
					svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewbox='0 0 13 12' fill='none')
						path(d='M6.62783 11L11.5 6M11.5 6L6.62783 1M11.5 6H1.5' stroke='#2E2E30' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
		a(href="case.html").landing-objects__item.item-objects
			.item-objects__img
				img(src="@img/landing/objects/item-3.png", alt="")
			.item-objects__content
				.item-objects__text 
					h4 Название
					span Москва, 1-й Смоленский пер., 13
				span.item-objects__btn
					svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewbox='0 0 13 12' fill='none')
						path(d='M6.62783 11L11.5 6M11.5 6L6.62783 1M11.5 6H1.5' stroke='#2E2E30' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
		a(href="case.html").landing-objects__item.item-objects
			.item-objects__img
				img(src="@img/landing/objects/item-4.png", alt="")
			.item-objects__content
				.item-objects__text 
					h4 Название
					span Москва, Большой Каретный пер., 22с5
				span.item-objects__btn
					svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewbox='0 0 13 12' fill='none')
						path(d='M6.62783 11L11.5 6M11.5 6L6.62783 1M11.5 6H1.5' stroke='#2E2E30' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
		a(href="case.html").landing-objects__item.item-objects
			.item-objects__img
				img(src="@img/landing/objects/item-3.png", alt="")
			.item-objects__content
				.item-objects__text 
					h4 Название
					span Москва, 1-й Смоленский пер., 13
				span.item-objects__btn
					svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewbox='0 0 13 12' fill='none')
						path(d='M6.62783 11L11.5 6M11.5 6L6.62783 1M11.5 6H1.5' stroke='#2E2E30' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
		a(href="case.html").landing-objects__item.item-objects
			.item-objects__img
				img(src="@img/landing/objects/item-4.png", alt="")
			.item-objects__content
				.item-objects__text 
					h4 Название
					span Москва, Большой Каретный пер., 22с5 Москва, Большой Каретный пер., 22с5
				span.item-objects__btn
					svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewbox='0 0 13 12' fill='none')
						path(d='M6.62783 11L11.5 6M11.5 6L6.62783 1M11.5 6H1.5' stroke='#2E2E30' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')