section.landing-manager
	h2 Получить персонального менеджера
	//- p Crosbee предлагает широкий ассортимент игровых систем
	
	ul.landing-manager__btns
		button.button.landing-manager__btn(data-da=".landing-manager, 576.98, last")
			span Обратный звонок
		a(href="https://wa.me/+79175365715", target="_blank").button.landing-manager__btn
			span Вотсап 
		a(href="https://t.me/axeva", target="_blank").button.landing-manager__btn 
			span Телеграм
	
	