section.landing-objects
	h2 Реализованные объекты
	.landing-objects__grid 
		.landing-objects__item.item-objects
			.item-objects__img 
			.item-objects__content
				.item-objects__text 
					h4 Название кейса
					p Город/площадь/другое
				a.button.button-standart._small Подробнее
		.landing-objects__item.item-objects
			.item-objects__img 
			.item-objects__content
				.item-objects__text 
					h4 Название кейса
					p Город/площадь/другое
				a.button.button-standart._small Подробнее
		.landing-objects__item.item-objects
			.item-objects__img 
			.item-objects__content
				.item-objects__text 
					h4 Название кейса
					p Город/площадь/другое
				a.button.button-standart._small Подробнее
		.landing-objects__item.item-objects
			.item-objects__img 
			.item-objects__content
				.item-objects__text 
					h4 Название кейса
					p Город/площадь/другое
				a.button.button-standart._small Подробнее
		.landing-objects__item.item-objects
			.item-objects__img 
			.item-objects__content
				.item-objects__text 
					h4 Название кейса
					p Город/площадь/другое
				a.button.button-standart._small Подробнее
		.landing-objects__item.item-objects
			.item-objects__img 
			.item-objects__content
				.item-objects__text 
					h4 Название кейса
					p Город/площадь/другое
				a.button.button-standart._small Подробнее