section.landing-how
	.landing-how__content
		h2 Как мы работаем/этапы
		p 
			| Crosbee предлагает широкий ассортимент игровых систем и элементов благоустройства городской среды.
			| Каталог компании разнообразен и уникален, малые архитектурные формы представлены в категориях: 
			| унифицированные конструкции для детей широкой возрастной группы.
		p
			| Комплексы для самых маленьких и требовательных, уличные спортивные тренажеры, 
			| элементы благоустройства дворовых территорий, 
			| а также специализированные решения для игровых парков.
		//- button.button.button-standart Подробнее
	//- .landing-how__img