section.landing-catalog
	h2 Получите актуальный каталог в&nbsp;электронном виде&nbsp;(PDF)
	button.landing-catalog__button(data-popup="#catalog-request") Запросить каталог
		svg(xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewbox='0 0 12 12' fill='none')
				path(d='M6.12783 11L11 6M11 6L6.12783 1M11 6H1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')