section.landing-hero
	.landing-hero__item._big(style="background-image: url(@img/landing/hero-poster.png)")
		h1.landing-hero__title CrosBee реализует в жизнь детские мечты!
		a(href="/catalog.html") Перейти в каталог
			//- svg(xmlns='http://www.w3.org/2000/svg' width='26' height='20' viewbox='0 0 26 20' fill='none')
			//- 	path(d='M15.6226 18.5472L24.3962 9.77358M24.3962 9.77358L15.6226 1M24.3962 9.77358L1 9.77358' stroke='#383838' stroke-width='1.69811' stroke-linecap='round' stroke-linejoin='round')
	.landing-hero__item._small
		p Детские игровые площадки
		a(href="") Смотреть
			//- svg(xmlns='http://www.w3.org/2000/svg' width='26' height='20' viewbox='0 0 26 20' fill='none')
			//- 	path(d='M15.6226 18.5472L24.3962 9.77358M24.3962 9.77358L15.6226 1M24.3962 9.77358L1 9.77358' stroke='#383838' stroke-width='1.69811' stroke-linecap='round' stroke-linejoin='round')
	.landing-hero__item._small
		p Спортивные площадки и оборудование
		a(href="") Смотреть
			//- svg(xmlns='http://www.w3.org/2000/svg' width='26' height='20' viewbox='0 0 26 20' fill='none')
			//- 	path(d='M15.6226 18.5472L24.3962 9.77358M24.3962 9.77358L15.6226 1M24.3962 9.77358L1 9.77358' stroke='#383838' stroke-width='1.69811' stroke-linecap='round' stroke-linejoin='round')
	.landing-hero__item._small
		p Городские пространства и инфраструктура
		a(href="") Смотреть
			//- svg(xmlns='http://www.w3.org/2000/svg' width='26' height='20' viewbox='0 0 26 20' fill='none')
			//- 	path(d='M15.6226 18.5472L24.3962 9.77358M24.3962 9.77358L15.6226 1M24.3962 9.77358L1 9.77358' stroke='#383838' stroke-width='1.69811' stroke-linecap='round' stroke-linejoin='round')