section.offer 
	.offer__container
		.offer__left
			h3.offer__title Покупки с нашим стилистом
			span.offer__title-decor 참신함
		.offer__right
			p Персональный стилист может преобразить ваш гардероб, экономя ваше время и усилия и помогая вам раскрыть вашу уникальную модную индивидуальность.
			a(href="/consult").button.button-small Получить консультацию >