section.special 
	.special__container
		.special__slider.swiper
			.special__wrapper.swiper-wrapper
				.special__slide.slide.swiper-slide(style="background-image: url(@img/special/item-1.webp)")
					
					h2.slide__title Бестселлеры и рекомендации Streetlook для вас
					a(href="/catalog").button.slide__button Перейти в каталог
				.special__slide.slide.swiper-slide(style="background-image: url(@img/special/item-2.webp)")
					
					h2.slide__title Бестселлеры и рекомендации Streetlook для вас
					a(href="/catalog").button.slide__button Перейти в каталог
				.special__slide.slide.swiper-slide(style="background-image: url(@img/special/item-3.webp)")
					
					h2.slide__title Бестселлеры и рекомендации Streetlook для вас
					a(href="/catalog").button.slide__button Перейти в каталог
				.special__slide.slide.swiper-slide(style="background-image: url(@img/special/item-4.webp)")
					
					h2.slide__title Бестселлеры и рекомендации Streetlook для вас
					a(href="/catalog").button.slide__button Перейти в каталог
			.swiper-pagination