<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.scrollbar-hover
		.wrapper.wrapper__container
			include html/_header
			main.main-content
				section.about-hero
					.about-hero__body 
						h1 
							| Crosbee предлагает широкий ассортимент <i>игровых систем
							| и элементов благоустройства городской среды</i>. 
							| Комплексы для самых маленьких и требовательных, 
							| уличные спортивные тренажеры, элементы благоустройства.
					img(src="@img/about/hero-bg.png", alt="").about-hero__img

					.about-hero__text
						p
							| Crosbee работает в сфере детских развлечений с 1997 года, в частности, с 1999 года производит линейку малых архитектурных форм. 
							| Производственные мощности компании расположены в Российской Федерации и КНР. 
							| Продукция нашей марки представляет симбиоз проверенного климатом качества, 
							| оригинальных дизайнерских решений и оптимальных ценовых предложений.

						p 
							| Конструктивной особенностью нашей продукции является проверенная годами надежность в условиях суровых климатических зон. 
							| Конструкции и материалы, изначально проектировались под условия северных регионов, имеющих схожий с Россией, 
							| а порой суровее, температурный перепад.
							
						p 
							| Инженеры компании, имея возможность проводить длительные ресурсные испытания, внесли ряд конструктивных изменений в элементы, 
							| в частности, был модифицирован пластик, несколько дополнений внесены в крепежные системы. 
							| Все вышеперечисленное позволяет нам гарантировать, что малые архитектурные формы, поставляемые нашей компанией, 
							| выдержат суровые российские зимы и будут радовать ваших детей долгие годы.
							
						p 
							| Постоянное сотрудничество с европейскими компаниями, обязывает компанию работать с лучшими дизайнерскими бюро. 
							| Разнообразие цветовой гаммы нашей линейки, большой ассортимент декоративных элементов позволяет быть уверенными, 
							| что каждый заказчик найдет в каталоге компании интересное решение.
				section.about-points
					h2.about-points__title Наши преимущества
					ul.about-points__list
						li.about-points__item.item-points
							span.item-points__count._small 01
							h3.item-points__title Всегда соблюдаем заявленные сроки
							//- p.item-points__text 
							//- 	| Компания CrosBee осуществляет доставку продукции по всей территории Российской Федерации. 
							//- 	| Для решения логистических задач, мы пользуемся услугами проверенных партнеров федерального и местного уровня. 
							//- 	| По Москве и Московской области используется как малотоннажный грузовой транспорт, так и крупный грузовой транспорт, 
							//- 	| в зависимости от возможностей подъездных путей, пропускной системы и пожеланий заказчика.

						li.about-points__item.item-points
							span.item-points__count._small 02
							h3.item-points__title Обеспечиваем безопасность
							//- p.item-points__text
							//- 	| Наша продукция соответствует российским и мировым стандартам безопасности. 
							//- 	| Материалы, которые используются при производстве, проходят строгий входной контроль, 
							//- 	| все партии сырья, поступившие на производство, имеют сертификаты качества. 
							//- 	| Отдел выходного технического контроля проводит проверку 100% выпускаемых компонентов каждого изделия.

						li.about-points__item.item-points
							span.item-points__count._small 03
							h3.item-points__title Гарантируем<br> качество
							//- p.item-points__text 
							//- 	| Компания CrosBee осуществляет доставку продукции по всей территории Российской Федерации. 
							//- 	| Для решения логистических задач, мы пользуемся услугами проверенных партнеров федерального и местного уровня. 
							//- 	| По Москве и Московской области используется как малотоннажный грузовой транспорт, так и крупный грузовой транспорт, 
							//- 	| в зависимости от возможностей подъездных путей, пропускной системы и пожеланий заказчика.
				section.about-description 
					.about-description__body
						h2 Дизайн-студия
						.about-description__text 
							p 
								| Конструкторский отдел нашей компании способен рассчитать и реализовать практически любой замысел заказчика. 
								| Мы используем наш опыт и ресурсы для оперативного расчета индивидуальных пожеланий, 
								| сделаем дизайн-макет и предложим решения для оптимизации стоимости нового проекта. 
								| Нам поступает большое количество запросов на особые и индивидуальные решения для игровых зон. 
								| В большинстве случаев мы находим оптимальное решение и помогаем претворить его в жизнь.

							p 
								| Последние годы дизайн-студия Crosbee создала ряд проектов, активно использующих ландшафт местности, 
								| эффективно задействовала естественные перепады высот, водные пространства и растительность. 
								| У нас большой опыт в применении традиционных и инновационных материалов, 
								| большая библиотека проверенных узловых устройств и механизмов, 
								| дает конструкторам широкую свободу действий.Мы готовы предложить большой ассортимент малых архитектурных форм, 
								| а также услуги по расчету и визуализации индивидуальных пожеланий заказчика.

					.about-description__img
						img(src="@img/about/desing.png", alt="")

					.about-description__body
						h2 Монтаж
						.about-description__text 
							p 
								| Последняя стадия производства детского игрового комплекса – его установка на месте у заказчика. 
								| От того, насколько качественно она будет сделана, зависит безопасность посетителей, 
								| а также срок эксплуатации комплекса. Наша компания предлагает услуги квалифицированного монтажа детского игрового оборудования 
								| и паркового оборудования. 

							p 
								| Профессионалы знают точно параметры и требования к малым архитектурным формам. 
								| При монтаже важно учесть множество деталей, таких как: удобное расположение детских игровых 
								| и спортивных площадок для наблюдения родителями, возраст детей, которые будут играть на этой площадке,
								| основание, на чем будет производиться установка, окружающие зеленые насаждения.

					.about-description__body
						h2 Шеф-монтаж
						.about-description__text 
							p 
								| Даже опытная строительная бригада будет испытывать затруднения при сборке такого специфичного оборудования, 
								| как детский игровой комплекс. В случае, если заказчик рассчитывает на собственные силы, но остаются сомнения в квалификации, 
								| CrosBee предоставит услуги по шеф-монтажу. 
								| Опытный мастер компании проведет на монтажном участке обучение, 
								| а в ходе монтажа поможет ценным советом и проверит качество сборки. 

							p 
								| Также будут даны рекомендации по правильной эксплуатации и уходу, 
								| выполняя которые, заказчик продлит срок службы приобретенного оборудования и использует 
								| его возможности в полной мере, в течение многих лет.
					
					.about-description__img
						img(src="@img/about/chief-assembly.png", alt="")

					
					.about-description__body
						h2 Производство и склад
						.about-description__text 
							p 
								| Новые технические требования, последние тренды дизайна
								| обязывают современные производственные компании постоян но совершенствоваться и прогрессировать.
								
							p 
								| В наших продуктах мы используем как проверенные временем
								| материалы и конструкционные узлы, так и инновационные
								| технологии. Новинки позволяют внедрять в производство идеи,
								| ранее недоступные для воплощения или снимающие ограниче ния в технических и дизайнерских решениях.

							p 
								| В малых архитектурных формах мы используем широкий спектр
								| высококачественных материалов, среди которых преобладают:<br><br>
								| — гальванизированная сталь<br>
								| — полиэтилен низкого давления<br>
								| — HDPE (полиэтилен высокой плотности),<br>
								| — HPL (ламинат высокого давления)<br>
								| — нержавеющая сталь<br>
								| — резина различных спецификаций<br>
								| — композитные материалы<br>
								| — дерево<br>

							p 
								| Основой большинства конструкций являются гальванизированные трубы различного сечения (от 32 до 114 мм) с толщиной
								| стенок 2,5 мм. На металлические конструкции наносится лако красочный слой методом порошкового напыления. 
								| В наших по красочных камерах мы используем материалы мирового лидера ЛКП AkzoNobel.

					.about-description__img
						img(src="@img/about/production.png", alt="")

		include html/_footer
		script(src="js/app.min.js")