<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.scrollbar-hover
		.wrapper.wrapper__container._sticky
			include html/_header
			main.main-content
				section.cart
					.cart__content
						h2.cart__title Корзина
						ul.cart__products-wrapper
							//- li.cart__product.product-caption
							//- 	.product-cart__body Товар
							//- 	.product-cart__counter Количество
							//- 	.product-cart__price Цена
							//- 	.product-cart__delete 1

							li.cart__product.product-cart
								.product-cart__body
									.product-cart__image
										img(src="@img/cart/cart-1.png", alt="image") 
									a(href="product.html").product-cart__title 
										h4 Игровой комплекс K1012
										span 6 500 x 5 340 x 3 500
								.product-cart__counter
									.input-counter__wrapper 
										button.input-counter__btn._minus -
										input#product-count-01(type="number", name="product-count-01", value="0")
										button.input-counter__btn._plus +
								.product-cart__price
									span 27 500 000 р.
								.product-cart__delete
									button
										<svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
											<path d="M1 10.5L10.5 1" stroke="#333333" stroke-linecap="round"/>
											<path d="M1 1.30762L10.5 10.8076" stroke="#333333" stroke-linecap="round"/>
										</svg>
							
							li.cart__product.product-cart
								.product-cart__body
									.product-cart__image
										img(src="@img/cart/cart-1.png", alt="image") 
									a(href="product.html").product-cart__title 
										h4 Игровой комплекс K1012
										span 6 500 x 5 340 x 3 500
								.product-cart__counter
									.input-counter__wrapper 
										button.input-counter__btn._minus -
										input#product-count-02(type="number", name="product-count-01", value="0")
										button.input-counter__btn._plus +
								.product-cart__price
									span 27 500 000 р.
								.product-cart__delete
									button
										<svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
											<path d="M1 10.5L10.5 1" stroke="#333333" stroke-linecap="round"/>
											<path d="M1 1.30762L10.5 10.8076" stroke="#333333" stroke-linecap="round"/>
										</svg>
						
							li.cart__product.product-cart
								.product-cart__body
									.product-cart__image
										img(src="@img/cart/cart-1.png", alt="image") 
									a(href="product.html").product-cart__title 
										h4 Игровой комплекс K1012
										span 6 500 x 5 340 x 3 500
								.product-cart__counter
									.input-counter__wrapper 
										button.input-counter__btn._minus -
										input#product-count-01(type="number", name="product-count-01", value="0")
										button.input-counter__btn._plus +
								.product-cart__price
									span 27 500 000 р.
								.product-cart__delete
									button
										<svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
											<path d="M1 10.5L10.5 1" stroke="#333333" stroke-linecap="round"/>
											<path d="M1 1.30762L10.5 10.8076" stroke="#333333" stroke-linecap="round"/>
										</svg>
							
							li.cart__product.product-cart
								.product-cart__body
									.product-cart__image
										img(src="@img/cart/cart-1.png", alt="image") 
									a(href="product.html").product-cart__title 
										h4 Игровой комплекс K1012
										span 6 500 x 5 340 x 3 500
								.product-cart__counter
									.input-counter__wrapper 
										button.input-counter__btn._minus -
										input#product-count-02(type="number", name="product-count-01", value="0")
										button.input-counter__btn._plus +
								.product-cart__price
									span 27 500 000 р.
								.product-cart__delete
									button
										<svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
											<path d="M1 10.5L10.5 1" stroke="#333333" stroke-linecap="round"/>
											<path d="M1 1.30762L10.5 10.8076" stroke="#333333" stroke-linecap="round"/>
										</svg>
						
							li.cart__product.product-cart
								.product-cart__body
									.product-cart__image
										img(src="@img/cart/cart-1.png", alt="image") 
									a(href="product.html").product-cart__title 
										h4 Игровой комплекс K1012
										span 6 500 x 5 340 x 3 500
								.product-cart__counter
									.input-counter__wrapper 
										button.input-counter__btn._minus -
										input#product-count-01(type="number", name="product-count-01", value="0")
										button.input-counter__btn._plus +
								.product-cart__price
									span 27 500 000 р.
								.product-cart__delete
									button
										<svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
											<path d="M1 10.5L10.5 1" stroke="#333333" stroke-linecap="round"/>
											<path d="M1 1.30762L10.5 10.8076" stroke="#333333" stroke-linecap="round"/>
										</svg>
							
							li.cart__product.product-cart
								.product-cart__body
									.product-cart__image
										img(src="@img/cart/cart-1.png", alt="image") 
									a(href="product.html").product-cart__title 
										h4 Игровой комплекс K1012
										span 6 500 x 5 340 x 3 500
								.product-cart__counter
									.input-counter__wrapper 
										button.input-counter__btn._minus -
										input#product-count-02(type="number", name="product-count-01", value="0")
										button.input-counter__btn._plus +
								.product-cart__price
									span 27 500 000 р.
								.product-cart__delete
									button
										<svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
											<path d="M1 10.5L10.5 1" stroke="#333333" stroke-linecap="round"/>
											<path d="M1 1.30762L10.5 10.8076" stroke="#333333" stroke-linecap="round"/>
										</svg>
						
							li.cart__product.product-cart
								.product-cart__body
									.product-cart__image
										img(src="@img/cart/cart-1.png", alt="image") 
									a(href="product.html").product-cart__title 
										h4 Игровой комплекс K1012
										span 6 500 x 5 340 x 3 500
								.product-cart__counter
									.input-counter__wrapper 
										button.input-counter__btn._minus -
										input#product-count-01(type="number", name="product-count-01", value="0")
										button.input-counter__btn._plus +
								.product-cart__price
									span 27 500 000 р.
								.product-cart__delete
									button
										<svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
											<path d="M1 10.5L10.5 1" stroke="#333333" stroke-linecap="round"/>
											<path d="M1 1.30762L10.5 10.8076" stroke="#333333" stroke-linecap="round"/>
										</svg>
							
							li.cart__product.product-cart
								.product-cart__body
									.product-cart__image
										img(src="@img/cart/cart-1.png", alt="image") 
									a(href="product.html").product-cart__title 
										h4 Игровой комплекс K1012
										span 6 500 x 5 340 x 3 500
								.product-cart__counter
									.input-counter__wrapper 
										button.input-counter__btn._minus -
										input#product-count-02(type="number", name="product-count-01", value="0")
										button.input-counter__btn._plus +
								.product-cart__price
									span 27 500 000 р.
								.product-cart__delete
									button
										<svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
											<path d="M1 10.5L10.5 1" stroke="#333333" stroke-linecap="round"/>
											<path d="M1 1.30762L10.5 10.8076" stroke="#333333" stroke-linecap="round"/>
										</svg>
						
						.cart__total 
							span.cart__total-text Общая сумма
							span.cart__total-sum 0 р.
					
					aside.cart__aside
						.cart__aside-wrapper
							form(action="#", method="post").form-aside
								h2.form-aside__title Заполните данные, чтобы мы могли составить для вас коммерческое предложение
								.form-aside__fields
									input#name(type="text", name="name", placeholder="ФИО", required)
									input#phone(type="tel", name="phone", placeholder="+7", required)
									input#email(type="email", name="email", placeholder="Email", required)
									input#company(type="text", name="company", placeholder="Название организации", required)
									input#address(type="text", name="address", placeholder="Адрес вашего объекта")
								button(type="submit").button.button-highlight.form-aside__button 
									span Отправить запрос
								.checkbox.form-aside__checkbox
									input#c_1(type="checkbox" value="1" name="form[]").checkbox__input
									label(for="c_1").checkbox__label 
										span 
											a(href="#", target="_blank").checkbox__text Согласие 
											| на обработку персональных данных

		include html/_footer
		script(src="js/app.min.js")