<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.wrapper.wrapper__container
			include html/_header
			main.main-content
				include html/_case
		include html/_footer
		script(src="js/app.min.js")