<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.loader#loader 
			.loader__icon
				<svg width="1717" height="1732" viewBox="0 0 1717 1732" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path class="path-1" d="M836.699 1146.62C728.387 1334.27 596.229 1483.07 471.131 1572.32C344.034 1663 232.99 1686.65 160.079 1644.57C87.168 1602.48 52.1145 1494.49 67.0649 1339.08C81.7802 1186.12 144.528 997.252 252.841 809.606C361.154 621.96 493.312 473.161 618.41 383.909C745.507 293.231 856.551 269.571 929.462 311.657C1002.37 353.743 1037.43 461.732 1022.48 617.143C1007.76 770.11 945.012 958.974 836.699 1146.62Z" stroke="#2E6F6E" stroke-width="50"/>
					<path class="path-2" d="M880.841 1146.62C989.154 1334.27 1121.31 1483.07 1246.41 1572.32C1373.51 1663 1484.55 1686.65 1557.46 1644.57C1630.37 1602.48 1665.43 1494.49 1650.48 1339.08C1635.76 1186.12 1573.01 997.252 1464.7 809.606C1356.39 621.96 1224.23 473.161 1099.13 383.909C972.034 293.231 860.99 269.571 788.079 311.657C715.168 353.743 680.114 461.732 695.065 617.143C709.78 770.11 772.528 958.974 880.841 1146.62Z" stroke="#2E6F6E" stroke-width="50"/>
					<path class="path-3" d="M1352 1006C1352 771.94 1273.01 524.561 1169.07 335.699C1117.14 241.334 1059.52 162.59 1003.44 107.815C946.396 52.1046 894.883 25 855 25C815.203 25 764.338 52.0178 708.268 107.673C653.129 162.403 596.753 241.111 546.05 335.478C444.585 524.319 368 771.778 368 1006C368 1241.84 420.335 1417.44 506.589 1533.44C592.24 1648.62 712.703 1707 855 1707C997.388 1707 1120.46 1648.53 1208.61 1533.18C1297.27 1417.15 1352 1241.6 1352 1006Z" stroke="#2E6F6E" stroke-width="50"/>
				</svg>
		.scrollbar-hover
		.wrapper.wrapper__container
			include html/_header
			main.main-content
				section#single-case.case-hero.scroll
					.case-hero__body._single-case
						h2.case-hero__text._single-case
							| Москва, 1-й&nbsp;Смоленский пер.,&nbsp;13<br>7МАФ, 18х10м
						.case-hero__poster
							.case-hero__slider.swiper
								.case-hero__wrapper.swiper-wrapper
									.case-hero__slide.swiper-slide(data-popup="#case-popup")
										img(src="@img/case/case-2.png" alt="Картинка")
									.case-hero__slide.swiper-slide(data-popup="#case-popup")
										img(src="@img/case/case-3.png" alt="Картинка")
									.case-hero__slide.swiper-slide(data-popup="#case-popup")
										//- img(src="@img/case/case-1.png", alt="")
										img(src="@img/case/case-4.png" alt="Картинка")
									.case-hero__slide.swiper-slide(data-popup="#case-popup")
										//- img(src="@img/case/case-1.png", alt="")
										img(src="@img/case/case-5.png" alt="Картинка")
									.case-hero__slide.swiper-slide(data-popup="#case-popup")
										//- img(src="@img/case/case-1.png", alt="")
										img(src="@img/case/case-6.png" alt="Картинка")
									.case-hero__slide.swiper-slide(data-popup="#case-popup")
										//- img(src="@img/case/case-1.png", alt="")
										img(src="@img/case/case-7.png" alt="Картинка")
									.case-hero__slide.swiper-slide(data-popup="#case-popup")
										//- img(src="@img/case/case-1.png", alt="")
										img(src="@img/case/case-8.png" alt="Картинка")
									.case-hero__slide.swiper-slide(data-popup="#case-popup")
										//- img(src="@img/case/case-1.png", alt="")
										img(src="@img/case/case-9.png" alt="Картинка")
									.case-hero__slide.swiper-slide(data-popup="#case-popup")
										//- img(src="@img/case/case-1.png", alt="")
										img(src="@img/case/case-10.png" alt="Картинка")
								.navigation
									svg.prev(width="53", height="53", viewBox="0 0 53 53", fill="none", xmlns="http://www.w3.org/2000/svg")
										g
											path#Vector(d="M29.2447 35.0947L38.0183 26.3211M38.0183 26.3211L29.2447 17.5475M38.0183 26.3211L14.6221 26.3211", stroke="#ffffff", stroke-width="1.69811", stroke-linecap="round", stroke-linejoin="round")
									svg.next(width="53", height="53", viewBox="0 0 53 53", fill="none", xmlns="http://www.w3.org/2000/svg")
										g
											path#Vector(d="M29.2447 35.0947L38.0183 26.3211M38.0183 26.3211L29.2447 17.5475M38.0183 26.3211L14.6221 26.3211", stroke="#ffffff", stroke-width="1.69811", stroke-linecap="round", stroke-linejoin="round")
						
						//- 	h2 Этапы выполнения <br>вашего заказа
						//- h2.case-hero__text._single-case
						//- 	| Москва, 1-й&nbsp;Смоленский пер.,&nbsp;13<br>7МАФ, 18х10м
						.case-hero__description
							p
								| Конструкторский отдел нашей компании способен рассчитать 
								| и&nbsp;реализовать практически любой замысел заказчика. 
								| Мы&nbsp;используем наш&nbsp;опыт и&nbsp;ресурсы для&nbsp;оперативного расчета 
								| индивидуальных пожеланий, сделаем дизайн-макет 
								| и&nbsp;предложим решения для оптимизации стоимости нового проекта. 
								| Нам&nbsp;поступает большое количество запросов на&nbsp;особые 
								| и&nbsp;индивидуальные решения для&nbsp;игровых зон. 
								| В&nbsp;большинстве случаев мы находим оптимальное решение 
								| и&nbsp;помогаем претворить его&nbsp;в&nbsp;жизнь.
							p
								| Последние годы дизайн-студия Crosbee создала ряд проектов, 
								| активно использующих ландшафт местности, 
								| эффективно задействовала естественные перепады высот, 
								| водные пространства и&nbsp;растительность. 
								| У&nbsp;нас&nbsp;большой опыт в&nbsp;применении традиционных 
								| и&nbsp;инновационных материалов, большая библиотека 
								| проверенных узловых устройств и&nbsp;механизмов, 
								| дает конструкторам широкую свободу действий. 
								| Мы&nbsp;готовы предложить большой ассортимент малых архитектурных форм, 
								| а&nbsp;также услуги по&nbsp;расчету и&nbsp;визуализации индивидуальных пожеланий заказчика.

					//- .case-hero__poster 
					//- 	img(src="@img/case/case-1.png", alt="")
					
					.case-hero__products
						h2 На объекте установлено

						- var categoryTitle = "Игровые комплексы размера XL"
						- var categoryLink = "size-xl"
						- var categoryImg = "/size-xl"
						- const condition = false
							include html/_products
							
		include html/_footer
		include html/_popup
		script(src="js/app.min.js")