<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.scrollbar-hover
		.wrapper.wrapper__container
			include html/_header
			main.main-content
				section.case-hero
					.case-hero__body 
						h2 Этапы выполнения <br>вашего заказа
					p.case-hero__text
						| Если Вам необходимо посчитать стоимость заказа,
						| проверить возможность установки оборудования в соответствии с 
						| требованиями безопасности или получить визуальное решение 
						| Вашей игровой (спортивной) площадки, нам потребуется от Вас небольшое техническое задание, которое будет включать в себя:
				
				section.about-points
					ul.about-points__list.case-hero__list
						li.about-points__item.item-points._highlight
							span.item-points__count 01
							h3.item-points__title Уложимся в сроки
							p.item-points__text 
								| Компания CrosBee осуществляет доставку продукции по всей территории Российской Федерации. 
								| Для решения логистических задач, мы пользуемся услугами проверенных партнеров федерального и местного уровня. 
								| По Москве и Московской области используется как малотоннажный грузовой транспорт, так и крупный грузовой транспорт, 
								| в зависимости от возможностей подъездных путей, пропускной системы и пожеланий заказчика.

						li.about-points__item.item-points._highlight
							span.item-points__count 02
							h3.item-points__title Безопасность
							p.item-points__text
								| Наша продукция соответствует российским и мировым стандартам безопасности. 
								| Материалы, которые используются при производстве, проходят строгий входной контроль, 
								| все партии сырья, поступившие на производство, имеют сертификаты качества. 
								| Отдел выходного технического контроля проводит проверку 100% выпускаемых компонентов каждого изделия.

						li.about-points__item.item-points._highlight
							span.item-points__count 03
							h3.item-points__title Качество
							p.item-points__text 
								| Компания CrosBee осуществляет доставку продукции по всей территории Российской Федерации. 
								| Для решения логистических задач, мы пользуемся услугами проверенных партнеров федерального и местного уровня. 
								| По Москве и Московской области используется как малотоннажный грузовой транспорт, так и крупный грузовой транспорт, 
								| в зависимости от возможностей подъездных путей, пропускной системы и пожеланий заказчика.

					.about-points__text
						p 
							| После получения технического задания наш проектный отдел приступает к работе 
							| и в течении 1-3 рабочих дней в зависимости от сложности объекта, 
							| предоставляет визуальное решение. Коммерческая служба оформляет на основании визуального решения коммерческое предложение.
						p 
							| Теперь у нас есть предмет для оценки и критики, а часто первичное решение всех устраивает!
							| После утверждения списка оборудования, стоимости и сроков поставки, заключается договор. 
							| Часть оборудования есть в наличии на нашем складе или его запустят в производство на нашем заводе.
						p 
							| Когда оборудование готово к монтажу, его доставят на место установки и монтажный отдел приступит к работе. 
							| Средняя длительность сборки, установки оборудования на стандартной по размеру площадке составляет 3-4 рабочих дня.
					
					.about-description__img
						img(src="@img/about/chief-assembly.png", alt="")

		include html/_footer
		script(src="js/app.min.js")