<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.scrollbar-hover
		//- .loader#loader
		//- 	.loader__spinner
		//- 		.loader__icon
		//- 			div

		.wrapper.wrapper__container
			include html/_header
			main.main-content.scroll
				//- include html/_hero
				- var link = "background-image:url(@img/catalog/poster/all.png)"
				- var title = "Каталог"
				- const condition = true
					include html/_poster

					include html/_filters

					- var categoryTitle = "Детские площадки"
					- var categoryLink = "category.html"
					- var categoryImg = "size-xl"
						include html/_products

					- var categoryTitle = "Спортивное оборудование"
					- var categoryLink = "category.html"
					- var categoryImg = "size-xl"
						include html/_products

					- var categoryTitle = "Городская инфраструктура"
					- var categoryLink = "category.html"
					- var categoryImg = "size-m"
						include html/_products

					//- .page-bottom
					//- 	a.products-header__link(href=categoryLink)
					//- 		span Смотреть еще
					//- include html/_paggination
				//- include html/_offer
				//- include html/_special
				//- include html/_about
				//- include html/_interests
		include html/_footer
		include html/_popup
		script(src="js/app.min.js")
	