<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		//- .loader#loader
		//- 	.loader__spinner
		//- 		.loader__icon
		//- 			div

		.wrapper.wrapper__container
			include html/_header
			main.main-content
				//- include html/_hero
				include html/_catalog
				//- include html/_offer
				//- include html/_special
				//- include html/_about
				//- include html/_interests
			//- include html/_footer
		script(src="js/app.min.js")
	