<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.scrollbar-hover
		//- .loader#loader
		//- 	.loader__spinner
		//- 		.loader__icon
		//- 			div

		.wrapper.wrapper__container
			include html/_header
			main.main-content#category
				- var link = "background-image:url(@img/catalog/poster/category-xl.png)"
				- var title = "Игровые комплексы размера XL"
				- const category = true
					include html/_poster

					include html/_filters

					- var categoryTitle = "Игровые комплексы размера XL"
					- var categoryLink = "size-xl"
					- var categoryImg = "/size-xl"
					- const condition = false
						include html/_products

					//- .page-bottom
					//- 	a.products-header__link(href=categoryLink)
					//- 		span Смотреть еще
					//- include html/_paggination
				//- include html/_offer
				//- include html/_special
				//- include html/_about
				//- include html/_interests
		include html/_footer
		script(src="js/app.min.js")
	