<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.scrollbar-hover
		.wrapper.wrapper__container
			include html/_header
			main.main-content
				section.about-hero
					.about-hero__body 
						h1.about-hero__title 
							| Этапы выполнения<br>вашего заказа
						p 
							| Если Вам&nbsp;необходимо посчитать стоимость заказа, 
							| проверить возможность установки оборудования в&nbsp;соответствии 
							| с&nbsp;требованиями безопасности или&nbsp;получить визуальное решение Вашей&nbsp;игровой (спортивной) площадки, 
							| нам&nbsp;потребуется от&nbsp;Вас&nbsp;небольшое техническое задание.
						.about-hero__img._how

				section.how-points
					h2.how-points__title Что указать при заказе?
					ul.how-points__list
						li.how-points__item.item-points
							span.item-points__count._small 01
							.animation__wrapper
								h3.item-points__title Размеры<br>площадки
								.item-points__text
									p
										| Это могут быть полноценные геодезические данные (наилучший вариант), 
										| но&nbsp;зачастую в&nbsp;распоряжении Заказчика только эскиз, выполненный от&nbsp;руки. 
									p
										| Эскиз тоже подойдет, главное отметить на&nbsp;нем&nbsp;люки, 
										| кусты, деревья или&nbsp;любые другие недвижимые объекты, 
										| входящие в&nbsp;планируемую зону монтажа оборудования.

						li.how-points__item.item-points
							span.item-points__count._small 02
							.animation__wrapper
								h3.item-points__title Адрес<br>установки
								.item-points__text
									p
										| Нам&nbsp;необходимо предварительно оценить логистику
										| и&nbsp;возможность разгрузки оборудования, определить
										| назначение территории 
										| (дошкольные учреждения, дворовые или&nbsp;парковые территории).
						li.how-points__item.item-points
							span.item-points__count._small 03
							.animation__wrapper
								h3.item-points__title Ваши<br>пожелания
								.item-points__text
									p
										| Какие ограничения по&nbsp;бюджету Вашего проекта? 
										| Желаемые сроки поставки, предпочтительные цвета оборудования 
										| или&nbsp;у&nbsp;Вас&nbsp;уже&nbsp;есть понравившиеся модели из&nbsp;нашего 
										| каталога –&nbsp;каждое условие важно для&nbsp;оформления конечного предложения.
				section.about-description 
					.about-description__body
						//- h2 Дизайн-студия
						.about-description__text 
							p 
								| После получения технического задания наш&nbsp;проектный отдел приступает 
								| к&nbsp;работе и&nbsp;в&nbsp;течении 1-3&nbsp;рабочих дней в&nbsp;зависимости 
								| от&nbsp;сложности объекта, предоставляет визуальное решение.
								| Коммерческая служба оформляет на&nbsp;основании визуального решения коммерческое предложение.

							p 
								| Теперь у&nbsp;нас&nbsp;есть предмет для&nbsp;оценки и&nbsp;критики, а&nbsp;часто первичное решение всех&nbsp;устраивает!
								| После утверждения списка оборудования, стоимости и&nbsp;сроков поставки, 
								| заключается договор. Часть оборудования есть в&nbsp;наличии на&nbsp;нашем складе 
								| или&nbsp;его&nbsp;запустят в&nbsp;производство на&nbsp;нашем заводе.
								
							p 
								| Когда оборудование готово к&nbsp;монтажу, его&nbsp;доставят на&nbsp;место установки 
								| и&nbsp;монтажный отдел приступит к&nbsp;работе. Средняя длительность сборки, 
								| установки оборудования на&nbsp;стандартной по&nbsp;размеру площадке составляет 3-4&nbsp;рабочих&nbsp;дня.

					.about-description__img._how

		include html/_footer
		include html/_popup
		script(src="js/app.min.js")