<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.wrapper.wrapper__container
			include html/_header
			main.main-content
				include html/_landing-hero
				include html/_landing-manager
				include html/_landing-about
				include html/_landing-numbers
				include html/_landing-objects
				include html/_landing-how
		include html/_footer
		script(src="js/app.min.js")
	