<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.scrollbar-hover
		.wrapper.wrapper__container
			include html/_header
			main.main-content
				include html/_landing-hero
				include html/_landing-about
				include html/_landing-numbers
				include html/_landing-how
				include html/_landing-manager
				include html/_landing-objects
				include html/_landing-catalog
		include html/_footer
		#catalog-request(aria-hidden="true").popup
			.popup__wrapper
				.popup__content
					button(data-close type="button").popup__close 
						svg(xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewbox='0 0 21 22' fill='none')
							path(fill-rule='evenodd' clip-rule='evenodd' d='M0.469783 20.5303C0.17689 20.2374 0.17689 19.7626 0.469783 19.4697L19.4698 0.469669C19.7627 0.176776 20.2376 0.176775 20.5304 0.469669C20.8233 0.762562 20.8233 1.23744 20.5304 1.53033L1.53044 20.5303C1.23755 20.8232 0.762676 20.8232 0.469783 20.5303Z' fill='#383838')
							path(fill-rule='evenodd' clip-rule='evenodd' d='M0.46967 1.0849C0.762563 0.792002 1.23744 0.792002 1.53033 1.0849L20.5303 20.0849C20.8232 20.3778 20.8232 20.8527 20.5303 21.1456C20.2374 21.4385 19.7626 21.4384 19.4697 21.1456L0.46967 2.14556C0.176777 1.85266 0.176777 1.37779 0.46967 1.0849Z' fill='#383838')

					.popup__body
						form(action="#", method="post").form-aside
							h2.form-aside__title Заявка на получение<br>каталога
							.form-aside__fields
								input#name(type="text", name="name", placeholder="ФИО", required)
								input#phone(type="tel", name="phone", placeholder="+7", required)
								input#email(type="email", name="email", placeholder="Email", required)
								input#company(type="text", name="company", placeholder="Название организации", required)
								input#address(type="text", name="address", placeholder="Адрес вашего объекта")
							button(type="submit").button.button-highlight.form-aside__button 
								span Отправить запрос
							.checkbox.form-aside__checkbox
								input#c_1(type="checkbox" value="1" name="form[]").checkbox__input
								label(for="c_1").checkbox__label 
									span 
										a(href="#", target="_blank").checkbox__text Согласие 
										| на обработку персональных данных

		#call-request(aria-hidden="true").popup
			.popup__wrapper
				.popup__content
					button(data-close type="button").popup__close 
						svg(xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewbox='0 0 21 22' fill='none')
							path(fill-rule='evenodd' clip-rule='evenodd' d='M0.469783 20.5303C0.17689 20.2374 0.17689 19.7626 0.469783 19.4697L19.4698 0.469669C19.7627 0.176776 20.2376 0.176775 20.5304 0.469669C20.8233 0.762562 20.8233 1.23744 20.5304 1.53033L1.53044 20.5303C1.23755 20.8232 0.762676 20.8232 0.469783 20.5303Z' fill='#383838')
							path(fill-rule='evenodd' clip-rule='evenodd' d='M0.46967 1.0849C0.762563 0.792002 1.23744 0.792002 1.53033 1.0849L20.5303 20.0849C20.8232 20.3778 20.8232 20.8527 20.5303 21.1456C20.2374 21.4385 19.7626 21.4384 19.4697 21.1456L0.46967 2.14556C0.176777 1.85266 0.176777 1.37779 0.46967 1.0849Z' fill='#383838')

					.popup__body
						form(action="#", method="post").form-aside
							h2.form-aside__title В течение суток вам<br>перезвонит менеджер,<br>чтобы помочь с выбором
							.form-aside__fields
								input#name(type="text", name="name", placeholder="Ваше имя", required)
								input#phone(type="tel", name="phone", placeholder="+7", required)
							button(type="submit").button.button-highlight.form-aside__button 
								span Отправить запрос
							.checkbox.form-aside__checkbox
								input#c_1(type="checkbox" value="1" name="form[]").checkbox__input
								label(for="c_1").checkbox__label 
									span 
										a(href="#", target="_blank").checkbox__text Согласие 
										| на обработку персональных данных


		script(src="js/app.min.js")
	