<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.scrollbar-hover
		.wrapper.wrapper__container
			include html/_header
			main.main-content.scroll
				include html/_breadcrumbs
				article.product-item 
					h1.product-item__title Спортивный комплекс
						span К1197
					span.product-item__price 27 500 000 р.
					//- .product-item__colors.colors-wrapper(data-da=".product-item__mob-colors, 768.98, first")
					//- 	span.colors-wrapper__title Возможные цвета
					//- 	ul.colors-wrapper__list 
					//- 		li 
					//- 			a(href="#", style="background-color:#3262ad")
					//- 		li.current 
					//- 			a(href="#", style="background-color:#eb3b2d")
					//- 		li 
					//- 			a(href="#", style="background-color:#df601b")
					//- 		li 
					//- 			a(href="#", style="background-color:#e9ef55")
					.item-grid__wrapper
						.product-item__grid.item-grid
							.item-grid__inner(data-popup="#image-popup")
								.item-grid__item.product-ibg_contain
									img(src='@img/product/k1197-1.png' loading="lazy", alt="k1197")
							.item-grid__inner(data-popup="#image-popup")
								.item-grid__item.product-ibg_contain
									img(src='@img/product/k1197-2.png' loading="lazy", alt="k1197")
							.item-grid__inner(data-popup="#image-popup")
								.item-grid__item.product-ibg_contain
									img(src='@img/product/k1197-3.png' loading="lazy", alt="k1197")
					.product-item__mob-colors
					.product-item__info.item-info
						.item-info__specifications
							h3.item-info__title Характеристики
							ul.item-info__list.info-list 
								li
									span.info-list__item Размеры
									span.info-list__value 6 500 x 5 340 x 3 500
								li
									span.info-list__item Зона безопасности
									span.info-list__value 9 500 x 8 340
								//- li
								//- 	span.info-list__item Комплектация
								//- 	span.info-list__value 1 шт
								li
									span.info-list__item Материалы
									span.info-list__value Металл, ПНД, нерж. сталь, HDPE
								li
									span.info-list__item Возраст
									span.info-list__value от 5 до 12 лет
								li
									span.info-list__item Тип
									span.info-list__value Спортивный объект
								li(data-da="ul.product-desc__links, 768.98, first") 
									a(href="files/k1197-scheme.pdf", download)
										span.info-list__item Скачать схему (DWG) 
										svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20' fill='none')
											path(fill-rule='evenodd' clip-rule='evenodd' d='M2.5 12C2.77614 12 3 12.2239 3 12.5V15.8333C3 16.1428 3.12292 16.4395 3.34171 16.6583C3.5605 16.8771 3.85725 17 4.16667 17H15.8333C16.1428 17 16.4395 16.8771 16.6583 16.6583C16.8771 16.4395 17 16.1428 17 15.8333V12.5C17 12.2239 17.2239 12 17.5 12C17.7761 12 18 12.2239 18 12.5V15.8333C18 16.408 17.7717 16.9591 17.3654 17.3654C16.9591 17.7717 16.408 18 15.8333 18H4.16667C3.59203 18 3.04093 17.7717 2.6346 17.3654C2.22827 16.9591 2 16.408 2 15.8333V12.5C2 12.2239 2.22386 12 2.5 12Z' fill='#4F4F4F')
											path(fill-rule='evenodd' clip-rule='evenodd' d='M5.47945 7.97982C5.67472 7.78456 5.9913 7.78456 6.18656 7.97982L9.99967 11.7929L13.8128 7.97982C14.0081 7.78456 14.3246 7.78456 14.5199 7.97982C14.7152 8.17508 14.7152 8.49167 14.5199 8.68693L10.3532 12.8536C10.158 13.0489 9.84138 13.0489 9.64612 12.8536L5.47945 8.68693C5.28419 8.49167 5.28419 8.17508 5.47945 7.97982Z' fill='#4F4F4F')
											path(fill-rule='evenodd' clip-rule='evenodd' d='M10 2C10.2761 2 10.5 2.22386 10.5 2.5V12.5C10.5 12.7761 10.2761 13 10 13C9.72386 13 9.5 12.7761 9.5 12.5V2.5C9.5 2.22386 9.72386 2 10 2Z' fill='#4F4F4F')
								li(data-da="ul.product-desc__links, 768.98, 2") 
									button(data-popup="#sharing-popup")
										span.info-list__item Поделиться ссылкой на схему
										svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20' fill='none')
											path(fill-rule='evenodd' clip-rule='evenodd' d='M11.263 2.72956C12.0669 1.93311 13.1464 1.49016 14.2695 1.50017C15.3926 1.51018 16.4643 1.97229 17.2545 2.78281C18.0443 3.59291 18.4902 4.68621 18.4999 5.82657C18.5095 6.96693 18.0823 8.06788 17.3064 8.8918L17.3004 8.89812L15.0398 11.2166C14.6078 11.6599 14.0871 12.0035 13.5126 12.2233C12.938 12.4431 12.3237 12.5338 11.7113 12.4888C11.099 12.4438 10.5038 12.2643 9.96622 11.9631C9.42867 11.6618 8.96159 11.2461 8.59606 10.7449C8.43334 10.5218 8.4823 10.209 8.70541 10.0463C8.92853 9.88361 9.2413 9.93257 9.40401 10.1557C9.6857 10.5419 10.0444 10.8605 10.4551 11.0907C10.8657 11.3208 11.3191 11.4573 11.7846 11.4915C12.25 11.5257 12.7174 11.4568 13.1553 11.2893C13.5931 11.1218 13.9918 10.8592 14.3237 10.5187L16.5813 8.20319C17.1762 7.56976 17.5074 6.71972 17.4999 5.83504C17.4924 4.94895 17.1458 4.10377 16.5385 3.4809C15.9316 2.85844 15.1133 2.50773 14.2606 2.50013C13.409 2.49254 12.5861 2.82769 11.9692 3.43754L10.6757 4.75649C10.4824 4.95364 10.1658 4.95673 9.96865 4.76338C9.77149 4.57003 9.7684 4.25347 9.96175 4.05631L11.263 2.72956Z' fill='#4F4F4F')
											path(fill-rule='evenodd' clip-rule='evenodd' d='M6.48744 7.77672C7.06199 7.5569 7.67637 7.46624 8.28872 7.51122C8.90105 7.5562 9.49622 7.7357 10.0338 8.03695C10.5714 8.33817 11.0384 8.75387 11.404 9.25508C11.5667 9.47819 11.5177 9.79097 11.2946 9.95368C11.0715 10.1164 10.7587 10.0674 10.596 9.84432C10.3143 9.45808 9.95567 9.13946 9.54497 8.90932C9.13432 8.6792 8.68091 8.54272 8.21546 8.50853C7.75002 8.47434 7.28262 8.54318 6.84478 8.7107C6.40689 8.87823 6.00826 9.14077 5.67634 9.48133L3.41879 11.7968C2.82381 12.4302 2.49263 13.2803 2.50012 14.165C2.50763 15.0511 2.85425 15.8962 3.46154 16.5191C4.06843 17.1416 4.88673 17.4923 5.73944 17.4999C6.59076 17.5075 7.41346 17.1725 8.03033 16.563L9.31576 15.2446C9.50853 15.0468 9.82509 15.0428 10.0228 15.2356C10.2205 15.4284 10.2245 15.7449 10.0318 15.9426L8.73714 17.2705C7.93314 18.0669 6.8536 18.5098 5.73053 18.4998C4.60747 18.4898 3.53578 18.0277 2.74554 17.2172C1.9557 16.4071 1.50982 15.3138 1.50016 14.1734C1.4905 13.0331 1.91777 11.9321 2.69363 11.1082L2.69959 11.1019L4.96021 8.78337C4.96019 8.78339 4.96023 8.78334 4.96021 8.78337C5.3922 8.34015 5.91295 7.99652 6.48744 7.77672Z' fill='#4F4F4F')



							.product-item__button
								button.button.button-highlight._with-icon 
									span Добавить в заказ 
										svg(xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewbox='0 0 27 27' fill='none')
											path(fill-rule='evenodd' clip-rule='evenodd' d='M0.5 13.2721C0.5 13.5482 0.723858 13.7721 1 13.7721H26C26.2761 13.7721 26.5 13.5482 26.5 13.2721C26.5 12.9959 26.2761 12.7721 26 12.7721H1C0.723858 12.7721 0.5 12.9959 0.5 13.2721Z' fill='#73A9A8')
											path(fill-rule='evenodd' clip-rule='evenodd' d='M13.728 26.5C14.0042 26.5 14.228 26.2761 14.228 26V1C14.228 0.723859 14.0042 0.500002 13.728 0.500002C13.4519 0.500002 13.228 0.723859 13.228 1V26C13.228 26.2761 13.4519 26.5 13.728 26.5Z' fill='#73A9A8')

						.item-info__scheme(data-da=".product-desc__scheme, 768.98, first", data-popup="#scheme-popup")
							img(src="@img/product/k1197-scheme.png", alt="scheme")
							//- a(href="files/k1197-scheme.pdf", download) Скачать схему (DVG)
							//- 	svg(width="9", height="12", viewBox="0 0 9 12", fill="none", xmlns="http://www.w3.org/2000/svg")
							//- 		path#Vector(fill-rule="evenodd", clip-rule="evenodd", d="M4.5 0C4.72593 0 4.90909 0.191878 4.90909 0.428571V7.53677L6.25618 6.12553C6.41594 5.95816 6.67497 5.95816 6.83473 6.12553C6.99449 6.29289 6.99449 6.56425 6.83473 6.73162L4.78927 8.87447C4.62951 9.04184 4.37049 9.04184 4.21073 8.87447L2.16527 6.73162C2.00551 6.56425 2.00551 6.29289 2.16527 6.12553C2.32503 5.95816 2.58406 5.95816 2.74382 6.12553L4.09091 7.53677V0.428571C4.09091 0.191878 4.27407 0 4.5 0ZM1.43182 4.28571C1.26907 4.28571 1.11299 4.35344 0.997912 4.474C0.882833 4.59456 0.818182 4.75808 0.818182 4.92857V10.5C0.818182 10.6705 0.882833 10.834 0.997912 10.9546C1.11299 11.0751 1.26907 11.1429 1.43182 11.1429H7.56818C7.73093 11.1429 7.88701 11.0751 8.00209 10.9546C8.11717 10.834 8.18182 10.6705 8.18182 10.5V4.92857C8.18182 4.75808 8.11717 4.59456 8.00209 4.474C7.88701 4.35344 7.73093 4.28571 7.56818 4.28571H6.54545C6.31952 4.28571 6.13636 4.09384 6.13636 3.85714C6.13636 3.62045 6.31952 3.42857 6.54545 3.42857H7.56818C7.94792 3.42857 8.31211 3.58661 8.58063 3.86791C8.84915 4.14922 9 4.53075 9 4.92857V10.5C9 10.8978 8.84915 11.2794 8.58063 11.5607C8.31211 11.842 7.94792 12 7.56818 12H1.43182C1.05208 12 0.687888 11.842 0.41937 11.5607C0.150852 11.2794 0 10.8978 0 10.5V4.92857C0 4.53075 0.150852 4.14922 0.41937 3.86791C0.687888 3.58661 1.05208 3.42857 1.43182 3.42857H2.45455C2.68048 3.42857 2.86364 3.62045 2.86364 3.85714C2.86364 4.09384 2.68048 4.28571 2.45455 4.28571H1.43182Z", fill="white")
					.product-item__slider.swiper
						.product-item__wrapper.swiper-wrapper
							.product-item__slide.swiper-slide(style="background-image: url(@img/product/k1197-photo-1.png)")
							.product-item__slide.swiper-slide(style="background-image: url(@img/product/k1197-photo-1.png)")
							.product-item__slide.swiper-slide(style="background-image: url(@img/product/k1197-photo-1.png)")
							.product-item__slide.swiper-slide(style="background-image: url(@img/product/k1197-photo-1.png)")
							.product-item__slide.swiper-slide(style="background-image: url(@img/product/k1197-photo-1.png)")
						//- .swiper-pagination
						.navigation
							svg.prev(width="53", height="53", viewBox="0 0 53 53", fill="none", xmlns="http://www.w3.org/2000/svg")
								g
									path#Vector(d="M29.2447 35.0947L38.0183 26.3211M38.0183 26.3211L29.2447 17.5475M38.0183 26.3211L14.6221 26.3211", stroke="white", stroke-width="1.69811", stroke-linecap="round", stroke-linejoin="round")
							svg.next(width="53", height="53", viewBox="0 0 53 53", fill="none", xmlns="http://www.w3.org/2000/svg")
								g
									path#Vector(d="M29.2447 35.0947L38.0183 26.3211M38.0183 26.3211L29.2447 17.5475M38.0183 26.3211L14.6221 26.3211", stroke="white", stroke-width="1.69811", stroke-linecap="round", stroke-linejoin="round")
					
					.product-item__bottom 
						.product-item__desc.product-desc 
							h3.product-desc__title Описание
							p.product-desc__text Crosbee предлагает широкий ассортимент игровых систем и элементов благоустройства городской среды. Каталог компании разнообразен и уникален, малые архитектурные формы представлены в категориях: унифицированные конструкции для детей широкой возрастной группы. 
								<br><br>
								| Комплексы для самых маленьких и требовательных, уличные спортивные тренажеры, элементы благоустройства дворовых территорий, а также специализированные решения для игровых парков.
							
							.product-desc__scheme
							ul.product-desc__links
								
					.product-item__recommendation 
						.products__header.products-header
							h2.products-header__title Игровые комплексы XL
							a.products-header__link(href=categoryLink)
								span Смотреть еще
								<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
									<path d="M4.5 9.5L7.5 6.5L4.5 3.5" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
						ul.products__list
							li.products__item.product
								a(href="product.html")
									.product__inner
										article.product__card.item-ibg_contain
											img(src=`@img/catalog/size-xl/item-1.png` loading="lazy", alt="product")
										.product__body.product-body
											h4.product-body__text K1012
											span.product-body__size 14 500 x 13 000 x 3 900
											span.product-body__price 27 500 000 р.
							li.products__item.product
								a(href="product.html")
									.product__inner
										article.product__card.item-ibg_contain
											img(src=`@img/catalog/size-xl/item-1.png` loading="lazy", alt="product")
										.product__body.product-body
											h4.product-body__text K1012
											span.product-body__size 14 500 x 13 000 x 3 900
											span.product-body__price 27 500 000 р.
							li.products__item.product
								a(href="product.html")
									.product__inner
										article.product__card.item-ibg_contain
											img(src=`@img/catalog/size-xl/item-1.png` loading="lazy", alt="product")
										.product__body.product-body
											h4.product-body__text K1012
											span.product-body__size 14 500 x 13 000 x 3 900
											span.product-body__price 27 500 000 р.
							li.products__item.product
								a(href="product.html")
									.product__inner
										article.product__card.item-ibg_contain
											img(src=`@img/catalog/size-xl/item-1.png` loading="lazy", alt="product")
										.product__body.product-body
											h4.product-body__text K1012
											span.product-body__size 14 500 x 13 000 x 3 900
											span.product-body__price 27 500 000 р.
							li.products__item.product
								a(href="product.html")
									.product__inner
										article.product__card.item-ibg_contain
											img(src=`@img/catalog/size-xl/item-1.png` loading="lazy", alt="product")
										.product__body.product-body
											h4.product-body__text K1012
											span.product-body__size 14 500 x 13 000 x 3 900
											span.product-body__price 27 500 000 р.
							li.products__item.product
								a(href="product.html")
									.product__inner
										article.product__card.item-ibg_contain
											img(src=`@img/catalog/size-xl/item-1.png` loading="lazy", alt="product")
										.product__body.product-body
											h4.product-body__text K1012
											span.product-body__size 14 500 x 13 000 x 3 900
											span.product-body__price 27 500 000 р.
							li.products__item.product
								a(href="product.html")
									.product__inner
										article.product__card.item-ibg_contain
											img(src=`@img/catalog/size-xl/item-1.png` loading="lazy", alt="product")
										.product__body.product-body
											h4.product-body__text K1012
											span.product-body__size 14 500 x 13 000 x 3 900
											span.product-body__price 27 500 000 р.
							li.products__item.product
								a(href="product.html")
									.product__inner
										article.product__card.item-ibg_contain
											img(src=`@img/catalog/size-xl/item-1.png` loading="lazy", alt="product")
										.product__body.product-body
											h4.product-body__text K1012
											span.product-body__size 14 500 x 13 000 x 3 900
											span.product-body__price 27 500 000 р.
							li.product._to-category(style=`background-image: url(@img/catalog/size-xl/poster-mobile.jpg)`)
								a(href="category.html")
									span Смотреть все
										svg(xmlns='http://www.w3.org/2000/svg' width='36' height='13' viewbox='0 0 36 13' fill='none')
											path(opacity='0.9' d='M35.5303 5.96967C35.8232 6.26256 35.8232 6.73744 35.5303 7.03033L30.7574 11.8033C30.4645 12.0962 29.9896 12.0962 29.6967 11.8033C29.4038 11.5104 29.4038 11.0355 29.6967 10.7426L33.9393 6.5L29.6967 2.25736C29.4038 1.96447 29.4038 1.48959 29.6967 1.1967C29.9896 0.903806 30.4645 0.903806 30.7574 1.1967L35.5303 5.96967ZM1 7.25C0.585786 7.25 0.25 6.91421 0.25 6.5C0.25 6.08579 0.585786 5.75 1 5.75V7.25ZM35 7.25H1V5.75H35V7.25Z' fill='#383838')
		
		include html/_footer
		include html/_popup

		script(src="js/app.min.js")