h1, h2, h3, h4, p, span, small, button, a, div {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

ol, ul {
	list-style: none;
}

h1 {
	max-width: rem(495);
	color: #333;
	font-size: rem(52);
	line-height: math.div(61, 52);
	font-weight: 500;
}

h2 {
	font-size: rem(40);
	line-height: math.div(47, 40);
	font-weight: 500;
}

h1, h2 {
	i {
		color: $highlightColor;
		font-style: normal;
	}
}

.policy {
	padding: rem(20) 0 rem(70);
	h2 {
		margin-bottom: rem(40);
	}
	p {
		font-size: rem(20);
		line-height: 1.45;
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
}

.poster {
	display: flex;
	align-items: center;
	padding: rem(52);
	width: 100%;
	height: rem(300);
	border-radius: rem(25);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	@media (max-width:$tablet){
		height: rem(164);
	}
	@media (max-width:$mobile){
		padding: rem(32) rem(16);
		height: rem(121);
	}

	&__title {
		max-width: rem(390);
		color: $addColorGreen;
		font-size: rem(40);
		line-height: math.div(49, 40);
		font-weight: 500;

		@media (max-width:$tablet){
			max-width: rem(265);
			font-size: rem(24);
			line-height: math.div(28, 24);
		}

		&._category {
			color: $textColor;
		}
	}
}

.filters {

	&__wrapper {
		display: flex;
		align-items: stretch;
		@media (max-width:1279.98px) {
			gap: rem(3);
		}

		.mob-filters-active & {
			justify-content: space-between;
		}
	}

	&__icon-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: rem(16) rem(20);
		min-width: rem(64);
		background-color: $addColorGreen;
		border-radius: rem(10);
		cursor: pointer;
		@media (min-width:1279.98px){
			display: none;
		}
		@media (max-width:$mobileSmall){
			padding: rem(16); 
		}
	}

	&__form {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 1 1 auto;
		padding: rem(7) rem(20);
		min-height: rem(64);
		background-color: $addColorGreen;
		border-radius: rem(10);
		@media (max-width:$mobile){
			padding: rem(2) rem(20); 
		}
		@media (max-width:$mobileSmall){
			max-width: calc(100% - rem(55));
		}

		.mob-filters-active & {
			@media (max-width:1279.98px) and (min-width:$mobile) {
				max-width: calc(100% - rem(403));
			}
			
		}
	}
	&__list {
		display: flex;
		gap: rem(54);
		flex: 1 1 auto;

		.search-active & {
			display: none;
		}
		@media (max-width:1279.98px){
			display: none;
		}
		li {
			flex: 1 1 calc((100% - rem(40)) /4);
		}
	}
	&__search {
	}
	
}

.mobile-filters {
	position: relative;
	display: none;
	margin-top: rem(-64);
	padding: rem(16) rem(20) rem(20);
	border-radius: rem(15);
	color: $textColor;
	background-color: #F5FAF9;
	font-size: rem(18);
	line-height: math.div(22, 18);
	// box-shadow: 0 0 5px 3px #eee;
	// transform: translateX(-150%);
	transition: height 0.3s ease;
	z-index: 2;
	@media (min-width:1279.98px){
		display: none;
	}
	@media (min-width:$mobile){
		max-width: rem(400);
	}

	&.active {
		@media (max-width:1279.98px) {
			display: block;
		}
		
		// transform: translateX(0);
	}

	&__title {
		display: flex;
		align-items: center;
		gap: rem(19);
		padding: rem(5) 0 rem(19);
		// div {
		// 	display: flex;
		// 	align-items: center;
		// 	cursor: pointer;
		// }

	}
	&__filter {
		display: flex;
		padding: rem(24.5) 0;
		// border-top: rem(1) solid #C6DBDA;
		&:last-child{
			
		}
	}
	&__btn {
		margin-top: rem(25);
	}
}

// search

.search {
	flex: 0 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: rem(10);
	padding: rem(9) rem(0) rem(9) rem(20);
	background-color: transparent;
	border-radius: rem(12);
	cursor: pointer;
	transition: background-color 0.3s ease;

	.breadcrumb & {
		flex: 1 1 auto;
	}

	

	.search-active & {
		padding-left: 0;
		flex: 1 1 auto;
	}

	@media (max-width:1279.98px){
		flex: 1 1 auto;
		padding-left: 0;
	}
	// &.active {
		
	// 	background-color: #fff;
	// }
	svg {
		path {
			transition: 0.3s ease fill;
		}

	}
	@media (any-hover: hover){
		&:hover{
			svg path {
				fill: $highlightColor;
			}
		}
	}
	&__input {
		flex: 1 1 auto;
		padding-left: rem(23);
		background-color: transparent;
		font-size: rem(20);
		font-weight: 500;
		line-height: 145%;
		// border-left: rem(1) solid #4f4f4f;
		outline: none;
		.search-active & {
			display: flex;
			padding-left: 0;
		}
		&::placeholder {
			color: #C4D3D0;
		}
		@media (min-width:1279.98px){
			display: none; 
		}
		@media (max-width:1279.98px){
			padding-left: 0;
		}
		@media (max-width:$mobileSmall){
			width: calc(100% - rem(125));
		}
		.breadcrumb & {
			@media (min-width:1279.98px){
				display: flex; 
			}
		}
	}

	// &.active {
	// 	.search__input {
	// 		display: flex;
	// 		flex: 1 1 auto;
	// 	}
	// }
}

.paggination {
	display: flex;
	justify-content: center;
	margin-bottom: rem(150);
	width: 100%;
	&__list {
		display: flex;
		justify-content: rem(8);

	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(40);
		height: rem(40);
		border-radius: 50%;
		background-color: transparent;
		transition: all 0.3s ease;
		cursor: pointer;
		&.active {
			color: #ffffff;
			background-color: $highlightColor;
			@media (any-hover: hover){
				&:hover{
					color: #ffffff;
				}
			}
		}
		@media (any-hover: hover){
			&:hover{
				color: $highlightColor;
			}
		}
	}
}

.colors-list {
	display: flex;
	gap: rem(5);
	align-self: flex-end;
	margin-bottom: rem(23);
	@media (max-width:$tablet) {
		display: none;
	}
	li {
		width: rem(14);
		height: rem(14);
		border-radius: 50%;
		transition: 0.3s ease transform;
		@media (any-hover: hover){
			&:hover{
				transform: scale(1.2);
			}
		}
	}
}

.page-bottom {
	display: flex;
	justify-content: center;
	margin-bottom: rem(80);
	width: 100%;

	@media (max-width:$tablet){
		display: none;
	}
}

.colors-wrapper {
	display: flex;
	align-items: center;
	gap: rem(30);
	&__title {
		font-size: rem(20);
		font-weight: 500;
		line-height: 1.45;
		@media (max-width:$mobile){
			font-size: rem(16); 
		}
	}
	&__list {
		display: flex;
		align-items: center;
		gap: rem(9);
	}
	li {
		a {
			position: relative;
			display: inline-block;
			width: rem(30);
			height: rem(30);
			border-radius: 50%;
			transition: 0.3s ease transform;
			&::after{
				content:'';
				position: absolute;
				top: rem(-3);
				left: rem(-3);
				width: calc(100% + rem(6));
				height: calc(100% + rem(6));
				border: rem(2) solid transparent;
				border-radius: 50%;
				transition: 0.3s ease border-color;
			}
		}
		&.current {
			a {
				&::after{
					border-color: $highlightColor;
				}
			}
		}

		&:not(.current) {
			@media (any-hover: hover){
				&:hover{
					a {
						transform: scale(1.2);
					}
				}
			}
		}
	}
}

// slider

.swiper {
	border-radius: rem(25);
	overflow: hidden;
	@media (max-width:$mobileSmall){
		border-radius: 0;
		margin: 0 rem(-20);
		width: calc(100% + rem(40))!important;

	}
	&-slide {
		width: 100%;
		aspect-ratio: 1280 / 620;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		@media (max-width:$mobileSmall){
			aspect-ratio: unset;
			height: rem(360);
		}
	}
}

// end slider

// site loader

.loader {
	position: fixed;
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
	background-color: $bgColor;
	overflow: hidden;
	z-index: 9;
}

.loader__icon div {
	position: absolute;
	animation: loader 1s linear infinite;
	width: 160px;
	height: 160px;
	top: 20px;
	left: 20px;
	border-radius: 50%;
	box-shadow: 0 4px 0 0 #849496;
	transform-origin: 80px 82px;
}

.loader__spinner {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: #ffffff;
}
.loader__icon {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.loader__icon div { 
	box-sizing: content-box; 
}

// end site loader

.button-link {
	display: flex;
	align-items: center;
	gap: rem(10);
	color: #333;
	font-size: rem(14);
	font-weight: 500;
}

.scrollbar-hover {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 10px;
	background-color: transparent;
	opacity: 0.5;
}

body.scrollbar-zoom::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}

.sharing-list {
	display: flex;
	gap: rem(15);
	margin-bottom: rem(30);
	// background-color: red;

	&__item {
		a {
			display: flex;
		}

		svg {
			path {
				transition: 0.3s ease fill;
			}
		}

		@media (any-hover: hover){
			&:hover{
				svg {
					path {
						fill: $highlightColor;
					}
				}
			}
		}
	}

	&__img {
		padding: 0;
	}

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rem(12) rem(15);
		min-width: 100%;
		color: $highlightColor;
		background-color: $addColorGreen;
		font-size: rem(18);
		font-weight: 500;
		border-radius: rem(10);
		cursor: pointer;
	}
}

.about-hero {
	position: relative;
	margin-bottom: rem(100);

	&__body {
		margin-bottom: rem(160);
		padding: rem(88) rem(41);
		border-radius: rem(25);
		background-color: $addColorGreen;
	}

	h1 {
		max-width: rem(625);
		font-size: rem(40);
	}

	&__img {
		position: absolute;
		top: rem(40);
		right: 0;
		max-width: percent(772, 1280);
	}

	&__text {
		max-width: 50%;
		p {
			font-size: rem(20);
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}
}

.about-points {
	margin-bottom: rem(100);

	&__title {
		margin-bottom: rem(30);
		font-size: rem(40);
	}

	&__list {
		display: flex;
		gap: rem(10);
	}

	.item-points {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: rem(55) rem(20);
		width: calc((100% - rem(20) / 3));
		min-height: rem(550);
		background-color: $addColorGreen;
		border-radius: rem(15);

		&:first-child{
			background-image: url(../img/about/item-1.png);
		}

		&:nth-child(2){
			background-image: url(../img/about/item-2.png);
		}

		&:nth-child(3){
			background-image: url(../img/about/item-3.png);
		}

		&._highlight {
			background-color: $highlightColor;
			
			h3 {
				margin-bottom: rem(26);
				color: #F8FAFE;
			}

			p {
				color: #F8FAFE;
			}
		}

		&__count {
			display: inline-block;
			margin-bottom: rem(89);
			color: #8AA4B1;
			font-size: rem(96);
			font-weight: 250;

			&._small {
				margin-bottom: rem(0);
				color: $textColor;
				font-size: rem(18);
				font-weight: 500;
			}
		}

		&__title {
			// margin-bottom: rem(118);
			font-size: rem(34);
			font-weight: 500;
		}

		&__text {
			font-size: rem(20);
		}
	}

	&__text {
		margin-bottom: rem(100);
		max-width: 50%;
		font-size: rem(20);

		p {
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}
}

.about-description  {
	margin-bottom: rem(20);

	&__body {
		margin-bottom: rem(40);

		h2 {
			margin-bottom: rem(30);
		}
	}

	&__text {
		max-width: rem(688);
		font-size: rem(20);

		p {
			line-height: 1.45;
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}

	&__img	{
		margin-bottom: rem(100);
		width: 100%;
		max-height: rem(602);

		img {
			width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}
}

.case-hero {

	&__body {
		display: flex;
		align-items: center;
		margin-bottom: rem(100);
		padding: rem(52);
		min-height: rem(300);
		background-image: url(../img/case/hero-bg.png);
		background-position: center;
		background-size: cover;
		border-radius: rem(25);
		h2 {
			color: #fff;
			font-size: rem(40);
		}
	}

	&__text {
		margin-bottom: rem(100);
		max-width: 50%;
		font-size: rem(20);
	}

	&__list {
		margin-bottom: rem(100);
	}
}
