.footer {
	background-color: $highlightColor;
	&__container {
		padding: rem(99) rem(15) rem(63);
		@media (max-width:$tablet){
			padding: rem(85) rem(20) rem(89);
		}
	}

	&__contacts {
		display: none;
		flex-direction: column;
		margin-bottom: rem(87);
		@media (max-width:$tablet){
			display: flex;
		}
		a {
			display: flex;
			justify-content: space-between;
			padding: rem(20) 0;
			color: #f2f2f2;
			border-bottom: rem(1) solid $addColorGreen;
			font-size: rem(22);
		}
	}

	&-top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: rem(40);
		padding-bottom: rem(89);
		border-bottom: rem(1) solid $addColorGreen;
		@media (max-width:$tablet){
			margin-bottom: 0;
			padding-bottom: rem(41);
		}

		&__text {
			font-size: rem(40);
			line-height: math.div(49, 40);
			font-weight: 500;
			color: #ffffff;

			@media (max-width:$tablet){
				display: flex;
				flex-direction: column;
				gap: rem(16);
				color: #73A9A8;
				font-size: rem(36);
				line-height: math.div(44, 36);
			}
		}

		&__btns {
			display: flex;
			gap: rem(20);
			padding: rem(12) 0;
			@media (max-width:$tablet){
				display: none;
			}
		}
	}

	&-center {
		display: flex;
		justify-content: space-between;
		gap: rem(16);
		color: #ffffff;
		@media (min-width:$tablet){
			margin-bottom: rem(111);  
		}

		&__wrapper {
			display: flex;
			flex: 1 1 auto;
			@media (max-width:$tablet){
				display: none;
			}
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: rem(16);
			

			li {
				font-size: rem(14);
				line-height: math.div(16, 14);
				font-weight: 500;

				@media (any-hover: hover){
					&:hover{
						a {
							opacity: 0.5;
						}
					}
				}

				a {
					transition: opacity ease 0.3s;
				}
			}
		}

	}

	&-bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@media (max-width:$tablet){
			display: none;
		}
		&__contacts {
			display: flex;
			flex-direction: column;
			gap: rem(24);
			color: #ffffff;
			font-size: rem(40);
			line-height: math.div(49, 40);
			font-weight: 500;
			a {
				cursor: pointer;
				transition: 0.3s ease opacity;
				@media (any-hover: hover){
					&:hover{
						opacity: 0.5;
					}
				}
			}
		}
	}

	&-menu {
		flex: 0 1 rem(290);
		&:last-child{
		}

		&__title {
			// margin-left: 0;
			margin-bottom: rem(16);
			font-size: rem(18);
			line-height: math.div(22, 18);
			font-weight: 600;
		}
	}

	&-nav {
		@media (min-width:$tablet){
			flex: 0 1 rem(180);  
		}
		ul {
			gap: rem(24);
			@media (max-width:$tablet){
				gap: rem(20);
			}
			h4 {
				font-size: rem(18);
				line-height: math.div(22, 18);
				font-weight: 600;
				cursor: pointer;
				transition: 0.3s ease opacity;
				@media (any-hover: hover){
					&:hover{
						opacity: 0.5;
					}
				}
				@media (max-width:$tablet){
					color: #73A9A8;
					font-size: rem(16);
					line-height: math.div(18, 16);
				}
			}
		}

	}
}
