.landing-how {
	display: flex;
	justify-content: space-between;
	margin-bottom: rem(107);
	// padding: rem(54) 0;
	&__content {
		flex: 0 0 percent(620, 1280);
		h2 {
			margin-bottom: rem(40);
		}
		p {
			font-size: rem(20);
			line-height: 1.45;
			font-weight: 500;
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}

	&__img {
		flex: 0 0 percent(417, 1280);
		max-height: rem(540);
		border-radius: rem(25);
		background-color: #e0e0e0;
	}

	&__text {
		margin-bottom: rem(50);
	}

	&__link.products-header__link {
		padding: rem(10) 0;
	}
}