.landing-hero {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: rem(510) rem(193);
	grid-auto-rows: auto;
	gap: rem(20);
	margin-bottom: rem(200);

	h1 {
		color: #fff;
	}
	
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: #e0e0e0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: rem(25.5);

		a {
			display: flex;
			align-items: center;
			gap: rem(10);
			background-color: #fff;
			font-weight: 500;
		}

		&._big {
			grid-column: 1 / 4;
			align-items: flex-start;
			padding: rem(61) rem(52);

			a {
				padding: rem(20) rem(30);
				color: #fff;
				background-color: transparent;
				font-size: rem(20);
				font-weight: 500;
				border: rem(1) solid currentColor;
				border-radius: rem(20);
			}
		}

		&._small {
			position: relative;
			justify-content: space-between;
			align-items: flex-start;
			gap: rem(15);
			padding: rem(30) rem(30) rem(23);
			background-color: #F5FAF9;

			&::before{
				content: "";
				position: absolute;
				bottom: -30%;
				right: -5%;
				width: 65%;
				height: 100%;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}

			&:nth-child(2) {
				&::before{
					background-image: url(../img/landing/poster-item-1.png);
				}
			}

			&:nth-child(3) {
				&::before{
					background-image: url(../img/landing/poster-item-2.png);
				}
			}

			&:nth-child(4) {
				&::before{
					background-image: url(../img/landing/poster-item-3.png);
				}
			}

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: rem(10) rem(15);
				background-color: transparent;
				border: rem(2) solid $textColor;
				border-radius: rem(30);
				font-size: rem(14);
			}

			p {
				max-width: rem(200);
			}
		}
	}
}