section#calculator.calculator
    .calculator__container 
        h2.section-title.calculator__title Цены и тарифы
        .calculator__body
            form(action="#", method="post").calculator__price.price-calculator
                .price-calculator__field
                    input#compQuantity.price-calculator__input(type="number", name="quantity", min="0", max="99" placeholder="Компьютерное оборудование")
                    span.price-calculator__text Компьютеры, ноутбуки, моноблоки, тонкие клиенты, пользователи
                .price-calculator__field
                    input#serverQuantity.price-calculator__input(type="number", name="quantity", min="0", max="300" placeholder="Серверное оборудование")
                    span.price-calculator__text Физические и виртуальные серверы, службы или сервисы
                .price-calculator__field
                    input#techQuantity.price-calculator__input(type="number", name="quantity", min="0", max="999" placeholder="Оргтехника и сетевое оборудование")
                    span.price-calculator__text Принтеры, сканеры, копиры, маршрутизаторы, коммутаторы
                .price-calculator__field
                    input#branchQuantity.price-calculator__input(type="number", name="quantity", min="0", max="999" placeholder="Количество филиалов")
                    span.price-calculator__text Филиалы в Москве и Московской области
                .price-calculator__field
                    select#MaintenanceMode.price-calculator__select
                        option(value='8x5') 8x5
                        option(value='12x7') 12x7
                        option(value='24x7') 24x7
                    span.price-calculator__text Режим IT-обслуживания
                    
                
                button#inputSubmit(type="submit").button._standart.price-calculator__button Рассчитать

            p.calculator__text
                | Минимальная стоимость комплексного обслуживания IT&#8209;инфраструктуры 
                | составляет 12&nbsp;000 рублей. Если у&nbsp;вас&nbsp;сложная ИТ&#8209;инфраструктура 
                | или&nbsp;вы&nbsp;хотите указать дополнительные сведения — отправьте запрос 
                | на&nbsp;консультацию, так&nbsp;как в&nbsp;данном случае на&nbsp;цену влияют и&nbsp;другие 
                | факторы, которые не&nbsp;учтены в&nbsp;калькуляторе расчета. 
                | Наши сотрудники оперативно ответят вам в&nbsp;течение рабочего 
                | дня с&nbsp;9 &nbsp;тра до&nbsp;7&nbsp;вечера по&nbsp;Москве.

        .separator.separator__our-way

    #plans.plans__container
        h2.section-title._with-text.plans__title Выберите тариф
        p.section-subtitle.plans__text 
            | Мы предлагаем 3 тарифа, с&nbsp;различными 
            | условиями IT&#8209;обслуживания, временем 
            | реагирования и,&nbsp;соотвественно, стоимостью.
        .plans__body.grid-plans
            .grid-plans__services
                .grid-plans__header
                ul.grid-plans__points
                    li.grid-plans__point Количество выездов
                    li.grid-plans__point Гарантированное время прибытия инженера
                    li.grid-plans__point Гарантированное время реакции на заявку
                    li.grid-plans__point Аудит ИТ-инфраструктуры в подарок
                    li.grid-plans__point Поддержка рабочих мест
                    li.grid-plans__point Обслуживание оргтехники
                    li.grid-plans__point Обслуживание телефонии
                    li.grid-plans__point Администрирование доступа в Интернет
                    li.grid-plans__point Администрирование электронной почты
                    li.grid-plans__point Поддержка серверов Windows
                    li.grid-plans__point Поддержка сетевого оборудования
                    li.grid-plans__point Резервное копирование и восстановление
                    li.grid-plans__point Формирование отчётов из Service Desk
                    li.grid-plans__point Мониторинг серверного и сетевого оборудования
                    li.grid-plans__point Обеспечение функционирования СУБД
                    li.grid-plans__point Администрирование гипервизора и виртуализации
                    li.grid-plans__point Обслуживание IP АТС
                    li.grid-plans__point Поддержка серверов Unix
                    li.grid-plans__point Поддержка сетевого оборудования уровня Enterprise
                    li.grid-plans__point Поддержка систем хранения данных
                    li.grid-plans__point Доступ к Service Desk 
                .grid-plans__bottom 
            .grid-plans__body
                form(action="#", method="post").grid-plans__plan.plan
                    .plan__header
                        h4.plan__title Стандартный
                        span.plan__price 18694 руб.
                    ul.plan__list 
                        li.plan__item неограниченно
                        li.plan__item 2 часа
                        li.plan__item 15 минут
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item -
                        li.plan__item -
                        li.plan__item -
                        li.plan__item -
                        li.plan__item -
                        li.plan__item -
                        li.plan__item -
                    button(type="submit").button.plan__button  Отправить заявку 
                
                form(action="#", method="post").grid-plans__plan.plan
                    .plan__header
                        h4.plan__title Эффективный
                        span.plan__price 22747 руб.
                    ul.plan__list 
                        li.plan__item неограниченно
                        li.plan__item 2 часа
                        li.plan__item 15 минут
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item -
                        li.plan__item -
                        li.plan__item -
                        li.plan__item -
                    button(type="submit").button.plan__button Отправить заявку 
               
                form(action="#", method="post").grid-plans__plan.plan
                    .plan__header
                        h4.plan__title Максимальный
                        span.plan__price 26954 руб.
                    ul.plan__list 
                        li.plan__item неограниченно
                        li.plan__item 2 часа
                        li.plan__item 15 минут
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                        li.plan__item +
                    button(type="submit").button.plan__button Отправить заявку 
                    
