h1, h2, h3, h4, p, span, small, button, a, div {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

ol, ul {
	list-style: none;
}

input {
	border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.input-field {
	position: relative;
	&:not(:last-child) {
		margin-bottom: rem(16);
	}
	
	input {
		position: relative;
		padding: rem(14) rem(40) rem(14) rem(14);
		background-color: transparent;
		border-radius: rem(8);
		outline: none;
		z-index: 1;
	}
	label {
		position: absolute;
		top: 50%;
		left: 14px;
		padding: rem(2);
		color: #B8B9BA;
		background-color: #fff;
		font-size: rem(14);
		line-height: math.div(16, 14);
		transform: translateY(-50%);
		z-index: 0;
		transition: 0.3s ease all;
	}

	.input-icon {
		position: absolute;
		top: 50%;
		right: rem(14);
		display: flex;
		padding: rem(3);
		transform: translateY(-50%);
		z-index: 3;
		cursor: pointer;
	}

	input:focus {
		border-color: $highlightColor;
	}

	input:focus ~ label, input.used ~ label {
		top: 1px;
		left: 29px;
		/* font-size: 14px; */
		color: $highlightColor;
		font-size: rem(12);
		z-index: 1;
	}
}

main {
	background-color: $bgColor;

	&._white{
		background-color: #fff;
	}
}

.popup-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	&__avatar {
		position: relative;
		align-self: flex-end;
		margin-bottom: rem(33);
		width: rem(90);
		height: rem(90);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 50%;
		cursor: pointer;

		label {
			position: absolute;
			right: -15%;
			bottom: -5%;
			display: flex;
			justify-content: center;
			align-items: center;
			width: rem(38);
			height: rem(38);
			background-color: #fff;
			border-radius: 50%;
			filter: drop-shadow(0px 3px 9px rgba(0, 0, 0, 0.07));
			cursor: pointer;
		}

		input[type="file"] {
			display: none;
			visibility: hidden;
			opacity: 0;
		}
	}

	&__inputs {
		margin-bottom: rem(34);
		input {
			border-color: #B8B9BA;
		}
	}

	&__button {
		width: 100%;
	}
}

.options {
	display: flex;
	justify-content: flex-start;
	gap: rem(40);
	align-self: flex-start;
	padding: rem(12) rem(30);
	min-height: rem(56);
	background-color: #fff;
	border-radius: rem(4);

	&__label, &__icon {

		._selected & {
			display: none;
		}
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		gap: rem(4);
		cursor: pointer;

		svg {
			transform: rotate(180deg);
			transition: 0.3s ease transform;
			path {
				transition: 0.3s ease stroke;
			}
		}

		&._active {
			svg {
				transform: rotate(0);
				path {
					stroke: $highlightColor;
				}
			} 
		}
	}

	&__inner {
		position: absolute;
		top: rem(58);
		left: rem(-30);
		display: none;
		z-index: 2;

		.options__item._active & {
			display: block;
		}
	}

	&-inner {
		border-radius: rem(4);
		box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.19);
		&__list {
			display: flex;
			flex-direction: column;
			// gap: rem(8);
			padding: rem(12) rem(8);
			width: rem(220);
			// max-width: 100%;
			max-height: rem(316);
			background-color: #fff;
			border-radius: rem(4);
			overflow: hidden auto;

			li {
				padding: rem(8) 0;
				font-size: rem(14);
				line-height: math.div(16, 14);
				font-variation-settings: "wght" 500;
				transition: 0.3s opacity ease;
				cursor: pointer;

				@media (any-hover: hover){
					&:hover{
						opacity: 0.5;
					}
				}
			}
		}

		&::after{
			content: url(../img/triangle.svg);
			position: absolute;
			top: rem(-15);
			left: rem(15);
		}
	}

	&__button {
		display: none;
		align-items: center;
		gap: rem(8);
		padding: rem(6) rem(8) rem(6) rem(12);
		color: $highlightColor;
		border: 1px solid $highlightColor;
		border-radius: rem(4);

		._selected & {
			display: flex;
		}

		span {
			display: flex;
		}
	}
}

table {
	border-collapse: collapse;
    border-spacing: 0;
}

.table {
	margin-bottom: 20px;
	padding: 0 rem(6);
	width: 100%;
	border: none;
	background-color: #fff;
	
}
.table thead th {
	padding: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
	color: #A2A2A2;
	border-top: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;

	@media (max-width:$mobile){
		 &:not(._only-mobile) {
			display: none;
		 }
	}

	span {
		display: flex;
		align-items: center;
		gap: rem(3);

		svg {
			transition: 0.3s ease transform;

			path {
				transition: 0.3s ease fill;
			}
		}
	}

	&._active {

		svg {
			transform: rotate(180deg);

			path {
				fill: $highlightColor;
			}
		}
	}
}
.table tbody tr {
	transition: 0.3s ease background-color;
	cursor: pointer;
	@media (any-hover: hover){
		&:hover{
			background-color: #EFEFEF;
		}
	}
}
.table tbody td {
	padding: 16px 10px;
	font-size: 14px;
	line-height: 20px;
	color: #525252;
	border-top: 1px solid #EFEFEF;

		@media (max-width:$mobile){
			&:not(._only-mobile) {
				display: none;
			}
		}

	&.td-name {
		color: #1d1d1d;
		font-variation-settings: "wght" 600;
	}

	&.td-status {
		color: $highlightColor;
	}

	&.td-price {
		span {
			display: flex;
			align-items: center;
			justify-content: space-between;

			svg {
				cursor: pointer;

				path {
					transition: 0.3s ease fill;
				}

				@media (any-hover: hover){
					&:hover{
						path {
							fill: #1d1d1d
						}
					}
				}
			}
		}
	}

	&.td-description {
		font-size: rem(12);
		line-height: math.div(14, 12);
	}

	&.td-count {
		svg {
			path {
				transition: 0.3s ease fill;
			}
		}

		._changed {
			svg {
				path {
					fill: $highlightColor;
				}
			}
		}
	}

	&.confirmed {
		color: #008C1F;
	}

	.icon-more {
		position: relative;

		.more-list {
			position: absolute;
			top: rem(25);
			right: rem(10);
			padding: rem(8) 0;
			background-color: #fff;
			border-radius: rem(4);
			filter: drop-shadow(0px 3px 9px rgba(0, 0, 0, 0.07));
			z-index: 3;

			li {
				padding: rem(8) rem(16);
				color: #1d1d1d;
				letter-spacing: 0.5px;
			}

		}
	}

	.td-count__inner {
		display: flex;
		align-items: center;
		gap: rem(6);

		input {
			padding: rem(10);
			width: rem(66);
			font-size: rem(14);
			text-align: center;
			border: 1px solid ;
			border-radius: rem(4);
		}
	}
	
}

.table tfoot td {
	padding: 16px 10px;
	color: #6A6868;
	border-top: 1px solid #EFEFEF;
	font-size: rem(16);
	line-height: math.div(19, 16);
	font-variation-settings: "wght" 500;
}

._hidden {
	display: none;
}

button {
	&._with-icon {
		display: flex;
		align-items: center;
		gap: rem(4);
		span {
			color: #A2A2A2;
			transition: 0.3s ease color;
		}


		&._active, &._tab-active {
			span {
				color: $highlightColor
			}
			svg {
				transform: rotate(180deg);
				path {
					fill: $highlightColor;
				}
			}
		}

		svg {
			transition: 0.3s ease transform;
			path {
				transition: 0.3s ease fill;
			}
		}

		@media (any-hover: hover){
			&:hover{
				span {
					color: #1d1d1d;
				}

				svg {
					path {
						fill: #1d1d1d
					}
				}
			}
		}
	}
}

select {
	padding: rem(12);
	color: #525252;
	border: 1px solid #B8B9BA;
	border-radius: rem(2);
	font-size: rem(14);
	line-height: math.div(16, 14);
}

.tabs-body {
	padding: rem(12);

	&__title {
		margin-bottom: rem(16);
		font-variation-settings: "wght" 500;
	}

	&__form {
		display: flex;
		align-items: center;
		gap: rem(14);
		width: 100%;

		select {
			// position: relative;
			flex:  1 1 auto;
			 -moz-appearance: none;
 			-webkit-appearance: none;
 			appearance: none;
			background-image: url(../img/arrow-down.svg);
			background-repeat: no-repeat;
			background-position: right .7em top 50%, 0 0;
			background-size: rem(12) auto, 100%; 

			// &::before{
			// 	content: url(../img/arrow-down.svg);
			// 	position: absolute;
			// 	top: 50%;
			// 	right: rem(-12);
			// 	width: rem(14);
			// 	height: rem(14);
			// 	transform: translateY(-50%);
			// 	background-color: red;
			// 	z-index: 9999;
			// }
		}

		input {
			padding: rem(12);
			width: rem(76);
			color: #525252;
			border: 1px solid #B8B9BA;
			font-size: rem(14);
			border-radius: rem(4);
			text-align: center;
		}

		button {
			padding: rem(12) rem(48);
			color: $highlightColor;
			border: 1px solid currentColor;
			border-radius: rem(4);
			font-variation-settings: "wght" 500;
			font-size: rem(14);
			cursor: pointer;
		}
	}
}

._mb43 {
	margin-bottom: rem(43);
}

._mb22 {
	margin-bottom: rem(22);
}