.specific {
    flex: 1 1 auto;
    padding: rem(26) 0;
    height: 100%;
    background-color: $bgColor;

    &.no-specific {
        display: none;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @media (max-width:$mobile){
             padding: 0; 
        }
    }

    &-header {
        display: flex;
        flex-direction: column;
        gap: rem(16);
        margin-bottom: rem(28);
        min-width: 100%;

        @media (max-width:$mobile){
              
        }

        &__options {
            display: none;

            &._active {
                display: flex;
            }
        }

        &__top {
            display: flex;
            align-items: center;
            gap: rem(19);
            min-width: 100%;

            @media (max-width:$mobile){
                 flex-wrap: wrap; 
            }

            &-wrapper {
                width: 100%;
                display: flex;
                // justify-content: space-between;
                align-items: center;
                gap: rem(20);
            }
        }

        &__button {
            display: flex;
            align-items: center;
            gap: rem(8);
            padding: rem(9) rem(29);
            background-color: #fff;
            border-radius: rem(4);
            line-height: math.div(19, 16);
            font-weight: 500;
            transition: 0.3s ease all;
            cursor: pointer;

            &._disabled {
                color: #fff;
                background-color: #D5D5D5;
                pointer-events: none;
                svg {
                    opacity: 0;
                }
            }

            &._active {
                color: $highlightColor;

                svg {
                    transform: rotate(180deg);

                    path {
                        fill: $highlightColor;
                    }
                }
            }

            svg {
                transform: rotate(0deg);
                transition: 0.3s ease transform;

                path {
                    transition: 0.3s ease fill;
                }
            }
        }

        &__add {
            flex: 0 0 auto;

            @media (max-width:$mobile){
                padding: rem(6) rem(12);
                font-size: rem(14);
            }
        }
    }

    &-body {
        display: none;
        padding: 0 rem(6);
        background-color: #fff;

        &._active {
            display: block;
        }
    }
}

.header-search {
    display: flex;
    align-items: center;
    border: 1px solid $highlightColor;
    border-radius: rem(4);
    width: 100%;
    max-width: rem(526);

    &__input {
        flex: 1 1 rem(480);
        padding: rem(10);
        // width: 480px;
        background-color: transparent;
        font-size: rem(14);
        border-radius: 0;
        outline: none;

        &::placeholder {
            color: #b8b9ba;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        min-width: rem(44);
        background-color: $highlightColor;
        border-radius: rem(4) 0 0 rem(4);
    }
}

.specific-add {
    display: none;

    &._active {
        display: block;
    }

    &__options {
        margin: rem(32) 0;
        padding: rem(8);
        background-color: #fff;
    }
}

.options-add {
    margin-bottom: rem(32);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.03);

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(30);
        padding: rem(9) rem(12);
    }

    &__button {
        display: flex;
        align-items: center;
        gap: rem(4);
        @media (max-width:$mobileSmall){
            span {
              text-align: left;   
            }
             
        }
    }

    &__links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: rem(25);

        @media (max-width:$mobileSmall){
             justify-content: flex-end;
             gap: rem(5);
        }

    }

    &__link {
        display: flex;
        align-items: center;
        gap: rem(6);
        padding: rem(11) rem(17);
        transition: 0.3s ease opacity;

        @media (max-width:$mobile){
            border: 1px solid $highlightColor;
            border-radius: rem(4);
            min-height: 36px;
        }

        @media (max-width:$mobileSmall){
             width: rem(50);
             justify-content: center;
        }

        span {
            color: $highlightColor;
            font-size: rem(14);
            font-variation-settings: "wght" 500;
            @media (max-width:$mobile){
                 display: none; 
            }
        }

        @media (any-hover: hover){
            &:hover{
                opacity: 0.5;
            }
        }
    }
}

.options-tabs {
    border-top: 1px solid #efefef;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(12);
        gap: rem(20);

        @media (max-width:$mobile){
             flex-wrap: wrap 
        }
    }

    &__title {
        color: #525252;
        @media (max-width:$mobile){
             margin-bottom: rem(12); 
        }
    }

    &__navigation {
        @media (max-width:$mobile){
             flex-direction: column;
        }
    }
}

.inputs-group {
    display: flex;
    align-items: center;
    gap: rem(92);

    &._small {
        gap: rem(25);

        .inputs-field {
            flex: 0 0 auto;
            gap: rem(12);
        }

        input {
            flex: 0 0 rem(56);
            width: rem(56);
        }
    }
}

.inputs-field {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(17);
    max-width: rem(358);

    &._with-textarea {
        max-width: rem(564);
    }

    span {
        color: #525252;
    }

    &>div {
        display: flex;
        gap: rem(25);
        max-width: rem(200);

        input {
            width: calc(50% - 13px);
        }
    }

    input, textarea {
        flex: 1 1 auto;
        border: 1px solid #B8B9BA;
        padding: rem(5);
        border-radius: rem(4);
        max-width: rem(200);
    }

    input {
        &::placeholder {
            color: #B8B9BA;
        }
    }

    textarea {
        max-width: rem(408);
        resize: none;
    }
}

.body-add {
    display: none;
    padding: rem(12);

    &._active {
        display: block;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: rem(20);
    }

    &__title {
        margin-bottom: rem(20);
        color: #444;
        font-size: rem(16);
        font-variation-settings: "wght" 500;
    }

    &__button {
        align-self: flex-start;
        margin-bottom: rem(8);
        padding: rem(12) rem(17);
        color: $highlightColor;
        border: 1px solid currentColor;
        border-radius: rem(8);
        font-size: rem(14);
        transition: 0.3s ease all;
        cursor: pointer;

        &._disabled {
            color: #fff;
            background-color: #AFAFAF;
            pointer-events: none;
        }
    }
}

.content-add {
    padding: rem(12);
    background-color: #fff;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.03);

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(13) 0 rem(20) 0;
        border-bottom: 1px solid #EFEFEF;

        @media (max-width:$tablet){
            flex-wrap: wrap;
        }
    }

    &__form {
        display: flex;
        align-items: center;
        gap: rem(12);
        @media (max-width:$mobile){
             flex-wrap: wrap; 
        }
    }

    &__title {
        color: #525252;
        @media (max-width:$tablet){
            margin-bottom: rem(12);
        }
    }

    &__input {
        padding: rem(11) rem(17);
        width: rem(309);
        font-size: rem(14);
        border: 1px solid #B8B9BA;
        border-radius: rem(4);
        &::placeholder {
            color: #B8B9BA;
        }

        @media (max-width:$tablet){
            width: auto;
        }
    }

    &__button {
        padding: rem(11) rem(17);
        color: $highlightColor;
        font-size: rem(14);
        font-variation-settings: "wght" 500;
        border: 1px solid currentColor;
        border-radius: rem(4);
    }
}