<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.wrapper
			include html/_header
			main.main 
				//- include html/_hero
				//- include html/_about
				//- include html/_author
				//- include html/_what
				//- include html/_e-book
				//- include html/_book
			include html/_footer
		//- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
		script(src="js/app.min.js")
	