<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.wrapper
			include html/_header
			main.main
				include html/docs/_personal-data
			include html/_footer
			include html/_menu
			include html/_mobile-catalog
			include html/_popup
		script(src="https://rawgit.com/RobinHerbots/Inputmask/5.0.3/dist/inputmask.min.js")
		script(src="js/app.min.js")