<!DOCTYPE html>
html(lang="ru")
    include html/_head
    body
        .wrapper
            include html/_header
            main.main
                include html/docs/_vacancy
                .section__container
                    include html/_newsletter
            include html/_footer
            include html/_menu
            include html/_mobile-catalog
            include html/_mobile-menu
            include html/_popup
        script(src="https://raw.githubusercontent.com/Paymushkin/Paymushkin.github.io/refs/heads/master/moleculab/src/js/libs/inputmask.js")
        script(src="js/app.min.js")