.about {
	position: relative;
	background-color: #fff;

	&::after{
		content:url(../img/feedback/snowflake-right.png);
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
	}

	&::before{
		content:url(../img/feedback/snowflake-left.png);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	&__container {
		
	}

	&__title {
	}

	&__body {
		position: relative;
		display: flex;
		gap: rem(63);
		z-index: 2;
	}
}

.body-about {

	&__img {
		
	}

	&__title {
		margin-bottom: rem(10);
		padding-top: rem(20);
		color: $textColorHighlight;
		font-family: "Azkia", sans-serif;
		font-size: rem(60);
		line-height: math.div(93, 60);
		letter-spacing: rem(3);
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(10);
		margin-bottom: rem(83);
		padding-left: rem(45);

		li {
			position: relative;
			color: $textColor;
			font-size: rem(17);
			line-height: 1.5;

			&::before{
				content: url(../img/check.svg);
				position: absolute;
				left: rem(-34);

			}
		}
	}
}