.first {
	position: relative;
	padding: rem(100);
	min-height: rem(880);
	background-color: #fff;
	background-image: url(../img/first/bg-2.png);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;

	@media (max-width:$mobile){
		padding: 0 0 rem(50);
		min-height: rem(702);
		background-image: url(../img/first/bg-mob.png);
		background: 100%;
	}

	// &::after{
	// 	content:url(../img/first/cloud-top.png);
	// 	position: absolute;
	// 	top: -200px;
	// 	left: 0;
	// 	right: 0;
	// 	width: 100%;
	// }

	// &::before{
	// 	content:url(../img/first/cloud-bottom.png);
	// 	position: absolute;
	// 	bottom: -160px;
	// 	left: 0;
	// 	right: 0;
	// 	width: 100%;
	// }

	&__container {
		display: flex;
		gap: rem(130);
		justify-content: center;

		@media (max-width:$mobile){
			flex-direction: column;
			align-items: center;
			gap: rem(30);
		}
	}

	&__title {
		// padding-left: 20%;
		width: auto;
		text-align: left;
		text-transform: uppercase;

		@media (max-width:$mobile){
			 text-align: center;
			 z-index: 2;
		}
	}

	&__form {
		position: relative;
		padding: rem(50) rem(40) rem(50) rem(60);
		width: rem(400);
		border-radius: 15px;
		background: #F7F7F7;
		box-shadow: 0px 34px 94px 0px #D8E4F3;
		
		@media (max-width:$mobile){
			 max-width: rem(320);
			 box-shadow: 0 0 200px 13px #D8E4F3; 
		}

		@media (max-width:$mobile){
			 padding: rem(30) rem(10); 
		}

		&::before{
			content: url(../img/first/person.png);
			position: absolute;
			top: -3%;
			left: -70%;

			@media (max-width:$mobile){
				display: none; 
			}
		}
	}
}

.form-first {

	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		margin-bottom: rem(20);
		font-size: rem(16);
		font-weight: 700;
		text-align: center;

		@media (max-width:$mobile){
			font-size: rem(13); 
		}
	}

	&__radio {
		margin-bottom: rem(40);
	}

	.form-field {
		display: flex;
		align-items: center;
		gap: rem(20);
		margin-bottom: rem(30);
		padding: rem(20) rem(30);
		border-radius: rem(10);
		color: #3E3E3E;
		background-color: #fff;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20) inset;
		input {
			padding: rem(5) 0;
			font-size: rem(13);
			outline: none;

			&::placeholder {
				color: #3E3E3E;
				opacity: 0.6;
			}
		}
	}

	.form-button {
		@media (max-width:$mobile){
			margin: 0 auto;
			align-self: center; 
		}
	}
}