.footer {
	position: relative;
	padding: rem(80) 0 rem(160);
	background-color: #fff;
	
	@media (max-width:$mobile){
		 padding: 0 0 rem(80); 
	}

	&::after{
		content:url(../img/footer/showflakes-left.png);
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
	}

	&::before{
		content:url(../img/footer/showflakes-right.png);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	&__container {

	}

	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: rem(90) rem(35) rem(130);
		background-color: $bgColor;
		border-radius: rem(40);
		z-index: 2;

		@media (max-width:$mobile){
			padding: rem(30) rem(24) rem(100); 
	   }

		&::before{
			content:url(../img/footer/decor.png);
			position: absolute;
			top: rem(-71);
			left: 50%;
			transform: translateX(-50%);

			@media (max-width:$mobile){
				 display: none; 
			}
		}
	}

	&__title {
		margin-bottom: rem(20);

		@media (max-width:$mobile){
			 margin-bottom: rem(30); 
		}
	}

	&__text {
		margin-bottom: rem(40);
		text-align: center;
		line-height: 1.5;

		@media (max-width:$mobile){
			margin-bottom: rem(30);
			font-size: rem(12); 
		}
	}

	&__name {
		margin-bottom: rem(50);
		font-size: rem(22);

		@media (max-width:$mobile){
			font-size: rem(12);
			text-align: center; 
			font-weight: 700;
		}
	}

	&__contacts {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: rem(20);
		// margin-bottom: rem(60);
		max-width: rem(550);

		@media (max-width:$mobile){
			flex-direction: column; 
		}

		li {
			width: calc(50% - rem(10));

			@media (max-width:$mobile){
				width: 100%; 
			}

			a {
				display: flex;
				align-items: center;
				gap: rem(22);
				font-size: rem(18);
				font-weight: 700;

				@media (max-width:$mobile){
					gap: rem(14);
					font-size: rem(12);
				}

				svg {
					@media (max-width:$mobile){
						max-width: rem(16); 
					}
				}
			}
		}
	}

	&__button {
		position: absolute;
		bottom: rem(-45);
		// transform: translateY(rem(120));
		@media (max-width:$mobile){
			 bottom: rem(-35); 
		}
	}

}