.header {
	padding: rem(40) rem(19);
	background-image: url(../img/hero/bg-3.png);
	background-position: top center;
	background-size: cover;

	@media (max-width:$mobileSmall){
		padding: rem(20) rem(10) rem(72);
		background-image: url(../img/hero/bg-2-mob2.png);  
	}

	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
		align-items: flex-start;
		gap: rem(48);
		min-height: rem(712);
		// @media (max-width:$mac){
		// 	padding-top: rem(20);
		// 	padding-bottom: rem(20);
		// }
		// @media (max-width:$mobile){
		// 	padding-top: rem(15);
		// 	padding-bottom: rem(15);
		// }
		@media (max-width:$mobileSmall){
			justify-content: flex-start;
			gap: rem(5);
			min-height: calc(100vh - rem(35));
			min-height: calc(100svh - rem(35));
			height: rem(640);
		}
	}

	&__menu {
		display: flex;
		gap: rem(163);
		width: 100%;
	}

	&__body {
		display: flex;
		flex-direction: column;
	}

	&__title {
		align-self: center;
		color: $textColor;
		font-family: "Le-murmure";
		font-size: rem(69);
		letter-spacing: rem(2);
		text-transform: uppercase;

		@media (max-width:$mobileSmall){
			max-width: rem(265);
			font-size: rem(42);
			text-align: center; 
		}
	}

	&__subtitle {
		margin-top: rem(-22);
		color: $textColorHighlight;
		font-family: "Azkia", sans-serif;
		font-size: rem(80);
		line-height: math.div(126,80);
		letter-spacing: rem(4);
		font-weight: 400;

		@media (max-width:$mobileSmall){
			margin-top: rem(-10);
			font-size: rem(42);
			text-align: center; 
		}
	}

	&__content {
		margin-bottom: rem(70);
	}

	&__text {
		display: flex;
		gap: rem(15);
		margin-bottom: rem(25);

		&:not(:last-child) {
			margin-bottom: rem(25);

			@media (max-width:$mobileSmall){
				margin-bottom: rem(10); 
			}
		}
		svg {
			transform: translateY(5px);
		}
		p {
			max-width: rem(468);
			font-size: rem(17);
			line-height: 1.5;
			@media (max-width:$mobileSmall){
				font-size: rem(12); 
			}
		}
	}

	&__button {
		align-self: flex-start;

		@media (max-width:$mobileSmall){
			 position: absolute; 
			 bottom: rem(0);
			 left: 50%;
			 transform: translateX(-50%);
		}
	}

	.nav-list {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: rem(20);

		@media (max-width:$mobileSmall){
			flex: 1 1 60%;
			flex-direction: column;
			justify-content: flex-start;
			padding: rem(100) rem(42) rem(20);
			max-width: 60%;
			background-color: #fff;
		}

		li {
			font-weight: 700;

			a {
				position: relative;
				color: $textColorHighlight;
				line-height: math.div(23, 15);

				@media (max-width:$mobileSmall){
					 font-size: rem(12); 
				}

				&::after{
					content:'';
					position: absolute;
					left: 0;
					bottom: rem(-5);
					width: 100%;
					height: rem(1);
					background-color: $textColorHighlight;
					border-radius: rem(3);
				}
			}
		}
	}

	.contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: rem(12);

		@media (max-width:$mobileSmall){
			display: none; 
		}
		a 	{
			color: $textColorHighlight;
			font-size: rem(20);
			font-weight: 700;
		}

		button {
			position: relative;
			color: #8D97A6;
			font-size: rem(13);

			&::after{
				content:'';
				position: absolute;
				bottom: rem(-6);
				left: 0;
				width: 100%;
				height: rem(1);
				background-color: currentColor;
			}
		}
		
	}


	.menu {
		display: flex;
		justify-content: space-between;
		width: 100%;
		@media (min-width:$mobileSmall){
			 display: none; 
		}

		&__wrapper {
			padding: rem(12);
			width: rem(43);
			height: rem(43);
			background-color: #fff;
			border-radius: rem(5);
		}
		// .menu__body
		&__body {
			display: flex;
			// flex-direction: column;
			// justify-content: flex-end;
			// align-items: flex-start;
			position: fixed;
			top: 0;
			left: -100%;
			// padding: rem(38) rem(57);
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.40);
			z-index: 4;
			transition: 0.3s left ease;

			.menu-open & {
				left: 0;
			}
			.header__list {
				order: 2;
				display: flex;
				flex-direction: column;
				gap: rem(21);
				margin-bottom: rem(45);

				@media (max-width:$mac){
					gap: rem(15);
					margin-bottom: rem(30);
				}

				&-item {
					transition: 0.3s all ease;
					&::before{
						content:'';
						position: absolute;
						bottom: rem(-3);
						left: 0;
						width: rem(38);
						height: rem(2);
						background-color: currentColor;
						transform: scaleX(0);
						transition: transform 0.3s ease;
					}
					@media (any-hover: hover){
						&:hover {
							span, button {
								font-weight: 700;
							}
							
							&::before{
								transform: scaleX(1);
							}
						}
					}
					&:active, &:focus {
						font-weight: 700;
						&::before{
							transform: scaleX(1);
						}
					}
					&.mobile {
						@media (min-width:$mobile){
							display: none; 
						}
					}
					&.desktop {
						@media (max-width:$mobile){
							 display: none; 
						}
					}
				}

				li, button {
					position: relative;
					font-size: rem(22);
					font-weight: 300;
					@media (max-width:$mac){
						font-size: rem(16);
					}
				}
			}
		}

		.menu-wa {
			position: absolute;
			left: rem(42);
			bottom: rem(60);
		}
	}
	// Burger ================================================
	.icon-menu {
		display: block;
		position: relative;
		flex: 0 0 19px;
		width: 19px;
		height: 18px;
		cursor: pointer;
		z-index: 10;

		// @media (max-width:$mac){
		// 	width: rem(30);
		// 	height: rem(20);
		// }
		span,
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: rem(2);
			background-color: $textColorHighlight;
			border-radius: rem(10);
			transition: all 0.3s ease 0s;

		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
			width: 40%;
		}
		span {
			top: calc(50% - 1px);
			width: 60%;
			@media (max-width:$mac){
				// top: calc(50% - 2px);
			}
			// width: 75%;
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				top: calc(50% - 1px);
				transform: rotate(-45deg);
				width: 100%;
			}
			&::after {
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
				width: 100%;
			}
		}
		
	}

}