.programs  {
	position: relative;
	padding-top: rem(80);
	background-color: #fff;

	&::after{
		content:url(../img/feedback/snowflake-right.png);
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
	}

	&::before{
		content:url(../img/feedback/snowflake-left.png);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	&__container {

	}

	&__body {
		position: relative;
		padding: rem(90) rem(35) rem(77);
		background-color: $bgColor;
		border-radius: rem(40);
		z-index: 2;

		@media (max-width:$mobileSmall){
			padding: 0 rem(10);
			background-color: transparent;
		}

		&::before{
			content:url(../img/programs/decor.png);
			position: absolute;
			top: rem(-71);
			left: 50%;
			transform: translateX(-50%);

			@media (max-width:$mobileSmall){
				 display: none; 
			}
		}
	}

	&__title {
		margin-bottom: rem(50);
		text-transform: uppercase;

		@media (max-width:$mobileSmall){
			 margin-bottom: rem(30); 
		}
	}

}

.programs__wrapper {
	@media (max-width:$mobileSmall){
		padding-bottom: rem(50); 
	}
}

.programs-slide {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: rem(40) rem(6) rem(60);
	background-color: #fff;
	border-radius: rem(15);
	transition: 0.3s transform ease-in-out;

	@media (min-width:$mobileSmall){
		opacity: 0.7;
		transform: scale(percent(30,39)); 
	}

	@media (max-width:$mobileSmall){
		padding: rem(24) rem(15) rem(44);
		background-color: #E2EAF4;
		overflow-y: visible;
	}

	// &._slide {

	// 	&_1 {
	// 		.programs-slide__img {
	// 			background-image: url(../img/programs/program-1-1.png);
	// 			animation: slideShow-1 8s ease-in-out infinite  alternate-reverse;
	// 		}
					
	// 	}

	// 	&_2 {
	// 		.programs-slide__img {
	// 			background-image: url(../img/programs/program-2-1.png);
	// 			animation: slideShow-2 8s ease-in-out infinite  alternate-reverse;
	// 		}
			
	// 	}

	// 	&_3 {
	// 		.programs-slide__img {
	// 			background-image: url(../img/programs/program-3-1.png);
	// 			animation: slideShow-3 8s ease-in-out infinite  alternate-reverse;
	// 		}
			
	// 	}

	// 	&_4 {
	// 		.programs-slide__img {
	// 			background-image: url(../img/programs/program-4-1.png);
	// 			animation: slideShow-4 8s ease-in-out infinite alternate-reverse;
	// 		}
			
	// 	}
	// }

	&__title {
		margin-bottom: rem(15);
		color: $textColorHighlight;
		font-size: rem(20);
		font-weight: 700;
		line-height: 1.5;
		text-align: center;
		text-transform: uppercase;

		font-size: rem(14);
	}

	&__text {
		margin-bottom: rem(23);
		font-size: rem(10);
		text-align: center;
		
		@media (max-width:$mobileSmall){
			font-size: rem(9);
			line-height: 1.3;
		}
	}

	&__img {
		position: relative;
		margin-bottom: rem(40);
		width: rem(280);
		height: rem(185);
		overflow: hidden;
		

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;

			&.image-1{
				opacity: 1;
				animation: slideShow-1 20s infinite 0s forwards;
			}

			&.image-2 {
				opacity: 1;
				animation: slideShow-2 20s infinite 0s  forwards;
			}
			&.image-3 {
				opacity: 1;
				animation: slideShow-3 20s infinite 0s forwards;
			}
			&.image-4 {
				opacity: 1;
				animation: slideShow-4 20s infinite 0s  forwards;
			}
		}
		// background-position: center;
		// background-repeat: no-repeat;
		// background-size: cover;
		// will-change: contents;
		// animation-play-state: running;

		@media (max-width:$mobileSmall){
			 margin-bottom: rem(24); 
		}
	}

	&__price {
		margin-bottom: rem(20);
		color: $textColorHighlight;
		font-size: rem(23);
		font-weight: 700;
		line-height: 1.5;
		text-transform: uppercase;

		@media (max-width:$mobileSmall){
			margin-bottom: 0;
			font-size: rem(16); 
		}
	}

	&__button {
		padding: rem(22);
		width: rem(280);
		height: rem(60);

		@media (max-width:$mobileSmall){
			position: absolute;
			bottom: rem(-35);
		}
	}

	&.swiper-slide-next {

		@media (min-width:$mobileSmall){
			opacity: 1;
			transform: scale(1.01); 
		}
	}
}

.programs__navigation {
	.prev, .next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		svg {
			@media (max-width:$mobileSmall){
				width: rem(10);
				height: rem(18); 
			}
		}
	}

	.prev {
		left: 0;

		@media (max-width:$mobileSmall){
			 left: rem(4) 
		}
	}
	.next {
		right: 0;

		@media (max-width:$mobileSmall){
			right: rem(4) 
	   }
	}
}
