.qa {
	padding-bottom: rem(100);

	@media (max-width:$mobile){
		padding-bottom: rem(50); 
	}


	&__container {
		display: flex;
		justify-content: space-between;
		// flex-direction: column;
		align-items: flex-start;
		width: 100%;
		background-image: url(../img/qa/bg.png);
		background-repeat: no-repeat;
		background-position: -30% -10%;

		@media (max-width:$mobile){
			flex-direction: column;
			gap: rem(34);
		}
	}

	&__title {
		text-align: left;
		text-transform: uppercase;

		@media (max-width:$mobile){
			text-align: center;
		}
	}

	&__accordion {
		position: relative;
		display: flex;
		flex-direction: column;
		// margin: 0 auto;
		padding: 0 0 0 rem(70);
		width: 100%;
		// max-width: rem(900);
		// background-color: #fff;
		border-radius: rem(30);

		@media (max-width:$mobile){
			padding: 0 0 0 rem(50);
			max-width: calc(100% - rem(50));
		}

	}

	.accordion {

		&__details {
			padding: rem(20) 0;
			// border-bottom: rem(1) solid $mainColor;
			outline: none;
			cursor: pointer;
			transition: all .3s ease;
			// &:not(:first-child) {
			// 	margin-top: rem(28);
			// }
			@media (max-width:$mobile){
				padding: rem(15) 0 
			}
			@media (max-width:$mobile){
				padding: rem(10) 0;  
			}
			summary {
				display: flex;
				align-items: center;
				// padding-top: rem(28);
				// height: rem(40);
				color: $mainColor;
				font-size: rem(18);
				line-height: math.div(31, 20);
				font-weight: 700;
				outline: none;
				transition: all .3s ease;

				@media (max-width:$mobile){
					 font-size: rem(12); 
				}
			}
			p, ul {
				padding: rem(10) 0 0 0;
				color: rgba(62, 62, 62, 0.80);
				font-size: rem(14);
				line-height: 1.5;
				transition:all .3s ease;

				@media (max-width:$mobile){
					 font-size: rem(12); 
				}
			}

			ul {
				display: flex;
				flex-direction: column;
				gap: rem(1);
				padding-left: rem(20);
				

				li {
					position: relative;
					line-height: 1.5;

					&::before{
						content:'';
						position: absolute;
						top: rem(7);
						left: rem(-13);
						width: rem(4);
						height: rem(4);
						border-radius: 50%;
						background-color: rgba(62, 62, 62, 0.80);
					}
				}
			}
			&[open] {
				&:not(:first-child) {
					// margin-top: rem(10);
				}
				summary {
					// height: auto;
					// padding-bottom: rem(10);
				}
				p {
					animation: appear 0.3s ease;
				}
			}
		}
	}
}