@use "sass:math";

// Подключение миксинов ================================================================
@import "base/mixins";

// Подключение шрифтов =================================================================
// добавить флаг &display=swap при подключении через google fonts
// @import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap);

// Подключение локальных шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов========================================================
// Подключить если есть файл иконочного шрифта


// Шрифт по умолчанию
$fontFamily: "Heliosext", sans-serif;
$fontSize: rem(15); // где 14px - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #3E3E3E; // Цвет шрифта по умолчанию
$textColorHighlight: #326BB1; // Цвет фона
$highlightColor: #D5BC9F; // Цвет акцентов
// $decorColor: #849496; 
// $decorColor2: #96B2BA;
// $addColor: #e8e8e8;
// $addColorGreen: #f5faf9;
$textColor: #3E3E3E;
$bgColor: #E2EAF4;
$gradient: linear-gradient(259deg, #D5BC9F -22.18%, #E3D0B7 48.17%, #D5BC9F 91.62%);
 
// Настройки ===========================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контайнера (0 = нет ограничения)
$maxWidthContainer: 1160;
// Общий отступ у контейнера
// 30 = по 15px слева и справа, 0 = нет отступа
$containerPadding: 40;
// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейк-поинтов)
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбука, некоторые планшеты в гор. положении
$mac: em(1440.98);
$tablet: em(1079.98); // Планшеты, некоторые телефоны в гор.положении
$mobile: em(768.98); // Телефоны L 
$mobileSmall: em(576.98); // Телефоны S 

// Обнуление и общие параметры
@import "base/null";

// кастомный скроллбар

*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	transition: all 0.3s ease;
}

*::-webkit-scrollbar-track {
	background: $bgColor;        /* цвет дорожки */	
}
*::-webkit-scrollbar-thumb {
	background-color: $mainColor;    /* цвет плашки */
	border-radius: 20px;       /* закругления плашки */
	border: 1px solid $bgColor; 
}

*::-webkit-scrollbar:horizontal {
	height: 0;
	width: 0;
	display: none;
  }
  
*::-webkit-scrollbar-thumb:horizontal {
	display: none;
}

html {
	// overflow-x:hidden; 
	overscroll-behavior: none;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

body {
	// overflow-y: scroll;
	scroll-behavior: auto;
	// background-color: $bgColor;
	font-feature-settings: "pnum" on, "lnum" on;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	max-width: $maxWidth;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 0 auto;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничения контейнера ================================================

// (i) Стили будут применяться ко 
// всем классамм содержащим *__container
// Например, header__container, main__container
// Снипет (HTML): cnt

@if ($responsiveType == 1) {
    // Отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer > 0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding > 0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
} @else {
    // По брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer > 0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding > 0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
		@media (max-width: $mac) {
            max-width: rem(1024);
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(768);
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding > 0 and $maxWidthContainer > 0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";
@import "base/forms/radio";
@import "base/forms/select";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "about";
@import "programs";
@import "why";
@import "first";
@import "feedback";
@import "qa";
@import "footer";
@import "animation";
@import "base/swiper";

// Подключение стилей отдельных страниц
// @import "animation";

// @import "libs/tippy"; 
// @import "base/swiper"; 