svg(xmlns='http://www.w3.org/2000/svg' width='16' height='11' viewbox='0 0 16 11' fill='none')
  path(d='M15.5 6.90906C15.5 6.0959 14.8278 5.22513 13.4332 4.52784C12.0686 3.84552 10.1483 3.40906 8 3.40906C5.85165 3.40906 3.93141 3.84552 2.56675 4.52784C1.17219 5.22513 0.5 6.0959 0.5 6.90906C0.5 7.72221 1.17219 8.59299 2.56675 9.29027C3.93141 9.9726 5.85165 10.4091 8 10.4091C10.1483 10.4091 12.0686 9.9726 13.4332 9.29027C14.8278 8.59299 15.5 7.72221 15.5 6.90906Z' stroke='#242A30')
  circle(cx='2.54545' cy='2.54545' r='2.54545' transform='matrix(1 0 0 -1 5.81818 9.45459)' fill='#242A30')
  line(x1='8.22729' y1='2.90906' x2='8.22729' y2='-3.33786e-05' stroke='black')
  line(x1='12.7373' y1='3.88522' x2='14.7944' y2='1.82818' stroke='black')
  line(x1='3.88528' y1='3.86515' x2='1.82824' y2='1.80811' stroke='black')