* {
	box-sizing: border-box;
}
body, html, ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
ul.paparazzi-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease;
  list-style: none;
}
ul.paparazzi-grid li {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
ul.paparazzi-grid li .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease;
}
ul.paparazzi-grid li .content {
  position: absolute;
  bottom: 0;
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
ul.paparazzi-grid li .content img {
  max-width: 40%;
  border-radius: 20px;
}
@media (max-width: 1179px) {
  ul.paparazzi-grid li .content img {
    border-radius: 10px;
  }
}
ul.paparazzi-grid li .content h2 {
  color: #fff;
  font-size: 4rem;
  line-height: 1.25;
}
@media (max-width: 1179px) {
  ul.paparazzi-grid li .content h2 {
    font-size: 2rem;
  }
}
ul.paparazzi-grid li.active {
  z-index: 0;
  grid-row: 1/3;
}
ul.paparazzi-grid li.active .img {
  animation: zoom 4.5s ease-in-out infinite alternate-reverse;
}
ul.paparazzi-grid li.active .content {
  visibility: visible;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}