.chat {
	display: flex;
	flex-direction: column;
	padding: 0 rem(19);
	max-height: calc(100vh - rem(148));
	overflow: hidden;

	@media (max-width:$tablet){
		max-height: calc(100vh - rem(79));
		max-height: calc(100dvh - rem(79));
	}

	&__container {
		width: 100%;
		@media (max-width:$mobile){
			padding: 0; 
		}
	}

	&-header {
		flex: 0 0 auto;
		padding: rem(30) 0;
		border-bottom: rem(1)solid $mainColor;

		@media (max-width:$tablet){
			padding: rem(20) 0;
		}
		@media (max-width:$mobile){
			padding: rem(10) 0;
		}

		&__profile {
			display: flex;
			align-items: center;
			gap: rem(37);
		}

		&__avatar {
			width: rem(48);
			height: rem(48);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;

			@media (max-width:$tablet){
				width: rem(30);
				height: rem(30);
			}
		}

		&__name {
			font-weight: 700;

			@media (max-width:$tablet){
				font-size: rem(16);
			}
		}

	}

	&-history {
		display: flex;
		flex-direction: column;
		gap: rem(18);
		max-height: 100%;
		padding-top: rem(28);
		overflow: auto;

		&__wrapper {
			flex: 1 1 auto;
			overflow: auto;
		}

	}

	.message {
		display: flex;
		align-items: flex-end;
		gap: rem(37);
		max-width: 80%;

		@media (max-width:$tablet){
			gap: rem(15);
			font-size: rem(16);
		}

		@media (max-width:$mobile){
			gap: rem(10);
			font-size: rem(12); 
		}

		&.my-message {
			flex-direction: row-reverse;
			align-self: flex-end;

			.message__text {
				color: $mainColor;
				background-color: $bgColor;
				text-align: right;
			}
		}

		&__message {
			
		}

		&__avatar {
			flex: 0 0 auto;
			width: rem(48);
			height: rem(48);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;

			@media (max-width:$tablet){
				width: rem(30);
				height: rem(30);
			}
		}

		&__text {
			display: block;
			padding: rem(10) rem(20);
			color: $textColor;
			background-color: $bgColorHighlight;
			border-radius: rem(25);
			border: 1px solid $mainColor;

			@media (max-width:$tablet){
				border-radius: rem(15);
			}
			@media (max-width:$mobile){
				padding: rem(5) rem(10); 
			}
		}
	}

	&-footer {
		display: flex;
		flex: 0 0 auto;
		padding: rem(20) 0 rem(81);
		width: 100%;

		@media (max-width:$tablet){
			padding-bottom: rem(40);
		}

		&__form {
			display: flex;
			align-items: center;
			gap: rem(36);
			flex: 1 1 auto;
			width: 100%;

			@media (max-width:$tablet){
				gap: rem(14);
			}
		}

		&__textarea {
			flex: 1 1 auto;
			padding: rem(25) rem(100);
			background-color: #D9D9D9;
			border-radius: rem(25);
			resize: none;

			@media (max-width:$tablet){
				padding: rem(14) rem(22);
				font-size: rem(16);
				border: 1px solid $mainColor;
			}

			&::placeholder {
				
				color: rgba(19, 34, 55, 0.60);
			}
		}

		&__button {
			img {
				height: rem(23);
			}
		}
	}
}