h1, h2, h3, h4, p, span, small, button, a, div {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

ol, ul {
	list-style: none;
}

h1 {
	color: $textColor;
	font-size: rem(78);
	// @include adaptiveValue("font-size", 78, 24, 1920, 320, 1);
	font-weight: 700;
	line-height: 110%;
	@media (max-width:$tablet){
		font-size: rem(32);
	}
}

h2 {
	padding: rem(60) rem(75);
	color: $textColor;
	font-size: rem(46);
	line-height: 1.3;
	font-weight: 700;

	@media (max-width:$tablet){
		padding: rem(30) 0;
		font-size: rem(32);
		font-weight: 400;
	}

	@media (max-width:$mobile){
		font-size: rem(30); 
	}

	&.document__title {
		padding-left: 0;
		// margin-bottom: rem(73);
		width: 100%;
		font-weight: 400;
		text-align: left;
		color: $mainColor;
		text-transform: uppercase;
	}
}

h3 {
	font-size: rem(32);
	// @include adaptiveValue("font-size", 32, 22, 1920, 656, 1);
	line-height: math.div(38, 32);
	font-weight: 600;
	@media (max-width:$tablet){
		font-size: rem(16);
	}
}

h4 {
	// @include adaptiveValue("font-size", 22, 22, 1920, 656, 1);
	font-weight: 700;
	@media (max-width:$tablet){
		font-size: rem(16);
	}
}

p {
	line-height: 1.5;

	&.document__text {
		@media (max-width:$mobile){
			 font-size: rem(12); 
		}
	}
}

section {
	&.document {
		// padding: rem(65) 0;
	}
}

.form-field {
	width: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

details {
	position: relative;
}

details summary::-webkit-details-marker {
	display: none
}

details > summary {
	list-style: none;
	padding-right: rem(32);
}

details summary:before {
	content: url(../img/arrow.svg);
	position: absolute;
	left: rem(-70);
	width: rem(40);
	height: rem(40);
	transition: 0.3s ease transform;

	@media (max-width:$mobile){
		left: rem(-50);
		transform: scale(0.75);
		// max-width: rem(30);
		// max-height: rem(30); 
	}
}

details[open] summary:before {
	transform: rotate(-90deg);
	@media (max-width:$mobile){
		transform: rotate(-90deg) scale(0.75);
	}
}

.separator {
	width: 100%;
	height: rem(18);
	background-color: $bgColorHighlight;
}

.grid-item {
	display: flex;
	@media (min-width:$tablet){
		min-height: rem(589); 
	}
	@media (max-width:$mobile){
		flex-direction: column;
	}
	&:nth-child(even){
		flex-direction: row-reverse;

		@media (max-width:$mobile){
			flex-direction: column;
		}

		.grid-item__content {
			@media (min-width:$mobile){
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				text-align: right;
			}
		}
	}
	&:last-child {

		@media (max-width:$mobile){
			.grid-item__content {
				border-bottom: none;
			}
		}
		
	}

	// @media (max-width:$mobile){
	// 	flex-direction: column;
	// 	width: 100%;
	// }

	&__img {
		flex: 0 0 percent(1052, 1920);
		min-height: 30vw;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		@media (max-width:$tablet){
			// max-height: rem(312);
		}

		@media (max-width:$mobile){
			flex: 1 1 rem(210);
		}

		img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;

			@media (max-width:$mobile){
				width: 100%;
				height: 100%; 
			}
		}
	}

	&__content {
		flex: 1 1 auto;
		padding: rem(101) rem(117);
		border-top: rem(1) solid $highlightColor;
		border-bottom: rem(1) solid $highlightColor;

		@media (max-width:$tablet){
			padding: rem(53) rem(60);
		}

		@media (max-width:$mobile){
			 padding: rem(40);
			 border-top: none;
		}
	}

	&__title {
		margin-bottom: rem(38);
		color: $textColor;
		text-transform: uppercase;
		text-align: left;
		line-height: 1.25;

		@media (max-width:$mobileSmall){
			margin-bottom: rem(12);
			font-size: rem(15);
		}

		@media (max-width:$mobileSmall){
			// font-size: rem(12);
		}
		
	}

	&__subtitle {
		margin-bottom: rem(40);
		font-weight: 700;
	}

	&__text {
		max-width: rem(350);
		color: rgba(255, 255, 255, 0.60);
		line-height: 1.25;
		@media (max-width:$tablet){
			font-size: rem(16);
		}
		@media (max-width:$mobile){
			max-width: 100%;
			// font-size: rem(12);
		}
		@media (max-width:$mobileSmall){
			// color: #fff;
			// max-width: 100%;
			
		}

		// .service & {
		// 	display: flex;
		// 	flex: 1 1 auto;
		// 	color: $mainColor;
		// }

		// margin-bottom: rem(37);
		// max-width: rem(312);
		// @include adaptiveValue("font-size", 16, 10, 1920, 656, 1);
		// @media (max-width:$mobileSmall){
		// 	font-size: rem(14); 
		// }
	}

	&__button {
	}

}

.service-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, calc((100vw - rem(24)) / 4 ));
	gap: rem(22);
	grid-template-areas: "item-1 item-1 item-2 item-3" 
						 "item-1 item-1 item-4 item-4" ;
	margin: 0 auto rem(139);
	width: calc(100% - rem(38));
	max-width: rem(1876);
	@media (max-width:$tablet){
		gap: rem(10);
	}

	@media (max-width:$mobile){
		grid-template-areas: 
			"item-1 item-1 item-1 item-1"
			"item-1 item-1 item-1 item-1" 
			"item-2 item-2 item-3 item-3"
			"item-4 item-4 item-4 item-4" ;
		// grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, calc(100vw  / 2 ));
		width: 100%;
	}
	// grid-template-rows: auto;

	&__item {
		// background-position: center;
		// background-repeat: no-repeat;
		// background-size: cover;

		&._item-1 {
			grid-area: item-1;
		}
		&._item-2 {
			grid-area: item-2;
		}
		&._item-3 {
			grid-area: item-3;
		}
		&._item-4 {
			grid-area: item-4;
		}

		img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

#chat {
	max-height: 100vh;
}

table {
	width: 100%;
	// border-collapse: collapse;
	
	@media (min-width:$mobile){
		border-spacing: 0 rem(33);  
	}
	@media (max-width:$mobile){
		margin-top: rem(35); 
	}
	thead {
		th {
			padding: 0 rem(20) 0 rem(20);
			color: $mainColor;
			font-weight: 700;
			text-align: left;

			@media (max-width:$tablet){
				font-size: rem(16);
			}
		}
	}
	tbody {
		tr {
			// border: 2px solid $mainColor;
			transition: .3s all ease;
			cursor: pointer;

			@media (max-width:$mobile){
				border: 1px solid $mainColor;
				border-radius: rem(10);
			}

			&.awaiting {
				background-color: $bgColorHighlight;
				color: $textColor;
			}

			// &:not(:last-child) {
			// 	padding-bottom: rem(20);
			// }

			td {
				@media (min-width:$mobile){
					padding: rem(30) rem(10) rem(30) rem(70);
					border-top: 1px solid $mainColor;
					border-bottom: 1px solid $mainColor; 
				}

				@media (max-width:$tablet){
					padding: rem(25) rem(20) rem(25) rem(20);
					font-size: rem(16);
				}


				&:first-child {
					
					
					@media (min-width:$mobile){
						max-width: rem(200);
						border-left: 1px solid $mainColor;
						border-radius: rem(10) 0 0 rem(10); 
					}
				}

				&:last-child {

					@media (min-width:$mobile){
						border-right: 1px solid $mainColor;
						border-radius: 0 rem(10) rem(10) 0;
					}
					
				}
			}

		}
	}
}

@media (max-width:$mobile){
	 table, tbody, tr {
		display: flex;
	 }
	 thead {
		display: none;
	 }

	tbody {
		flex-direction: column;
		gap: rem(20);
	}
	tr {
		flex-wrap: wrap;
		gap: rem(20);
		padding: rem(15) rem(20);
		width: 100%;
		min-height: rem(117);
		align-items: center;

		td {
			padding: 0!important;
			width: calc(50% - rem(10));

			&.number, &.status {
				text-align: right;
			}

			&.number {
				font-size: rem(12);
				font-weight: 300;
			}
			&.date {
				font-weight: 300;
			}
		}
	}

	table tbody tr td {
		border: none;
	}
}
