.header {
	padding: 0 rem(19);
	height: rem(148);
	background-color: $bgColorHighlight;
	@media (max-width:$tablet){
		height: rem(77);
	}

	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: rem(41);
		padding-bottom: rem(37);
		// width: 100%;
		// max-width: rem(1440);
		// min-height: rem(110);
		@media (max-width:$tablet){
			padding-top: rem(20);
			padding-bottom: rem(20);
		}
		@media (max-width:$mobile){
			padding-top: rem(15);
			padding-bottom: rem(15);
		}
	}

	&__logo {

		img {
			width: rem(200.3);
			height: rem(70);
			max-height: 100%;
			@media (max-width:$tablet){
				width: rem(134.13);
				height: rem(46.875);
				max-height: 100%;
			}
		}
	}

	&__interface {
		display: flex;
		align-items: center;
		gap: rem(40);

		@media (max-width:$tablet){
			gap: rem(27.5);
		}
	}

	.interface-header {

		&__chat {
			display: flex;
			svg {
				max-height: 100%;
			}
			@media (max-width:$tablet){
				height: rem(20);
			}

			@media (max-width:$mobile){
				display: none;
				//  position: fixed;
				//  bottom: rem(45);
				//  right: rem(40);
				//  height: rem(30);
				//  z-index: 99;
			}
		}

		&__search {
			display: inline-flex;
			align-items: center;
			gap: rem(10);
			padding: rem(5) rem(16);
			min-width: rem(188);
			border: rem(1) solid $highlightColor;
			border-radius: rem(20);

			@media (max-width:$tablet){
				min-width: rem(100);
				padding: rem(1.5) rem(8);
			}

			@media (max-width:$mobile){
				 order: 1;
				 margin-bottom: rem(35);
				 padding: rem(5) rem(5) rem(5) rem(15);
				 border-color: $mainColor; 
			}

			input {
				flex: 1 1 auto;
				color: $highlightColor;
				background-color: transparent;
				font-size: rem(15);
				line-height: math.div(18, 15);
				outline: none;

				@media (max-width:$tablet){
					font-size: rem(12);
					line-height: math.div(10, 8);
				}

				@media (max-width:$mobile){
					width: 100%;
					color: $mainColor; 
				}

				&::placeholder {
					color: #FFE79F99;
					@media (max-width:$mobile){
						 color: $mainColor; 
					}
				}
			}

			svg {

				@media (max-width:$tablet){
					height: rem(12);
				}

				path {
					@media (max-width:$mobile){
						fill: $mainColor; 
					}
				}

				
			}
		}

		&__profile {
			display: flex;

			svg {
				max-height: 100%;
			}
			@media (max-width:$tablet){
				height: rem(20);
			}
		}
	}

	.menu {
		// .menu__body
		&__body {
			display: flex;
			// flex-direction: column;
			justify-content: flex-end;
			// align-items: flex-start;
			position: fixed;
			top: 0;
			right: -100%;
			// padding: rem(38) rem(57);
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.40);
			z-index: 4;
			transition: 0.3s right ease;
			@media (max-width:1919.98px){
				top: rem(148);
			}
			@media (max-width:$tablet){
				top: rem(77);
			}

			.menu-open & {
				right: 0;
			}
			.header__list {
				order: 2;
				display: flex;
				flex-direction: column;
				gap: rem(21);
				margin-bottom: rem(45);

				@media (max-width:$tablet){
					gap: rem(15);
					margin-bottom: rem(30);
				}

				&-item {
					transition: 0.3s all ease;
					&::before{
						content:'';
						position: absolute;
						bottom: rem(-3);
						left: 0;
						width: rem(38);
						height: rem(2);
						background-color: currentColor;
						transform: scaleX(0);
						transition: transform 0.3s ease;
					}
					@media (any-hover: hover){
						&:hover {
							span, button, .header__list-link {
								font-weight: 700;
							}
							
							&::before{
								transform: scaleX(1);
							}
						}
					}
					&:active, &:focus {
						font-weight: 700;
						&::before{
							transform: scaleX(1);
						}
					}
					&.mobile {
						@media (min-width:$mobile){
							display: none; 
						}
					}
					&.desktop {
						@media (max-width:$mobile){
							 display: none; 
						}
					}
				}

				li, button {
					position: relative;
					font-size: rem(22);
					font-weight: 300;
					@media (max-width:$tablet){
						font-size: rem(16);
					}
				}
			}
			.menu-body {
				&__wrapper {
					display: flex;
					flex-direction: column;
					padding: rem(38) rem(57);
					width: rem(345);
					height: 100%;
					background-color: #fff;

					@media (max-width:$tablet){
						padding: rem(25) rem(15) rem(25) rem(38);
						width: rem(232);
					}
				}
				&__logo {
					margin-bottom: rem(41);
					@media (max-width:$tablet){
						margin-bottom: rem(30);
					}

					img {
						width: rem(188);
						height: rem(65.83);
						max-height: 100%;
						@media (max-width:$tablet){
							width: rem(126.285);
							height: rem(44.14);
							max-height: 100%;
						}
					}
				}
				&__media-list {
					order: 2;
					display: flex;
					gap: rem(40);
					margin-bottom: rem(55);
					@media (max-width:$tablet){
						gap: rem(17);
					}
					li {
						svg {
							@media (max-width:$tablet){
								height: rem(23);
							}
							path {
								transition: 0.3s opacity ease;
							}
						}
						
						@media (any-hover: hover){
							&:hover{
								path {
									opacity: 0.75;
								}
							}
						}
					}
				}
			}

		}
		@media (max-width: $tablet) {
		}
	}
	// Burger ================================================
	.icon-menu {
		display: block;
		position: relative;
		flex: 0 0 24px;
		width: 40px;
		height: 30px;
		cursor: pointer;
		z-index: 10;

		@media (max-width:$tablet){
			width: rem(30);
			height: rem(20);
		}
		span,
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: rem(2);
			background-color: $highlightColor;
			border-radius: rem(10);
			transition: all 0.3s ease 0s;
			@media (max-width:$tablet){
				height: rem(1);
			}
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
			@media (max-width:$tablet){
				// top: calc(50% - 2px);
			}
			// width: 75%;
		}
		.menu-open & {
			span {
				transform: scale(0);
				@media (max-width:$tablet){
					width: rem(20);
				}
			}
			&::before {
				top: calc(50% - 1px);
				transform: rotate(-45deg);
				@media (max-width:$tablet){
					top: 50%;
					width: rem(20);
				}
			}
			&::after {
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
				@media (max-width:$tablet){
					width: rem(20);
				}
			}
		}
		
	}

	&__logo {
		img {
			max-height: rem(70);
		}
	}

	&__nav {
		flex: 0 1 auto;
		margin-right: rem(10);

		@media (max-width:$tablet){
			 display: none; 
		}

		ul {
			display: flex;
			align-items: center;
			gap: rem(40);
			font-size: rem(14);
			font-weight: 400;
			line-height: math.div(16, 14);
			// text-transform: uppercase;

			li {
				display: flex;
				
				&.active {

					a {
						background: #000t;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					
				}
				
				a {
					position: relative;
					color: $textColor;
					font-size: rem(14);
					line-height: math.div(17 , 14);
					font-weight: 500;
					transition: color 0.3s ease;

					&::after{
						content:'';
						position: absolute;
						left: 0;
						bottom: rem(-10);
						width: 100%;
						height: rem(2);
						background: #000;
						transform: scaleX(0);
						transition: transform 0.3s ease;
					}
					
					@media (any-hover: hover){
						&:hover{
							&::after{
								transform: scaleX(1);
							}
						}
					}

				}
			}
		}
	}

	ul.service-menu {
		display: none;
		flex-direction: column;
		gap: rem(20);
		padding: rem(42) rem(21);
		position: absolute;
		right: calc(100% + rem(80));
		top: 0;
		min-width: rem(427);
		background-color: #D9D9D9;
		border-radius: rem(25);

		@media (max-width:$tablet){
			gap: rem(10);
			padding: rem(20) rem(15);
			right: calc(100% + rem(50));
			min-width: rem(300);
			border-radius: rem(15);
		}

		&.active {
			display: flex;
		}

		li {
			transition: 0.3s ease font-weight;
			@media (any-hover: hover){
				&:hover{
					font-weight: 700;
				}
			}
		}
	}
}