.news {
	padding: 0 rem(19) rem(100);
	@media (max-width:$tablet){
		padding-bottom: rem(30);
	}
	@media (min-width:$mobileSmall){
		// @include adaptiveValue("padding-top", 158, 88, 1920, 1024, 1);
		// @include adaptiveValue("padding-bottom", 158, 88, 1920, 1024, 1);
		// background: $gradient;
	}

	&__container {
		@media (max-width:$mobileSmall){
			// margin: 0 rem(15);
			// padding: rem(38) rem(33) rem(60);
			// background: $gradient;
			// border-radius: rem(30);
		}
	}

	// &__slider {
	// 	width: auto;
	// }

	&__title {
		width: 100%;
		color: $mainColor;
		text-align: center;
		@media (max-width:$mobileSmall){

		}
	}

	.list-news {
		display: flex;
		flex-direction: column;
		gap: rem(28);

		&__item {
			display: flex;
			gap: rem(50);
			padding-bottom: rem(34);
			@media (max-width:$tablet){
				padding-bottom: rem(32);
			}
			&:not(:last-child) {
				border-bottom: rem(1) solid $mainColor;
			}
		}

		&__img {
			flex: 0 0 percent(380, 1179);
			min-height: rem(254);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			@media (max-width:$tablet){
				flex: 0 0 percent(250, 780);
				min-height: rem(209);
			}
			@media (max-width:$mobile){
				flex: 0 0 percent(254, 1000);
			}
		}

		&__content {
			flex: 1 1 percent(678, 1179);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		&__title {
			margin-bottom: rem(25);
		}

		&__text {
			flex: 1 1 auto;
			margin-bottom: rem(46);
			padding-right: rem(20);
			@media (max-width:$tablet){
				font-size: rem(18);
			}
			// max-width: rem(570);
		}
	}

}