.profile {
	display: grid;
    grid-template-columns: minmax(auto,18.75rem) 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "aside header"
        "aside section__wrapper"
		"aside footer";
    height: 100%;

	@media (max-width:$tablet){
		grid-template-columns: auto 1fr;
	}

	.header {
		grid-area: header;
		padding: rem(39) rem(45);
		height: rem(112);
		background-color: $bgColor;
		border-bottom: rem(2) solid $mainColor;
		@media (max-width:$tablet){
			padding: rem(24) rem(22);
			height: rem(79);
			background-color: $bgColorHighlight;

			svg {
				height: rem(25);

				path {
					fill: $highlightColor;
				}
			}

			.header__avatar {
				svg path.no-stroke {
					fill: transparent;
					stroke: $highlightColor;
				}
				svg path.stroke {
					stroke: $highlightColor;
					fill: $highlightColor;
				}
			}
		}

		@media (max-width:$mobile){
			height: rem(69);
			svg {
				height: rem(20);
			}
		}

		&__nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-right: 0;
		}

		&__btns {
			display: flex;
			align-items: center;
			gap: rem(48);

			@media (max-width:$mobile){
				gap: rem(25);
				z-index: 2;
			}
			
			button:not(#menu-open),a {
				display: flex;
			}

		}

		&__back {
			display: flex;
			align-items: center;
			gap: rem(22.5);
			font-weight: 700;

			span {
				@media (max-width:$tablet){
					display: none;
				}
			}

			@media (max-width:$mobile){
				 .aside-open & {
					transform: translateX(50px);
				 }
			}
		}

		&__menu-open {
			display: flex;
			@media (min-width:$tablet){
				 display: none; 
			}


		}

		&__avatar {
			width: rem(33);
			height: rem(33);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url("../img/profile/header-avatar-dark.png?12345");
			cursor: pointer;
			@media (max-width:$tablet){
				height: rem(25);
				width: rem(25);
				background-image: url("../img/profile/header-avatar-gold.png?12345");
			}

			@media (max-width:$mobile){
				height: rem(20);
				width: rem(20); 
			}
		}
	}

	.footer {
		grid-area: footer;
	}

	.aside {
		grid-area: aside;
		display: flex;
		flex-direction: column;
		background-color: $bgColorHighlight;
		z-index: 1;

		@media (max-width:$tablet){
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			height: 100dvh;
		}

		@media (max-width:$mobile){
			// top: rem(69);
			bottom: unset; 
			right: 0;
			height: unset;
		}

		&._active {
			@media (max-width:$tablet){
				display: flex;
			}
		}

		@media (max-width:$tablet){
			display: none;
		}

		.aside__menu-close {
			@media (min-width:$tablet){
				 display: none; 
			}
		}

		&__top {
			display: flex;
			// justify-content: center;
			align-items: center;
			padding: rem(22) rem(22) rem(22) rem(39);
			height: rem(112);
			color: $highlightColor;
			border-bottom: rem(2) solid $highlightColor;
			font-weight: 700;

			@media (max-width:$tablet){
				padding: rem(24) rem(22);
				height: rem(79);
				border-bottom: none;
				// background-color: $bgColorHighlight;

				span {
					// font-size: rem(16);
					display: none;
				}
			}

			@media (max-width:$mobile){
				height: rem(69);  
			}

			span {
				line-height: 1;
			}
		}

		.nav {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 1 1 auto;
			padding: rem(39) 0;

			@media (max-width:$mobile){
				 padding: 0 0 rem(40); 
			}

			&__list {
				display: flex;
				flex-direction: column;
				gap: rem(10);

				li {
					display: flex;
					align-items: center;
					gap: rem(20);
					padding: rem(15) rem(39);
					transition: 0.3s ease background-color;
					cursor: pointer;
	
					span {
						position: relative;
						&::after{
							content:'';
							position: absolute;
							top: 50%;
							right: rem(-25);
							width: rem(10);
							height: rem(10);
							border-radius: 50%;
							background-color: $textColor;
							opacity: 0;
							transform: translateY(-50%);
							transition: 0.3s background-color ease;
						}
					}
					&.invoice {
						span {
							&::after{
								opacity: 1;
							}
						}
					}

					&._active {
						@media (min-width:$mobile){
							background-color: $bgColor; 
							span {
								color: $mainColor;
								&::after{
									background-color: $mainColor;
								}
							}
	
							svg path {
								fill: $mainColor;
							}
						}
						
					}

					@media (any-hover: hover){
						&:hover{
							background-color: rgba(225, 222, 222, 0.7);

							span {
								color: $highlightColor;
								&::after{
									background-color: $mainColor;
								}
							}
	
							svg path {
								fill: $mainColor;
							}
						}
					}

					@media (max-width:$mobile){
						padding: rem(15) rem(20);

						span {
							&::after{
								background-color: $highlightColor;
							}
						}
					}
				}
			}

			&__text {
				color: $textColor;
				transition: 0.3s ease color;

				@media (max-width:$tablet){
					color: $highlightColor;
					font-size: rem(16);
				}
			}

			svg {
				path {
					transition: 0.3s ease fill;

					@media (max-width:$tablet){
						fill: $highlightColor;
					}
				}
			}

			// &__logout {
			// 	display: flex;
			// 	align-items: center;
			// 	gap: rem(20);
			// 	padding: rem(15) rem(39) rem(300);
			// 	transition: 0.3s ease background-color;
			// 	cursor: pointer;

			// 	@media (max-width:$tablet){
			// 		display: none;
			// 	}

			// 	span {
			// 		color: $textColor;
			// 		transition: 0.3s ease color;
			// 	}

			// 	@media (any-hover: hover){
			// 		&:hover{
			// 			background-color: rgba(225, 222, 222, 0.7);

			// 			span {
			// 				color: $mainColor;
			// 			}
						
			// 			svg path {
			// 				fill: $mainColor;
			// 			}
			// 		}
			// 	}
			// }
		}
	}

	.section__wrapper {
		grid-area: section__wrapper;
	}

	.section {
		display: none;
		flex-direction: column;
		min-height: 100%;
		min-height: calc(100vh - rem(112));
		overflow: auto;

		.aside-open & {
			transform: translateX(rem(240));

			@media (max-width:$mobile){
				 transform: translate(0, rem(265)); 
			}
		}

		@media (max-width:$tablet){
			min-height: calc(100vh - rem(79));
			height: 100%;
		}
		// max-height: ;

		&._active {
			display: flex;
		}

		&-account {
			// background-color: orange;
		}

		&-services {
			// background-color: red;
		}

		&-history {
			// background-color: blue;
		}

		&-payment {
			// background-color: green;
		}
	}

	.body-account {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: rem(120);
		padding: 0 rem(143) rem(30);

		@media (max-width:$tablet){
			flex-direction: column;
			align-items: center;
			gap: rem(40);
			padding: 0 rem(20) rem(30);
		}


		.body__title {
			margin-bottom: rem(60);
			@media (max-width:$tablet){
				margin-bottom: rem(30);
			}
			@media (max-width:$mobile){
				margin-bottom: rem(10); 
			}
			
		}

		&__avatar {
			position: relative;
			min-width: rem(280);
			min-height: rem(280);
			border-radius: 50%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			@media (max-width:$tablet){
				min-width: rem(164);
				min-height: rem(164);
			}

			&::after{
				content: url("../img/profile/camera.svg");
				position: absolute;
				right: 12%;
				bottom: 3%;
				width: rem(50);
				height: rem(50);

				@media (max-width:$tablet){
					right: 0;
					bottom: 0;
					transform: scale(0.6);
				}
			}
		}

		&__input {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			width: 100%;
			z-index: 2;
			cursor: pointer;
			opacity: 0;
		}

		&__info {
			align-self: center;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: rem(10);
			@media (max-width:$tablet){
				width: rem(295);
			}
		}

		input {
			@media (max-width:$tablet){
				font-size: rem(16);
			}
		}

		&__name {
			padding: rem(12) 0;
			color: $mainColor;
			background-color: transparent;
			border: none;
			border-bottom: rem(1) solid $mainColor;
			outline: none;
			font-weight: 700;
		}

		&__email {
			padding: rem(12) 0;
			color: $mainColor;
			background-color: transparent;
			border: none;
			border-bottom: rem(1) solid $mainColor;
			outline: none;
			font-weight: 700;
		}

		&__logout {
			align-self: flex-end;
			display: flex;
			align-items: center;
			gap: rem(10);
			margin: auto rem(45) rem(45);
			padding: rem(8) rem(16);
			background-color: rgba(208, 211, 217, 0.90);
			font-size: rem(16);
			border-radius: rem(38);
			@media (max-width:$tablet){
				align-self: center;
			}
			svg path {
				fill: $mainColor;
			}
		}
	}

	.body-services {
		padding: 0 rem(48) rem(30);
		@media (max-width:$tablet){
			padding: 0 rem(20) rem(30);
		}

		@media (max-width:$mobile){
			padding: 0 rem(37) rem(30);
		}

		&__icon {
			margin-bottom: rem(65);
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			gap: rem(20);
			padding-top: rem(60);
			max-width: rem(1280);
			@media (max-width:$tablet){
				padding-top: rem(30);
			}
			@media (max-width:$mobile){
				justify-content: center;
				align-items: stretch; 
			}

		}

		&__item {
			display: flex;
			align-items: center;
			width: calc((100% - rem(40)) / 3 );
			min-width: rem(300);
			min-height: rem(174);
			border: 1px solid $mainColor;
			border-radius: rem(25);
			transition: 0.3s ease background-color;
			cursor: pointer;

			@media (max-width:$tablet){
				max-width: rem(250);
				min-width: rem(200);
				width: calc((100% - rem(40)) / 3 );
				min-height: rem(145);
			}

			@media (max-width:$mobile){
				width: calc((100% - rem(40)) / 2 );
				min-height: rem(126);
				min-height: rem(120);
			}

			@media (max-width:$mobileSmall){
				max-width: 100%;
				width: 100%;
				min-height: rem(126);
			}

			@media (any-hover: hover){
				&:hover{
					background-color: $mainColor;

					svg path {
						fill: $bgColor;
					}

					.body-services__text {
						color: $textColor;
					}
				}
			}
		}

		&__link {
			position: relative;
			display: flex;
			align-items: center;
			gap: rem(35);
			padding: rem(38) rem(45);
			width: 100%;
			height: 100%;
			@media (max-width:$tablet){
				// flex-wrap: wrap;
				// justify-content: center;
				padding: rem(29) rem(32);
				gap: rem(23);
			}
			@media (max-width:$mobile){
				padding: rem(15) rem(20);
				gap: rem(15);
			}
		}

		&__text {
			line-height: math.div(24, 22);
			transition: 0.3s ease color;
			@media (max-width:$tablet){
				font-size: rem(16);
			}
		}

		svg {
			max-width: rem(80);
			max-height: rem(80);
			path {
				transition: 0.3s ease fill;
			}
		}

		&__bin {
			position: absolute;
			top: rem(16);
			right: rem(20);
		}
	}

	.body-history {
		padding: 0 rem(48) rem(30);
		@media (max-width:$tablet){
			padding: 0 rem(20) rem(30);
		}

		&__text {
			line-height: math.div(24, 22);
			transition: 0.3s ease color;
		}
	}

	.body-payment {
		padding: 0 rem(48) rem(30);
		@media (max-width:$tablet){
			padding:0 rem(20) rem(30);
		}

		&__icon {
			margin-bottom: rem(65);
		}

		&__title {
			margin-bottom: rem(60);
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: rem(20);
		}

		&__item {
			padding: rem(32);
			width: rem(380);
			max-width: 100%;
			border: rem(1) solid currentColor;
			border-radius: rem(10);
			transition: 0.3s all ease;

			@media (any-hover: hover){
				&:hover{
					color: $textColor;
					background-color: $bgColorHighlight;
					
				}
			}
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
			}

			span {
				font-weight: 700;
			}
		}
	}

	.body {
		&__title {
			display: flex;
			align-items: center;
			gap: rem(20);
			padding-top: rem(60);
			// margin-bottom: rem(65);
			width: 100%;
	
			@media (max-width:$tablet){
				padding-top: rem(30);
				// margin-bottom: rem(30);
			}

			@media (max-width:$mobile){
				 gap: rem(10); 
			}
	
			h2 {
				padding: 0;
				width: 100%;
				color: $mainColor;
				font-size: rem(40);
				font-weight: 700;
				&.center {
					text-align: center;
				}
				@media (max-width:$tablet){
					font-size: rem(30);
				}
				@media (max-width:$mobile){
					font-size: rem(22); 
			   }
				@media (max-width:$mobileSmall){
					 font-size: rem(16); 
				}
			}
	
			img {
				@media (max-width:$tablet){
					width: rem(30);
					height: rem(30);
				}
			}
		}
	}
}

.aside-open #menu-open {
	display: none;
}

#menu-close {
	position: relative;
	z-index: 10;
}