.services {
	display: flex;
	flex-direction: column;
	padding-bottom: rem(70);
	justify-content: center;
	background-color: $bgColorHighlight;
	// @include adaptiveValue("padding-top", 79, 58, 1920, 1024, 1);
	// @include adaptiveValue("padding-bottom", 79, 58, 1920, 1024, 1);
	// @media (max-width:$mobileSmall){
	// 	 padding-top: 0; 
	// }
	@media (max-width:$tablet){
		// padding: rem(30) 0;
	}
	@media (max-width:$mobile){
		padding-bottom: rem(40);
	}
	&__container {
		
	}

	&__title {
		width: 100%;
		color: $highlightColor;
		text-align: center;
		text-transform: uppercase;
		@media (max-width:$tablet){
			// margin-bottom: rem(30);
		}
	}

	&__button {
		margin: 0 auto;
		min-width: rem(538);
		@media (max-width:$mac){
			min-width: rem(350);
		}
		@media (max-width:$tablet){
			min-width: rem(180);
		}
		@media (max-width:$mobile){
			min-width: calc(100% - rem(80));
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: rem(45);
		margin-bottom: rem(70);
		@media (max-width:$mobile){
			margin-bottom: 0;
		}
	}

}