.services {
	display: flex;
	flex-direction: column;
	padding: rem(70) 0;
	justify-content: center;
	background-color: $bgColorHighlight;
	// @include adaptiveValue("padding-top", 79, 58, 1920, 1024, 1);
	// @include adaptiveValue("padding-bottom", 79, 58, 1920, 1024, 1);
	// @media (max-width:$mobileSmall){
	// 	 padding-top: 0; 
	// }
	&__container {
		
	}

	&__title {
		margin-bottom: rem(70);
		width: 100%;
		color: $highlightColor;
		text-align: center;
		text-transform: uppercase;
		@media (max-width:$tablet){
			margin-bottom: rem(21);
		}
	}

	&__button {
		margin: 0 auto;
		min-width: rem(538);
	}

	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: rem(45);
		margin-bottom: rem(70);
		@media (max-width:$mobile){
			 gap: rem(8); 
		}
	}

}