.services-list {
	padding: 0 rem(19) rem(75);

	@media (max-width:$tablet){
		padding-bottom: rem(30);
	}

	@media (max-width:$mobileSmall){
		padding: 0;
	}

	&__container {}

	&__title {
		width: 100%;
		color: $mainColor;
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
	}

	.list-services {
		display: flex;
		flex-direction: column;
		gap: rem(40);
		width: 100%;

		@media (max-width:$tablet){
			flex-direction: row;
			flex-wrap: wrap;
			gap: rem(25);
		}

		&__item {
			width: 100%;
			border-radius: rem(25);
			overflow: hidden;
			transition: 0.3s ease background-color;

			@media (max-width:$tablet){
				width: calc( (100% - rem(25)) / 2);
				border-radius: 0;
			}

			@media (max-width:$mobile){
				width: 100%;
			}

			@media (any-hover: hover){
				@media (min-width:$tablet){
					&:hover{
						background-color: $bgColorHighlight;

						h4, p {
							color: $highlightColor;
						}
					}  
				}
				
			}

			img {
				max-width: 100%;
				height: 100%;
				object-fit: cover;
				@media (max-width:$mobile){
					 max-height: 100%;
					 width: 100%; 
				}
			}
		}

		&__link {
			display: flex;
			align-items: stretch;
			width: 100%;

			@media (max-width:$tablet){
				flex-direction: column;
			}
		}

		&__img {
			flex: 0 0 percent(380, 1280);
			min-height: rem(238);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;

			@media (max-width:$tablet){
				flex: 0 0 percent(295, 615);
				min-height: rem(183);
			}
		}

		&__content {
			padding: rem(40) rem(100) rem(60);
			border-radius: 0 rem(25) rem(25) 0;
			border: rem(1) solid $mainColor;
			border-left: none;

			@media (max-width:$tablet){
				padding: rem(10) rem(20) 0;
				border: none;
			}
		}

		&__title {
			margin-bottom: rem(33);
			font-size: rem(33);
			font-weight: 700;
			text-transform: uppercase;
			transition: 0.3s ease color;

			@media (max-width:$tablet){
				margin-bottom: rem(0);
				font-size: rem(16);
				text-align: center;
			}

			@media (max-width:$mobile){
				font-weight: 300; 
			}
		}

		&__text {
			opacity: 0.6;
			transition: 0.3s ease color;

			@media (max-width:$tablet){
				display: none;
			}
		}
	}
}