section.account
    .account__container 
        - const accountPage = true;
        include ../_breadcrumbs

        .account-menu
            .aside-pa__header 
                .aside-pa__avatar
                    img(src="@img/account/avatar.png", alt="")
                .aside-pa__info 
                    h3.aside-pa__name Наталья Карандашова
                    .aside-pa__label в клубе
            ul.aside-pa__list
                li.aside-pa__item
                    a(href="./account-personal.html").aside-pa__link 
                        include ../icons/_profile
                        span Учетные данные

                li.aside-pa__item 
                    a(href="./account-orders.html").aside-pa__link 
                        include ../icons/_order
                        span Мои заказы

                li.aside-pa__item 
                    a(href="./account-payments.html").aside-pa__link 
                        include ../icons/_payment
                        span Платежные профили

                li.aside-pa__item 
                    a(href="./account-notifications.html").aside-pa__link 
                        include ../icons/_bell
                        span Настройка уведомлений

                li.aside-pa__item 
                    a(href="./account-info.html").aside-pa__link 
                        include ../icons/_file
                        span Информация для клиента
                
                li.aside-pa__item 
                        a(href="/account-complaint.html").aside-pa__link 
                            include ../icons/_complaint
                            span Рекламации
            .aside-pa__footer
                a(href="/logout")
                    include ../icons/_logout
                    span Выйти
                    