section.account
    .account__container 
        - const accountOrderPage = true;
        include ../_breadcrumbs

        .account__body.body-pa
            aside.body-pa__aside.aside-pa
                .aside-pa__header 
                    .aside-pa__avatar
                        img(src="@img/account/avatar.png", alt="")
                    .aside-pa__info 
                        h3.aside-pa__name Наталья Карандашова
                        .aside-pa__label в клубе
                ul.aside-pa__list
                    li.aside-pa__item
                        a(href="./account-personal.html").aside-pa__link 
                            include ../icons/_profile
                            span Учетные данные

                    li.aside-pa__item._active 
                        a(href="./account-orders.html").aside-pa__link 
                            include ../icons/_order
                            span Мои заказы

                    li.aside-pa__item 
                        a(href="./account-payments.html").aside-pa__link 
                            include ../icons/_payment
                            span Платежные профили

                    li.aside-pa__item 
                        a(href="./account-notifications.html").aside-pa__link 
                            include ../icons/_bell
                            span Настройка уведомлений

                    li.aside-pa__item 
                        a(href="/account-info.html").aside-pa__link 
                            include ../icons/_file
                            span Информация для клиента
                .aside-pa__footer
                    a(href="./logout")
                        include ../icons/_logout
                        span Выйти
            
            .body-pa__main.order-block
                .order-block__header.header-order
                    .header-order__left
                        h3.header-order__title Заказ № 1584068240
                        .header-order__text Не оплачен. В доставке.
                        a(href="").button.header-order__button Оплатить
                    .header-order__right
                        .header-order__item Документы
                        .header-order__item Повторить заказ

                .order-block__status.status-order
                    details.status-order__details 
                        summary.status-order__summary
                            .status-order__left
                                .status-order__icon 
                                    include ../icons/_pending
                                span Доставлен
                            .status-order__right 
                                span Показать подробный статус
                                span Скрыть статус
                        .status-order__tracking.tracking-status
                            ul.tracking-status__list
                                li.tracking-status__item
                                    span.tracking-status__text Доставлено по адресу
                                    span.tracking-status__date 29 апреля 23:12
                                li.tracking-status__item
                                    span.tracking-status__text Прибыл в сортировочный центр, г. Краснодар
                                    span.tracking-status__date 29 апреля 23:12
                                li.tracking-status__item
                                    span.tracking-status__text Отгружено сортировочным центром, г. Самара
                                    span.tracking-status__date 29 апреля 23:12
                                li.tracking-status__item
                                    span.tracking-status__text Оформлен, г. Пущино, мкр Д, д. 20а, помещение 1Б
                                    span.tracking-status__date 29 апреля 23:12
                            
                        
                            


                .order-block__products.products-order

                    ul.products-order__list

                        li.products-order__item.product-order 
                            .product-order__image-ibg
                                img(src="@img/products/item-3.png" alt="Гель-документирующая система ChemiScope", itemprop="image")
                            .product-order__center
                                .product-order__content
                                    .product-order__body
                                        h4.product-order__title(itemprop="brand") Senova BS-3031
                                        p.product-order__text(itemprop="description") Гель-документирующая система ChemiScope Гель-документирующая система ChemiScope Гель-документирующая система ChemiScope
                                    .product-order__count 1шт.
                                .product-order__actions
                                    .product-order__action(data-popup="refund-request") Подать заявку на возврат
                                    .product-order__action(data-popup="raiting") Оценить товар
                            .product-order__prices
                                .product-order__price 234 567 ₽
                                .product-order__price-old 100 334 ₽

                        li.products-order__item.product-order 
                            .product-order__image-ibg
                                img(src="@img/products/item-3.png" alt="Гель-документирующая система ChemiScope", itemprop="image")
                            .product-order__center
                                .product-order__content
                                    .product-order__body
                                        h4.product-order__title(itemprop="brand") Senova BS-3031
                                        p.product-order__text(itemprop="description") Гель-документирующая система ChemiScope
                                    .product-order__count 1шт.
                                .product-order__actions
                                    .product-order__action(data-popup="refund-request") Подать заявку на возврат
                                    .product-order__action(data-popup="raiting") Оценить товар
                            .product-order__prices
                                .product-order__price 234 567 ₽
                                .product-order__price-old 100 334 ₽


                .order-block__footer.footer-order
                    .footer-order__info.info-order
                        h3.info-order__title Информация о заказе
                        ul.info-order__list
                            li.info-order__item 
                                .info-order__point Покупатель
                                .info-order__data
                                    p Наталья Карандашова
                                    span +7 (918)325-11-78
                            li.info-order__item 
                                .info-order__point Способ оплаты
                                .info-order__data
                                    p Безналичная оплата
                            li.info-order__item 
                                .info-order__point Дата оформления
                                .info-order__data
                                    p 01.04.2023
                            li.info-order__item 
                                .info-order__point Способ доставки
                                .info-order__data
                                    p Курьерской службой
                            li.info-order__item 
                                .info-order__point Адрес доставки
                                .info-order__data
                                    p Краснодар, ул. Володи Головатого, д. 313, МТРЦ «Галерея Краснодар»
                                    span 10:00 - 22:00

                    .footer-order__details.order-details
                        .cart-bill__body
                            h3.cart-bill__title Детали заказа
                            ul.cart-bill__list.order-details__list
                                li.cart-bill__item 
                                    span.cart-bill__text 3 товара
                                    span.cart-bill__price 153 198 ₽
                                li.cart-bill__item._details
                                    details(open).cart-bill__details
                                        summary.cart-bill__summary
                                            span Скидка
                                                include ../icons/_chevron-down
                                            span.cart-bill__discount -3 198 ₽
                                        
                                        ul.cart-bill__discounts.discounts-list
                                            li.discounts-list__item 
                                                span Скидка по акции
                                                span -900 ₽
                                            li.discounts-list__item 
                                                span Скидка по акции
                                                span -2 182 ₽
                                            li.discounts-list__item
                                                span Управлять скидками вы сможете на шаге выбора способа оплаты

                                li.cart-bill__item._summary 
                                    span.cart-bill__text Итого
                                    span.cart-bill__price 150 000 ₽


                        .cart-about__files
                            a(href="", download).cart-about__link
                                include ../icons/_download-files
                                p Скачать в  PDF