section.account
    .account__container 
        - const accountPersonalPage = true;
        include ../_breadcrumbs

        .account__body.body-pa
            aside.body-pa__aside.aside-pa
                .aside-pa__header 
                    .aside-pa__avatar
                        img(src="@img/account/avatar.png", alt="")
                    .aside-pa__info 
                        h3.aside-pa__name Наталья Карандашова
                        .aside-pa__label в клубе
                ul.aside-pa__list
                    li.aside-pa__item._active 
                        a(href="./account-personal.html").aside-pa__link 
                            include ../icons/_profile
                            span Учетные данные

                    li.aside-pa__item 
                        a(href="./account-orders.html").aside-pa__link 
                            include ../icons/_order
                            span Мои заказы

                    li.aside-pa__item 
                        a(href="./account-payments.html").aside-pa__link 
                            include ../icons/_payment
                            span Платежные профили

                    li.aside-pa__item 
                        a(href="./account-notifications.html").aside-pa__link 
                            include ../icons/_bell
                            span Настройка уведомлений

                    li.aside-pa__item 
                        a(href="/account-info.html").aside-pa__link 
                            include ../icons/_file
                            span Информация для клиента
                .aside-pa__footer
                    a(href="./logout")
                        include ../icons/_logout
                        span Выйти
            
            .body-pa__main
                .body-pa__data.data-pa
                    .data-pa__header
                        h2.data-pa__title Учетные данные
                        p.data-pa__subtitle Здесь вы можете отредактировать информацию о себе и добавить новую.
                        h3.data-pa__subtitle-mob Личные данные
                    .data-pa__main 
                        .data-pa__avatar(style="background-image:url(@img/account/avatar.png)")
                            .data-pa__input
                                include ../icons/_camera
                                input#upload-avatar(type="file", name="upload-avatar", accept=".png,.jpg,.gif,.webp,.jpeg")
                        .data-pa__content.content-data 
                            .content-data__personal
                                h3.content-data__title Личные данные

                                form#client-type(action="", method="post").client-order__form.content-data__form
                                    .radio-block.client-order__who.content-data__who
                                        label.control.control--radio
                                            input(type='radio' name='client-type' checked='checked' data-radio="individual")
                                            .control__indicator
                                            span Физическое лицо
                                        
                                        label.control.control--radio
                                            input(type='radio' name='client-type' data-radio="entity")
                                            .control__indicator
                                            span Юридическое лицо

                                    .client-order__info.info-client._active(data-type="individual") 
                                        .form-field.info-client__field
                                            label.form-field__label(for="сlient-surname") Фамилия
                                            input#client-surname.form-field__input(type="text", name="сlient-surname", placeholder="Мария")
                                        
                                        .form-field.info-client__field
                                            label.form-field__label(for="сlient-name") Имя
                                            input#client-name.form-field__input(type="text", name="сlient-name", placeholder="Иванова")

                                        .form-field.info-client__field  
                                            label.form-field__label(for="client-patronum") Отчество
                                            input#client-patronum.form-field__input(type="text", name="client-patronum", placeholder="Ивановна")

                                    .client-order__info.info-client(data-type="entity") 
                                        .form-field.info-client__field
                                            label.form-field__label(for="company-сlient-surname") Фамилия
                                            input#company-client-surname.form-field__input(type="text", name="company-сlient-surname", placeholder="Мария")
                                        
                                        .form-field.info-client__field
                                            label.form-field__label(for="company-сlient-name") Имя
                                            input#company-client-name.form-field__input(type="text", name="company-сlient-name", placeholder="Иванова")

                                        .form-field.info-client__field  
                                            label.form-field__label(for="company-client-patronum") Отчество
                                            input#company-client-patronum.form-field__input(type="text", name="company-client-patronum", placeholder="Ивановна")
                                        
                                        .form-field.info-client__field  
                                            label.form-field__label(for="company-name") Наименование организации
                                            input#company-name.form-field__input(type="text", name="company-name", require, placeholder="ООО “MolecuLab”")

                                        .form-field.info-client__field  
                                            label.form-field__label(for="company-inn") ИНН
                                            input#company-inn.form-field__input(type="number", name="company-inn", require, placeholder="1234567890")

                                        .form-field.info-client__field  
                                            label.form-field__label(for="company-kpp") КПП*
                                            input#company-kpp.form-field__input(type="number", name="company-kpp", require, placeholder="123456789")

                            .content-data__club._in-club
                                h3.content-data__title Клуб привилегий
                                p.content-data__no-club Вы не состоите в клубе. 
                                    a(href="").content-data__link Вступить в клуб привилегий.
                                .content-data__in-club
                                    include ../icons/_club
                                    span Вы состоите в клубе привилегий

                            .content-data__contacts
                                h3.content-data__title Контакты
                                form(action="", method="post").content-data__form
                                    .form-field.info-client__field
                                        label.form-field__label(for="contact-number") Номер телефона
                                        input#contact-number.popup__input(type="tel", name="contact-number", placeholder="+7 (___)___-__-__")
                                    
                                    .form-field.info-client__field
                                        label.form-field__label(for="contact-number-extra") Доп. телефон (не обязательно)
                                        input#contact-number-extra.popup__input(type="tel", name="contact-number-extra", placeholder="+7 (___)___-__-__")

                                    .form-field.info-client__field  
                                        label.form-field__label(for="contact-email") Почта
                                        input#contact-email.popup__input(type="email", name="contact-email", placeholder="Email")

                            button.button.content-data__button Сохранить изменения

                .body-pa__footer 
                    .body-pa__question.question-pa 
                        h3.question-pa__title Остались вопросы?
                        p.question-pa__text 
                            | Вы всегда можете задать нам вопрос. 
                            | Выберите наиболее удобный способ обращения и с 
                            | вами свяжется персональный менеджер.
                        button.button.question-pa__button._smaller(data-popup="call-me") 
                            span Заказать звонок
                        
                    a(href="#").body-pa__edo.edo-pa
                        include ../icons/_file
                        span  Подключить ЭДО