//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	position: relative;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	// gap: 16px;
	padding: 7px 20px;
	color: #fff;
	min-width: 177px;
	min-height: 35px;
	background-color: $highlightColor-2;
	border-radius: rem(30);
	// font-variation-settings: "wght" 500;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 500;
	text-align: center;
	overflow: hidden;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	z-index: 2;
	cursor: pointer;

	&:focus {
		// border-color: $activeColor;
		outline: none;
	}

	&:active {
		// background-color: $activeColor;
	}

	&._disabled {
		color: #fff;
		background-color: #D5D5D5;
		pointer-events: none;
	}

	&:disabled {
		color: #fff;
		background-color: #D5D5D5;
		pointer-events: none;
	}

	&._highlight {
		background-color: $highlightColor-1;
	}

	&._ligth {
		color: $highlightColor-1;
		background-color: #D3F3FF;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: $highlightColor-1;
			}
		}

		.button__icon {
			background-color: #fff;
			transform: rotate(45deg);
			transition: 0.3s ease transform;
		}
	}

	&._white {
		color: $highlightColor-1;
		background-color: #fff;
	}

	&._small {
		font-size: 14px;
		line-height: 1.4;
	}

	&._smaller {
		padding: 5px 16px;
		min-width: 155px;
		min-height: 30px;
		font-size: 14px;
		line-height: 1.4;
	}

	&._transparent {
		color: #fff;
		background-color: transparent;
		border: 1px solid currentColor;
		border-radius: 8px;

		@media (any-hover: hover) {
			&:hover {
				color: $highlightColor-1;

				svg path {
					stroke: #fff;
				}
			}
		}

		svg path {
			transition: 0.3s ease stroke;
		}
	}

	&._w100 {
		width: 100%;
	}

	&._with-icon {
		// display: flex;
		justify-content: space-between;
		gap: 10px;
		padding: 5px 5px 5px 20px;
		min-width: fit-content;

	}

	&__icon {
		._with-icon & {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgb(211 243 255 / 20%);
			border-radius: 50%;
		}
	}
}