h1,
h2,
h3,
h4,
p,
span,
small,
button,
a,
div {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

ol,
ul {
	list-style: none;
}

input {
	border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.input-field {
	position: relative;

	&:not(:last-child) {
		margin-bottom: rem(16);
	}

	input {
		position: relative;
		padding: rem(14) rem(40) rem(14) rem(14);
		background-color: transparent;
		border-radius: rem(8);
		outline: none;
		z-index: 1;
	}

	label {
		position: absolute;
		top: 50%;
		left: 14px;
		padding: rem(2);
		color: #B8B9BA;
		background-color: #fff;
		font-size: rem(14);
		line-height: math.div(16, 14);
		transform: translateY(-50%);
		z-index: 0;
		transition: 0.3s ease all;
	}

	.input-icon {
		position: absolute;
		top: 50%;
		right: rem(14);
		display: flex;
		padding: rem(3);
		transform: translateY(-50%);
		z-index: 3;
		cursor: pointer;
	}

	input:focus {
		border-color: $highlightColor;
	}

	input:focus~label,
	input.used~label {
		top: 1px;
		left: 29px;
		/* font-size: 14px; */
		color: $highlightColor;
		font-size: rem(12);
		z-index: 1;
	}
}

.section-title {
	// margin-bottom: 60px;
	@include adaptiveValue("margin-bottom", 60, 30);
	color: $mainColor;
	text-align: center;
	font-family: "Gotham Pro";
	@include adaptiveValue("font-size", 64, 32);
	font-weight: 500;

	&._with-text {
		@include adaptiveValue("margin-bottom", 20, 30);
	}

	span {
		color: $highlightColor;
	}
}

.section-subtitle {
	margin: 0 auto;
	@include adaptiveValue("margin-bottom", 53, 30);
	max-width: 1150px;
	// font-size: 24px;
	@include adaptiveValue("font-size", 24, 14);
	line-height: 1.3;
	text-align: center;
}

.see-all {
	display: inline-flex;
	align-items: center;
	align-self: flex-end;
	gap: 49px;
	padding: 14px 14px 14px 30px;
	height: 49px;
	color: $highlightColor;
	@include adaptiveValue("font-size", 20, 16);
	background-color: $mainColor;
	border-radius: 10px;
	transition: 0.3s ease color;

	@media (max-width:$tablet) {
		width: 100%;
		justify-content: center;
		gap: 10px;
		// padding: 8px 14px;
	}

	@media (any-hover: hover) {
		&:hover {
			color: #fff;

			svg {
				transform: translateY(0);

				path {
					fill: #fff
				}
			}
		}
	}

	svg {
		transition: 0.3s ease transform;
		transform: translateY(8px);

		@media (max-width:$tablet) {
			transform: translateY(2px);
		}

		path {
			transition: 0.3s ease color;
		}
	}
}

.swiper {
	&__navigation {
		// position: absolute;
		// left: 50%;
		display: flex;
		align-items: center;
		gap: 50px;
		margin: 0 auto;
		// transform: translateX(-50%);

		&>div {
			padding: 5px;
			cursor: pointer;

			path {
				transition: 0.3s ease fill;
			}

			@media (any-hover: hover) {
				&:hover {
					path {
						fill: $highlightColor;
					}
				}
			}
		}

		@media (max-width:$mobile) {
			gap: 20px;

			svg {
				width: 30px;
			}
		}
	}
}