section#articles.articles
    .articles__container 
        ul.articles__list
            li.articles__item.article-item
                a(href="#").article-item__link
                    h3.article-item__title Межсетевой экран для защиты веб-приложений от МТС RED
                    p.article-item__text 
                        | МТС RED, дочерняя компания ПАО «МТС», разработала для российского рынка информационных технологий масштабируемый сервис эшелонированной защиты веб-приложений (WAF). Это межсетевой экран, который поддерживает 
                        | высоконагруженные веб-приложения и совместим с МТС RED Anti-DDoS.
                    .article-item__to
                        span Подробнее
                        include ../icons/_link
            li.articles__item.article-item
                a(href="#").article-item__link
                    h3.article-item__title Иммерсионное охлаждение: особенности и недостатки
                    p.article-item__text 
                        | Серверное оборудование погружают в диэлектрическую охлаждающую жидкость. 
                        | Она вбирает в себя всё тепло, не повреждая при этом электронику, 
                        | далее иммерсионная жидкость остужается. Вроде бы звучит просто. 
                        | Но этот способ охлаждения не пользуется большой популярностью. 
                        | Потому что не всё так идеально, как может показаться.
                    a(href="#").article-item__to
                        span Подробнее
                        include ../icons/_link
            li.articles__item.article-item
                a(href="#").article-item__link
                    h3.article-item__title ИТ-компания «Азон» в рейтингах крупнейших поставщиков ИТ-решений для госсектора
                    p.article-item__text 
                        | МТС RED, дочерняя компания ПАО «МТС», разработала для российского 
                        | рынка информационных технологий масштабируемый сервис эшелонированной 
                        | защиты веб-приложений (WAF). Это межсетевой экран, который поддерживает 
                        | высоконагруженные веб-приложения и совместим с МТС RED Anti-DDoS.
                    a(href="#").article-item__to
                        span Подробнее
                        include ../icons/_link
            li.articles__item.article-item
                a(href="#").article-item__link
                    h3.article-item__title «Азон» в топ-100 рейтингов по информационной безопасности CNews и TAdviser
                    p.article-item__text 
                        | QoS (Quality of Service, качество обслуживания) — это технология управления ресурсами 
                        | сетевых пакетов, позволяющая приоритизировать поток данных, передаваемых по каналам связи IP. 
                        | Обеспечивает трафик необходимым сервисом обслуживания в соответствии с заданными техническими рамками.       
                    a(href="#").article-item__to
                        span Подробнее
                        include ../icons/_link
            li.articles__item.article-item
                a(href="#").article-item__link
                    h3.article-item__title «Ворон» и «Бобёр» — новинки на рынке отечественных компьютеров
                    p.article-item__text 
                        | В июле 2023 года российский производитель Delta Computers 
                        | презентовал сразу две модели персональных компьютеров — «Ворон» и «Бобёр». 
                        | Выдерживают высокие нагрузки и способны выполнять сложные задачи. 
                        | Обе модели произведены на базе чипсета Intel H610 и процессоров последних поколений Intel Core.
                    a(href="#").article-item__to
                        span Подробнее
                        include ../icons/_link
            li.articles__item.article-item
                a(href="#").article-item__link
                    h3.article-item__title «Менеджер ресурсов» — новый продукт «НТЦ ИТ РОСА»
                    p.article-item__text 
                        | Научно-технический центр информационных технологий «РОСА» представил новое решение 
                        | «Менеджер ресурсов». Это программная платформа для организации и контроля 
                        | работы гибридных корпоративных сред. Позволяет управлять 
                        | ресурсами на основе политик, поддерживать и контролировать работу 
                        | облачных сервисов, виртуальных и контейнерных сред.
                    a(href="#").article-item__to
                        span Подробнее
                        include ../icons/_link
            li.articles__item.article-item
                a(href="#").article-item__link
                    h3.article-item__title Межсетевой экран для защиты веб-приложений от МТС RED
                    p.article-item__text 
                        | МТС RED, дочерняя компания ПАО «МТС», разработала для российского рынка информационных технологий масштабируемый сервис эшелонированной защиты веб-приложений (WAF). Это межсетевой экран, который поддерживает 
                        | высоконагруженные веб-приложения и совместим с МТС RED Anti-DDoS.
                    a(href="#").article-item__to
                        span Подробнее
                        include ../icons/_link
            li.articles__item.article-item
                a(href="#").article-item__link
                    h3.article-item__title Иммерсионное охлаждение: особенности и недостатки
                    p.article-item__text 
                        | Серверное оборудование погружают в диэлектрическую охлаждающую жидкость. 
                        | Она вбирает в себя всё тепло, не повреждая при этом электронику, 
                        | далее иммерсионная жидкость остужается. Вроде бы звучит просто. 
                        | Но этот способ охлаждения не пользуется большой популярностью. 
                        | Потому что не всё так идеально, как может показаться.
                    a(href="#").article-item__to
                        span Подробнее
                        include ../icons/_link
            li.articles__item.article-item
                a(href="#").article-item__link
                    h3.article-item__title ИТ-компания «Азон» в рейтингах крупнейших поставщиков ИТ-решений для госсектора
                    p.article-item__text 
                        | МТС RED, дочерняя компания ПАО «МТС», разработала для российского 
                        | рынка информационных технологий масштабируемый сервис эшелонированной 
                        | защиты веб-приложений (WAF). Это межсетевой экран, который поддерживает 
                        | высоконагруженные веб-приложения и совместим с МТС RED Anti-DDoS.
                    a(href="#").article-item__to
                        span Подробнее
                        include ../icons/_link
            li.articles__item.article-item
                a(href="#").article-item__link
                    h3.article-item__title «Азон» в топ-100 рейтингов по информационной безопасности CNews и TAdviser
                    p.article-item__text 
                        | QoS (Quality of Service, качество обслуживания) — это технология управления ресурсами 
                        | сетевых пакетов, позволяющая приоритизировать поток данных, передаваемых по каналам связи IP. 
                        | Обеспечивает трафик необходимым сервисом обслуживания в соответствии с заданными техническими рамками.       
                    a(href="#").article-item__to
                        span Подробнее
                        include ../icons/_link
            li.articles__item.article-item
                a(href="#").article-item__link
                    h3.article-item__title «Ворон» и «Бобёр» — новинки на рынке отечественных компьютеров
                    p.article-item__text 
                        | В июле 2023 года российский производитель Delta Computers 
                        | презентовал сразу две модели персональных компьютеров — «Ворон» и «Бобёр». 
                        | Выдерживают высокие нагрузки и способны выполнять сложные задачи. 
                        | Обе модели произведены на базе чипсета Intel H610 и процессоров последних поколений Intel Core.
                    a(href="#").article-item__to
                        span Подробнее
                        include ../icons/_link

        nav.hero__nav.nav-hero.page-hero__nav
            ul.nav-hero__list
                li.nav-hero__item
                    a(href="#pro-azone").nav-hero__link PRO Азон
                li.nav-hero__item
                    a(href="#articles").nav-hero__link Статьи           
                li.nav-hero__item
                    a(href="#vendors").nav-hero__link Вендоры
                li.nav-hero__item
                    a(href="#it-market").nav-hero__link Рынок IT
                li.nav-hero__item
                    a(href="#campaign").nav-hero__link  Акции вендоров