section.about#about
	ul.about__list.grid
		li.about__item.grid-item
			.about__content.grid-item__content
				h4.about__title.grid-item__title About the company

				p.about__text.grid-item__text 
					| We are proud to be able to offer you a full range of services: 
					| from organizing private meetings and travel planning to providing household 
					| and personal driver services. Our team of professionals is always ready to meet your needs 
					| and preferences, providing an unprecedented level of service.
					<br><br>
					| Our activity is based on three key principles: individual approach, impeccable quality and high speed of task execution. We understand that every customer is unique, so we create personalized service plans that reflect your unique needs and desires.
					<br><br>
					| We are here to make your life easier and more enjoyable by providing services 
					<br><br>
					| Always happy to help, Noble Consierge
			.about__img.grid-item__img(style="background-image: url(@img/about/item-1.png)") 