section.about
	img(src="@img/common/shape-1.png", alt="shape").shape.shape-1
	img(src="@img/common/shape-4.png", alt="shape").shape.shape-4
	img(src="@img/common/shape-2.png", alt="shape").shape.shape-2
	.about__container
		h2.about__title Для кого актуально?
		ul.about__list.about-list 
			li.about-list__item.list-item(data-aos="fade-up", data-aos-anchor-placement="top-bottom")
				img(src="@img/about/image-1.png" alt="").list-item__img
				.list-item__title.gradient-text Маркетологам
				.list-item__text Организовать первичный сбор и анализ аудитории
					<br>Увеличить ROAS, ROI и CTR
					<br>Управлять клиентами

			li.about-list__item.list-item(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="100")
				img(src="@img/about/image-2.png" alt="").list-item__img
				.list-item__title.gradient-text Аналитикам
				.list-item__text Структурировать данные
					<br>Исключать пересечения в аудиторных сегментах
					<br>Предоставлять
					<br>качественные данные

			li.about-list__item.list-item(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="200")
				img(src="@img/about/image-3.png" alt="").list-item__img
				.list-item__title.gradient-text Владельцам бизнеса
				.list-item__text Внедрить data-first 
					<br>стратегию
					<br>Сократить расходы на
					<br>рекламу
					<br>Получить прозрачную
					<br>воронку продаж
					<br>Стать технологичной компанией

			li.about-list__item.list-item(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="300")
				img(src="@img/about/image-4.png" alt="").list-item__img
				.list-item__title.gradient-text Рекламным агентсвам
				.list-item__text Формировать решения, основанные на данных
					<br>Увеличивать шансы на победу в тендерах
					<br>Проводить онбординг данных клиентов на платформу
					<br>Обогащать данные клиентов и создавать ICP
					<br>Сегментировать данные любой сложности 
					<br>(1st, 2nd, 3rd party data)