section.advantages#advantages 
	.advantages__container
		ul.advantages__list
			li.advantages__item.item-advantages
				.item-advantages__title
					span 1
					h3 Time-saving
				p.item-advantages__text 
					| Noble consierge helps save time by handling various
					| tasks such as booking appointments, making reservations,
					| and managing errands, allowing individuals
					| to focus on their priorities.
		
			li.advantages__item.item-advantages
				.item-advantages__title
					span 2
					h3 Convenience
				p.item-advantages__text 
					| We provide convenience by offering personalized
					| assistance, whether it's arranging travel plans,
					| obtaining event tickets, or organizing deliveries,
					| making life easier for clients.

			li.advantages__item.item-advantages
				.item-advantages__title
					span 3
					h3 Access to exclusive services
				p.item-advantages__text 
					| Our service often have access to exclusive events, restaurants,
					| and experiences that might not be easily
					| accessible to the general public,
					| providing unique opportunities to their clients.

			li.advantages__item.item-advantages
				.item-advantages__title
					span 4
					h3 Expertise and connections
				p.item-advantages__text 
					| We have networks and expertise
					| to fulfill requests efficiently,
					| leveraging our connections to secure
					| the best options or deals for their clients.

			li.advantages__item.item-advantages
				.item-advantages__title
					span 5
					h3 Personalization
				p.item-advantages__text 
					| Noble offers tailored services catering
					| to individual preferences,
					| ensuring that each client's needs
					| and desires are met with a personalized touch.

			li.advantages__item.item-advantages
				.item-advantages__title
					span 6
					h3 Stress reduction  
				p.item-advantages__text 
					| By handling various tasks and responsibilities,
					| our Noble concierge service alleviate stress
					| and allow individuals to enjoy a more relaxed
					| and balanced lifestyle.