section.contacts#contacts
	.contacts__container
		.contacts__wrapper
			.contacts__content
				span.contacts__title Didn't find what you were looking for?
				p.contacts__text Fill out this form and we will contact you as soon as possible
			//- ul.contacts__media-list
			//- 	li 
			//- 		a(href="#")
			//- 			<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.82 33.89" width="35" height="35">
			//- 				<g id="Layer_1-2" data-name="Layer 1">
			//- 					<path fill="#E1DFDE" d="M16.91,0C7.57,0,0,7.58,0,16.94s7.57,16.94,16.91,16.94,16.91-7.58,16.91-16.94c0-9.36-7.56-16.94-16.91-16.94Zm0,32.34c-8.49,0-15.38-6.89-15.38-15.41S8.41,1.52,16.91,1.52s15.38,6.89,15.38,15.41-6.88,15.41-15.38,15.41Zm-.36-22.46c2.24,0,2.5,.01,3.39,.05,.82,.04,1.26,.17,1.56,.29,.39,.15,.67,.33,.96,.63,.29,.29,.47,.57,.63,.96,.11,.3,.25,.74,.29,1.56,.04,.88,.05,1.15,.05,3.4s-.01,2.5-.05,3.39c-.04,.82-.17,1.26-.29,1.56-.15,.39-.33,.67-.63,.96-.29,.29-.57,.47-.96,.63-.3,.12-.74,.25-1.56,.29-.88,.04-1.15,.05-3.39,.05s-2.5-.01-3.39-.05c-.82-.04-1.26-.17-1.56-.29-.39-.15-.67-.33-.96-.63-.29-.29-.47-.57-.63-.96-.11-.3-.25-.74-.29-1.56-.04-.88-.05-1.15-.05-3.39s0-2.5,.05-3.4c.04-.82,.17-1.26,.29-1.56,.15-.39,.33-.67,.63-.96,.29-.29,.57-.47,.96-.63,.3-.11,.74-.25,1.56-.29,.89-.04,1.15-.05,3.39-.05Zm0-1.51c-2.28,0-2.56,.01-3.45,.05-.89,.04-1.5,.18-2.03,.39-.55,.21-1.02,.5-1.48,.97-.47,.47-.75,.93-.97,1.48-.21,.53-.35,1.14-.39,2.03-.04,.89-.05,1.18-.05,3.46s0,2.56,.05,3.46c.04,.89,.18,1.5,.39,2.03,.21,.55,.5,1.02,.97,1.48,.47,.47,.93,.75,1.48,.97,.53,.21,1.14,.35,2.03,.39,.89,.04,1.18,.05,3.45,.05s2.56-.01,3.45-.05c.89-.04,1.5-.18,2.03-.39,.55-.21,1.02-.5,1.48-.97,.47-.47,.75-.93,.97-1.48,.21-.53,.35-1.14,.39-2.03,.04-.89,.05-1.18,.05-3.46s-.01-2.57-.05-3.46c-.04-.89-.18-1.5-.39-2.03-.21-.55-.5-1.02-.97-1.48-.47-.47-.93-.75-1.48-.97-.53-.21-1.14-.35-2.03-.39-.89-.04-1.18-.05-3.45-.05Zm0,4.08c-2.38,0-4.3,1.93-4.3,4.31s1.93,4.31,4.3,4.31,4.3-1.93,4.3-4.31-1.93-4.31-4.3-4.31Zm0,7.11c-1.54,0-2.79-1.25-2.79-2.8s1.25-2.8,2.79-2.8,2.79,1.25,2.79,2.8-1.25,2.8-2.79,2.8Zm5.47-7.28c0-.56-.45-1.01-1.01-1.01s-1.01,.45-1.01,1.01,.45,1.01,1.01,1.01,1.01-.45,1.01-1.01Z"/>
			//- 				</g>
			//- 			</svg>
					
			//- 	li 
			//- 		a(href="#")
						
			//- 			<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.82 33.89" width="35" height="35">
			//- 				<g id="Layer_1-2" data-name="Layer 1">
			//- 					<g>
			//- 						<path fill="#E1DFDE" d="M16.91,0C7.57,0,0,7.58,0,16.94s7.57,16.94,16.91,16.94,16.91-7.58,16.91-16.94c.01-9.36-7.57-16.94-16.91-16.94Zm0,32.34c-8.49,0-15.38-6.89-15.38-15.41S8.41,1.52,16.91,1.52s15.38,6.89,15.38,15.41-6.88,15.41-15.38,15.41Z"/>
			//- 						<path fill="#E1DFDE" d="M17.65,27.1v-9.27h3.11l.47-3.62h-3.57v-2.3c0-1.04,.29-1.76,1.79-1.76h1.91v-3.23c-.33-.04-1.46-.14-2.78-.14-2.75,0-4.64,1.68-4.64,4.78v2.67h-3.11v3.62h3.11v9.27h3.71Z"/>
			//- 					</g>
			//- 				</g>
			//- 			</svg>		
			//- 	li 
			//- 		a(href="#")
			//- 			<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.82 33.89" width="35" height="35">
			//- 				<g id="Layer_1-2" data-name="Layer 1">
			//- 					<g>
			//- 						<path fill="#E1DFDE" d="M16.91,0C7.57,0,0,7.58,0,16.94s7.57,16.94,16.91,16.94,16.91-7.58,16.91-16.94S26.25,0,16.91,0Zm0,32.34c-8.49,0-15.38-6.89-15.38-15.41S8.41,1.52,16.91,1.52s15.38,6.89,15.38,15.41-6.89,15.41-15.38,15.41Z"/>
			//- 						<path fill="#E1DFDE" d="M14.2,25.15c6.71,0,10.39-5.57,10.39-10.41,0-.16,0-.32,0-.47,.71-.52,1.33-1.16,1.82-1.89-.65,.29-1.36,.49-2.1,.57,.75-.45,1.33-1.17,1.6-2.02-.71,.42-1.49,.72-2.32,.89-.67-.71-1.61-1.15-2.66-1.15-2.02,0-3.65,1.63-3.65,3.66,0,.29,.03,.57,.09,.83-3.03-.15-5.72-1.61-7.52-3.82-.31,.54-.49,1.17-.49,1.83,0,1.27,.64,2.38,1.62,3.05-.6-.02-1.16-.18-1.65-.46v.05c0,1.77,1.26,3.25,2.93,3.59-.31,.08-.63,.13-.96,.13-.24,0-.46-.02-.69-.07,.46,1.45,1.81,2.51,3.41,2.54-1.25,.98-2.82,1.56-4.53,1.56-.29,0-.58-.02-.87-.05,1.61,1.04,3.53,1.64,5.59,1.64Z"/>
			//- 					</g>
			//- 				</g>
			//- 			</svg>

		form#contact-form(action="#", method="post").contacts__form.form-contacts
			.form-field 
				//- label Your name
				input#name(type="text", name="name", placeholder="Your name").form-contacts__input
			.form-field 
				//- label Email
				input#email(type="email", name="email", placeholder="Email").form-contacts__input
			.form-field
				//- label Your question
				textarea#commets(name="comments", cols="30", rows="1", placeholder="Your question").form-contacts__textarea

			button(type="submit").button.form-contacts__button Send a message
		