head 
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1,  maximum-scale=1")
	link(rel="icon", href="favicon.ico")
	meta(property="og:title", content="Noble Concierge")
	meta(property="og:site_name", content="Noble Concierge")
	meta(property="og:url", content="")
	meta(property="og:description", content="Where luxury meets nobility")
	meta(property="og:image", content="img/about/item-1.png?12345")
	meta(property="og:image:width", content="968")
	meta(property="og:image:height", content="504")
	meta(name="description" content="Where luxury meets nobility")
	title Noble Concierge
	link(rel="stylesheet", href="css/style.min.css")