section.hero 
	.hero__slider.swiper
		.hero__wrapper.swiper-wrapper
			.hero__slide.swiper-slide(style="background-image: url(@img/hero/hero-bg.png)")
			.hero__slide.swiper-slide(style="background-image: url(@img/hero/hero-bg.png)")
			.hero__slide.swiper-slide(style="background-image: url(@img/hero/hero-bg.png)")
		.swiper-pagination
	.hero__body
		.hero__container
			h1.hero__title Where Luxury 
			img.hero__img(src="@img/hero/hero-img.png", alt="image")
			a.button.hero__button(href="#", data-goto="#") Order a concierge service