section.hero 
	.hero__slider.swiper
		.hero__wrapper.swiper-wrapper
			.hero__slide.swiper-slide
			.hero__slide.swiper-slide
			.hero__slide.swiper-slide
		.swiper-pagination
	.hero__body
		.hero__container
			h1.hero__title Where Luxury 
			.hero__subtitle meets Nobility 
			a.button.hero__button(href="#", data-goto="#") Order a concierge service