section.partners
	.marquee
		.marquee-content
			.marquee-item
				img(src='@img/partners-logos/sber.svg' alt='logo-sber')
			.marquee-item
				img(src='@img/partners-logos/automania.svg' alt='logo-automania')
			.marquee-item
				img(src='@img/partners-logos/4paws.svg' alt='logo-4paws')
			.marquee-item
				img(src='@img/partners-logos/sportmaster.svg' alt='logo-sportmaster')
			.marquee-item
				img(src='@img/partners-logos/x5group.svg' alt='logo-x5group')
			.marquee-item
				img(src='@img/partners-logos/icom.svg' alt='logo-icom')

			.marquee-item
				img(src='@img/partners-logos/sber.svg' alt='logo-sber')
			.marquee-item
				img(src='@img/partners-logos/automania.svg' alt='logo-automania')
			.marquee-item
				img(src='@img/partners-logos/4paws.svg' alt='logo-4paws')
			.marquee-item
				img(src='@img/partners-logos/sportmaster.svg' alt='logo-sportmaster')
			.marquee-item
				img(src='@img/partners-logos/x5group.svg' alt='logo-x5group')
			.marquee-item
				img(src='@img/partners-logos/icom.svg' alt='logo-icom')

			.marquee-item
				img(src='@img/partners-logos/sber.svg' alt='logo-sber')
			.marquee-item
				img(src='@img/partners-logos/automania.svg' alt='logo-automania')
			.marquee-item
				img(src='@img/partners-logos/4paws.svg' alt='logo-4paws')
			.marquee-item
				img(src='@img/partners-logos/sportmaster.svg' alt='logo-sportmaster')
			.marquee-item
				img(src='@img/partners-logos/x5group.svg' alt='logo-x5group')
			.marquee-item
				img(src='@img/partners-logos/icom.svg' alt='logo-icom')