section.qa 
	.qa__container 
		h2.qa__title FAQ
		.qa__accordion.accordion
			details.accordion__details(open)
				summary What services does your concierge service offer?
				p We offer a wide range of services, including booking tickets for events, booking tables in restaurants, organizing transport, selection and delivery of gifts, assistance in household matters and much more
			details.accordion__details
				summary Is your service available 24/7?
				p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!
			details.accordion__details
				summary How can I contact your support team?
				p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!
			details.accordion__details
				summary What languages do your employees speak?
				p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!
			details.accordion__details
				summary What are the restrictions on the services provided?
				p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!
			details.accordion__details
				summary What is a personal concierge?
				p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!
			details.accordion__details
				summary How secure is my personal data?
				p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!
			details.accordion__details
				summary How secure is my personal data?
				p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!