section.services-list
	.services-list__container 
		h2.services-list__title Services
		ul.services-list__list.list-services
			li.list-services__item
				a(href="travel-org.html").list-services__link
					.list-services__img(style="background-image: url(@img/services-list/item-1.png)")
					.list-services__content 
						h4.list-services__title TRAVEL ORGANIZATION
						p.list-services__text
							| The text is intended as an example
							| of the location and is subject to editing.
			li.list-services__item
				a(href="booking-of-tickets.html").list-services__link
					.list-services__img(style="background-image: url(@img/services-list/item-2.png)")
					.list-services__content 
						h4.list-services__title Booking of air tickets
						p.list-services__text
							| The text is intended as an example
							| of the location and is subject to editing.

			li.list-services__item
				a(href="booking-of-hotels.html").list-services__link
					.list-services__img(style="background-image: url(@img/services-list/item-3.png)")
					.list-services__content 
						h4.list-services__title Booking of hotels/<br>apartments/villas

						p.list-services__text
							| The text is intended as an example
							| of the location and is subject to editing.

			li.list-services__item
				a(href="transfer.html").list-services__link
					.list-services__img(style="background-image: url(@img/services-list/item-4.png)")
					.list-services__content 
						h4.list-services__title Transfer
						p.list-services__text
							| The text is intended as an example
							| of the location and is subject to editing.

			li.list-services__item
				a(href="car-rent.html").list-services__link
					.list-services__img(style="background-image: url(@img/services-list/item-5.png)")
					.list-services__content 
						h4.list-services__title Car rental
						p.list-services__text
							| The text is intended as an example
							| of the location and is subject to editing.

			li.list-services__item
				a(href="restaurant.html").list-services__link
					.list-services__img(style="background-image: url(@img/services-list/item-6.png)")
					.list-services__content 
						h4.list-services__title Restaurant reservations
						p.list-services__text
							| The text is intended as an example
							| of the location and is subject to editing.

			li.list-services__item
				a(href="yacht-rent.html").list-services__link
					.list-services__img(style="background-image: url(@img/services-list/item-7.png)")
					.list-services__content 
						h4.list-services__title Yacht rentals
						p.list-services__text
							| The text is intended as an example
							| of the location and is subject to editing.
			
			li.list-services__item
				a(href="shopping.html").list-services__link
					.list-services__img(style="background-image: url(@img/services-list/item-8.png)")
					.list-services__content 
						h4.list-services__title Shopping support
						p.list-services__text
							| The text is intended as an example
							| of the location and is subject to editing.
			li.list-services__item
				a(href="event-org.html").list-services__link
					.list-services__img(style="background-image: url(@img/services-list/item-9.png)")
					.list-services__content 
						h4.list-services__title Organization of evenings and events
						p.list-services__text
							| The text is intended as an example
							| of the location and is subject to editing.

			li.list-services__item
				a(href="leisure-activities.html").list-services__link
					.list-services__img(style="background-image: url(@img/services-list/item-10.png)")
					.list-services__content 
						h4.list-services__title Leisure activities
						p.list-services__text
							| The text is intended as an example
							| of the location and is subject to editing.

			li.list-services__item
				a(href="other.html").list-services__link
					.list-services__img(style="background-image: url(@img/services-list/item-11.png)")
					.list-services__content 
						h4.list-services__title Other services
						p.list-services__text
							| The text is intended as an example
							| of the location and is subject to editing.

