section.why#why
	.why__container
		h2.why__title Почему нам можно доверять?
		.why__grid.grid-why
			.grid-why__item.grid-why__item-1(data-aos="fade-up", data-aos-anchor-placement="top-bottom")
				h4.gradient-text 12 МЛН +
				p Клиентских профилей
			.grid-why__item.grid-why__item-2(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="100")
				h4.gradient-text Инструмент персонализации
				p Такая рекламная<br>коммуникация<br>гарантированно<br>поднимает CTR
			.grid-why__item.grid-why__item-3(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="200")
				h4.gradient-text Непрерывное обновление
				p Сегменты постоянно<br>пополняются<br>и обновляются
			.grid-why__item.grid-why__item-4(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="300")
				h4.gradient-text 1 200 МЛН +
				p Распознаваемых изображений
			.grid-why__item.grid-why__item-5(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="400")
				h4.gradient-text > 90%
				p Активных профилей из РФ города 500К +
			.grid-why__item.grid-why__item-6._highlight(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="500")
				h4 Уникальная разработка
				p 250+ сформированных уникальных сегментов
			.grid-why__item.grid-why__item-7(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="600")
				h4.gradient-text 250 +
				p Готовых сегментов
			.grid-why__item.grid-why__item-8(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="700")
				h4.gradient-text 2 000 +
				p Распознаваемых объектов на фото
			.grid-why__item.grid-why__item-9(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="800")
				h4.gradient-text + 30% к CTR
				p Минимальный прирост эффективности

