section#why-us.why-us
    .why-us__container
        .why-us__body
            h2.section-title.why-us__title Почему мы?
            ul.why-us__grid.grid-why-us
                li.grid-why-us__item._black._tall
                    p.grid-why-us__title 
                        | Подбор ИТ-оборудования с учётом целей:
                    ul.grid-why-us__list
                        li проектирование ИТ-инфраструктуры с нуля или решение узкоспециализированных задач,
                        li решения могут быть моновендорные или комплексные,
                        li сроки поставки и выделенный бюджет.
                li.grid-why-us__item._medium
                    p.grid-why-us__text 
                        | Надёжность с юридической точки зрения. 
                        | Всё оборудование соответствует требованиям российского 
                        | законодательства и поставляется с полным пакетом необходимых документов.
                li.grid-why-us__item._highlight._medium
                    p.grid-why-us__text 
                        | Вы можете приобрести ИТ-оборудование, прошедшее 
                        | спецпроверки и специсследования в нашей 
                        | лаборатории с современным оборудованием, с необходимым 
                        | пакетом документов (по запросу)
                li.grid-why-us__item
                    p.grid-why-us__text 
                        | Спектр дополнительных услуг: настройка и обслуживание 
                        | ИТ-оборудования, а также поставка и внедрение сопутствующего
                li.grid-why-us__item._medium 
                    p.grid-why-us__text
                        | Гарантии выполнения обязательств. В договоре всегда прописываем стоимость 
                        | оборудования и сроки поставки, а также возможные варианты 
                        | дополнительных условий по технической поддержке оборудования (при необходимости).
                li.grid-why-us__item._highlight-2._medium
                    p.grid-why-us__text 
                        | Предоставляем гарантийное обслуживание оборудования