section.author#author 
    .author__container
        .author__body 
            h2.author__title Кто автор?
            h3.author__subtitle Калинская Мила — @Sash_mila
            p.author__text 
                | Основатель креативного агенства GoJi<br>
                | Выпускница британской высшей школы дизайна