footer.footer
	.footer__shape
	img.footer__img(src="@img/footer/bg.png", alt="Мила")
	img.footer__img-mob(src="@img/footer/bg-mob.png", alt="Мила")
	.footer__container
		h2.footer__title А на какую букву твоя история мудака?