header.header#header
	.header__container
		.header__top
			img.header__logo(src="@img/logo.svg", alt="")
			.header__links 
				a(href="").header__link
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
						<path d="M36.6667 20L37.3738 19.2929L38.0809 20L37.3738 20.7071L36.6667 20ZM3.33332 21C2.78104 21 2.33332 20.5523 2.33332 20C2.33332 19.4477 2.78104 19 3.33332 19V21ZM27.3738 9.29289L37.3738 19.2929L35.9595 20.7071L25.9595 10.7071L27.3738 9.29289ZM37.3738 20.7071L27.3738 30.7071L25.9595 29.2929L35.9595 19.2929L37.3738 20.7071ZM36.6667 21H3.33332V19H36.6667V21Z" fill="#6E8678"/>
					</svg>
					span buy poops on opensea
				a(href="").header__link 
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
						<path d="M36.6667 20L37.3738 19.2929L38.0809 20L37.3738 20.7071L36.6667 20ZM3.33332 21C2.78104 21 2.33332 20.5523 2.33332 20C2.33332 19.4477 2.78104 19 3.33332 19V21ZM27.3738 9.29289L37.3738 19.2929L35.9595 20.7071L25.9595 10.7071L27.3738 9.29289ZM37.3738 20.7071L27.3738 30.7071L25.9595 29.2929L35.9595 19.2929L37.3738 20.7071ZM36.6667 21H3.33332V19H36.6667V21Z" fill="#6E8678"/>
					</svg>
					span buy poops on uniswap
		.header__bottom 
			span.header__id CA: 0xdkfjfjfejfejw123jrjfgnsksjsj11 
		