section.hero#hero
	.hero__shape
	img.hero__img(src="@img/hero-bg.png", alt="Мила")
	.hero__container
		span.hero__label Мила Калинская
		h1.hero__title ABC OF<br>MUDAK
			span.hero__title-extra OFF
		a.button.hero__button Заказать