.projects {
	&__container {
		padding-top: rem(68);
		padding-bottom: rem(68);
		@media (max-width:$mobile){
			padding: rem(68) rem(27) rem(68) rem(27);
		}
		@media (max-width:$mobileSmall){
			padding: rem(50) rem(21) rem(34);
		}
	}
	&__title {
		margin-bottom: rem(12);
		color: $mainColor;
		font-size: rem(24);
		line-height: math.div(31, 24);
		@media (max-width:$mobileSmall){
			margin-bottom: rem(16);
			font-size: rem(18);
		}
	}
}

.projects {
	&-list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: rem(30);		
		@media (max-width:$tablet){
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: rem(285) rem(307) rem(307);
			row-gap: rem(24);
		}
		@media (max-width:$mobile){
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: rem(325) rem(330) rem(331) rem(300);
			row-gap: 0;
		}
		@media (max-width:$mobileSmall){
			grid-template-columns: 1fr;
			grid-template-rows: auto;
		}
	}
}

.list {
	&-item {
		position: relative;
		max-height: rem(300);
		@media (max-width:$tablet){
			max-height: rem(307);
		}
		@media (max-width:$mobile){
			max-height: rem(300); 
		}
		a {
			&:not(.list-item__button) {
				display: flex;
				flex-direction: column;
				height: 100%;
			}
			&:focus {
				outline: rem(1) solid $highlightColor;
			}
		}

		&--1,
		&--2,
		&--3 {
			grid-column: span 2;
			.list-item__img {
				flex: 1 0 auto;
				aspect-ratio: 190 / 184;
			}
			.list-item__text {
				flex: 1 1 auto;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		&--1,
		&--2 {
			@media (max-width:$tablet){
				.list-item__img {
					aspect-ratio: 218 / 184;
				}
			}
			@media (max-width:$mobile){
				grid-column: span 4;
			}
		}

		&--1 {
			.list-item__img {
				background-image: url("/img/projects/item-1.png");
				@media (max-width:$tablet){
					background-image: url("/img/projects/item-1-1024.png");  
				}
				@media (max-width:$mobileSmall){
					background-image: url("/img/projects/item-1-320.png");  
				}
			}
		}

		&--2 {
			.list-item__img {
				background-image: url("/img/projects/item-2.png");
				@media (max-width:$tablet){
					background-image: url("/img/projects/item-2-1024.png");  
				}
				@media (max-width:$mobileSmall){
					background-image: url("/img/projects/item-2-320.png");  
				}
			}
		}

		&--3 {
			.list-item__img {
				background-image: url("/img/projects/item-3.png");
				@media (max-width:$tablet){
					background-image: url("/img/projects/item-3-1024.png");  
				}
				@media (max-width:$mobile){
					background-image: url("/img/projects/item-3-768.png");  
				}
				@media (max-width:$mobileSmall){
					background-image: url("/img/projects/item-3-320.png");  
				}
			}
			@media (max-width:$tablet){
				grid-column: span 4;
				.list-item__img {
					aspect-ratio: 466 / 184;
					max-height: rem(184);
				}
			}
			@media (max-width:$mobile){
				grid-column: span 4;
				.list-item__img {
					aspect-ratio: 218 / 184;
				}
			}
		}		
		
		&--4,
		&--5 {
			grid-column: span 6;
			.list-item {
				&__img {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					margin-bottom: 0;
					padding: rem(22) rem(30) rem(30);
					width: 100%;
					height: 100%;
					@media (max-width:$tablet){
						padding: rem(30);
					}
					@media (max-width:$mobileSmall){
						justify-content: flex-end;
					}
				}
				&__date {
					margin-bottom: rem(2);
					color: $textColor;
					@media (max-width:$mobileSmall){
						margin-bottom: rem(7);
						line-height: math.div(22, 12);  
					}
				}
				&__title {
					margin-bottom: rem(5);
					color: $textColor;
					font-size: rem(24);
					font-weight: 700;
					@media (max-width:$tablet){
						margin-bottom: rem(6);
					}
					@media (max-width:$mobileSmall){
						margin-bottom: rem(10); 
					}
				}
				&__text {
					flex: 1 1 auto;
					margin-bottom: rem(18);
					max-width: rem(292);
					color: $textColor;
					font-family: "Roboto";
					line-height: math.div(22, 16);
					overflow: hidden;
					text-overflow: ellipsis;
					@media (max-width:$mobileSmall){
						flex: 0 0 auto; 
						margin-bottom: rem(15);
						font-size: rem(14);
						line-height: math.div(18, 14);
					}
				}
				&__button {
					display: inline-block;
					padding: rem(14) rem(19);
					border: rem(3) solid $highlightColor;
					color: $textColor;
					font-family: "Roboto";
					font-weight: 700;
					transition-property: background-color, border-color;
					transition-duration: 0.3s;
					transition-timing-function: ease;
					cursor: pointer;
					@media (any-hover: hover) {
						&:hover {
							background-color: $highlightColor;
						} 
					}
					&:focus {
						outline: none;
						border-color: $focusColor;
						background-color: $highlightColor;
					}
					&:active {
						background-color: $activeColor;
						border-color: $activeColor;
					}
					@media (max-width:$mobileSmall){
						padding: rem(10) rem(18);
						font-size: rem(14); 
					}
				}
			}
		}

		&--4 {
			.list-item__img {
				background-image: url("/img/projects/item-4.png");
				@media (max-width:$tablet){
					background-image: url("/img/projects/item-4-1024.png");  
				}
				@media (max-width:$mobile){
					// margin-bottom: rem(24);
					background-image: url("/img/projects/item-4-768.png");  
				}
			}
		}

		&--5 {
			.list-item__img {
				background-image: url("/img/projects/item-5.png");
				@media (max-width:$tablet){
					background-image: url("/img/projects/item-5-1024.png");  
				}
			}
		}

		&--6,
		&--7 {
			grid-column: span 3;
			@media (max-width:$mobile){
				max-height: rem(307);
			}
			.list-item__img {
				flex: 0 0 auto;
				aspect-ratio: 300 / 184;			
				@media (max-width:$tablet){
					aspect-ratio: 342 / 184; 
				}
			}
			.list-item__text {
				flex: 1 1 auto;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		
		}

		&--6 {
			.list-item__img {
				background-image: url("/img/projects/item-6.png");
				@media (max-width:$tablet){
					background-image: url("/img/projects/item-6-1024.png");  
				}
				@media (max-width:$mobileSmall){
					background-image: url("/img/projects/item-6-320.png");  
				}
			}
		}

		&--7 {
			.list-item__img {
				background-image: url("/img/projects/item-7.png");
				@media (max-width:$tablet){
					background-image: url("/img/projects/item-7-1024.png");  
				}
				@media (max-width:$mobileSmall){
					background-image: url("/img/projects/item-7-320.png");  
				}
			}
		}

		&__label {
			position: absolute;
			top: rem(7);
			right: rem(7);
			padding: rem(7) rem(14) rem(5);
			color: $textColor;
			background-color: $mainColor;
			font-family: "Roboto";
			font-size: rem(14);
			line-height: math.div(16, 14);
			@media (max-width:$mobileSmall){
				top: rem(5);
				right: rem(5);
				padding: rem(5) rem(14) rem(3) rem(15);
				font-size: rem(12); 
			}
		}
		&__img {
			margin-bottom: rem(18);
			width: 100%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			@media (max-width:$mobileSmall){
				margin-bottom: rem(19);
			}
		}
		&__date {
			display: flex;
			align-items: center;
			gap: rem(4);
			color: $lightColor-3;
			font-family: "Roboto";
			font-size: rem(12);
			line-height: math.div(22, 12);
			span {
				line-height: math.div(22, 12);
			}
		}
		&__title {

		}
		&__text {
			margin-bottom: rem(14);
			font-family: "Roboto";
			line-height: math.div(22, 16);
			@media (max-width:$mobileSmall){
				margin-bottom: rem(10); 
			}
		}
		&__button {

		}
	}
	@media (max-width:$tablet) {
		&-item {
			&--1 {
				grid-column: span 2;
			}
			&--2 {
				grid-column: span 2;
			}
			&--4 {
				grid-column: span 5;
			}
			&--5 {
				order: 3;
				grid-column: span 5;
			}
			&--6 {
				order: 1;
				grid-column: span 3;
			}		
			&--7 {
				order: 2;
				grid-column: span 3;
			}
		}	
	}

	@media (max-width:$mobile) {
		&-item {
			&--1,
			&--2,
			&--3 {
				grid-column: span 2;
				&__img {
					aspect-ratio: 218 / 184;
				}
			}
			&--4,
			&--5 {
				grid-column: span 6;
			}
			&--6,
			&--7 {
				grid-column: span 3;
			}
		}	
	}

	@media (max-width:$mobileSmall) {
		&-item {
			grid-column: unset;
			max-height: unset;
			&--1,
			&--2,
			&--3 {
				margin-bottom: rem(24);
				.list-item__img {
					aspect-ratio: 278 / 184;
				}
			}
			&--3 {
				margin-bottom: rem(22);
			}
			&--4 {
				margin-bottom: rem(26);
				.list-item__img {
					aspect-ratio: 278 / 422;
					background-image: url("/img/projects/item-4-320.png");
				}
			}
			&--5 {
				// margin-bottom: rem(25);
				.list-item__img {
					aspect-ratio: 278 / 422;
					background-image: url("/img/projects/item-5-320.png");
				}
				.list-item__text {
					margin-bottom: rem(22);
				}
				.list-item__title {
					margin-bottom: rem(9);
				}
			}
			&--6 {
				margin-bottom: rem(24);
				.list-item__img {
					margin-bottom: rem(18);
					aspect-ratio: 278 / 184;
				}
			}
			&--7 {
				margin-bottom: rem(25);
				.list-item__img {
					aspect-ratio: 278 / 184;
				}
			}
		}	
	}
}