//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	position: relative;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	padding: rem(10) rem(53);
	min-width: rem(348);
	color: $mainColor;
	background: $highlightColor;
	border-radius: rem(46);
	font-size: rem(20);
	line-height: math.div(26, 22);
	font-weight: 600;
	text-align: center;
	overflow: hidden;
	transition-property: opacity, color, background-color, border-color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	cursor: pointer;
	@media (max-width:$tablet){
		padding: rem(7) rem(29);
		min-width: rem(180);
		font-size: rem(12);
	}
	@media (max-width:$mobile){
		font-size: rem(15); 
	}
	@media (max-width:$mobileSmall){
		// font-size: rem(20); 
	}

	p, span {
		@media (max-width:$mobile){
			font-size: rem(16); 
		}
		@media (max-width:$mobileSmall){
			font-size: rem(20); 
		}
	}
	@media (any-hover: hover){
		&:hover{
			.flare {
				left: -5%;
			}
		}
	}
	&:focus {
		outline: none;
	}
	&:active {
	}
	&:disabled {
		pointer-events: none;
		cursor: not-allowed;
	}
	&-highlight {
		color: $highlightColor;
		background-color: $mainColor;
	}
	&-standart {
		color: $mainColor;
		background: transparent;
		border: rem(1) solid currentColor; 
		@media (max-width:$tablet){
			font-size: rem(12);
		}
		@media (any-hover: hover){
			&:hover{
				color: $highlightColor;
				background-color: $bgColorHighlight;
				border-color: $mainColor;
			}
		}
	}
}
