section.book#book
    .book__container
        .book__body 
            .book__img
                img(src="@img/book/bg.png", alt="")
            .book__content
                h2.book__title Печатная версия книги<br>ABC OF MUGAK OFF
                span.book__old-price 1999₽
                span.book__price 1599₽
                a(href="https://t.me/abcofmudakoff").button.button._highlight.book__button ЗАКАЗАТЬ