section.e-book#e-book
    .e-book__container
        .e-book__body 
            .e-book__img
                img(src="@img/e-book/bg.png", alt="")
            .e-book__content
                h2.e-book__title Электронная версия книги<br>ABC OF MUGAK OFF
                span.e-book__old-price 1499₽
                span.e-book__price 999₽
                a(href="https://t.me/abcofmudakoff").button.button._highlight.e-book__button ЗАКАЗАТЬ
