section.what#what 
    .what__container 
        .what__title Что вы получите?
        ul.what__list.list-what
            li.list-what__item
                .list-what__point 
                    span 1
                .list-what__text 
                    | Электронную или печатную версию книги<br>
                    | Электронная не имеет отличий от<br> 
                    | печатной версии в содержании.<br>
            li.list-what__item
                .list-what__point 
                    span 2
                .list-what__text 
                    | Пожизненный вход в закрытое женское<br> 
                    | сообщество, где будут проходить онлайн и<br>  
                    | оффлайн мероприятия для вас. Конечно, они не<br> 
                    | будут посвящены мудакам, как и эта книга.<br>
                    | ВСЁ только для ВАС любимых.
            li.list-what__item
                .list-what__point 
                    span 3
                .list-what__text 
                    | Приглашение на презентацию книги<br> 
                    | и личную встречу с автором.<br>
