.hero {
	padding: 100px 0;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		padding: 160px 81px 60px;
		background-color: $darkColor;
		border-radius: 70px;
	}

	&__text {
		max-width: 800px;
		text-align: center;
		line-height: 27px;
		opacity: 0.8;
		background: linear-gradient(180deg, #F4F4F6 -32.41%, rgba(244, 244, 246, 0.00) 154.63%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__btns {
	}

	&__button {
		min-width: 194px;
		min-height: 63px;
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}