header.header#header
	.header__container
		.header__menu
			.header__logo 
				span MUAI

			ul.nav-list

				li.nav-list__item
					a.nav-list__link(href="#", data-goto="#about") Home
				li.nav-list__item
					a.nav-list__link(href="#", data-goto="#programs") Princing
				li.nav-list__item
					a.nav-list__link(href="#", data-goto="#feedback") About
				li.nav-list__item
					a.nav-list__link(href="#", data-goto="#contacts") Contact

			a.button.header__button._highlight Get Started
			//- nav.menu
			//- 	.menu__wrapper
			//- 		button(type="button").menu__icon.icon-menu
			//- 			span
			//- 	.menu__body.menu-body
