header.header#header
	.header__container
		.header__menu
			.header__logo 
				span MUAI

			ul.nav-list

				li.nav-list__item
					a.nav-list__link(href="#home") Home
				li.nav-list__item
					a.nav-list__link(href="#pricing") Princing
				li.nav-list__item
					a.nav-list__link(href="#about") About
				li.nav-list__item
					a.nav-list__link(href="#contact") Contact

			a.button.header__button._highlight Get Started

			nav(hidden).menu
				button(type="button").menu__icon.icon-menu
					span
				.menu__body.mobile-menu
					ul.mobile-menu__list

						li.mobile-menu__item
							a.mobile-menu__link(href="#home") Home
						li.mobile-menu__item
							a.mobile-menu__link(href="#pricing") Princing
						li.mobile-menu__item
							a.mobile-menu__link(href="#about") About
						li.mobile-menu__item
							a.mobile-menu__link(href="#contact") Contact
					
					a.button.mobile-menu._highlight Get Started
