head 
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1,  maximum-scale=1")
	link(rel="icon", href="img/favicon.ico")
	meta(property="og:title", content="Simplify your work with AI tool")
	meta(property="og:site_name", content="MUAI")
	meta(property="og:url", content="")
	meta(property="og:description", content="Unleash the power of AI within Brainwave. Upgrade your productivity with Brainwave, the open AI chat app.")
	meta(property="og:image", content="")
	meta(property="og:image:width", content="968")
	meta(property="og:image:height", content="504")
	meta(name="description" content="Unleash the power of AI within Brainwave. Upgrade your productivity with Brainwave, the open AI chat app.")
	title MUAI
	link(rel="stylesheet", href="css/style.min.css")