header.header#header
	.header__container
		.header__menu
			.header__logo 
				span MUAI

			ul.nav-list

				li.nav-list__item
					a.nav-list__link(href="#", data-goto="#about") Home
				li.nav-list__item
					a.nav-list__link(href="#", data-goto="#programs") Princing
				li.nav-list__item
					a.nav-list__link(href="#", data-goto="#feedback") About
				li.nav-list__item
					a.nav-list__link(href="#", data-goto="#contacts") Contact

			a.button.header__button._highlight Get Started

			button.header__mobile-menu 
				<svg xmlns="http://www.w3.org/2000/svg" width="22" height="3" viewBox="0 0 22 3" fill="none">
					<path d="M2 1.5L20 1.5" stroke="#07070C" stroke-width="3" stroke-linecap="round"/>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" width="22" height="3" viewBox="0 0 22 3" fill="none">
					<path d="M2 1.5L20 1.5" stroke="#07070C" stroke-width="3" stroke-linecap="round"/>
				</svg>
			//- nav.menu
			//- 	.menu__wrapper
			//- 		button(type="button").menu__icon.icon-menu
			//- 			span
			//- 	.menu__body.menu-body
