section.hero#hero
	.hero__container
		.hero__body
			img.hero__img(src="@img/svg/line.svg")
			h1.hero__title Simplify your work<br>with AI tool
			p.hero__text Unleash the power of AI within Brainwave. Upgrade your productivity with Brainwave, the open AI chat app.
			.hero__btns 
				a.button.hero__button Get Started Free
				a.button.hero__button._transparent Explore