section.qa#qa
	.qa__container
		.qa__top 
			h2.qa__title FAQs Frequently Asked Questions!
			p.qa__text Need  Any Help? Send us a message using the form below and we'll get back to you promptly!
		.qa__body
			.qa__accordion.accordion
				details.accordion__details
					summary How easy is it to setup AITool?
					p 
						| We accept various payment methods, including major credit cards (Visa, Mastercard, American Express), 
						| PayPal, and direct bank transfers. You can choose the most convenient option during the checkout process.
				details.accordion__details
					summary What your refund policy?
					p 
						| We accept various payment methods, including major credit cards (Visa, Mastercard, American Express), 
						| PayPal, and direct bank transfers. You can choose the most convenient option during the checkout process.
				details.accordion__details
					summary Can I integrate AITool with other platforms?
					p 
						| We accept various payment methods, including major credit cards (Visa, Mastercard, American Express), 
						| PayPal, and direct bank transfers. You can choose the most convenient option during the checkout process.
				details.accordion__details
					summary Do you have corporate plans?
					p 
						| We accept various payment methods, including major credit cards (Visa, Mastercard, American Express), 
						| PayPal, and direct bank transfers. You can choose the most convenient option during the checkout process.
				details.accordion__details
					summary How often do you add new content?
					p 
						| We accept various payment methods, including major credit cards (Visa, Mastercard, American Express), 
						| PayPal, and direct bank transfers. You can choose the most convenient option during the checkout process. 
				details.accordion__details(open)
					summary Can I cancel my subscription at any time?
					p 
						| We accept various payment methods, including major credit cards (Visa, Mastercard, American Express), 
						| PayPal, and direct bank transfers. You can choose the most convenient option during the checkout process.

		.qa__banner.banner
			.banner__content 
				h3.banner__title Still Need Help?
				p.banner__text Can't find the answer here?  Message us for help!
			a.button.banner__button._transparent Shoot Us A Message!
