section.why#why
	.why__container
		.why__body 
			h2.why__title
				| why customers 
				span love us
			ul.why__list.list-why 
				li.list-why__item 
					h3.list-why__title Musideri
					p.list-why__text
						| I recently used an AI chat system and it exceeded my expectations. 
						| The speed and accuracy of the responses were impressive, 
						| and the personalized recommendations w
				li.list-why__item 
					h3.list-why__title Musideri
					p.list-why__text
						| I recently used an AI chat system and it exceeded my expectations. 
						| The speed and accuracy of the responses were impressive, 
						| and the personalized recommendations w
				li.list-why__item 
					h3.list-why__title Musideri
					p.list-why__text
						| I recently used an AI chat system and it exceeded my expectations. 
						| The speed and accuracy of the responses were impressive, 
						| and the personalized recommendations w
				li.list-why__item 
					h3.list-why__title Musideri
					p.list-why__text
						| I recently used an AI chat system and it exceeded my expectations. 
						| The speed and accuracy of the responses were impressive, 
						| and the personalized recommendations w
				li.list-why__item 
					h3.list-why__title Musideri
					p.list-why__text
						| I recently used an AI chat system and it exceeded my expectations. 
						| The speed and accuracy of the responses were impressive, 
						| and the personalized recommendations w
				li.list-why__item 
					h3.list-why__title Musideri
					p.list-why__text
						| I recently used an AI chat system and it exceeded my expectations. 
						| The speed and accuracy of the responses were impressive, 
						| and the personalized recommendations w

