svg(xmlns='http://www.w3.org/2000/svg' width='130' height='32' viewbox='0 0 130 32' fill='none')
    g(clip-path='url(#clip0_4144_9756)')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M73.654 0.0011062C78.0946 0.0011062 81.7262 4.2162 81.7272 9.36812C81.7262 14.5211 78.0928 18.7362 73.654 18.7362H68.0404L64.742 18.7373C63.2846 18.7373 62.0928 20.1188 62.0928 21.8099C62.0928 23.4989 63.2846 24.8814 64.742 24.8814H80.1974V31.1538H64.7706C60.3308 31.1538 56.6974 26.9386 56.6974 21.7867C56.6974 16.6337 60.3308 12.4186 64.7706 12.4186H70.384H73.6824C75.1398 12.4175 76.3316 11.036 76.3316 9.34601C76.3316 7.65597 75.1398 6.27344 73.6824 6.27344L73.257 6.28559L53.7064 6.29113L53.7226 31.157H48.3128L48.3176 0C56.764 0 65.2114 0.0011062 73.654 0.0011062ZM43.5646 31.1438H38.1664V0H43.5646V31.1438ZM119.853 21.3132C119.733 27.2826 115.958 31.0177 111.392 31.1438H86.4592L86.4572 21.3122V0H91.8556L91.8594 24.8824L94.7704 24.8647L111.357 24.8702C113.165 24.7729 114.371 23.3727 114.454 21.2703V0H119.853V21.3132ZM130 31.1438H124.601V0H130V31.1438ZM33.4182 21.3132C33.2954 26.8877 29.7608 31.0143 24.9566 31.1426H9.40974V24.8702L25.104 24.8647C26.8308 24.6812 27.9056 23.2556 27.9818 21.2735L27.9778 9.6579C27.818 7.65929 26.6452 6.36524 24.9212 6.27344L5.45356 6.27895L5.425 9.6568L5.42024 31.1426H0.0218966V9.83155L0 0H24.9566C29.7646 0.134938 33.2954 4.25603 33.4182 9.83045V21.3132Z' fill='url(#paint0_linear_4144_9756)')
    defs
        lineargradient#paint0_linear_4144_9756(x1='21.8269' y1='4.32652e-07' x2='41.6595' y2='55.4584' gradientunits='userSpaceOnUse')
            stop(stop-color='#00A0DB')
            stop(offset='1' stop-color='#5ED654')
        clippath#clip0_4144_9756
            rect(width='130' height='31.157' fill='white')