.soft-hero {
    @include adaptiveValue("margin-bottom", 113, 50);

    &__title {
        margin-bottom: 8px;
    }

    &__text {
        margin-bottom: 42px;
        line-height: 1.3;

        @media (max-width:$mobileSmall) {
            margin-bottom: 21px;
            font-weight: 500;
        }
    }
}

.spoiler-soft {
    margin-bottom: 24px;

    @media (max-width:$mobileSmall) {
        margin-bottom: 16px;
    }
}