section.about#about
	.about__container
		h3.about__title О студии
		.about__content
			.about-content__text 
				| В рамках спецификации современных стандартов, 
				| интерактивные прототипы, инициированные исключительно синтетически, 
				| ограничены исключительно образом мышления. 
				| Предварительные выводы неутешительны: 
				| высокотехнологичная концепция общественного уклада требует 
				| от нас анализа соответствующих условий активизации! 
				| Следует отметить, что семантический разбор внешних противодействий 
				| фиксирует необходимость распределения внутренних резервов и ресурсов. 
				| Безусловно, граница обучения кадров предоставляет широкие возможности 
				| для первоочередных требований. 
				| Повседневная практика показывает, 
				| что глубокий уровень погружения предполагает независимые 
				| способы реализации новых принципов формирования 
				| материально-технической и кадровой базы. 
				| Приятно, граждане, наблюдать, как явные 
				| признаки институционализации являются только методом 
				| политического участия и нарушающими общечеловеческие нормы этики.
			.about-content__form.content-form
				.content-form__img 
				form(action="#", method="post").content-form__form.form
					p.form__title Подписаться на рассылку
					.form__wrapper
						input(autocomplete="on", type="email" ,placeholder="Email").form__input
						button.button.form__button(type="submit") Отправить