section.hero 
	.hero__container
		ul.hero__list.hero-list 
			li.hero-list__item.hero-list__item--2x2.item
				span.item__desc Мастер-класс от Игоря Робова
				h3.item__title Неоновый фотосет 2.0 7 июля 20:00
				button.button.item__button Узнать больше
			li.hero-list__item.item.hero-list__item--2x1
				h4.item__text Работы участников предыдущего мастер-класса
				div.item__bg
			li.hero-list__item.item--1x1
			li.hero-list__item.item--1x1.last