section.projects#projects
	.projects__container
		h3.projects__title Наши проекты
		ul.projects-list 
			li.projects-list__item.list-item.list-item--1
				a(href="") 
					.list-item__label #пейзаж
					.list-item__img
					.list-item__text Синтетически, смешаны с не уникальными данными до степени…
					.list-item__date
						svg(width="14", height="14")
							use(xlink:href="@img/icons/icons.svg#mdi_calendar_today")
						span 16 июня
			li.projects-list__item.list-item.list-item--2
				a(href="") 
					.list-item__label #портрет
					.list-item__img
					.list-item__text В своём стремлении улучшить опыт мы упускаем, что явные...
					.list-item__date
						svg(width="14", height="14")
							use(xlink:href="@img/icons/icons.svg#mdi_calendar_today")
						span 28 мая
			li.projects-list__item.list-item.list-item--3
				a(href="") 
					.list-item__label #предмет
					.list-item__img
					.list-item__text Равным образом, высокое качество позиционных...
					.list-item__date
						svg(width="14", height="14")
							use(xlink:href="@img/icons/icons.svg#mdi_calendar_today")
						span 14 мая
			li.projects-list__item.list-item.list-item--4
				.list-item__label #fuji
				.list-item__img
					.list-item__date 
						svg(width="14", height="14", fill="#fff")
							use(xlink:href="@img/icons/icons.svg#mdi_calendar_today-2")
						| 9 апреля
					.list-item__title Cемантический<br>разбор
					.list-item__text В рамках спецификации современных стандартов, интерактивные прототипы
					a.list-item__button(tabIndex="0") О проекте
			li.projects-list__item.list-item.list-item--5
				.list-item__label #проектзабвение
				.list-item__img
					.list-item__date 
						svg(width="14", height="14")
							use(xlink:href="@img/icons/icons.svg#mdi_calendar_today-2")
						| 20 марта
					.list-item__title Забвение
					.list-item__text Играет важную роль в формировании глубокомысленных рассуждений
					a.list-item__button(tabIndex="0") О проекте
			li.projects-list__item.list-item.list-item--6
				a(href="") 
					.list-item__label #ретушь
					.list-item__img 
					.list-item__text Как принято считать, многие известные личности и по сей день остаются уделом либералов…
					.list-item__date
						svg(width="14", height="14")
							use(xlink:href="@img/icons/icons.svg#mdi_calendar_today")
						| 9 марта
			li.projects-list__item.list-item.list-item--7
				a(href="") 
					.list-item__label #портрет
					.list-item__img 
					.list-item__text С учётом сложившейся международной обстановки, новая модель организационной…
					.list-item__date
						svg(width="14", height="14")
							use(xlink:href="@img/icons/icons.svg#mdi_calendar_today")
						| 1 марта