section#expertise.expertise
    .expertise__container
        .expertise__body
            h2.section-title.expertise__title Экспертиза
            ul.expertise__grid.grid-expertise
                li.grid-expertise__item._highlight-2
                    | Мы&nbsp;являемся партнёрами и&nbsp;регулярно проходим 
                    | обучение и&nbsp;сертификацию у&nbsp;ключевых производителей 
                    | программного обеспечения и оборудования: Positive Technologies, 
                    | «Код безопасности», «Лаборатория Касперского», UserGate, «ИнфоТеКС» и&nbsp;др.
                li.grid-expertise__item
                    | Наша лаборатория по&nbsp;специальным проверкам и&nbsp;специальным 
                    | исследованиям имеет все&nbsp;необходимые допуски, разрешения и&nbsp;лицензии. 
                    | Помещение оснащено современным специальным оборудованием 
                    | и&nbsp;необходимой степенью защищённости.
                li.grid-expertise__item
                    p.grid-expertise__title
                        | Имеем все необходимые сертификаты и лицензии для нашей деятельности:
                    ul.grid-expertise__list 
                        li Федеральная служба безопасности Российской Федерации.
                        li Федеральная служба по техническому и экспортному контролю.
                        li Министерство обороны Российской Федерации.

            .separator.about__separator