<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		//- .loader#loader
		//- 	.loader__spinner
		//- 		.loader__icon
		//- 			div

		.wrapper
			include html/_header
			main.main-content
				include html/_about
				include html/_programs
				include html/_why
				include html/_first
				include html/_feedback
				include html/_qa
			include html/_footer
			include html/_popup
		//- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
		//- style.
		//- 	@keyframes slideShow-1 {
		//- 		0% { background-image: url(@img/programs/program-1-1.png); }
		//- 		15% { background-image: url(@img/programs/program-1-1.png); }
		//- 		25% { background-image: url(@img/programs/program-1-2.png); }
		//- 		40% { background-image: url(@img/programs/program-1-2.png); }
		//- 		50% { background-image: url(@img/programs/program-1-3.png); }
		//- 		65% { background-image: url(@img/programs/program-1-3.png); }
		//- 		75% { background-image: url(@img/programs/program-1-4.png); }
		//- 		100% { background-image: url(@img/programs/program-1-4.png); }
		//- 	}
		//- 	@keyframes slideShow-2 {
		//- 		0% { background-image: url(@img/programs/program-2-1.png); }
		//- 		15% { background-image: url(@img/programs/program-2-1.png); }
		//- 		25% { background-image: url(@img/programs/program-2-2.png); }
		//- 		40% { background-image: url(@img/programs/program-2-2.png); }
		//- 		50% { background-image: url(@img/programs/program-2-3.png); }
		//- 		65% { background-image: url(@img/programs/program-2-3.png); }
		//- 		75% { background-image: url(@img/programs/program-2-4.png); }
		//- 		100% { background-image: url(@img/programs/program-2-4.png); }
		//- 	}
		//- 	@keyframes slideShow-3 {
		//- 		0% { background-image: url(@img/programs/program-3-1.png); }
		//- 		15% { background-image: url(@img/programs/program-3-1.png); }
		//- 		25% { background-image: url(@img/programs/program-3-2.png); }
		//- 		40% { background-image: url(@img/programs/program-3-2.png); }
		//- 		50% { background-image: url(@img/programs/program-3-3.png); }
		//- 		65% { background-image: url(@img/programs/program-3-3.png); }
		//- 		75% { background-image: url(@img/programs/program-3-4.png); }
		//- 		100% { background-image: url(@img/programs/program-3-4.png); }
		//- 	}
		//- 	@keyframes slideShow-4 {
		//- 		0% { background-image: url(@img/programs/program-4-1.png); }
		//- 		15% { background-image: url(@img/programs/program-4-1.png); }
		//- 		25% { background-image: url(@img/programs/program-4-2.png); }
		//- 		40% { background-image: url(@img/programs/program-4-2.png); }
		//- 		50% { background-image: url(@img/programs/program-4-3.png); }
		//- 		65% { background-image: url(@img/programs/program-4-3.png); }
		//- 		75% { background-image: url(@img/programs/program-4-4.png); }
		//- 		100% { background-image: url(@img/programs/program-4-4.png); }
		//- 	}

		script(src="js/app.min.js")
	