//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

// .button {
// 	position: relative;
// 	box-sizing: border-box;
// 	display: inline-flex;
// 	justify-content: center;
// 	align-items: center;
// 	gap: rem(16);
// 	// padding: rem(26) rem(86);
// 	@include adaptiveValue("padding-top", 26, 11, 1920, 375, 1);
// 	@include adaptiveValue("padding-bottom", 26, 11, 1920, 375, 1);
// 	@include adaptiveValue("padding-left", 86, 40, 1920, 375, 1);
// 	@include adaptiveValue("padding-right", 86, 40, 1920, 375, 1);
// 	color: #fff;
// 	background-color: $mainColor;
// 	border-radius: rem(79);
// 	@include adaptiveValue("font-size", 36, 16, 1920, 375, 1);
// 	font-variation-settings: "wght" 500;
// 	text-align: center;
// 	text-transform: uppercase;
// 	overflow: hidden;
// 	transition-property: opacit, color, background-color;
// 	transition-duration: 0.3s;
// 	transition-timing-function: ease;
// 	z-index: 3;

// 	transform: perspective(1px) translateZ(0);
// 	// span {
// 	// 	color: #fff;
// 	// 	font-size: rem(14);
// 	// 	font-variation-settings: "wght" 500;
// 	// }

// 	// @media (any-hover: hover){
// 	// 	&:hover{
// 	// 		opacity: 0.75;
// 	// 	}
// 	// }
// 	&:focus {
// 		// border-color: $activeColor;
// 		outline: none;
// 	}
// 	&:active {
// 		// background-color: $activeColor;
// 	}
// 	&._disabled {
// 		color: #fff;
// 		background-color: #D5D5D5;
// 		pointer-events: none;
// 	}

// 	&._highlight {
// 		background-color: $highlightColor;
// 	}

// 	&::before{
// 		content:'';
// 		background: rgb(255, 90, 20);
// 		clip-path: inset(0 100% 0 0);
// 		opacity: 1;
// 		transition: 0.4s;
// 	}

// 	&:hover::before {
// 		clip-path: inset(0 0 0 0);
// 	}

// 	&:hover {
// 		color: white;
// 		box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
// 	}
// }



.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	@include adaptiveValue("padding-top", 26, 11, 1920, 375, 1);
	@include adaptiveValue("padding-bottom", 26, 11, 1920, 375, 1);
	@include adaptiveValue("padding-left", 86, 40, 1920, 375, 1);
	@include adaptiveValue("padding-right", 86, 40, 1920, 375, 1);
	color: #fff;
	background: $mainColor;
	border-radius: rem(79);
	text-transform: uppercase;
	transition: all 0.4s cubic-bezier(.86, .01, .15, .99);
	transform: perspective(1px) translateZ(0);
	overflow: hidden;
	cursor: pointer;

	&._highlight {
		background: $highlightColor;

		&::before{
			background: $highlightColor;
		}

		&:hover {
			color: $highlightColor;
			box-shadow: 0 0 0 10px rgba(114, 7, 7, 0.1);
		}

		&:hover::before {
			background: #fff;
			clip-path: circle(100% at 50% 50%);
		}
	}
}

.button:hover {
	color: #fff;
	box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
}

.button::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0;
	clip-path: circle(0.5% at 50% 50%);
	background: $highlightColor;
	transition: 0.4s;
	opacity: 1;
}

.button:hover::before {
	clip-path: circle(100% at 50% 50%);
}