section.error
    .error__pattern
    .error__container
        .error__body 
            .error__img
                svg(xmlns='http://www.w3.org/2000/svg' width='400' height='159' viewbox='0 0 400 159' fill='none')
                    path(d='M98.781 156.365H82.9055V113.979H0V101.022L83.126 2.63535H98.781V99.2652H124.358V113.979H98.781V156.365ZM82.9055 24.1574L18.9624 99.2652H82.9055V24.1574Z' fill='#77C149')
                    path(d='M136.366 79.5C136.366 56.953 142.172 38.1395 153.785 23.0594C165.545 7.68646 180.832 0 199.648 0C218.316 0 233.53 7.61326 245.29 22.8398C256.902 37.9199 262.709 56.8066 262.709 79.5C262.709 102.193 256.902 121.08 245.29 136.16C233.53 151.387 218.316 159 199.648 159C180.832 159 165.545 151.387 153.785 136.16C142.172 121.08 136.366 102.193 136.366 79.5ZM246.613 79.5C246.613 61.1989 242.203 45.8992 233.383 33.6008C224.563 21.3025 213.318 15.1533 199.648 15.1533C185.977 15.1533 174.732 21.3025 165.912 33.6008C157.093 45.8992 152.683 61.1989 152.683 79.5C152.683 97.8011 157.019 113.174 165.692 125.619C174.511 137.771 185.83 143.847 199.648 143.847C213.465 143.847 224.71 137.771 233.383 125.619C242.203 113.32 246.613 97.9475 246.613 79.5Z' fill='#77C149')
                    path(d='M374.423 156.365H358.547V113.979H275.642V101.022L358.768 2.63535H374.423V99.2652H400V113.979H374.423V156.365ZM358.547 24.1574L294.604 99.2652H358.547V24.1574Z' fill='#77C149')
            h2.error__subtitle Страница не найдена
            p.error__text Неправильно набран адрес, или такой страницы на сайте больше не существует
            a(href="/").button.error__button На главную 