section.about#about
    img.about__img(src="@img/about/bg.png", alt="")
    .about__container 
        h2.about__title О чем книга?
        .about__body
            p.about__text 
               | Данная книга основана на 22 реальных
               | историях 22 девушек, которые согласились 
               | поделиться своим опытом с вами.
            p.about__text
                | Тут вы не увидите таких фраз, 
                | как “Все мужики козлы, а мы с вами молодцы!”
            p.about__text
                | Главная цитата:
                span.about__quote “Наши ожидания — наши проблемы”.
            img.about__img-mob(src="@img/about/bg-mob.png", alt="")
            p.about__text
                | Сколько раз мы сталкивались с плохим отношением к себе со стороны мудаков? Каждая из нас имеет таких историй у себя в арсенале на целый том!<br>
                | В этой книге я собрала самые часто встречающиеся типажи мудаков, которые попадаются в жизни любой девушки. В каждой истории есть мораль и совет, относящиеся к определённому типу.<br>
                | В морали будет рассказано, как героиня преодолела свою боль.<br>
                | В совете — как этого избежать.<br>
                | Мне хочется верить, что для любой девушки книга станет полезна.<br>
                | Я верю в женщин и женскую силу, которая в 21 веке не имеет границ.<br>
                | Каждая из вас уникальная, прекрасная и достойна лучшего.<br>
                | Давайте приумножим эту силу и поверим в себя на все 100% после прочтения
                span.about__label ABC OF MUDAK OFF
            //- .about__content
            //- .about__img 
            //-     img(src="@img/about/book.png", alt="")