section.brands
    h2.section-title.brands__title Популярные бренды
    
    .clients__slider.swiper
        .clients__wrapper.swiper-wrapper
            .clients__slide.swiper-slide
                include brands/_avrora

            .clients__slide.swiper-slide
                include brands/_cli
                
            .clients__slide.swiper-slide
                include brands/_biorad

            .clients__slide.swiper-slide
                include brands/_dirui

            .clients__slide.swiper-slide
                include brands/_cormay

            .clients__slide.swiper-slide
                include brands/_biosan

            .clients__slide.swiper-slide
                include brands/_avrora

            .clients__slide.swiper-slide
                include brands/_cli
                
            .clients__slide.swiper-slide
                include brands/_biorad

            .clients__slide.swiper-slide
                include brands/_dirui

            .clients__slide.swiper-slide
                include brands/_cormay

            .clients__slide.swiper-slide
                include brands/_biosan

    .clients__pagination.swiper-pagination