if productPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="/category.html").breadcrumbs__link Каталог
            li.breadcrumbs__item 
                a(href="/catalog/genomika/").breadcrumbs__link Геномика
            li.breadcrumbs__item 
                .breadcrumbs__link УВЭЖХ система HELICON 1800 UHPLC с бинарным насосом

else if cartPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                .breadcrumbs__link Корзина 

else if orderPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Корзина 
            li.breadcrumbs__item 
                .breadcrumbs__link Оформление заказа 

else

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="/category.html").breadcrumbs__link Каталог
            li.breadcrumbs__item 
                .breadcrumbs__link Геномика