if productPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="/category.html").breadcrumbs__link Каталог
            li.breadcrumbs__item 
                a(href="/catalog/genomika/").breadcrumbs__link Геномика
            li.breadcrumbs__item 
                .breadcrumbs__link УВЭЖХ система HELICON 1800 UHPLC с бинарным насосом

else if cartPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                .breadcrumbs__link Корзина 

else if orderPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Корзина 
            li.breadcrumbs__item 
                .breadcrumbs__link Оформление заказа 

else if orderComplitePage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Корзина 
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Оформление заказа
            li.breadcrumbs__item 
                .breadcrumbs__link Заказ #12345678 

else if favoritesPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                .breadcrumbs__link Избранные товары

else if searchPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="/category.html").breadcrumbs__link Каталог
            li.breadcrumbs__item 
                a(href="#").breadcrumbs__link Оборудование
            li.breadcrumbs__item 
                a(href="#").breadcrumbs__link Оборудование для ветеринарии
            li.breadcrumbs__item 
                .breadcrumbs__link Анализатор

else if comparissonPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="#").breadcrumbs__link Каталог
            li.breadcrumbs__item 
                .breadcrumbs__link Сравнение товаров

else

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="/category.html").breadcrumbs__link Каталог
            li.breadcrumbs__item 
                .breadcrumbs__link Геномика