// если корзина пуста добавляем ._cart-empty
// если есть разный тип доставки ._delivery-split
// если есть температурный режим ._spec-delivery
section.cart._delivery-split._spec-delivery
    .cart__container
        - const cartPage = true;
        include _breadcrumbs
        
        h1.section-title.cart__title
            span.section-title__text Корзина
                span.section-title__counter (3)

        // если корзина пустая
        .cart__empty.empty-cart
            .empty-cart__body
                .empty-cart__content
                    h2.empty-cart__title Ваша корзина пуста
                    .empty-cart__text Воспользуйтесь поиском, чтобы найти всё, что нужно
                a(href="./catalog.html").button.empty-cart__button Начать покупки

        .cart__body.body-cart
            .body-cart__products.cart-products

                // если добавили с температурным режимом
                .cart-products__alarm.alarm-message
                    //- h4.alarm-message__title Внимание!
                    .alarm-message__wrapper 
                        include icons/_alarm

                        p.alarm-message__text 
                            | Страница будет доступна еще 14 дней 23 часа 15 минут.
                            <br>
                            | Для добавления товаров в корзину нажмите на кнопку 
                            span ”Добавить в корзину”

                // если поделились корзиной
                .cart-products__alarm.alarm-message
                    h4.alarm-message__title Внимание!
                    p.alarm-message__text 
                        | При добавлении товара с температурным режимом +4 и -20 
                        | автоматически добавляется термоконтейнер с хладоэлементами. 
                        | Товар с температурой для транспортировки RT доставляется во все регионы 
                        | РФ транспортной компанией СДЭК.

                .cart-products__header
                    label.checkbox.cart-products__label
                        | Выбрать все
                        input(type='checkbox' checked='checked')
                        include icons/_checkbox

                    button.cart-products__delete 
                        | Удалить выбранные

                // если есть разделение доставки
                #delivery-switcher.cart-products__delivery.delivery-cart
                    .delivery-cart__tab._active
                        span.delivery-cart__title Отдельный расчет доставки
                        span.delivery-cart__subtitle доставим с 06.05
                    .delivery-cart__tab
                        span.delivery-cart__title Объединить
                        span.delivery-cart__subtitle доставим с 06.05

                .cart-products__body

                    .cart-products__title.delivery-type
                        h3.delivery-type__text
                            span.delivery-type__count 1
                            p Самостоятельная оплата

                        button.delivery-type__button удалить

                    ul.cart-products__list
                        li.cart-products__item.cart-product._not-availble
                            .cart-product__options.more-options
                                include icons/_options

                            label.checkbox.cart-product__label
                                input(type='checkbox')
                                include icons/_checkbox

                            .cart-product__item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
                                .cart-product__image-ibg
                                        img(src="@img/products/item-1.png" alt=`Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)`, itemprop="image")
                                .cart-product__content
                                    .cart-product__info
                                        span.product-item__code.cart-product__code(itemprop="sku") 1R-B.002-15
                                        h4.product-item__title.cart-product__title(itemprop="brand") Ламинарные системы
                                        p.product-item__text.cart-product__text(itemprop="description") Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150) Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)
                                        .cart-product__mobile-prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                            meta(itemprop='priceCurrency' content='RUB')
                                            meta(itemprop='price' content='68334')
                                            meta(itemprop='availability' content='http://schema.org/InStock')
                                            span.product-item__price.cart-product__mobile-price 68 334 ₽
                                            span.product-item__price-old.cart-product__mobile-price-old 100 334 ₽
                                        span.product-item__status.cart-product__status._limited Под заказ

                                        .cart-product__buttons

                                            button.button.cart-product__button._follow-to-product(data-popup="to-follow-product") Подписаться на товар
                                            .cart-product__counter
                                                .cart-product__decrease
                                                    span &ndash;
                                                span.current-quantity 1
                                                .cart-product__increase
                                                    span +
                                                input.product-quantity(type='number' name='product-quantity' hidden='hidden' value='0')

                                            .cart-product__icons
                                                span.icons-product__heart 
                                                    include icons/_heart
                                                span.icons-product__bin
                                                    include icons/_bin

                                    .cart-product__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                        meta(itemprop='priceCurrency' content='RUB')
                                        meta(itemprop='price' content='68334')
                                        meta(itemprop='availability' content='http://schema.org/InStock')
                                        span.product-item__price 68 334 ₽
                                        span.product-item__price-old 100 334 ₽
 
                        li.cart-products__item.cart-product
                            .cart-product__options.more-options
                                include icons/_options

                            label.checkbox.cart-product__label
                                input(type='checkbox' checked='checked')
                                include icons/_checkbox

                            .cart-product__item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
                                .cart-product__image-ibg
                                        img(src="@img/products/item-1.png" alt=`Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)`, itemprop="image")
                                .cart-product__content
                                    .cart-product__info
                                        span.product-item__code.cart-product__code(itemprop="sku") 1R-B.002-15
                                        h4.product-item__title.cart-product__title(itemprop="brand") Ламинарные системы
                                        p.product-item__text.cart-product__text(itemprop="description") Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)
                                        .cart-product__mobile-prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                            meta(itemprop='priceCurrency' content='RUB')
                                            meta(itemprop='price' content='68334')
                                            meta(itemprop='availability' content='http://schema.org/InStock')
                                            span.product-item__price.cart-product__mobile-price 68 334 ₽
                                            span.product-item__price-old.cart-product__mobile-price-old 100 334 ₽
                                        span.product-item__status.cart-product__status._many В наличии

                                        .cart-product__buttons
                                            .cart-product__counter
                                                .cart-product__decrease
                                                    span &ndash;
                                                span.current-quantity 1
                                                .cart-product__increase
                                                    span +
                                                input.product-quantity(type='number' name='product-quantity' hidden='hidden' value='0')

                                            .cart-product__icons
                                                span.icons-product__heart 
                                                    include icons/_heart
                                                span.icons-product__bin
                                                    include icons/_bin

                                    .cart-product__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                        meta(itemprop='priceCurrency' content='RUB')
                                        meta(itemprop='price' content='68334')
                                        meta(itemprop='availability' content='http://schema.org/InStock')
                                        span.product-item__price 68 334 ₽
                                        span.product-item__price-old 100 334 ₽
 
                        li.cart-products__item.cart-product
                            .cart-product__options.more-options
                                include icons/_options
                                
                            label.checkbox.cart-product__label
                                input(type='checkbox' checked='checked')
                                include icons/_checkbox

                            .cart-product__item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
                                .cart-product__image-ibg
                                        img(src="@img/products/item-1.png" alt=`Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)`, itemprop="image")
                                .cart-product__content
                                    .cart-product__info
                                        span.product-item__code.cart-product__code(itemprop="sku") 1R-B.002-15
                                        h4.product-item__title.cart-product__title(itemprop="brand") Ламинарные системы
                                        p.product-item__text.cart-product__text(itemprop="description") Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)
                                        .cart-product__mobile-prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                            meta(itemprop='priceCurrency' content='RUB')
                                            meta(itemprop='price' content='68334')
                                            meta(itemprop='availability' content='http://schema.org/InStock')
                                            span.product-item__price.cart-product__mobile-price 68 334 ₽
                                            span.product-item__price-old.cart-product__mobile-price-old 100 334 ₽
                                        span.product-item__status.cart-product__status._many В наличии

                                        .cart-product__buttons
                                            .cart-product__counter
                                                .cart-product__decrease
                                                    span &ndash;
                                                span.current-quantity 1
                                                .cart-product__increase
                                                    span +
                                                input.product-quantity(type='number' name='product-quantity' hidden='hidden' value='0')

                                            .cart-product__icons
                                                span.icons-product__heart 
                                                    include icons/_heart
                                                span.icons-product__bin
                                                    include icons/_bin

                                    .cart-product__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                        meta(itemprop='priceCurrency' content='RUB')
                                        meta(itemprop='price' content='68334')
                                        meta(itemprop='availability' content='http://schema.org/InStock')
                                        span.product-item__price 68 334 ₽
                                        span.product-item__price-old 100 334 ₽

                .cart-products__body

                    .cart-products__title.delivery-type
                        h3.delivery-type__text
                            span.delivery-type__count 2
                            p Оплата через менеджера

                        button.delivery-type__button удалить

                    ul.cart-products__list
                        li.cart-products__item.cart-product._not-availble
                            .cart-product__options.more-options
                                include icons/_options

                            label.checkbox.cart-product__label
                                input(type='checkbox')
                                include icons/_checkbox

                            .cart-product__item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
                                .cart-product__image-ibg
                                        img(src="@img/products/item-1.png" alt=`Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)`, itemprop="image")
                                .cart-product__content
                                    .cart-product__info
                                        span.product-item__code.cart-product__code(itemprop="sku") 1R-B.002-15
                                        h4.product-item__title.cart-product__title(itemprop="brand") Ламинарные системы
                                        p.product-item__text.cart-product__text(itemprop="description") Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150) Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)
                                        .cart-product__mobile-prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                            meta(itemprop='priceCurrency' content='RUB')
                                            meta(itemprop='price' content='68334')
                                            meta(itemprop='availability' content='http://schema.org/InStock')
                                            span.product-item__price.cart-product__mobile-price 68 334 ₽
                                            span.product-item__price-old.cart-product__mobile-price-old 100 334 ₽
                                        span.product-item__status.cart-product__status._limited Под заказ

                                        .cart-product__buttons

                                            button.button.cart-product__button._follow-to-product(data-popup="to-follow-product") Подписаться на товар
                                            .cart-product__counter
                                                .cart-product__decrease
                                                    span &ndash;
                                                span.current-quantity 1
                                                .cart-product__increase
                                                    span +
                                                input.product-quantity(type='number' name='product-quantity' hidden='hidden' value='0')

                                            .cart-product__icons
                                                span.icons-product__heart 
                                                    include icons/_heart
                                                span.icons-product__bin
                                                    include icons/_bin

                                    .cart-product__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                        meta(itemprop='priceCurrency' content='RUB')
                                        meta(itemprop='price' content='68334')
                                        meta(itemprop='availability' content='http://schema.org/InStock')
                                        span.product-item__price 68 334 ₽
                                        span.product-item__price-old 100 334 ₽

                        li.cart-products__item.cart-product
                            .cart-product__options.more-options
                                include icons/_options

                            label.checkbox.cart-product__label
                                input(type='checkbox' checked='checked')
                                include icons/_checkbox

                            .cart-product__item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
                                .cart-product__image-ibg
                                        img(src="@img/products/item-1.png" alt=`Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)`, itemprop="image")
                                .cart-product__content
                                    .cart-product__info
                                        span.product-item__code.cart-product__code(itemprop="sku") 1R-B.002-15
                                        h4.product-item__title.cart-product__title(itemprop="brand") Ламинарные системы
                                        p.product-item__text.cart-product__text(itemprop="description") Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)
                                        .cart-product__mobile-prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                            meta(itemprop='priceCurrency' content='RUB')
                                            meta(itemprop='price' content='68334')
                                            meta(itemprop='availability' content='http://schema.org/InStock')
                                            span.product-item__price.cart-product__mobile-price 68 334 ₽
                                            span.product-item__price-old.cart-product__mobile-price-old 100 334 ₽
                                        span.product-item__status.cart-product__status._many В наличии

                                        .cart-product__buttons
                                            .cart-product__counter
                                                .cart-product__decrease
                                                    span &ndash;
                                                span.current-quantity 1
                                                .cart-product__increase
                                                    span +
                                                input.product-quantity(type='number' name='product-quantity' hidden='hidden' value='0')

                                            .cart-product__icons
                                                span.icons-product__heart 
                                                    include icons/_heart
                                                span.icons-product__bin
                                                    include icons/_bin

                                    .cart-product__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                        meta(itemprop='priceCurrency' content='RUB')
                                        meta(itemprop='price' content='68334')
                                        meta(itemprop='availability' content='http://schema.org/InStock')
                                        span.product-item__price 68 334 ₽
                                        span.product-item__price-old 100 334 ₽


            .body-cart__bill.cart-bill
                .cart-bill__header.header-bill 
                    .header-bill__print
                        include icons/_print
                        span Распечатать
                        
                    .header-bill__share(data-popup="share-link")
                        include icons/_share
                        span Поделиться корзиной

                .cart-bill__body
                    h3.cart-bill__title Детали заказа
                    ul.cart-bill__list
                        li.cart-bill__item 
                            span.cart-bill__text 3 товара
                            span.cart-bill__price 153 198 ₽
                        li.cart-bill__item._details
                            details(open).cart-bill__details
                                summary.cart-bill__summary
                                    span Скидка
                                        include icons/_chevron-down
                                    span.cart-bill__discount -3 198 ₽
                                
                                ul.cart-bill__discounts.discounts-list
                                    li.discounts-list__item 
                                        span Скидка по акции
                                        span -900 ₽
                                    li.discounts-list__item 
                                        span Скидка по акции
                                        span -2 182 ₽
                                    li.discounts-list__item
                                        span Управлять скидками вы сможете на шаге выбора способа оплаты

                        li.cart-bill__item._summary 
                            span.cart-bill__text Итого
                            span.cart-bill__price 150 000 ₽

                    .cart-bill__buttons 
                        a(href="#").button.cart-bill__button Перейти к оформлению
                        span.cart-bill__tender(data-popup="tender") Закупка через тендер

    #mobile-options.mobile-options
        .mobile-options__header
            h3.mobile-options__title Действия с товаром
            .mobile-options__close 
                include icons/_close
            
        ul.mobile-options__list
            li.mobile-options__item.icons-product__heart
                include icons/_heart
                span Добавить в избранное 
            li.mobile-options__item
                include icons/_bin
                span Удалить
