section.ceo-block  
    .ceo-block__container
        .ceo-block__body
            p
                strong 
                    | Лабораторное оборудование от Молекулаб:
                    | Высокие стандарты для ваших исследований
            p
                | Раздел "Лабораторное оборудование" является одним из ключевых 
                | корневых разделов сайта компании Молекулаб. 
                | Мы предлагаем широкий ассортимент высококачественного оборудования, которое отвечает требованиям современных лабораторий и обеспечивает высокую точность и эффективность исследований.
            p
                strong
                    | Наш ассортимент лабораторного оборудования включает:
            p   
                | 1. 
                strong ПЦР-системы
                | :
                br 
                | &nbsp; &nbsp; - Современные решения для полимеразной цепной реакции.
                br
                | &nbsp; &nbsp; - Высокая точность и надежность амплификации ДНК и РНК.
            p 
                | 2. 
                strong Анализаторы ИФА
                | :
                br
                | &nbsp; &nbsp; - Инновационные анализаторы для иммуноферментного анализа.
                br
                | &nbsp; &nbsp; - Обеспечивают точные и воспроизводимые результаты.

            p
                | 3. 
                strong Генетические Анализаторы
                | :
                br
                | &nbsp; &nbsp; - Передовые технологии для анализа генетических последовательностей.
                br
                | &nbsp; &nbsp; - Идеальны для диагностики и исследований в области генетики.
            p
                | 4. 
                strong Микробиологическое оборудование
                | :
                br 
                | &nbsp; &nbsp; - Широкий ассортимент оборудования для микробиологических исследований.
                br 
                | &nbsp; &nbsp; - Высокая эффективность и надежность в работе с микроорганизмами.
            p
                | 5. 
                strong Оборудование для протеомики
                | :
                br 
                | &nbsp; &nbsp; - Решения для анализа белков и их функций.
                br 
                | &nbsp; &nbsp; - Высокая точность и надежность в исследовании протеомов.
            p
                | 6. 
                strong Оборудование для клеточной биологии
                | :
                br 
                | &nbsp; &nbsp; - Инструменты для исследования клеток и клеточных культур.
                br 
                | &nbsp; &nbsp; - Обеспечивают высокую эффективность и надежность.
            p 7. 
                strong Криминалистическое оборудование
                | :
                br 
                | &nbsp; &nbsp; - Специализированные решения для судебно-медицинских исследований.
                br 
                | &nbsp; &nbsp; - Точные и надежные методы для анализа биологических следов.
            p
                strong Почему выбирают лабораторное оборудование от Молекулаб?
            p 
                | - 
                strong Качество и надежность
                | : Все наши приборы соответствуют высоким стандартам качества и безопасности.
                br
                | - 
                strong Инновационные технологии
                | : Мы предлагаем передовые решения для различных областей молекулярных и микробиологических исследований.
                br
                |- 
                strong Поддержка и обслуживание
                | : Профессиональная поддержка и консультации на всех этапах использования нашего оборудования.
            p
                strong Наши клиенты
            p
                | Мы сотрудничаем с ведущими научно-исследовательскими институтами, 
                | медицинскими учреждениями и лабораториями по всей России. 
                | Наше оборудование помогает исследователям достигать новых высот в науке и медицине.
            p
                strong Свяжитесь с нами
            p Если у вас есть вопросы или вы хотите узнать больше о нашем лабораторном оборудовании, свяжитесь с нами. Мы всегда готовы помочь вам выбрать оптимальные решения для ваших лабораторных исследований.

            ul
                li Пункт 1
                li Пункт 2
                li Пункт 3