section.clients#clients
   .clients__container
        .clients__header
            h2.section-title.clients__title MolecuLab - дистрибьютер ведущих российских и мировых брендов
            a(href="#").section-link.clients__link
                span Все бренды
                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none")
                    path(d="M16.9929 4.11914C17.0587 3.57079 16.6675 3.07293 16.1191 3.00712L7.18325 1.93482C6.6349 1.86901 6.13703 2.2602 6.07123 2.80855C6.00543 3.3569 6.39661 3.85477 6.94496 3.92057L14.888 4.87373L13.9348 12.8167C13.869 13.3651 14.2602 13.863 14.8085 13.9288C15.3569 13.9946 15.8548 13.6034 15.9206 13.055L16.9929 4.11914ZM2.61782 15.7863L16.6178 4.78632L15.3822 3.21368L1.38218 14.2137L2.61782 15.7863Z" fill="#77C149") 
        .clients__body
            .clients__slider.swiper
                .clients__wrapper.swiper-wrapper
                    .clients__slide.swiper-slide
                        include brands/_avrora

                    .clients__slide.swiper-slide
                        include brands/_cli
                        
                    .clients__slide.swiper-slide
                        include brands/_biorad

                    .clients__slide.swiper-slide
                        include brands/_dirui

                    .clients__slide.swiper-slide
                        include brands/_cormay

                    .clients__slide.swiper-slide
                        include brands/_biosan

                    .clients__slide.swiper-slide
                        include brands/_avrora

                    .clients__slide.swiper-slide
                        include brands/_cli
                        
                    .clients__slide.swiper-slide
                        include brands/_biorad

                    .clients__slide.swiper-slide
                        include brands/_dirui

                    .clients__slide.swiper-slide
                        include brands/_cormay

                    .clients__slide.swiper-slide
                        include brands/_biosan

            .clients__pagination.swiper-pagination
            
            a(href="#").section-link.clients__link-mobile
                span Все бренды
                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none")
                    path(d="M16.9929 4.11914C17.0587 3.57079 16.6675 3.07293 16.1191 3.00712L7.18325 1.93482C6.6349 1.86901 6.13703 2.2602 6.07123 2.80855C6.00543 3.3569 6.39661 3.85477 6.94496 3.92057L14.888 4.87373L13.9348 12.8167C13.869 13.3651 14.2602 13.863 14.8085 13.9288C15.3569 13.9946 15.8548 13.6034 15.9206 13.055L16.9929 4.11914ZM2.61782 15.7863L16.6178 4.78632L15.3822 3.21368L1.38218 14.2137L2.61782 15.7863Z" fill="#77C149") 