section.company-new

    .company-new__pattern
    .company-new__pattern.company-new__pattern-2 

    .company-new__container 
        - const companyEventPage = true;
        include _breadcrumbs

        .company-new__wrapper

            .company-new__top(style="background-image:url('@img/company-new/image.png')")
            
            .company-new__header
                    h1.company-new__title 2 в 1: рентген-аппарат и флюорограф
                    p.company-new__text Последнее обновление: 12 марта, 2023
            
            .company-new__separator

            .company-new__body
                p.company-new__p Частные медцентры и клиники хотят оказывать услугу объемного снимка лёгких наравне с государственными медицинскими учреждениями. Часто возникает проблема: не каждый рентген-аппарат имеет такую функцию. По тарификатору, флюорография — отдельная услуга, и это имеет большое значение для государственных контролирующих органов во время проверок.

                .company-new__image-wrapper
                    img(src="@img/company-new/photo-1.png", alt="").company-new__image
                    p.company-new__image-text Описание к фотографии если тут что то надо будет написать

                p.company-new__p 
                    span._highlight-text Рентген-аппарат Lanmage 6600 
                    | может выполнять не только рентгенографические, но и флюорографические исследования. С помощью этого аппарата можно делать цифровые снимки легких, оказывать услугу флюорографии в качестве обязательной регулярной диагностики туберкулёза широкому кругу пациентов. ТОО «Medivide» — официальный представитель Shenzhen Lanmage Medical Technology Co., Ltd. Производитель написал официальное письмо с подтверждением: рентген-аппарат Lanmage 6600 действительно имеет встроенную функцию флюорографа.

                .company-new__quote.quote
                    .quote__icon
                        include icons/_quote 
                    .quote__body 
                        p.quote__text «Для современного мира базовый 
                            span._highlight-text вектор развития
                            | , а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для форм воздействия. В своём стремлении повысить качество жизни, они забывают, что существующая теория, в своём классическом представлении, допускает внедрение экономической целесообразности принимаемых решений.
                        .quote__author — Боб Дилан

                p.company-new__p Lanmage 6600 можно установить как в государственной поликлинике, так и в частном медцентре, и он будет полностью закрывать все потребности в диагностических снимках. Аппарат оснащён современными функциями, которые делают работу быстрой и комфортной.

                p.company-new__p Самая важная функция — автоматический трекинг рентген-трубки: при перемещении детектора трубка самостоятельно встанет на нужное место, и врачу не нужно тратить время на настройку. Из других преимуществ выделяется стол пациента с плавающей панелью, который двигается в любом направлении, а не только в две стороны. Стол оснащен фиксаторами, чтобы не пациент не сместился с места случайно. В комплект входит цифровой плоскопанельный рентген-детектор. Благодаря высокочувствительной матрице, требуется меньшая экспозиция для получения снимка. Это помогает снизить лучевую нагрузку и экономить ресурс рентген-трубки. При этом качество рентген-снимков остаётся очень высоким.

                .company-new__image-wrapper
                    img(src="@img/company-new/photo-2.png", alt="").company-new__image
                    p.company-new__image-text Описание к фотографии если тут что то надо будет написать
                
                p.company-new__p Lanmage 6600 — это универсальный рентген-аппарат. Он надежен, прост в использовании и отлично подходит для рутинной диагностики в медицинском учреждении. Купить рентген-аппарат или узнать подробности можно на нашем сайте в разделе «контакты».

            .company-new__separator

            .company-new__bottom.bottom-nav 
                a(href="").bottom-nav__link
                    include icons/_arrow-prev
                    span Предыдущая
                    
                .bottom-nav__social.social-block
                    h4.social-block__title Поделиться
                    ul.social-block__list
                        li.social-block__item 
                            a(href="").social-block__link
                                include icons/_wa 
                        li.social-block__item 
                            a(href="").social-block__link 
                                include icons/_telegram
                        li.social-block__item 
                            a(href="").social-block__link 
                                include icons/_vk
                        li.social-block__item 
                            a(href="").social-block__link 
                                include icons/_youtube

                a(href="").bottom-nav__link
                    span Следующая
                    include icons/_arrow-next