section.events#events 
    .events__container 
        h2.section-title.events__title Мероприятия
        .events__body.body-events
            .body-events__calendar
                #calendar
            .body-events__slider.swiper
                .body-events__wrapper.swiper-wrapper
                    .body-events__slide.swiper-slide.event-slide
                        .event-slide__header
                            .event-slide__type Конференция
                            .event-slide__dot
                            .event-slide__date 25 января
                        .event-slide__body
                            h3.event-slide__title День российского студенчества
                            p.event-slide__text Поздравляем всех студентов с праздником! 
                        .event-slide__footer
                            .event-slide__city Санкт-Петербург
                            .event-slide__address Суворовский пр. 18, Отель «Эмеральд»

                    .body-events__slide.swiper-slide.event-slide
                        .event-slide__header
                            .event-slide__type Конференция
                            .event-slide__dot
                            .event-slide__date 20 января, 12:00-18:00
                        .event-slide__body
                            h3.event-slide__title Молекулярная диагностика в онкологии
                            p.event-slide__text Научно-практическая конференция МОО ОМГО.
                        .event-slide__footer
                            .event-slide__city Санкт-Петербург
                            .event-slide__address Суворовский пр. 18, Отель «Эмеральд»

                    .body-events__slide.swiper-slide.event-slide
                        .event-slide__header
                            .event-slide__type Конференция
                            .event-slide__dot
                            .event-slide__date 20 января, 12:00-18:00
                        .event-slide__body
                            h3.event-slide__title Молекулярная диагностика в онкологии
                            p.event-slide__text Научно-практическая конференция МОО ОМГО.
                        .event-slide__footer
                            .event-slide__city Санкт-Петербург
                            .event-slide__address Суворовский пр. 18, Отель «Эмеральд»
            
        a(href="#").section-link.news__link
            span Все мероприятия
                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none")
                    path(d="M16.9929 4.11914C17.0587 3.57079 16.6675 3.07293 16.1191 3.00712L7.18325 1.93482C6.6349 1.86901 6.13703 2.2602 6.07123 2.80855C6.00543 3.3569 6.39661 3.85477 6.94496 3.92057L14.888 4.87373L13.9348 12.8167C13.869 13.3651 14.2602 13.863 14.8085 13.9288C15.3569 13.9946 15.8548 13.6034 15.9206 13.055L16.9929 4.11914ZM2.61782 15.7863L16.6178 4.78632L15.3822 3.21368L1.38218 14.2137L2.61782 15.7863Z" fill="#77C149")