section#goods.goods
    .goods__container
        h2.goods__title.section-title Популярные товары
        #tags-wrapper.goods__tags.tags-goods 
            ul.tags-goods__list
                li.tags-goods__item.tag-item._active(data-tag="Все")
                    span.tag-item__text Все
                li.tags-goods__item.tag-item(data-tag="Протеомика")
                    span.tag-item__text Протеомика
                li.tags-goods__item.tag-item(data-tag="Геномика")
                    span.tag-item__text Геномика
                li.tags-goods__item.tag-item(data-tag="Клиническая диагностика")
                    span.tag-item__text Клиническая диагностика
                li.tags-goods__item.tag-item(data-tag="Клеточная биология")
                    span.tag-item__text Клеточная биология
                li.tags-goods__item.tag-item(data-tag="Клеточная биология")
                    span.tag-item__text Клеточная биология
                li.tags-goods__item.tag-item(data-tag="Клеточная биология")
                    span.tag-item__text Клеточная биология
            #show-hide-tags.tags-goods__switcher 
                span Еще
                svg(xmlns="http://www.w3.org/2000/svg" width="11" height="7" viewBox="0 0 11 7" fill="none")
                    path(d="M1 1L5.5 5L10 1" stroke="#77C149" stroke-width="1.6")
        .goods__producs.products 
           include _products
        
        button.button._gradient.goods__button(data-text="В каталог") 
            span В каталог