section#goods.goods
    .goods__container
        h2.goods__title.section-title Популярные товары
        #tags-wrapper.goods__tags.tags-goods 
            ul.tags-goods__list
                li.tags-goods__item.tag-item._active(data-tag="Все")
                    span.tag-item__text Все
                li.tags-goods__item.tag-item(data-tag="Протеомика")
                    span.tag-item__text Протеомика
                li.tags-goods__item.tag-item(data-tag="Геномика")
                    span.tag-item__text Геномика
                li.tags-goods__item.tag-item(data-tag="Клиническая диагностика")
                    span.tag-item__text Клиническая диагностика
                li.tags-goods__item.tag-item(data-tag="Клеточная биология")
                    span.tag-item__text Клеточная биология
                li.tags-goods__item.tag-item(data-tag="Клеточная биология")
                    span.tag-item__text Клеточная биология
                li.tags-goods__item.tag-item(data-tag="Клеточная биология")
                    span.tag-item__text Клеточная биология
            #show-hide-tags.tags-goods__switcher 
                span Еще
                svg(xmlns="http://www.w3.org/2000/svg" width="11" height="7" viewBox="0 0 11 7" fill="none")
                    path(d="M1 1L5.5 5L10 1" stroke="#77C149" stroke-width="1.6")
        .goods__producs.products 
            ul.products__list 
                li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
                    .product-item__label._popular Популярное
                    .product-item__icons.icons-product  
                        span.icons-product__heart._active  
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M15.4372 2.875C18.8127 2.875 21.0807 6.08781 21.0807 9.085C21.0807 15.1548 11.6678 20.125 11.4974 20.125C11.327 20.125 1.91406 15.1548 1.91406 9.085C1.91406 6.08781 4.18212 2.875 7.55758 2.875C9.49555 2.875 10.9498 4.10714 11.4974 5.20238C12.045 4.10714 13.4992 2.875 15.4372 2.875Z' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                        span.icons-product__comparison
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M4 8V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M9 2V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M14 10.5V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M19 3V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                    a(href="#", itemprop="url").product-item__link
                        .product-item__image-ibg
                            img(src="@img/products/item-1.png" alt=`Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)`, itemprop="image")
                        .product-item__content 
                            span.product-item__code(itemprop="sku") 1R-B.002-15
                            h4.product-item__title(itemprop="brand") Ламинарные системы
                            p.product-item__text(itemprop="description") Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)
                            span.product-item__status._limited Ограничено
                            .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                meta(itemprop='priceCurrency' content='RUB')
                                meta(itemprop='price' content='68334')
                                meta(itemprop='availability' content='http://schema.org/InStock')
                                span.product-item__price 68 334 ₽
                        button.button.product-item__button Заказать
                li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
                    .product-item__label._new Новинка
                    .product-item__icons.icons-product  
                        span.icons-product__heart 
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M15.4372 2.875C18.8127 2.875 21.0807 6.08781 21.0807 9.085C21.0807 15.1548 11.6678 20.125 11.4974 20.125C11.327 20.125 1.91406 15.1548 1.91406 9.085C1.91406 6.08781 4.18212 2.875 7.55758 2.875C9.49555 2.875 10.9498 4.10714 11.4974 5.20238C12.045 4.10714 13.4992 2.875 15.4372 2.875Z' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                        span.icons-product__comparison
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M4 8V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M9 2V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M14 10.5V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M19 3V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                    a(href="#", itemprop="url").product-item__link
                        .product-item__image-ibg
                            img(src="@img/products/item-2.png" alt="Многофункциональная центрифуга с охлаждением 1248R", itemprop="image")
                        .product-item__content 
                            span.product-item__code(itemprop="sku") GZ-1248R
                            h4.product-item__title(itemprop="brand") Gyrozen
                            p.product-item__text(itemprop="description") Многофункциональная центрифуга с охлаждением 1248R
                            span.product-item__status._request Уточнить у менеджера
                            .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                meta(itemprop='priceCurrency' content='RUB')
                                meta(itemprop='price' content='68334')
                                meta(itemprop='availability' content='http://schema.org/InStock')
                                span.product-item__price 68 334 ₽
                                span.product-item__price-old 100 334 ₽
                        button.button.product-item__button Заказать
                li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
                    .product-item__label._special Акция
                    .product-item__icons.icons-product  
                        span.icons-product__heart 
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M15.4372 2.875C18.8127 2.875 21.0807 6.08781 21.0807 9.085C21.0807 15.1548 11.6678 20.125 11.4974 20.125C11.327 20.125 1.91406 15.1548 1.91406 9.085C1.91406 6.08781 4.18212 2.875 7.55758 2.875C9.49555 2.875 10.9498 4.10714 11.4974 5.20238C12.045 4.10714 13.4992 2.875 15.4372 2.875Z' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                        span.icons-product__comparison
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M4 8V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M9 2V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M14 10.5V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M19 3V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                    a(href="#", itemprop="url").product-item__link
                        .product-item__image-ibg
                            img(src="@img/products/item-3.png" alt="Гель-документирующая система ChemiScope", itemprop="image")
                        .product-item__content 
                            span.product-item__code(itemprop="sku") 1R-B.002-15
                            h4.product-item__title(itemprop="brand") Senova BS-3031
                            p.product-item__text(itemprop="description") Гель-документирующая система ChemiScope
                            span.product-item__status._limited Ограничено
                            .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                meta(itemprop='priceCurrency' content='RUB')
                                meta(itemprop='price' content='68334')
                                meta(itemprop='availability' content='http://schema.org/InStock')
                                span.product-item__price 68 334 ₽
                                span.product-item__price-old 100 334 ₽
                        button.button.product-item__button Заказать
                li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
                    .product-item__label._popular Популярное
                    .product-item__icons.icons-product  
                        span.icons-product__heart 
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M15.4372 2.875C18.8127 2.875 21.0807 6.08781 21.0807 9.085C21.0807 15.1548 11.6678 20.125 11.4974 20.125C11.327 20.125 1.91406 15.1548 1.91406 9.085C1.91406 6.08781 4.18212 2.875 7.55758 2.875C9.49555 2.875 10.9498 4.10714 11.4974 5.20238C12.045 4.10714 13.4992 2.875 15.4372 2.875Z' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                        span.icons-product__comparison
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M4 8V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M9 2V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M14 10.5V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M19 3V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                    a(href="#", itemprop="url").product-item__link
                        .product-item__image-ibg
                            img(src="@img/products/item-4.png" alt="Гель-документирующая система ChemiScope", itemprop="image")
                        .product-item__content 
                            span.product-item__code(itemprop="sku") 1802001 U
                            h4.product-item__title(itemprop="brand") Clinx
                            p.product-item__text(itemprop="description") Гель-документирующая система ChemiScope
                            span.product-item__status
                            .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                meta(itemprop='priceCurrency' content='RUB')
                                meta(itemprop='price' content='68334')
                                meta(itemprop='availability' content='http://schema.org/InStock')
                                span.product-item__price 68 334 ₽
                                span.product-item__price-old 100 334 ₽
                        button.button.product-item__button Заказать
                li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
                    .product-item__label._popular Популярное
                    .product-item__icons.icons-product  
                        span.icons-product__heart 
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M15.4372 2.875C18.8127 2.875 21.0807 6.08781 21.0807 9.085C21.0807 15.1548 11.6678 20.125 11.4974 20.125C11.327 20.125 1.91406 15.1548 1.91406 9.085C1.91406 6.08781 4.18212 2.875 7.55758 2.875C9.49555 2.875 10.9498 4.10714 11.4974 5.20238C12.045 4.10714 13.4992 2.875 15.4372 2.875Z' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                        span.icons-product__comparison
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M4 8V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M9 2V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M14 10.5V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M19 3V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                    a(href="#", itemprop="url").product-item__link
                        .product-item__image-ibg
                            img(src="@img/products/item-1.png" alt=`Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)`, itemprop="image")
                        .product-item__content 
                            span.product-item__code(itemprop="sku") 1R-B.002-15
                            h4.product-item__title(itemprop="brand") Ламинарные системы
                            p.product-item__text(itemprop="description") Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)
                            span.product-item__status._limited Ограничено
                            .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                meta(itemprop='priceCurrency' content='RUB')
                                meta(itemprop='price' content='68334')
                                meta(itemprop='availability' content='http://schema.org/InStock')
                                span.product-item__price 68 334 ₽
                        button.button.product-item__button Заказать
                li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
                    .product-item__label._new Новинка
                    .product-item__icons.icons-product  
                        span.icons-product__heart
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M15.4372 2.875C18.8127 2.875 21.0807 6.08781 21.0807 9.085C21.0807 15.1548 11.6678 20.125 11.4974 20.125C11.327 20.125 1.91406 15.1548 1.91406 9.085C1.91406 6.08781 4.18212 2.875 7.55758 2.875C9.49555 2.875 10.9498 4.10714 11.4974 5.20238C12.045 4.10714 13.4992 2.875 15.4372 2.875Z' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                        span.icons-product__comparison
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M4 8V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M9 2V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M14 10.5V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M19 3V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                    a(href="#", itemprop="url").product-item__link
                        .product-item__image-ibg
                            img(src="@img/products/item-2.png" alt="Многофункциональная центрифуга с охлаждением 1248R", itemprop="image")
                        .product-item__content 
                            span.product-item__code(itemprop="sku") GZ-1248R
                            h4.product-item__title(itemprop="brand") Gyrozen
                            p.product-item__text(itemprop="description") Многофункциональная центрифуга с охлаждением 1248R
                            span.product-item__status._request Уточнить у менеджера
                            .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                meta(itemprop='priceCurrency' content='RUB')
                                meta(itemprop='price' content='68334')
                                meta(itemprop='availability' content='http://schema.org/InStock')
                                span.product-item__price 68 334 ₽
                                span.product-item__price-old 100 334 ₽
                        button.button.product-item__button Заказать
                li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
                    .product-item__label._special Акция
                    .product-item__icons.icons-product  
                        span.icons-product__heart 
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M15.4372 2.875C18.8127 2.875 21.0807 6.08781 21.0807 9.085C21.0807 15.1548 11.6678 20.125 11.4974 20.125C11.327 20.125 1.91406 15.1548 1.91406 9.085C1.91406 6.08781 4.18212 2.875 7.55758 2.875C9.49555 2.875 10.9498 4.10714 11.4974 5.20238C12.045 4.10714 13.4992 2.875 15.4372 2.875Z' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                        span.icons-product__comparison
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M4 8V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M9 2V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M14 10.5V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M19 3V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                    a(href="#", itemprop="url").product-item__link
                        .product-item__image-ibg
                            img(src="@img/products/item-3.png" alt="Гель-документирующая система ChemiScope", itemprop="image")
                        .product-item__content 
                            span.product-item__code(itemprop="sku") 1R-B.002-15
                            h4.product-item__title(itemprop="brand") Senova BS-3031
                            p.product-item__text(itemprop="description") Гель-документирующая система ChemiScope
                            span.product-item__status._limited Ограничено
                            .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                meta(itemprop='priceCurrency' content='RUB')
                                meta(itemprop='price' content='68334')
                                meta(itemprop='availability' content='http://schema.org/InStock')
                                span.product-item__price 68 334 ₽
                                span.product-item__price-old 100 334 ₽
                        button.button.product-item__button Заказать
                li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
                    .product-item__label._popular Популярное
                    .product-item__icons.icons-product  
                        span.icons-product__heart 
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M15.4372 2.875C18.8127 2.875 21.0807 6.08781 21.0807 9.085C21.0807 15.1548 11.6678 20.125 11.4974 20.125C11.327 20.125 1.91406 15.1548 1.91406 9.085C1.91406 6.08781 4.18212 2.875 7.55758 2.875C9.49555 2.875 10.9498 4.10714 11.4974 5.20238C12.045 4.10714 13.4992 2.875 15.4372 2.875Z' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                        span.icons-product__comparison
                            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                                path(d='M4 8V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M9 2V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M14 10.5V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                                path(d='M19 3V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                    a(href="#", itemprop="url").product-item__link
                        .product-item__image-ibg
                            img(src="@img/products/item-4.png" alt="Гель-документирующая система ChemiScope", itemprop="image")
                        .product-item__content 
                            span.product-item__code(itemprop="sku") 1802001 U
                            h4.product-item__title(itemprop="brand") Clinx
                            p.product-item__text(itemprop="description") Гель-документирующая система ChemiScope
                            span.product-item__status._many Много
                            .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                                meta(itemprop='priceCurrency' content='RUB')
                                meta(itemprop='price' content='68334')
                                meta(itemprop='availability' content='http://schema.org/InStock')
                                span.product-item__price от 68 334 ₽
                        button.button.product-item__button Заказать
        button.button._gradient.goods__button(data-text="В каталог") 
            span В каталог