section.laboratory#laboratory 
    .laboratory__container 
        h2.section-title.laboratory__title Лаборатории под ключ
        .laboratory__body
            .laboratory__slider.swiper
                .laboratory__wrapper.swiper-wrapper
                    a(href="#").laboratory__slide.swiper-slide.laboratory-slide(style="background-image: url(img/laboratory/item-1.png)")
                        h3.laboratory-slide__title ИФА-лаборатория
                    a(href="#").laboratory__slide.swiper-slide.laboratory-slide(style="background-image: url(img/laboratory/item-2.png)")
                        h3.laboratory-slide__title ПЦР лаборатория
                    a(href="#").laboratory__slide.swiper-slide.laboratory-slide(style="background-image: url(img/laboratory/item-3.png)")
                        h3.laboratory-slide__title Микробиологическая лаборатория
                    a(href="#").laboratory__slide.swiper-slide.laboratory-slide(style="background-image: url(img/laboratory/item-4.png)")
                        h3.laboratory-slide__title Генетическая лаборатория
            .laboratory__pagination.swiper-pagination