section#mobile-pages-menu.mobile-catalog 
    .mobile-catalog__header.catalog-mobile
        img(src="@img/logo.svg", alt="").catalog-mobile__img
        #close-mobile-menu.catalog-mobile__close
            include icons/_close   
    .mobile-catalog__body

        .catalog-mobile__block(data-category="0")
            ul.catalog-mobile__top.top-pages-menu 
                li.top-pages-menu__item 
                    a(href="./favorites.html").top-pages-menu__link
                        include icons/_heart 
                        span Избранное
                li.top-pages-menu__item 
                    a(href="./favorites.html").top-pages-menu__link
                        include icons/_comparison 
                        span Сравнение
            ul.catalog-mobile__list
                li.catalog-mobile__item(data-catalog-category="1")
                    span.catalog-mobile__text Покупателям
                    span 
                        include icons/_arrow-right
                li.catalog-mobile__item
                    a(href="").catalog-mobile__text О компании
                li.catalog-mobile__item
                    a(href="").catalog-mobile__text Производители
                li.catalog-mobile__item
                    a(href="").catalog-mobile__text Демо
                li.catalog-mobile__item
                    a(href="").catalog-mobile__text Библиотека
                li.catalog-mobile__item
                    a(href="").catalog-mobile__text Сервис и поддержка
                li.catalog-mobile__item
                    a(href="").catalog-mobile__text Склад
            
        .catalog-mobile__block(data-category="1" hidden)
            h3.catalog-mobile__title(data-category-to="0")
                span 
                    include icons/_arrow-left
                span Покупателям
            ul.catalog-mobile__list
                li.catalog-mobile__item
                    a(href="#").catalog-mobile__text Как оформить заказ
                li.catalog-mobile__item
                    a(href="#").catalog-mobile__text Условия доставки
                li.catalog-mobile__item
                    a(href="#").catalog-mobile__text Электронный документооборот
                li.catalog-mobile__item
                    a(href="#").catalog-mobile__text Гарантии
                li.catalog-mobile__item
                    a(href="#").catalog-mobile__text Персональные данные
                li.catalog-mobile__item
                    a(href="#").catalog-mobile__text Реквизиты
                li.catalog-mobile__item
                    a(href="#").catalog-mobile__text Юридическа информация

        .catalog-mobile__block(data-category="1.1" hidden)
            h3.catalog-mobile__title(data-category-to="1")
                span 
                    include icons/_arrow-left
                span 1.1 Оборудование для КДЛ
            
            ul.catalog-mobile__list
                li.catalog-mobile__point 
                    span.catalog-mobile__letter C 
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link CO₂ инкубаторы

                li.catalog-mobile__point 
                    span.catalog-mobile__letter p
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link pH-метры и кондуктометры

                li.catalog-mobile__point 
                    span.catalog-mobile__letter А
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Автоклавы
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Анализаторы влажности

                li.catalog-mobile__point 
                    span.catalog-mobile__letter Б
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Бани водяные

                li.catalog-mobile__point 
                    span.catalog-mobile__letter В
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Вакуумные отсасыватели
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Верхнеприводные мешалки
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Верхнеприводные мешалки

        .catalog-mobile__block(data-category="1.2" hidden)
            h3.catalog-mobile__title(data-category-to="1")
                span 
                    include icons/_arrow-left
                span 1.2 Оборудование для КДЛ
            
            ul.catalog-mobile__list
                li.catalog-mobile__point 
                    span.catalog-mobile__letter C 
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link CO₂ инкубаторы

                li.catalog-mobile__point 
                    span.catalog-mobile__letter p
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link pH-метры и кондуктометры

                li.catalog-mobile__point 
                    span.catalog-mobile__letter А
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Автоклавы
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Анализаторы влажности

                li.catalog-mobile__point 
                    span.catalog-mobile__letter Б
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Бани водяные

                li.catalog-mobile__point 
                    span.catalog-mobile__letter В
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Вакуумные отсасыватели
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Верхнеприводные мешалки
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Верхнеприводные мешалки

        .catalog-mobile__block(data-category="1.3" hidden)
            h3.catalog-mobile__title(data-category-to="1")
                span 
                    include icons/_arrow-left
                span 1.3 Оборудование для КДЛ
            
            ul.catalog-mobile__list
                li.catalog-mobile__point 
                    span.catalog-mobile__letter C 
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link CO₂ инкубаторы

                li.catalog-mobile__point 
                    span.catalog-mobile__letter p
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link pH-метры и кондуктометры

                li.catalog-mobile__point 
                    span.catalog-mobile__letter А
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Автоклавы
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Анализаторы влажности

                li.catalog-mobile__point 
                    span.catalog-mobile__letter Б
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Бани водяные

                li.catalog-mobile__point 
                    span.catalog-mobile__letter В
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Вакуумные отсасыватели
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Верхнеприводные мешалки
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Верхнеприводные мешалки

        .catalog-mobile__block(data-category="1.4" hidden)
            h3.catalog-mobile__title(data-category-to="1")
                span 
                    include icons/_arrow-left
                span 1.4 Оборудование для КДЛ
            
            ul.catalog-mobile__list
                li.catalog-mobile__point 
                    span.catalog-mobile__letter C 
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link CO₂ инкубаторы

                li.catalog-mobile__point 
                    span.catalog-mobile__letter p
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link pH-метры и кондуктометры

                li.catalog-mobile__point 
                    span.catalog-mobile__letter А
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Автоклавы
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Анализаторы влажности

                li.catalog-mobile__point 
                    span.catalog-mobile__letter Б
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Бани водяные

                li.catalog-mobile__point 
                    span.catalog-mobile__letter В
                    
                    ul.catalog-mobile__list 
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Вакуумные отсасыватели
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Верхнеприводные мешалки
                        li.catalog-mobile__item
                            a(href="./product.html").catalog-mobile__link Верхнеприводные мешалки
