section#news.news
    .news__pattern
    .news__container 
        h2.section-title.news__title Новости компании
        .news__body
            .news__slider.swiper
                .news__wrapper.swiper-wrapper(itemscope="" itemtype="http://schema.org/Blog")
                    .news__slide.swiper-slide.news-slide(itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting")
                        .news-slide__img
                            <img src="@img/news/item-1.png" alt="Всероссийский съезд медиков: как это было?", itemprop="image" >
                        .news-slide__content
                            h3.news-slide__title(itemprop="headline") Всероссийский съезд медиков: как это было?
                            p.news-slide__text(itemprop="description") Компания MolecuLab на мероприяти для криминалистов 
                            span.news-slide__date(itemprop="datePublished" datetime="30.10.2023") 30 октября 2023
                            a(href="#", itemprop="url").button._ligth._with-icon.news-slide__link 
                                span Узнать подробней
                                span.button__icon 
                                    svg(xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none")
                                        path(d="M18.9999 29.4023C18.9999 29.9546 19.4476 30.4023 19.9999 30.4023C20.5522 30.4023 20.9999 29.9546 20.9999 29.4023L18.9999 29.4023ZM20.707 10.8907C20.3165 10.5002 19.6833 10.5002 19.2928 10.8907L12.9288 17.2547C12.5383 17.6452 12.5383 18.2784 12.9288 18.6689C13.3193 19.0594 13.9525 19.0594 14.343 18.6689L19.9999 13.0121L25.6567 18.6689C26.0473 19.0594 26.6804 19.0594 27.0709 18.6689C27.4615 18.2784 27.4615 17.6452 27.0709 17.2547L20.707 10.8907ZM20.9999 29.4023L20.9999 11.5979L18.9999 11.5979L18.9999 29.4023L20.9999 29.4023Z" fill="#00A0DB")

                    .news__slide.swiper-slide.news-slide(itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting")
                        .news-slide__img
                            <img src="@img/news/item-2.png" alt="Всероссийский съезд медиков: как это было?", itemprop="image" >
                        .news-slide__content
                            h3.news-slide__title(itemprop="headline") Всероссийский съезд
                            p.news-slide__text(itemprop="description") Компания MolecuLab 
                            span.news-slide__date(itemprop="datePublished" datetime="30.10.2023") 30 октября 2023
                            a(href="#", itemprop="url").button._ligth._with-icon.news-slide__link 
                                span Узнать подробней
                                span.button__icon 
                                    svg(xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none")
                                        path(d="M18.9999 29.4023C18.9999 29.9546 19.4476 30.4023 19.9999 30.4023C20.5522 30.4023 20.9999 29.9546 20.9999 29.4023L18.9999 29.4023ZM20.707 10.8907C20.3165 10.5002 19.6833 10.5002 19.2928 10.8907L12.9288 17.2547C12.5383 17.6452 12.5383 18.2784 12.9288 18.6689C13.3193 19.0594 13.9525 19.0594 14.343 18.6689L19.9999 13.0121L25.6567 18.6689C26.0473 19.0594 26.6804 19.0594 27.0709 18.6689C27.4615 18.2784 27.4615 17.6452 27.0709 17.2547L20.707 10.8907ZM20.9999 29.4023L20.9999 11.5979L18.9999 11.5979L18.9999 29.4023L20.9999 29.4023Z" fill="#00A0DB")

                    .news__slide.swiper-slide.news-slide(itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting")
                        .news-slide__img
                            <img src="@img/news/item-3.png" alt="Всероссийский съезд медиков: как это было?", itemprop="image" >
                        .news-slide__content
                            h3.news-slide__title(itemprop="headline") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam dolor dolores eveniet vero, nobis, cumque minus molestias voluptates at numquam ipsum. Ratione minus repellat porro incidunt saepe voluptatibus, delectus minima!
                            p.news-slide__text(itemprop="description") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus quibusdam voluptatem tempore inventore cumque voluptas unde eius pariatur, facere quas, tempora nostrum doloremque dolores corporis illo porro aperiam adipisci in! 
                            span.news-slide__date(itemprop="datePublished" datetime="30.10.2023") 30 октября 2023
                            a(href="#", itemprop="url").button._ligth._with-icon.news-slide__link 
                                span Узнать подробней
                                span.button__icon 
                                    svg(xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none")
                                        path(d="M18.9999 29.4023C18.9999 29.9546 19.4476 30.4023 19.9999 30.4023C20.5522 30.4023 20.9999 29.9546 20.9999 29.4023L18.9999 29.4023ZM20.707 10.8907C20.3165 10.5002 19.6833 10.5002 19.2928 10.8907L12.9288 17.2547C12.5383 17.6452 12.5383 18.2784 12.9288 18.6689C13.3193 19.0594 13.9525 19.0594 14.343 18.6689L19.9999 13.0121L25.6567 18.6689C26.0473 19.0594 26.6804 19.0594 27.0709 18.6689C27.4615 18.2784 27.4615 17.6452 27.0709 17.2547L20.707 10.8907ZM20.9999 29.4023L20.9999 11.5979L18.9999 11.5979L18.9999 29.4023L20.9999 29.4023Z" fill="#00A0DB")

                    .news__slide.swiper-slide.news-slide(itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting")
                        .news-slide__img
                            <img src="@img/news/item-4.png" alt="Всероссийский съезд медиков: как это было?", itemprop="image" >
                        .news-slide__content
                            h3.news-slide__title(itemprop="headline") Всероссийский съезд медиков: как это было?
                            p.news-slide__text(itemprop="description") Компания MolecuLab на мероприяти для криминалистов 
                            span.news-slide__date(itemprop="datePublished" datetime="30.10.2023") 30 октября 2023
                            a(href="#", itemprop="url").button._ligth._with-icon.news-slide__link 
                                span Узнать подробней
                                span.button__icon 
                                    svg(xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none")
                                        path(d="M18.9999 29.4023C18.9999 29.9546 19.4476 30.4023 19.9999 30.4023C20.5522 30.4023 20.9999 29.9546 20.9999 29.4023L18.9999 29.4023ZM20.707 10.8907C20.3165 10.5002 19.6833 10.5002 19.2928 10.8907L12.9288 17.2547C12.5383 17.6452 12.5383 18.2784 12.9288 18.6689C13.3193 19.0594 13.9525 19.0594 14.343 18.6689L19.9999 13.0121L25.6567 18.6689C26.0473 19.0594 26.6804 19.0594 27.0709 18.6689C27.4615 18.2784 27.4615 17.6452 27.0709 17.2547L20.707 10.8907ZM20.9999 29.4023L20.9999 11.5979L18.9999 11.5979L18.9999 29.4023L20.9999 29.4023Z" fill="#00A0DB")

            .news__pagination.swiper-pagination

            a(href="#").section-link.news__link 
                span Все новости
                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none")
                        path(d="M16.9929 4.11914C17.0587 3.57079 16.6675 3.07293 16.1191 3.00712L7.18325 1.93482C6.6349 1.86901 6.13703 2.2602 6.07123 2.80855C6.00543 3.3569 6.39661 3.85477 6.94496 3.92057L14.888 4.87373L13.9348 12.8167C13.869 13.3651 14.2602 13.863 14.8085 13.9288C15.3569 13.9946 15.8548 13.6034 15.9206 13.055L16.9929 4.11914ZM2.61782 15.7863L16.6178 4.78632L15.3822 3.21368L1.38218 14.2137L2.61782 15.7863Z" fill="#77C149")