section#order.order-section.cart._delivery-split._spec-delivery
    .company-event__pattern
    .company-event__pattern.company-event__pattern-2
    .cart__container
        - const orderPage = true;
        include _breadcrumbs
        
        h1.section-title.cart__title
            span.section-title__text Оформление заказа
                
        .cart__body.body-cart
            .body-cart__products.cart-products

                .cart-products__alarm.alarm-message
                    h4.alarm-message__title Внимание!
                    p.alarm-message__text 
                        | Сроки поставки зависят от категории товара, 
                        | наличия товара на складе и других факторов. 
                        | Подробную информацию можно получить у менеджера MolecuLab 
                        | после размещения заказа. 
                        span Напишите нам

                .cart-products__client.client-order
                    h3.client-order__title Данные покупателя
                    p.client-order__subtitle Пункты, отмеченные звездочкой, обязательны для заполнения.
                    form#client-type(action="", method="post").client-order__form
                        .radio-block.client-order__who 
                            label.control.control--radio
                                input(type='radio' name='client-type' checked='checked' data-radio="individual")
                                .control__indicator
                                span Физическое лицо
                            
                            label.control.control--radio
                                input(type='radio' name='client-type' data-radio="entity")
                                .control__indicator
                                span Юридическое лицо

                        .client-order__info.info-client._active(data-type="individual") 
                            .form-field.info-client__field
                                label.form-field__label(for="сlient-surname") Фамилия*
                                input#client-surname.form-field__input(type="text", name="сlient-surname", placeholder="Мария")
                            
                            .form-field.info-client__field
                                label.form-field__label(for="сlient-name") Имя*
                                input#client-name.form-field__input(type="text", name="сlient-name", placeholder="Иванова")

                            .form-field.info-client__field  
                                label.form-field__label(for="client-patronum") Отчество
                                input#client-patronum.form-field__input(type="text", name="client-patronum", placeholder="Ивановна")

                        .client-order__info.info-client(data-type="entity") 
                            .form-field.info-client__field
                                label.form-field__label(for="company-сlient-surname") Фамилия*
                                input#company-client-surname.form-field__input(type="text", name="company-сlient-surname", placeholder="Мария")
                            
                            .form-field.info-client__field
                                label.form-field__label(for="company-сlient-name") Имя*
                                input#company-client-name.form-field__input(type="text", name="company-сlient-name", placeholder="Иванова")

                            .form-field.info-client__field  
                                label.form-field__label(for="company-client-patronum") Отчество
                                input#company-client-patronum.form-field__input(type="text", name="company-client-patronum", placeholder="Ивановна")
                            
                            .form-field.info-client__field  
                                label.form-field__label(for="company-name") Наименование организации*
                                input#company-name.form-field__input(type="text", name="company-name", require, placeholder="ООО “MolecuLab”")

                            .form-field.info-client__field  
                                label.form-field__label(for="company-inn") ИНН*
                                input#company-inn.form-field__input(type="number", name="company-inn", require, placeholder="1234567890")

                            .form-field.info-client__field  
                                label.form-field__label(for="company-kpp") КПП*
                                input#company-kpp.form-field__input(type="number", name="company-kpp", require, placeholder="123456789")

                #shipping-block.cart-products__shipping.shipping-block
                    h3.shipping-block__title Способы доставки
                    .shipping-block__header 
                        nav.shipping__navigation.shipping-tabs 
                            button(data-tab-button="1").shipping-tabs__item
                                .shipping-tabs__icon
                                    include icons/_location
                                span.shipping-tabs__text Самовывоз

                            button(data-tab-button="2").shipping-tabs__item._tab-active 
                                .shipping-tabs__icon
                                    include icons/_big-truck
                                span.shipping-tabs__text Курьерская доставка
                        
                        #shipping-type(data-tabs-body="1").shipping__content.shipping-tab
                            .radio-block.client-order__who 
                                label.control.control--radio
                                    input(type='radio' name='client-type' checked='checked' data-radio="stock")
                                    .control__indicator
                                    span Со склада
                                
                                label.control.control--radio
                                    input(type='radio' name='client-type' data-radio="point")
                                    .control__indicator
                                    span Из пункта выдачи

                            .stock-block._active(data-type="stock")
                                .stock-block__info.info-stock
                                    .info-stock__content
                                        h3.info-stock__title Московская область, г. Пущино, мкр Д, д. 20а, помещение 1Б
                                        p.info-stock__timing пн. - вс. : с 10:00 до 00:00
                                    span.info-stock__link Доставка бесплатная
                                .stock-block__map.map-stock
                                    button.button.map-stock__button(data-popup="pick-up-map") Показать на карте

                            .stock-block(data-type="point")
                                .stock-block__pick-up-point.pick-up-point(data-popup="pick-up-map")
                                    .pick-up-point__icon 
                                        include icons/_plus
                                    
                                    p.pick-up-point__text Добавить адрес доставки
                            
                        
                        div(data-tabs-body="2").shipping__content.shipping-tab._content-active
                            form(action="", method="post").shipping__form
                                .shipping__info.info-shipping
                                    .form-field.info-shipping__field
                                        label.form-field__label(for="сlient-street") Улица*
                                        input#client-street.form-field__input(type="text", name="сlient-street", placeholder="Введите адрес")
                                    
                                    .form-field.info-shipping__field._w50
                                        label.form-field__label(for="сlient-house") Дом*
                                        input#client-house.form-field__input(type="text", name="сlient-house", placeholder="Номер дома")

                                    .form-field.info-shipping__field._w50
                                        label.form-field__label(for="client-flat") Квартира/Офис
                                        input#client-flat.form-field__input(type="text", name="client-flat", placeholder="Номер квартиры/офиса")
                                    .form-field.info-shipping__field
                                        label.form-field__label(for="client-comment") Комментарий курьеру
                                        textarea#client-comment.form-field__textarea(type="text", name="client-comment", placeholder="Ваш комментарий")

                .cart-products__payment.payment-block
                    h2.payment-block__title Способы оплаты
                    ul.payment-block__variants.variants__list
                        li.variants__item
                            img(src="@img/order/iomoney.svg", alt="")
                        li.variants__item(data-popup="add-card")
                            include icons/_card
                            span.variants__text Квитанция Сбербанка

                .cart-products__products.products-block
                    h2.products-block__title Ожидаемая дата доставки: 
                        span 15 апреля, бесплатно
                    .products-block__info
                        span 3 товара
                        span •
                        span 10.01 кг
                    ul.products-block__list

                        li.products-block__item
                            .products-block__image
                                .products-block__image-ibg
                                    img(src="@img/products/item-1.png", alt="")
                            span.products-block__price 153 198 ₽ 
                        
                        li.products-block__item
                            .products-block__image
                                .products-block__image-ibg
                                    img(src="@img/products/item-2.png", alt="")
                            span.products-block__price 53 198 ₽ 

                        li.products-block__item
                            .products-block__image
                                .products-block__image-ibg
                                    img(src="@img/products/item-3.png", alt="")
                            span.products-block__price 53 198 ₽ 

                        li.products-block__item
                            .products-block__image
                                .products-block__image-ibg
                                    img(src="@img/products/item-1.png", alt="")
                            span.products-block__price 153 198 ₽ 
                        
                        li.products-block__item
                            .products-block__image
                                .products-block__image-ibg
                                    img(src="@img/products/item-2.png", alt="")
                            span.products-block__price 53 198 ₽ 

                        li.products-block__item
                            .products-block__image
                                .products-block__image-ibg
                                    img(src="@img/products/item-3.png", alt="")
                            span.products-block__price 53 198 ₽ 
                    
            .body-cart__bill.cart-bill
                .cart-bill__header.header-bill 
                    .header-bill__print
                        include icons/_print
                        span Распечатать
                        
                    .header-bill__share(data-popup="share-link")
                        include icons/_share
                        span Поделиться корзиной

                .cart-bill__body
                    h3.cart-bill__title Детали заказа
                    ul.cart-bill__list
                        li.cart-bill__item 
                            span.cart-bill__text 3 товара
                            span.cart-bill__price 153 198 ₽
                        li.cart-bill__item._details
                            details(open).cart-bill__details
                                summary.cart-bill__summary
                                    span Скидка
                                        include icons/_chevron-down
                                    span.cart-bill__discount -3 198 ₽
                                
                                ul.cart-bill__discounts.discounts-list
                                    li.discounts-list__item 
                                        span Скидка по акции
                                        span -900 ₽
                                    li.discounts-list__item 
                                        span Скидка по акции
                                        span -2 182 ₽
                                    li.discounts-list__item
                                        span Управлять скидками вы сможете на шаге выбора способа оплаты

                        li.cart-bill__item._summary 
                            span.cart-bill__text Итого
                            span.cart-bill__price 150 000 ₽

                    .cart-bill__buttons 
                        a(href="#").button.cart-bill__button Оформить заказ
                        span.cart-bill__tender(data-popup="tender") Закупка через тендер

                .cart-bill__promocode.promocode-bill
                    details.promocode-bill__details 
                        summary.promocode-bill__summary
                            .promocode-bill__title
                                include icons/_sale 
                                p Промокод или сертификат
                            include icons/_arrow-down
                        form(action="#", method="post").promocode-bill__form
                            input#promocode(type="text", name="promocode", placeholder="Введите код").promocode-bill__input
                            button.button Применить промокод

