section.events#events 
    .events__pattern
    .events__container 
        h2.section-title.events__title.others-events__title Другие мероприятия
            .body-events__navigation.swiper-navigation  
                .prev
                    include icons/_arrow-down
                .next
                    include icons/_arrow-down
        .events__body.body-othets-events

            .body-events__slider-2.swiper
                .body-events__wrapper.swiper-wrapper(itemscope="" itemtype="http://schema.org/ItemList")
                    .body-events__slide.swiper-slide.event-slide(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Event")
                        a(href="#", itemprop="url") 
                            .event-slide__header
                                .event-slide__type Конференция
                                .event-slide__dot
                                .event-slide__date(itemprop="startDate") 25 января
                            .event-slide__body
                                h3.event-slide__title(itemprop="name") День российского студенчества
                                p.event-slide__text(itemprop="description") Поздравляем всех студентов с праздником! 
                            .event-slide__footer(itemprop="location", itemscope="" itemtype="http://schema.org/Place")
                                .event-slide__city Санкт-Петербург
                                .event-slide__address Суворовский пр. 18, Отель «Эмеральд»
                    .body-events__slide.swiper-slide.event-slide(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Event")
                        a(href="#", itemprop="url") 
                            .event-slide__header
                                .event-slide__type Конференция
                                .event-slide__dot
                                .event-slide__date(itemprop="startDate") 25 января
                            .event-slide__body
                                h3.event-slide__title(itemprop="name") День российского студенчества
                                p.event-slide__text(itemprop="description") Поздравляем всех студентов с праздником! 
                            .event-slide__footer(itemprop="location", itemscope="" itemtype="http://schema.org/Place")
                                .event-slide__city Санкт-Петербург
                                .event-slide__address Суворовский пр. 18, Отель «Эмеральд»
                    .body-events__slide.swiper-slide.event-slide(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Event")
                        a(href="#", itemprop="url") 
                            .event-slide__header
                                .event-slide__type Конференция
                                .event-slide__dot
                                .event-slide__date(itemprop="startDate") 25 января
                            .event-slide__body
                                h3.event-slide__title(itemprop="name") День российского студенчества
                                p.event-slide__text(itemprop="description") Поздравляем всех студентов с праздником! 
                            .event-slide__footer(itemprop="location", itemscope="" itemtype="http://schema.org/Place")
                                .event-slide__city Санкт-Петербург
                                .event-slide__address Суворовский пр. 18, Отель «Эмеральд»
                    .body-events__slide.swiper-slide.event-slide(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Event")
                        a(href="#", itemprop="url") 
                            .event-slide__header
                                .event-slide__type Конференция
                                .event-slide__dot
                                .event-slide__date(itemprop="startDate") 25 января
                            .event-slide__body
                                h3.event-slide__title(itemprop="name") День российского студенчества
                                p.event-slide__text(itemprop="description") Поздравляем всех студентов с праздником! 
                            .event-slide__footer(itemprop="location", itemscope="" itemtype="http://schema.org/Place")
                                .event-slide__city Санкт-Петербург
                                .event-slide__address Суворовский пр. 18, Отель «Эмеральд»
                    .body-events__slide.swiper-slide.event-slide(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Event")
                        a(href="#", itemprop="url") 
                            .event-slide__header
                                .event-slide__type Конференция
                                .event-slide__dot
                                .event-slide__date(itemprop="startDate") 25 января
                            .event-slide__body
                                h3.event-slide__title(itemprop="name") День российского студенчества
                                p.event-slide__text(itemprop="description") Поздравляем всех студентов с праздником! 
                            .event-slide__footer(itemprop="location", itemscope="" itemtype="http://schema.org/Place")
                                .event-slide__city Санкт-Петербург
                                .event-slide__address Суворовский пр. 18, Отель «Эмеральд»
                    .body-events__slide.swiper-slide.event-slide(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Event")
                        a(href="#", itemprop="url") 
                            .event-slide__header
                                .event-slide__type Конференция
                                .event-slide__dot
                                .event-slide__date(itemprop="startDate") 25 января
                            .event-slide__body
                                h3.event-slide__title(itemprop="name") День российского студенчества
                                p.event-slide__text(itemprop="description") Поздравляем всех студентов с праздником! 
                            .event-slide__footer(itemprop="location", itemscope="" itemtype="http://schema.org/Place")
                                .event-slide__city Санкт-Петербург
                                .event-slide__address Суворовский пр. 18, Отель «Эмеральд»
           
            .body-events__pagination.swiper-pagination