.paggination
    .paggination__arrow
         a(href="").paggination__link
            svg(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 40 40' fill='none')
                circle(cx='20' cy='20' r='19.5' fill='white' stroke='#80D06C')
                path(d='M21.5 24L17.5 19.5L21.5 15' stroke='#545454' stroke-width='1.6')
    ul.paggination__list 
        li.paggination__item._current
            a(href="").paggination__link 1
        li.paggination__item 
            a(href="").paggination__link 2
        li.paggination__item 
            a(href="").paggination__link ...
        li.paggination__item 
            a(href="").paggination__link 12
        li.paggination__item
            a(href="").paggination__link 13
    .paggination__arrow
         a(href="").paggination__link
            svg(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 40 40' fill='none')
                circle(cx='20' cy='20' r='19.5' transform='matrix(-1 0 0 1 40 0)' fill='white' stroke='#80D06C')
                path(d='M18.5 24L22.5 19.5L18.5 15' stroke='#545454' stroke-width='1.6')
 
