section.partners-page

    .company-event__pattern
    .company-event__pattern.company-event__pattern-2 

    .partners-page__container 
        - const partnersPage = true;
        include _breadcrumbs

        h2.section-title.partners-page__title Партнеры
        .partners-page__body
            ul.partners-page__list

                li.partners-page__item.item-partner 
                    a(href="./partner.html").item-partner__link
                        .item-partner__img 
                            include brands/_avrora
                        .item-partner__content 
                            p.item-partner__text Bio-Rad Laboratories (США) — глобальная компания, производитель оборудования, питательных сред, антител, расходных материалов, а также программного обеспечения для исследований в области геномики и протеомики и безопасности пищевых продуктов.
                            .item-partner__more
                                span Подробнее
                                include icons/_arrow-more
                
                li.partners-page__item.item-partner 
                    a(href="./partner.html").item-partner__link
                        .item-partner__img 
                            include brands/_biorad
                        .item-partner__content 
                            p.item-partner__text Bio-Rad Laboratories (США) — глобальная компания, производитель оборудования, питательных сред, антител, расходных материалов, а также программного обеспечения для исследований в области геномики и протеомики и безопасности пищевых продуктов.
                            .item-partner__more
                                span Подробнее
                                include icons/_arrow-more

                li.partners-page__item.item-partner 
                    a(href="./partner.html").item-partner__link
                        .item-partner__img 
                            include brands/_biosan
                        .item-partner__content 
                            p.item-partner__text Bio-Rad Laboratories (США) — глобальная компания, производитель оборудования, питательных сред, антител, расходных материалов, а также программного обеспечения для исследований в области геномики и протеомики и безопасности пищевых продуктов.
                            .item-partner__more
                                span Подробнее
                                include icons/_arrow-more
                
                li.partners-page__item.item-partner 
                    a(href="./partner.html").item-partner__link
                        .item-partner__img 
                            include brands/_cli
                        .item-partner__content 
                            p.item-partner__text Bio-Rad Laboratories (США) — глобальная компания, производитель оборудования, питательных сред, антител, расходных материалов, а также программного обеспечения для исследований в области геномики и протеомики и безопасности пищевых продуктов.
                            .item-partner__more
                                span Подробнее
                                include icons/_arrow-more

                li.partners-page__item.item-partner 
                    a(href="./partner.html").item-partner__link
                        .item-partner__img 
                            include brands/_cormay
                        .item-partner__content 
                            p.item-partner__text Bio-Rad Laboratories (США) — глобальная компания, производитель оборудования, питательных сред, антител, расходных материалов, а также программного обеспечения для исследований в области геномики и протеомики и безопасности пищевых продуктов.
                            .item-partner__more
                                span Подробнее
                                include icons/_arrow-more
                
                li.partners-page__item.item-partner 
                    a(href="./partner.html").item-partner__link
                        .item-partner__img 
                            include brands/_dirui
                        .item-partner__content 
                            p.item-partner__text Bio-Rad Laboratories (США) — глобальная компания, производитель оборудования, питательных сред, антител, расходных материалов, а также программного обеспечения для исследований в области геномики и протеомики и безопасности пищевых продуктов.
                            .item-partner__more
                                span Подробнее
                                include icons/_arrow-more
            button.button.partners-page__button._transparent Показать еще
            include _paggination