#call-me.popup(aria-hidden='true')
	.popup__wrapper
		.popup__content
			button.popup__close(data-close='data-close' type='button')
				svg(xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewbox='0 0 26 26' fill='none')
					path(d='M19.3637 19.3639L6.63574 6.63599' stroke='#7F7F7F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
					path(d='M6.63585 19.3639L19.3638 6.63599' stroke='#7F7F7F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

			.popup__body
				h2.popup__title Закажите звонок в MolecuLab по телефону
				p.popup__text Укажите свой контактный телефон и мы перезвоним вам в ближайшее время
				form(action="#", method="post").popup__form
					.popup__inputs
						input#name-for-call.popup__input(type="text", name="name-for-call", placeholder="ФИО", required)
						input#number-for-call.popup__input(type="tel", name="number-for-call", placeholder="+7 (___)___-__-__", required)
					button(type="submit", disabled).button.popup__button Отправить 
				p.popup__policy Нажимая «Отправить», вы принимаете условия 
					a(href="#", target="_blank") политики конфиденциальности
