#call-me.popup(aria-hidden='true', data-single="true")
	.popup__wrapper
		.popup__content
			button.popup__close(data-close='data-close' type='button')
				include icons/_close

			.popup__body
				h2.popup__title Закажите звонок в MolecuLab по телефону
				p.popup__text Укажите свой контактный телефон и мы перезвоним вам в ближайшее время
				form(action="#", method="post").popup__form
					.popup__inputs
						input#name-for-call.popup__input(type="text", name="name", placeholder="ФИО", required)
						input#number-for-call.popup__input(type="tel", name="number", placeholder="+7 (___)___-__-__", required)
					button(type="submit", disabled).button.popup__button Отправить 
				p.popup__policy Нажимая «Отправить», вы принимаете условия 
					a(href="#", target="_blank") политики конфиденциальности

#request.popup(aria-hidden='true', data-single="false")
	.popup__wrapper
		.popup__content
			button.popup__close(data-close='data-close' type='button')
				include icons/_close

			.popup__body
				h2.popup__title Сделать заказ
				p.popup__text Укажите свой контактный телефон и мы перезвоним вам в ближайшее время
				form(action="#", method="post").popup__form
					.popup__inputs
						input#name-for-request.popup__input(type="text", name="name", placeholder="ФИО", required)
						input#number-for-request.popup__input(type="tel", name="number", placeholder="+7 (___)___-__-__", required)
						//- input#email-for-request.popup__input(type="email", name="email", placeholder="E-mail", required)
						.popup__verification.verification-form
							.verification-form__example 
								span#verification-example 88 / 8 =
							input#example-for-request.popup__input.verification-form__input(type="number", name="code", placeholder="Введите ответ", required)
					button(type="submit", disabled, data-popup="request-success").button.popup__button Отправить 
				p.popup__policy Нажимая «Отправить», вы принимаете условия 
					a(href="#", target="_blank") политики конфиденциальности

#request-success.popup(aria-hidden='true', data-single="true")
	.popup__wrapper
		.popup__content
			button.popup__close(data-close='data-close' type='button')
				include icons/_close

			.popup__body
				h2.popup__title Спасибо за заявку
				p.popup__text Ваша заявка успешно отправлена, наши специалисты свяжутся с вами в течение 30 минут
				//- form(action="#", method="post").popup__form
				//- 	button(type="submit", disabled).button.popup__button Отправить 
				//- p.popup__policy Нажимая «Отправить», вы принимаете условия 
				//- 	a(href="#", target="_blank") политики конфиденциальности

#share-link.popup(aria-hidden='true', data-single="true")
	.popup__wrapper
		.popup__content
			button.popup__close(data-close='data-close' type='button')
				include icons/_close

			.popup__body
				h2.popup__title Ссылка действует 15 дней
				p.popup__text 
					| При открытии ссылки у другого пользователя товары из вашей корзины 
					| будут автоматически добавлены в его корзину
				.popup__sharing 
					.popup__sharing-link 
						input#url-input(type="url", name="url-input" value="https://moleculab.ru/cart/12546537")
					button.popup__sharing-icon
						include icons/_link

#to-follow-product.popup(aria-hidden='true', data-single="true")
	.popup__wrapper
		.popup__content
			button.popup__close(data-close='data-close' type='button')
				include icons/_close

			.popup__body
				h2.popup__title Подпишитесь на товар
				p.popup__text
					| Укажите свой e-mail, мы обязательно напишем Вам, 
					| когда нужный товар появится в наличии
				form(action="#", method="post").popup__field.popup__field_mb16
					input#email-input(type="email", name="email-input", required, placeholder="Email")
					button.button(type="submit", data-popup="you-follow") Отправить
				p.popup__policy Нажимая «Отправить», вы принимаете условия 
					a(href="#", target="_blank") политики конфиденциальности

#you-follow.popup(aria-hidden='true', data-single="true")
	.popup__wrapper
		.popup__content
			button.popup__close(data-close='data-close' type='button')
				include icons/_close

			.popup__body
				h2.popup__title Вы подписались на товар
				p.popup__text
					| Уведомление о наличии товара придет вам на электронную почту.
				a.button._w100 В каталог

#tender.popup.popup-tender._step-1(aria-hidden='true', data-single="true")
	.popup__wrapper
		.popup__content
			.popup__header
				button.popup__back._to-step-1
					include icons/_arrow-popup
				
				.popup__steps.steps-popup 
					.steps-popup__text 
						span.current-step._step-1 1
						span.current-step._step-2 2 
						span из 
						span.all-steps 2
					.steps-popup__fractions 
						.steps-popup__fraction
						.steps-popup__fraction

				button.popup__close(data-close='data-close' type='button')
					include icons/_close

			.popup__body
				h2.popup__title Введите данные
				p.popup__text 
					| Заполните данные для оформления тендера
				form(action="#", method="post").popup__form
					
					.step.step-1
						h3.popup__subtitle Личные данные
						.popup__inputs
							.popup__field
								label.popup__label Имя
								input#name-for-tender.popup__input(type="text", name="name", placeholder="Наталья", required)

							.popup__field
								label.popup__label Фамилия
								input#surname-for-tender.popup__input(type="text", name="surname", placeholder="Карандашова", required)

							.popup__field
								label.popup__label Отчество
								input#patronum-for-tender.popup__input(type="text", name="patronum", placeholder="Олеговна")

						h3.popup__subtitle Контакты
						.popup__inputs
							.popup__field
								label.popup__label Номер телефона
								input#number-for-tender.popup__input(type="tel", name="number", placeholder="+7 (___)___-__-__", required)
							
							.popup__field
								label.popup__label Почта
								input#email-for-tender.popup__input(type="email", name="email", placeholder="E-mail", required)
							
						.popup__button-wrapper
							button(type="text").button.popup__button._to-step-2 Далее
					
					.step.step-2
						h3.popup__subtitle Сведения об организации
						.popup__inputs
							.popup__field
								label.popup__label Наименование организации
								input#company-for-tender.popup__input(type="text", name="company", placeholder="ООО “ТоргДом”", required)

							.popup__field
								label.popup__label ИНН
								input#inn-for-tender.popup__input(type="number", name="inn", placeholder="1234567890", required)

							.popup__field
								label.popup__label Регион
								.popup-form__select.select
									.select__title.open-select
										span.current-value(data-current="") Выберите регион
										include icons/_arrow-down

									.select__hidden-block
										ul.select__list
											li.select__item(data-value="Москва") Москва
											li.select__item(data-value="Московская область") Московская область
											li.select__item(data-value="ЮФО") ЮФО
											li.select__item(data-value="СЗФО") СЗФО
											li.select__item(data-value="ЦФО") ЦФО

							.popup__field
								label.popup__label Город
								.popup-form__select.select
									.select__title.open-select
										span.current-value(data-current="") Выберите регион
										include icons/_arrow-down

									.select__hidden-block
										ul.select__list
											li.select__item(data-value="Москва") Москва
											li.select__item(data-value="Рязань") Рязань
											li.select__item(data-value="Казань") Казань
											li.select__item(data-value="Самара") Самара
											li.select__item(data-value="Санкт-Петербург") Санкт-Петербург
							
							.popup__field
								label.popup__label Улица
								input#street-for-tender.popup__input(type="text", name="street", placeholder="Введите адрес")

						h3.popup__subtitle Комментарий к заказу
						.popup__inputs
							textarea#comments.popup__textarea(name="comments") 
							
						.popup__button-wrapper
							button(type="text", disabled).button.popup__button Далее

#add-card.popup.popup-add-card(aria-hidden='true', data-single="true")
	.popup__wrapper
		.popup__content
			button.popup__close(data-close='data-close' type='button')
				include icons/_close

			.popup__body
				h2.popup__title._mb24 Привязка карты
				form(action="#", method="post").popup__form
					.popup__inputs.row
						input#number-for-card.popup__input(type="number", name="number-for-card", placeholder="Укажите номер карты", required)
						input#date-for-card.popup__input._w50(type="tel", name="date-for-card", placeholder="ММ/ГГ", required)
						input#cvv-for-card.popup__input._w50(type="number", name="cvv-for-card", placeholder="CVV/CVC", required)

					.popup__button-wrapper
						button(type="submit", disabled).button.popup__button Привязать

						p.popup__policy Нажимая «Отправить», вы принимаете условия 
							a(href="#", target="_blank") политики конфиденциальности

#pick-up-map.pick-up-map.popup(aria-hidden='true', data-single="true")
	.popup__wrapper
		.popup__content._transparent._big
			button.popup__close(data-close='data-close' type='button')
				include icons/_close

			.popup__body
				.popup__map._pick-ups-list
					
					.popup__pick-ups.pick-ups
						h3.pick-ups__title Способы доставки
						form(action="post").pick-ups__form
							input#search-pick-up.pick-ups__search(type="search", name="search-pick-up", placeholder="Введите адрес")
						.pick-ups__address
							ul.pick-ups__list
								li.pick-ups__item 
									h4 Красных Партизан, 1/4к5
									span Краснодар
								li.pick-ups__item 
									h4 Красных Партизан, 1/4к5
									span Краснодар
								li.pick-ups__item 
									h4 Красных Партизан, 1/4к5
									span Краснодар
								li.pick-ups__item
									h4 Красных Партизан, 1/4к5
									span Краснодар
								li.pick-ups__item 
									h4 Красных Партизан, 1/4к5
									span Краснодар
								li.pick-ups__item
									h4 Красных Партизан, 1/4к5
									span Краснодар	
								li.pick-ups__item 
									h4 Красных Партизан, 1/4к5
									span Краснодар		
										
						.pick-ups__location.location-pick-ups
							button.location-pick-ups__button 
									include icons/_pickup-point
									span Определить местоположение
							button.button._disabled Привезти сюда
					
					.popup__pick-up-point.point-pick-up
						.point-pick-up__title
							include icons/_arrow-left
							h4 Пункт выдачи заказов СДЭК
						ul.point-pick-up__list 
							li.point-pick-up__item 
								include icons/_location-point
								span Краснодар, улица Красных Партизан, д. 1/4, корп. 2
							li.point-pick-up__item 
								include icons/_watch
								span Срок хранения — 7 дней
							li.point-pick-up__item 
								include icons/_hourglass
								span Ежедневно, 09:00 – 21:00
						button.button.point-pick-up__button Привезти сюда
						
					#map.map.popup__ya-map


#to-auth.popup.popup-tender(aria-hidden='true', data-single="true")
	.popup__wrapper
		.popup__content
			button.popup__close(data-close='data-close' type='button')
				include icons/_close
			.popup__body
				h2.popup__title Авторизация
				p.popup__text Авторизация осуществляется e-mail, с помощью одноразового кода, который придет вам на почту.
				form(action="#", method="post").popup__form
					.popup__inputs
						input#email-for-auth.popup__input(type="email", name="email-for-auth", placeholder="E-mail", required)
					.popup__button-wrapper
						button(type="submit", data-popup="password").button.popup__button Продолжить
				
				.popup__to-registration 
					span Нет учётной записи?
					span.to-registration._highligth(data-popup="registration") Зарегистрироваться

#registration.popup.popup-tender(aria-hidden='true', data-single="true")
	.popup__wrapper
		.popup__content
			button.popup__close(data-close='data-close' type='button')
				include icons/_close
			.popup__body
				h2.popup__title Регистрация
				p.popup__text Введите данные для успешой регистрации.
				form(action="#", method="post").popup__form
					.popup__inputs
						input#name-for-registration.popup__input(type="text", name="name-for-registration", placeholder="Имя", required)
						input#surname-for-registration.popup__input(type="text", name="surname-for-registration", placeholder="Фамилия", required)
						input#number-for-registration.popup__input(type="tel", name="number-for-registration", placeholder="+7 (___)___-__-__", required)
						input#email-for-registration.popup__input(type="email", name="email-for-registration", placeholder="E-mail", required)
					.popup__button-wrapper
						button(type="submit", data-popup="password").button.popup__button Продолжить
						p.popup__policy Нажимая «Отправить», вы принимаете условия 
							a(href="#", target="_blank") политики конфиденциальности

#password.popup.popup-tender(aria-hidden='true', data-single="true")
	.popup__wrapper
		.popup__content
			button.popup__close(data-close='data-close' type='button')
				include icons/_close
			.popup__body
				h2.popup__title Введите пароль из<br>уведомления
				p.popup__text Проверьте e-mail, на котором вы авторизованы в приложении.
				form(action="#", method="post").popup__form
					.popup__inputs
						input#pass-for-auth.popup__input(type="password", name="pass-for-auth", placeholder="Введите пароль", required)
					//- button(type="submit", disabled).button.popup__button Продолжить
					.popup__button-wrapper
						button(type="submit").button.popup__button Продолжить
					details.popup-hidden
						summary.popup-hidden__title Не приходит пароль?
						ul.popup-hidden__list 
							li.popup-hidden__item Проверьте корректность вводимых данных – без тире и пробела, язык ввода, клавишу «Caps Lock»
							li.popup-hidden__item Вы ввели правильный адрес электронной почты.
						p.popup-hidden__text Если указанные способы не помогают, обратитесь
							a(href="").popup-hidden__link  в службу поддержки