.catalog__category.popular-category
    h2.section-title Популярные категории
    ul.popular-category__list 
        li.popular-category__item
            a(href="").popular-category__link
                .popular-category__image-ibg
                    img(src="@img/category/item-1.png", alt="Оборудование для ветеринарии")
                h3.popular-category__title Оборудование для ветеринарии
        li.popular-category__item
            a(href="").popular-category__link
                .popular-category__image-ibg
                    img(src="@img/category/item-2.png", alt="Оборудование для КДЛ")
                h3.popular-category__title Оборудование для КДЛ
        li.popular-category__item
            a(href="").popular-category__link
                .popular-category__image-ibg
                    img(src="@img/category/item-3.png", alt="Общелабораторное оборудование")
                h3.popular-category__title Общелабораторное оборудование
        li.popular-category__item
            a(href="").popular-category__link
                .popular-category__image-ibg
                    img(src="@img/category/item-4.png", alt="Общелабораторное оборудование")
                h3.popular-category__title Общелабораторное оборудование
        li.popular-category__item
            a(href="").popular-category__link
                .popular-category__image-ibg
                    img(src="@img/category/item-5.png", alt="Оборудование для ветеринарии")
                h3.popular-category__title Оборудование для ветеринарии
        li.popular-category__item
            a(href="").popular-category__link
                .popular-category__image-ibg
                    img(src="@img/category/item-6.png", alt="Научное и контрольно-аналитическое оборудование")
                h3.popular-category__title Научное и контрольно-аналитическое оборудование
        li.popular-category__item
            a(href="").popular-category__link
                .popular-category__image-ibg
                    img(src="@img/category/item-7.png", alt="Общелабораторное оборудование")
                h3.popular-category__title Общелабораторное оборудование
        li.popular-category__item
            a(href="").popular-category__link
                .popular-category__image-ibg
                    img(src="@img/category/item-8.png", alt="Прочее лабораторное оборудование")
                h3.popular-category__title Прочее лабораторное оборудование