ul.products__list
    li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
        .product-item__label._popular Популярное
        .product-item__icons.icons-product  
            span.icons-product__heart 
                include icons/_heart
            span.icons-product__comparison
                include icons/_comparison
        a(href="/product.html", itemprop="description").product-item__link
            a(href="/product.html", itemprop="url").product-item__image-ibg
                img(src="@img/products/item-1.png" alt=`Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)`, itemprop="image")
            .product-item__content 
                span.product-item__code(itemprop="sku") 1R-B.002-15
                    button.product-item__copy
                        include icons/_copy
                h4.product-item__title(itemprop="brand") Ламинарные системы
                p.product-item__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus odit ab optio reprehenderit inventore! Voluptatum aliquam, ad consectetur, delectus optio quia facere suscipit dignissimos tempora provident eaque nemo amet quas.
                    button.product-item__copy
                        include icons/_copy
                span.product-item__status._limited Ограничено
                ul.product-item__info.info-product
                    li.info-product__item Артикул:
                        span Wufeng HELICON 1800 type 9
                            button.product-item__copy
                                include icons/_copy
                    li.info-product__item Производитель:
                        span Clinx
                    li.info-product__item Наличие:
                        span._limited Ограничено
                    li.info-product__item Регистрационное удостоверение:
                        span Отсутствует
                .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽

        .product-item__buttons.buttons-products
            .buttons-products__top
                .buttons-products__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽
                    span.product-item__price-old 100 334 ₽
                .buttons-products__icons
                    span.buttons-products__heart.icons-product__heart._active  
                        svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                            path(d='M15.4372 2.875C18.8127 2.875 21.0807 6.08781 21.0807 9.085C21.0807 15.1548 11.6678 20.125 11.4974 20.125C11.327 20.125 1.91406 15.1548 1.91406 9.085C1.91406 6.08781 4.18212 2.875 7.55758 2.875C9.49555 2.875 10.9498 4.10714 11.4974 5.20238C12.045 4.10714 13.4992 2.875 15.4372 2.875Z' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                    span.buttons-products__comparison.icons-product__comparison
                        svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                            path(d='M4 8V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                            path(d='M9 2V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                            path(d='M14 10.5V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                            path(d='M19 3V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')

            button.button.product-item__button(data-popup="request")
                span В корзину
                include icons/_cart
    
    li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
        .product-item__label._new Новинка
        .product-item__icons.icons-product  
            span.icons-product__heart 
                include icons/_heart
            span.icons-product__comparison
                include icons/_comparison
        a(href="/product.html", itemprop="url").product-item__link
            .product-item__image-ibg
                img(src="@img/products/item-2.png" alt="Многофункциональная центрифуга с охлаждением 1248R", itemprop="image")
            .product-item__content 
                span.product-item__code(itemprop="sku") GZ-1248R
                    button.product-item__copy
                        include icons/_copy
                h4.product-item__title(itemprop="brand") Gyrozen
                p.product-item__text(itemprop="description") Многофункциональная центрифуга с охлаждением 1248R
                    button.product-item__copy
                        include icons/_copy
                span.product-item__status._request Уточнить у менеджера
                ul.product-item__info.info-product
                    li.info-product__item Артикул:
                        span Wufeng HELICON 1800 type 9
                            button.product-item__copy
                                include icons/_copy
                    li.info-product__item Производитель:
                        span Clinx
                    li.info-product__item Наличие:
                        span._request Уточнить у менеджера
                    li.info-product__item Регистрационное удостоверение:
                        span Отсутствует
                .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽
                    span.product-item__price-old 100 334 ₽

        .product-item__buttons.buttons-products
            .buttons-products__top
                .buttons-products__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽
                    span.product-item__price-old 100 334 ₽
                
                .buttons-products__icons
                    span.buttons-products__heart.icons-product__heart._active  
                        svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                            path(d='M15.4372 2.875C18.8127 2.875 21.0807 6.08781 21.0807 9.085C21.0807 15.1548 11.6678 20.125 11.4974 20.125C11.327 20.125 1.91406 15.1548 1.91406 9.085C1.91406 6.08781 4.18212 2.875 7.55758 2.875C9.49555 2.875 10.9498 4.10714 11.4974 5.20238C12.045 4.10714 13.4992 2.875 15.4372 2.875Z' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                    span.buttons-products__comparison.icons-product__comparison
                        svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                            path(d='M4 8V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                            path(d='M9 2V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                            path(d='M14 10.5V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                            path(d='M19 3V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                    
            button.button.product-item__button(data-popup="request")
                span В корзину
                include icons/_cart

    li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
        .product-item__label._special Акция
        .product-item__icons.icons-product  
            span.icons-product__heart 
                include icons/_heart
            span.icons-product__comparison
                include icons/_comparison
        a(href="/product.html", itemprop="url").product-item__link
            .product-item__image-ibg
                img(src="@img/products/item-3.png" alt="Гель-документирующая система ChemiScope", itemprop="image")
            .product-item__content 
                span.product-item__code(itemprop="sku") 1R-B.002-15
                    button.product-item__copy
                        include icons/_copy
                h4.product-item__title(itemprop="brand") Senova BS-3031
                p.product-item__text(itemprop="description") Гель-документирующая система ChemiScope
                    button.product-item__copy
                        include icons/_copy
                span.product-item__status._limited Ограничено
                ul.product-item__info.info-product
                    li.info-product__item Артикул:
                        span Wufeng HELICON 1800 type 9
                            button.product-item__copy
                                include icons/_copy
                    li.info-product__item Производитель:
                        span Clinx
                    li.info-product__item Наличие:
                        span._limited Ограничено
                    li.info-product__item Регистрационное удостоверение:
                        span Отсутствует
                .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽
                    span.product-item__price-old 100 334 ₽

        .product-item__buttons.buttons-products
            .buttons-products__top
                .buttons-products__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽
                    span.product-item__price-old 100 334 ₽
                .buttons-products__icons
                    span.buttons-products__heart.icons-product__heart._active  
                        svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                            path(d='M15.4372 2.875C18.8127 2.875 21.0807 6.08781 21.0807 9.085C21.0807 15.1548 11.6678 20.125 11.4974 20.125C11.327 20.125 1.91406 15.1548 1.91406 9.085C1.91406 6.08781 4.18212 2.875 7.55758 2.875C9.49555 2.875 10.9498 4.10714 11.4974 5.20238C12.045 4.10714 13.4992 2.875 15.4372 2.875Z' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                    span.buttons-products__comparison.icons-product__comparison
                        svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
                            path(d='M4 8V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                            path(d='M9 2V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                            path(d='M14 10.5V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
                            path(d='M19 3V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')

            button.button.product-item__button(data-popup="request")
                span В корзину
                include icons/_cart

    li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
        .product-item__label._popular Популярное
        .product-item__icons.icons-product  
            span.icons-product__heart 
                include icons/_heart
            span.icons-product__comparison
                include icons/_comparison
        a(href="/product.html", itemprop="url").product-item__link
            .product-item__image-ibg
                img(src="@img/products/item-4.png" alt="Гель-документирующая система ChemiScope", itemprop="image")
            .product-item__content 
                span.product-item__code(itemprop="sku") 1802001 U
                    button.product-item__copy
                        include icons/_copy
                h4.product-item__title(itemprop="brand") Clinx
                p.product-item__text(itemprop="description") Гель-документирующая система ChemiScope
                    button.product-item__copy
                        include icons/_copy
                span.product-item__status
                ul.product-item__info.info-product
                    li.info-product__item Артикул:
                        span Wufeng HELICON 1800 type 9
                            button.product-item__copy
                                include icons/_copy
                    li.info-product__item Производитель:
                        span Clinx
                    li.info-product__item Наличие:
                        span._limited Ограничено
                    li.info-product__item Регистрационное удостоверение:
                        span Отсутствует
                .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽
                    span.product-item__price-old 100 334 ₽

        .product-item__buttons.buttons-products
            .buttons-products__top
                .buttons-products__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽
                    span.product-item__price-old 100 334 ₽
                .buttons-products__icons
                    span.icons-product__heart 
                        include icons/_heart
                    span.icons-product__comparison
                        include icons/_comparison

            button.button.product-item__button(data-popup="request")
                span В корзину
                include icons/_cart

    li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
        .product-item__label._popular Популярное
        .product-item__icons.icons-product  
            span.icons-product__heart 
                include icons/_heart
            span.icons-product__comparison
                include icons/_comparison
        a(href="/product.html", itemprop="url").product-item__link
            .product-item__image-ibg
                img(src="@img/products/item-1.png" alt=`Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)`, itemprop="image")
            .product-item__content 
                span.product-item__code(itemprop="sku") 1R-B.002-15
                    button.product-item__copy
                        include icons/_copy
                h4.product-item__title(itemprop="brand") Ламинарные системы
                p.product-item__text(itemprop="description") Ламинарный шкаф II класса защиты БМБ-II-"Ламинар-С" - 1,5 SAVVY (222.150)
                    button.product-item__copy
                        include icons/_copy
                span.product-item__status._limited Ограничено
                ul.product-item__info.info-product
                    li.info-product__item Артикул:
                        span Wufeng HELICON 1800 type 9
                            button.product-item__copy
                                include icons/_copy
                    li.info-product__item Производитель:
                        span Clinx
                    li.info-product__item Наличие:
                        span._limited Ограничено
                    li.info-product__item Регистрационное удостоверение:
                        span Отсутствует
                .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽

        .product-item__buttons.buttons-products
            .buttons-products__top
                .buttons-products__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽
                    span.product-item__price-old 100 334 ₽
                .buttons-products__icons
                    span.icons-product__heart 
                        include icons/_heart
                    span.icons-product__comparison
                        include icons/_comparison

            button.button.product-item__button(data-popup="request")
                span В корзину
                include icons/_cart

    li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
        .product-item__label._new Новинка
        .product-item__icons.icons-product  
            span.icons-product__heart 
                include icons/_heart
            span.icons-product__comparison
                include icons/_comparison
        a(href="/product.html", itemprop="url").product-item__link
            .product-item__image-ibg
                img(src="@img/products/item-2.png" alt="Многофункциональная центрифуга с охлаждением 1248R", itemprop="image")
            .product-item__content 
                span.product-item__code(itemprop="sku") GZ-1248R
                    button.product-item__copy
                        include icons/_copy
                h4.product-item__title(itemprop="brand") Gyrozen
                p.product-item__text(itemprop="description") Многофункциональная центрифуга с охлаждением 1248R
                    button.product-item__copy
                        include icons/_copy
                span.product-item__status._request Уточнить у менеджера
                ul.product-item__info.info-product
                    li.info-product__item Артикул:
                        span Wufeng HELICON 1800 type 9
                            button.product-item__copy
                                include icons/_copy
                    li.info-product__item Производитель:
                        span Clinx
                    li.info-product__item Наличие:
                        span._request Уточнить у менеджера
                    li.info-product__item Регистрационное удостоверение:
                        span Отсутствует
                .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽
                    span.product-item__price-old 100 334 ₽
        
        .product-item__buttons.buttons-products
            .buttons-products__top
                .buttons-products__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽
                    span.product-item__price-old 100 334 ₽
                .buttons-products__icons
                    span.icons-product__heart 
                        include icons/_heart
                    span.icons-product__comparison
                        include icons/_comparison

            button.button.product-item__button(data-popup="request")
                span В корзину
                include icons/_cart

    li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
        .product-item__label._special Акция
        .product-item__icons.icons-product  
            span.icons-product__heart 
                include icons/_heart
            span.icons-product__comparison
                include icons/_comparison
        a(href="/product.html", itemprop="url").product-item__link
            .product-item__image-ibg
                img(src="@img/products/item-3.png" alt="Гель-документирующая система ChemiScope", itemprop="image")
            .product-item__content 
                span.product-item__code(itemprop="sku") 1R-B.002-15
                    button.product-item__copy
                        include icons/_copy
                h4.product-item__title(itemprop="brand") Senova BS-3031
                p.product-item__text(itemprop="description") Гель-документирующая система ChemiScope
                    button.product-item__copy
                        include icons/_copy
                span.product-item__status._limited Ограничено
                ul.product-item__info.info-product
                    li.info-product__item Артикул:
                        span Wufeng HELICON 1800 type 9
                            button.product-item__copy
                                include icons/_copy
                    li.info-product__item Производитель:
                        span Clinx
                    li.info-product__item Наличие:
                        span._limited Ограничено
                    li.info-product__item Регистрационное удостоверение:
                        span Отсутствует
                .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽
                    span.product-item__price-old 100 334 ₽
        .product-item__buttons.buttons-products
            .buttons-products__top
                .buttons-products__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽
                    span.product-item__price-old 100 334 ₽
                .buttons-products__icons
                    span.icons-product__heart 
                        include icons/_heart
                    span.icons-product__comparison
                        include icons/_comparison

            button.button.product-item__button(data-popup="request")
                span В корзину
                include icons/_cart

    li.products__item.product-item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/Product")
        .product-item__label._popular Популярное
        .product-item__icons.icons-product  
            span.icons-product__heart 
                include icons/_heart
            span.icons-product__comparison
                include icons/_comparison
        a(href="/product.html", itemprop="url").product-item__link
            .product-item__image-ibg
                img(src="@img/products/item-4.png" alt="Гель-документирующая система ChemiScope", itemprop="image")
            .product-item__content 
                span.product-item__code(itemprop="sku") 1802001 U
                    button.product-item__copy
                        include icons/_copy
                h4.product-item__title(itemprop="brand") Clinx
                p.product-item__text(itemprop="description") Гель-документирующая система ChemiScope
                    button.product-item__copy
                        include icons/_copy
                span.product-item__status._many Много
                ul.product-item__info.info-product
                    li.info-product__item Артикул:
                        span Wufeng HELICON 1800 type 9
                            button.product-item__copy
                                include icons/_copy
                    li.info-product__item Производитель:
                        span Clinx
                    li.info-product__item Наличие:
                        span._many Много
                    li.info-product__item Регистрационное удостоверение:
                        span Отсутствует
                .product-item__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price от 68 334 ₽
        .product-item__buttons.buttons-products
            .buttons-products__top
                .buttons-products__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                    meta(itemprop='priceCurrency' content='RUB')
                    meta(itemprop='price' content='68334')
                    meta(itemprop='availability' content='http://schema.org/InStock')
                    span.product-item__price 68 334 ₽
                    span.product-item__price-old 100 334 ₽
                .buttons-products__icons
                    span.icons-product__heart 
                        include icons/_heart
                    span.icons-product__comparison
                        include icons/_comparison

            button.button.product-item__button(data-popup="request") 
                span В корзину
                include icons/_cart