section.product
    .product__container
        
        - const productPage = true;
        include _breadcrumbs

        .product__header.header-product 
            .header-product__gallery.product-gallery
                ul.product-gallery__list 
                    li.product-gallery__item._current-slide
                        img(src="@img/product/item-1.png", alt="product")
                    li.product-gallery__item
                        img(src="@img/product/item-2.png", alt="product")
                    li.product-gallery__item
                        img(src="@img/product/item-1.png", alt="product")
                    li.product-gallery__item
                        img(src="@img/product/item-2.png", alt="product")
                .product-gallery__main
                    .product__slider.swiper
                        .product-item__label._popular.product-gallery__label Популярное
                        .product__wrapper.swiper-wrapper
                            .product-gallery__slide.swiper-slide
                                img(src="@img/product/item-3.jpg", alt="")
                            .product-gallery__slide.swiper-slide
                                img(src="@img/product/item-big-1.png", alt="")
                            .product-gallery__slide.swiper-slide
                                img(src="@img/product/item-big-1.png", alt="")
                            .product-gallery__slide.swiper-slide
                                img(src="@img/product/item-big-1.png", alt="")
                    .product__pagination.swiper-pagination
                     
            .header-product__content.content-product
                .content-product__top
                    h1.content-product__title УВЭЖХ система HELICON 1800 UHPLC с бинарным насосом
                    .content-product__icons  
                        span.icons-product__heart.content-product__icon.content-product__heart 
                            include icons/_heart
                        span.icons-product__comparison.content-product__icon.content-product__comparison
                            include icons/_comparison

                .content-product__middle
                    .product-item__prices.content-product__prices(itemscope="" itemprop="offers" itemtype="http://schema.org/Offer")
                        meta(itemprop='priceCurrency' content='RUB')
                        meta(itemprop='price' content='68334')
                        meta(itemprop='availability' content='http://schema.org/InStock')
                        span.content-product__price 68 334 ₽
                        span.content-product__price.content-product__price-old 100 334 ₽

                    .content-product__buttons
                        #product-counter.content-product__counter.counter-product
                            .counter-product__decrease
                                span –
                            span.current-quantity 1
                            .counter-product__increase
                                span +
                            input#product-quantity(type="number", name="product-quantit", hidden, value="0")

                        button#add-to-cart.button.content-product__button._to-cart В корзину
                        button.button._gradient.content-product__button._in-cart(data-text="В корзине")
                            span  В корзине
                        button.button._transparent.content-product__button Подобрать аналог
                        

                .content-product__bottom
                    ul.product-item__info.info-product.content-product__list
                        li.info-product__item.content-product__item Артикул:
                            span Wufeng HELICON 1800 type 9
                        li.info-product__item.content-product__item Производитель:
                            span Clinx
                        li.info-product__item.content-product__item Наличие:
                            span._limited Ограничено
                        li.info-product__item.content-product__item Регистрационное удостоверение:
                            span Отсутствует
                        li.info-product__item.content-product__item Регистрационное удостоверение:
                            span Отсутствует
                    #to-details.product-item__to.content-product__item
                        span Все характеристики
                        include icons/_arrow-down

        .product__description
            .description-top 
                h2.description-top__title Описание товара
                .description-top__body 
                    .description-top__text._less-text 
                        p Используя 20-летний опыт разработки, производства и обслуживания жидкостных хроматографов, 
                            | Wufeng первыми среди китайских производителей выпустили жидкостной хроматограф 
                            | сверхвысокого давления (более 1000 бар). 
                            | Приборы серии SkyHan EX1800 HPLC/UHPLC были представлены в 2019 году. 
                            | Их технические возможности позволяют реализовать большинство известных ВЭЖХ методик.
                            | Wufeng первыми среди китайских производителей выпустили жидкостной хроматограф 
                            | сверхвысокого давления (более 1000 бар). 
                            | Приборы серии SkyHan EX1800 HPLC/UHPLC были представлены в 2019 году. 
                            | Их технические возможности позволяют реализовать большинство известных ВЭЖХ методик.
                        span#description-more-less Читать полностью

                    .description-top__docs.docs
                        h3.docs__title Инструкции и сертификаты
                        ul.docs__list 
                            li.docs__item
                                a(href="#", download).docs__link.doc
                                    .doc__icon
                                        include icons/_pdf
                                
                                    .doc__body
                                        h4.doc__title Инструкция по применению экспресс-тестов RAINBOW PIGLET
                                        .doc__info 
                                            span PDF, 1.44 МБ
                                            span •
                                            span 15.06.2023

                            li.docs__item
                                a(href="#", download).docs__link.doc
                                    .doc__icon
                                        include icons/_pdf
                                
                                    .doc__body
                                        h4.doc__title Инструкция по применению экспресс-тестов RAINBOW PIGLET
                                        .doc__info 
                                            span PDF, 1.44 МБ
                                            span •
                                            span 15.06.2023

            #details.description-bottom
                .details
                    nav.details__navigation.details-tabs 
                        button(data-tab-button="1").details-tabs__title Характеристики
                        button(data-tab-button="2").details-tabs__title Документация
                        button(data-tab-button="3").details-tabs__title Доставка и оплата
                        button(data-tab-button="4").details-tabs__title._tab-active Гарантия

                    .details__separator
                    
                    div(data-tabs-body="1").details__content.details-tab
                        ul.details-tab__list
                            li.details-tab__item 
                                span.details-tab__option Управление источником света
                                .details-tab__space 
                                span.details-tab__value Транс УФ, супер-белый
                            li.details-tab__item 
                                span.details-tab__option Максимальный размер образца
                                .details-tab__space 
                                span.details-tab__value 19х26 см
                            li.details-tab__item 
                                span.details-tab__option Динамический диапазон изображения
                                .details-tab__space 
                                span.details-tab__value 16 бит
                            li.details-tab__item 
                                span.details-tab__option Оснащение модулей флуоресценции
                                .details-tab__space 
                                span.details-tab__value 8-позиционное колесо фильтров
                            li.details-tab__item 
                                span.details-tab__option Температура охлаждения камеры
                                .details-tab__space 
                                span.details-tab__value до - 30 °С
                            li.details-tab__item 
                                span.details-tab__option Управление системой
                                .details-tab__space 
                                span.details-tab__value Единое программное обеспечение
                            li.details-tab__item 
                                span.details-tab__option Габариты
                                .details-tab__space 
                                span.details-tab__value 430 х 380 х 690 мм
                    

                    div(data-tabs-body="2").details__content.details-tab
                        ul.docs__list.details-tab__docs 
                            li.docs__item
                                a(href="#", download).docs__link.doc
                                    .doc__icon
                                        include icons/_pdf
                                
                                    .doc__body
                                        h4.doc__title Инструкция по применению экспресс-тестов RAINBOW PIGLET
                                        .doc__info 
                                            span PDF, 1.44 МБ
                                            span •
                                            span 15.06.2023

                            li.docs__item
                                a(href="#", download).docs__link.doc
                                    .doc__icon
                                        include icons/_pdf
                                
                                    .doc__body
                                        h4.doc__title Инструкция по применению экспресс-тестов RAINBOW PIGLET
                                        .doc__info 
                                            span PDF, 1.44 МБ
                                            span •
                                            span 15.06.2023

                            li.docs__item
                                a(href="#", download).docs__link.doc
                                    .doc__icon
                                        include icons/_pdf
                                
                                    .doc__body
                                        h4.doc__title Инструкция по применению экспресс-тестов RAINBOW PIGLET
                                        .doc__info 
                                            span PDF, 1.44 МБ
                                            span •
                                            span 15.06.2023

                            li.docs__item
                                a(href="#", download).docs__link.doc
                                    .doc__icon
                                        include icons/_pdf
                                
                                    .doc__body
                                        h4.doc__title Инструкция по применению экспресс-тестов RAINBOW PIGLET
                                        .doc__info 
                                            span PDF, 1.44 МБ
                                            span •
                                            span 15.06.2023

                            li.docs__item
                                a(href="#", download).docs__link.doc
                                    .doc__icon
                                        include icons/_pdf
                                
                                    .doc__body
                                        h4.doc__title Инструкция по применению экспресс-тестов RAINBOW PIGLET
                                        .doc__info 
                                            span PDF, 1.44 МБ
                                            span •
                                            span 15.06.2023

                    div(data-tabs-body="3").details__content.details-tab
                        p.details-tab__text Мы предлагаем клиентам гибкие и удобные условия доставки товаров:
                        ul.details-tab__delivery-list
                            li.details-tab__delivery-item 
                                | Бесплатная доставка по Москве, Московской области, 
                                | Санкт-Петербургу и Новосибирску собственным транспортом.
                            li.details-tab__delivery-item
                                | Самовывоз со склада ООО «Компания Хеликон» 
                                | своими силами или транспортной компанией, с которой вам удобно работать.
                            li.details-tab__delivery-item
                                | Ежедневные отгрузки «Мэйджор Экспресс».
                                | Доставка и страховка груза может быть включена в счет*.
                            li.details-tab__delivery-item
                                | Ежедневная бесплатная доставка для междугородних клиентов 
                                | до терминала транспортных компаний – «Деловые линии» и «Желдор Экспедиция».
                        p.details-tab__text Подробная информация в разделе 
                            a(href="#").details-tab__link Условия доставки 
                            | .


                    div(data-tabs-body="4").details__content.details-tab._content-active
                        p.details-tab__text При возникновении неполадок в работе оборудования осуществляется:
                        ul.details-tab__delivery-list
                            li.details-tab__delivery-item 
                                | диагностика
                            li.details-tab__delivery-item
                                | гарантийный ремонт
                            li.details-tab__delivery-item
                                | постгарантийный ремонт
                            li.details-tab__delivery-item
                                | поставка запасных частей и комплектующих
                                
                        p.details-tab__text Вы можете разместить заявку на сервисное обслуживание любым удобным вам способом:
                            ul.details-tab__delivery-list
                                li.details-tab__delivery-item
                                    span телефон:
                                    a(href="tel:+74997055050") +74997055050
                                li.details-tab__delivery-item
                                    span e-mail:
                                    a(href="mailto:molecuLab@mail.com") molecuLab@mail.com

                .accordion
                    details.accordion__details(open)
                        summary.accordion__summary 
                            span.accordion__title Характеристики
                            span.accordion__icon
                                include icons/_arrow-down 

                        ul.details-tab__list.accordion__list
                            li.details-tab__item 
                                span.details-tab__option Управление источником света
                                .details-tab__space 
                                span.details-tab__value Транс УФ, супер-белый
                            li.details-tab__item 
                                span.details-tab__option Максимальный размер образца
                                .details-tab__space 
                                span.details-tab__value 19х26 см
                            li.details-tab__item 
                                span.details-tab__option Динамический диапазон изображения
                                .details-tab__space 
                                span.details-tab__value 16 бит
                            li.details-tab__item 
                                span.details-tab__option Оснащение модулей флуоресценции
                                .details-tab__space 
                                span.details-tab__value 8-позиционное колесо фильтров
                            li.details-tab__item 
                                span.details-tab__option Температура охлаждения камеры
                                .details-tab__space 
                                span.details-tab__value до - 30 °С
                            li.details-tab__item 
                                span.details-tab__option Управление системой
                                .details-tab__space 
                                span.details-tab__value Единое программное обеспечение
                            li.details-tab__item 
                                span.details-tab__option Габариты
                                .details-tab__space 
                                span.details-tab__value 430 х 380 х 690 мм
 
                    details.accordion__details
                        summary.accordion__summary 
                            span.accordion__title Доставка и оплата
                            span.accordion__icon
                                include icons/_arrow-down 
                        .accordion-tab__body
                            p.accordion-tab__text Мы предлагаем клиентам гибкие и удобные условия доставки товаров:
                            ul.accordion-tab__delivery-list
                                li.accordion-tab__delivery-item 
                                    | Бесплатная доставка по Москве, Московской области, 
                                    | Санкт-Петербургу и Новосибирску собственным транспортом.
                                li.accordion-tab__delivery-item
                                    | Самовывоз со склада ООО «Компания Хеликон» 
                                    | своими силами или транспортной компанией, с которой вам удобно работать.
                                li.accordion-tab__delivery-item
                                    | Ежедневные отгрузки «Мэйджор Экспресс».
                                    | Доставка и страховка груза может быть включена в счет*.
                                li.accordion-tab__delivery-item
                                    | Ежедневная бесплатная доставка для междугородних клиентов 
                                    | до терминала транспортных компаний – «Деловые линии» и «Желдор Экспедиция».
                            p.accordion-tab__text Подробная информация в разделе 
                                a(href="#").accordion-tab__link Условия доставки 
                                | .
 
                                 
                    details.accordion__details
                        summary.accordion__summary 
                            span.accordion__title Документация
                            span.accordion__icon
                                include icons/_arrow-down 
                        .accordion-tab__body
                            ul.docs__list.details-tab__docs 
                                li.docs__item
                                    a(href="#", download).docs__link.doc
                                        .doc__icon
                                            include icons/_pdf
                                    
                                        .doc__body
                                            h4.doc__title Инструкция по применению экспресс-тестов RAINBOW PIGLET
                                            .doc__info 
                                                span PDF, 1.44 МБ
                                                span •
                                                span 15.06.2023

                                li.docs__item
                                    a(href="#", download).docs__link.doc
                                        .doc__icon
                                            include icons/_pdf
                                    
                                        .doc__body
                                            h4.doc__title Инструкция по применению экспресс-тестов RAINBOW PIGLET
                                            .doc__info 
                                                span PDF, 1.44 МБ
                                                span •
                                                span 15.06.2023

                                li.docs__item
                                    a(href="#", download).docs__link.doc
                                        .doc__icon
                                            include icons/_pdf
                                    
                                        .doc__body
                                            h4.doc__title Инструкция по применению экспресс-тестов RAINBOW PIGLET
                                            .doc__info 
                                                span PDF, 1.44 МБ
                                                span •
                                                span 15.06.2023

                                li.docs__item
                                    a(href="#", download).docs__link.doc
                                        .doc__icon
                                            include icons/_pdf
                                    
                                        .doc__body
                                            h4.doc__title Инструкция по применению экспресс-тестов RAINBOW PIGLET
                                            .doc__info 
                                                span PDF, 1.44 МБ
                                                span •
                                                span 15.06.2023

                                li.docs__item
                                    a(href="#", download).docs__link.doc
                                        .doc__icon
                                            include icons/_pdf
                                    
                                        .doc__body
                                            h4.doc__title Инструкция по применению экспресс-тестов RAINBOW PIGLET
                                            .doc__info 
                                                span PDF, 1.44 МБ
                                                span •
                                                span 15.06.2023

                                 
                    details.accordion__details
                        summary.accordion__summary 
                            span.accordion__title Гарантия
                            span.accordion__icon
                                include icons/_arrow-down 
                        .accordion-tab__body
                            p.accordion-tab__text При возникновении неполадок в работе оборудования осуществляется:
                            ul.accordion-tab__delivery-list
                                li.accordion-tab__delivery-item 
                                    | диагностика
                                li.accordion-tab__delivery-item
                                    | гарантийный ремонт
                                li.accordion-tab__delivery-item
                                    | постгарантийный ремонт
                                li.accordion-tab__delivery-item
                                    | поставка запасных частей и комплектующих
                                    
                            p.accordion-tab__text Вы можете разместить заявку на сервисное обслуживание любым удобным вам способом:
                                ul.accordion-tab__delivery-list
                                    li.accordion-tab__delivery-item
                                        span телефон:
                                        a(href="tel:+74997055050") +74997055050
                                    li.accordion-tab__delivery-item
                                        span e-mail:
                                        a(href="mailto:molecuLab@mail.com") molecuLab@mail.com
