section.recommend 
    .recommend__container 
        h2.section-title.recommend__title Возможно, вам понравится
        include _products
        button.button._gradient.goods__button(data-text="В каталог")
            span В каталог