section#spheres.spheres
    .spheres__container 
        .spheres__body
            .spheres__slider.swiper
                .spheres__wrapper.swiper-wrapper
                    .spheres__slide.swiper-slide.spheres-slide
                        a.spheres-slide__link
                            h4.spheres-slide__title Протеомика
                            img.spheres-slide__img(src="@img/spheres/item-1.png", alt="image")
                    .spheres__slide.swiper-slide.spheres-slide
                        a.spheres-slide__link
                            h4.spheres-slide__title Геномика
                            img.spheres-slide__img(src="@img/spheres/item-2.png", alt="image")
                    .spheres__slide.swiper-slide.spheres-slide
                        a.spheres-slide__link
                            h4.spheres-slide__title Клиническая диагностика
                            img.spheres-slide__img(src="@img/spheres/item-3.png", alt="image")
                    .spheres__slide.swiper-slide.spheres-slide
                        a.spheres-slide__link
                            h4.spheres-slide__title Клеточная биология
                            img.spheres-slide__img(src="@img/spheres/item-4.png", alt="image")
                
            .spheres__pagination.swiper-pagination