section.form-banner.banner-subscription
    .form-banner__container 
        .form-banner__body.banner-body(style="background-image: url(img/banner/subscription.png)")
            .banner-body__content
                h2.banner-body__title Остались вопросы?
                p.banner-body__text Выберите наиболее удобный способ обращения и мы сами свяжемся с вами
            form(action="#", method="post").banner-body__form
                input#newsletter-name.input.banner-body__input(type="text", name="name", placeholder="Имя", autocomplete="on", required)
                input#newsletter-phone.input.banner-body__input(type="tel", name="tel", placeholder="Телефон", autocomplete="on", required)
                button(type="submit", data-text="Отправить").button._gradient-2.banner-body__button
                    span Отправить
            ul.banner-body__list
                li.banner-body__item
                    a.banner-body__link(href="#", target="_blank")
                        svg(xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M13.9957 0.560059C6.58644 0.560059 0.55957 6.58861 0.55957 13.9999C0.55957 16.9392 1.50745 19.665 3.11877 21.8776L1.44414 26.871L6.61006 25.22C8.73479 26.6264 11.2704 27.4401 14.0035 27.4401C21.4127 27.4401 27.4396 21.4113 27.4396 14.0002C27.4396 6.58885 21.4127 0.560281 14.0035 0.560281L13.9957 0.560059ZM10.2436 7.38692C9.98296 6.76277 9.78545 6.73914 9.39064 6.72308C9.25622 6.71528 9.10641 6.70748 8.94033 6.70748C8.4267 6.70748 7.88967 6.85755 7.56576 7.18936C7.17095 7.59231 6.19139 8.53243 6.19139 10.4604C6.19139 12.3884 7.59741 14.253 7.7869 14.5139C7.98441 14.7744 10.528 18.7882 14.4774 20.4241C17.5658 21.7041 18.4823 21.5854 19.1852 21.4354C20.212 21.2141 21.4997 20.4553 21.8236 19.539C22.1475 18.6223 22.1475 17.8401 22.0525 17.6742C21.9578 17.5083 21.6969 17.4137 21.3021 17.2159C20.9073 17.0184 18.9877 16.0702 18.6243 15.9438C18.2688 15.8095 17.9292 15.857 17.6608 16.2363C17.2816 16.7657 16.9105 17.3031 16.6102 17.6269C16.3732 17.8798 15.986 17.9114 15.6623 17.777C15.2278 17.5955 14.0115 17.1684 12.5105 15.8331C11.3493 14.7982 10.5595 13.5105 10.3305 13.1234C10.1013 12.7284 10.3069 12.499 10.4883 12.2858C10.6858 12.0407 10.8754 11.867 11.0729 11.6378C11.2704 11.4088 11.381 11.2902 11.5074 11.0215C11.6418 10.7608 11.5468 10.4921 11.4521 10.2945C11.3573 10.0969 10.5675 8.16895 10.2436 7.38692Z" fill="#6F8291")
                li.banner-body__item
                    a.banner-body__link(href="#", target="_blank")
                        svg(xmlns='http://www.w3.org/2000/svg' width='27' height='28' viewbox='0 0 27 28' fill='none')
                            g(clip-path='url(#clip0_4196_17907)')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M25.8778 13.9332C25.8778 20.861 20.2617 26.4772 13.3338 26.4772C6.40594 26.4772 0.789795 20.861 0.789795 13.9332C0.789795 7.0053 6.40594 1.38916 13.3338 1.38916C20.2617 1.38916 25.8778 7.0053 25.8778 13.9332ZM13.7833 10.6497C12.5632 11.1572 10.1248 12.2075 6.46793 13.8007C5.87412 14.0369 5.56306 14.2679 5.53474 14.4938C5.48688 14.8755 5.96494 15.0258 6.61593 15.2305C6.70448 15.2584 6.79623 15.2872 6.89029 15.3178C7.53077 15.526 8.39232 15.7696 8.84021 15.7793C9.24648 15.788 9.69993 15.6205 10.2006 15.2768C13.6172 12.9704 15.381 11.8047 15.4917 11.7795C15.5698 11.7618 15.6781 11.7395 15.7514 11.8047C15.8248 11.8699 15.8175 11.9934 15.8098 12.0265C15.7624 12.2284 13.8859 13.973 12.9147 14.8758C12.612 15.1573 12.3973 15.3569 12.3534 15.4025C12.255 15.5047 12.1548 15.6013 12.0585 15.6941C11.4634 16.2677 11.0172 16.6979 12.0832 17.4003C12.5954 17.7379 13.0053 18.017 13.4142 18.2955C13.8608 18.5996 14.3063 18.903 14.8826 19.2807C15.0294 19.377 15.1696 19.477 15.3062 19.5743C15.8259 19.9448 16.2929 20.2777 16.8697 20.2246C17.2049 20.1938 17.5512 19.8786 17.727 18.9386C18.1426 16.717 18.9594 11.9036 19.1482 9.9201C19.1647 9.74632 19.1439 9.52391 19.1272 9.42628C19.1105 9.32865 19.0756 9.18955 18.9487 9.08658C18.7984 8.96462 18.5664 8.93891 18.4626 8.94074C17.9908 8.94905 17.2669 9.20074 13.7833 10.6497Z' fill='#6F8291')
                            defs
                                clippath#clip0_4196_17907
                                    rect(width='26.1333' height='26.1333' fill='white' transform='translate(0.333496 0.93335)')

                li.banner-body__item
                    a.banner-body__link(href="#", target="_blank")
                        svg(xmlns='http://www.w3.org/2000/svg' width='29' height='28' viewbox='0 0 29 28' fill='none')
                            g(clip-path='url(#clip0_4196_17910)')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M3.2495 2.44933C1.35999 4.33884 1.35999 7.37994 1.35999 13.4622V14.5374C1.35999 20.6197 1.35999 23.6608 3.2495 25.5503C5.13901 27.4398 8.18011 27.4398 14.2624 27.4398H15.3376C21.4199 27.4398 24.4609 27.4398 26.3505 25.5503C28.24 23.6608 28.24 20.6197 28.24 14.5374V13.4622C28.24 7.37994 28.24 4.33884 26.3505 2.44933C24.4609 0.559814 21.4199 0.559814 15.3376 0.559814H14.2624C8.18011 0.559814 5.13901 0.559814 3.2495 2.44933ZM5.89605 8.73587C6.04165 15.7247 9.53604 19.9247 15.6624 19.9247H16.0097V15.9263C18.2609 16.1503 19.9632 17.7967 20.6464 19.9247H23.8272C22.9536 16.7439 20.6575 14.9855 19.2239 14.3135C20.6575 13.4847 22.6735 11.4687 23.1551 8.73587H20.2655C19.6383 10.9535 17.7793 12.9695 16.0097 13.1599V8.73587H13.12V16.4863C11.328 16.0383 9.06564 13.8655 8.96484 8.73587H5.89605Z' fill='#6F8291')
                            defs
                                clippath#clip0_4196_17910
                                    rect(width='28' height='28' fill='white' transform='translate(0.800049)')
                li.banner-body__item
                    a.banner-body__link(href="#", target="_blank")
                        svg(xmlns='http://www.w3.org/2000/svg' width='29' height='28' viewbox='0 0 29 28' fill='none')
                            g(clip-path='url(#clip0_4196_17914)')
                                path(d='M27.921 8.39863C27.921 8.39863 27.6476 6.46816 26.8054 5.62051C25.739 4.50488 24.5468 4.49941 24 4.43379C20.0843 4.14941 14.2054 4.14941 14.2054 4.14941H14.1945C14.1945 4.14941 8.31558 4.14941 4.39995 4.43379C3.85308 4.49941 2.66089 4.50488 1.59448 5.62051C0.752295 6.46816 0.484326 8.39863 0.484326 8.39863C0.484326 8.39863 0.199951 10.6682 0.199951 12.9322V15.0541C0.199951 17.3182 0.478857 19.5877 0.478857 19.5877C0.478857 19.5877 0.752295 21.5182 1.58901 22.3658C2.65542 23.4814 4.05542 23.4432 4.67886 23.5635C6.92105 23.7768 14.2 23.8424 14.2 23.8424C14.2 23.8424 20.0843 23.8314 24 23.5525C24.5468 23.4869 25.739 23.4814 26.8054 22.3658C27.6476 21.5182 27.921 19.5877 27.921 19.5877C27.921 19.5877 28.2 17.3236 28.2 15.0541V12.9322C28.2 10.6682 27.921 8.39863 27.921 8.39863ZM11.307 17.6299V9.76035L18.8703 13.7088L11.307 17.6299Z' fill='#6F8291')
                            defs
                                clippath#clip0_4196_17914
                                    rect(width='28' height='28' fill='white' transform='translate(0.199951)')
