@font-face{
	font-family: Azkia;
	font-display: swap;
	src: url("../fonts/Azkia-Regular.woff2") format("woff2"), url("../fonts/Azkia-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: Heliosext;
	font-display: swap;
	src: url("../fonts/Heliosext-Regular.woff2") format("woff2"), url("../fonts/Heliosext-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: Heliosext;
	font-display: swap;
	src: url("../fonts/Heliosext-Bold.woff2") format("woff2"), url("../fonts/Heliosext-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: Le-murmure;
	font-display: swap;
	src: url("../fonts/Le-murmure-Regular.woff2") format("woff2"), url("../fonts/Le-murmure-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

// @font-face{
// 	font-family: icons;
// 	font-display: swap;
// 	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
// 	font-weight: 400;
// 	font-style: normal;
// }