svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
  path(fill-rule='evenodd' clip-rule='evenodd' d='M6.80604 4.52729C7.06639 4.78764 7.06639 5.20975 6.80604 5.4701L4.94411 7.33203L12.668 7.33203C13.0362 7.33203 13.3346 7.63051 13.3346 7.9987C13.3346 8.36689 13.0362 8.66536 12.668 8.66536H4.94411L6.80604 10.5273C7.06639 10.7876 7.06639 11.2098 6.80604 11.4701C6.54569 11.7305 6.12358 11.7305 5.86323 11.4701L2.86323 8.4701C2.60288 8.20975 2.60288 7.78764 2.86323 7.52729L5.86323 4.52729C6.12358 4.26694 6.54569 4.26694 6.80604 4.52729Z' fill='url(#paint0_linear_2115_87698)')
  defs
    lineargradient#paint0_linear_2115_87698(x1='4.4589' y1='4.33203' x2='13.2584' y2='12.8321' gradientunits='userSpaceOnUse')
      stop(stop-color='#00A0DB')
      stop(offset='1' stop-color='#86D06C')