svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
  path(fill-rule='evenodd' clip-rule='evenodd' d='M9.19396 4.52729C8.93361 4.78764 8.93361 5.20975 9.19396 5.4701L11.0559 7.33203L3.33203 7.33203C2.96384 7.33203 2.66537 7.63051 2.66537 7.9987C2.66537 8.36689 2.96384 8.66536 3.33203 8.66536H11.0559L9.19396 10.5273C8.93361 10.7876 8.93361 11.2098 9.19396 11.4701C9.45431 11.7305 9.87642 11.7305 10.1368 11.4701L13.1368 8.4701C13.3971 8.20975 13.3971 7.78764 13.1368 7.52729L10.1368 4.52729C9.87642 4.26694 9.45431 4.26694 9.19396 4.52729Z' fill='url(#paint0_linear_2115_87696)')
  defs
    lineargradient#paint0_linear_2115_87696(x1='11.5411' y1='4.33203' x2='2.74162' y2='12.8321' gradientunits='userSpaceOnUse')
      stop(stop-color='#00A0DB')
      stop(offset='1' stop-color='#86D06C')
