svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
  path(d='M4 12H20M20 12L14 6M20 12L14 18' stroke='#77C149' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')