svg(xmlns='http://www.w3.org/2000/svg' width='26' height='27' viewbox='0 0 26 27' fill='none')
  path(d='M19.3646 19.8637L6.63672 7.13574' stroke='#7F7F7F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
  path(d='M6.63927 19.8637L19.3672 7.13574' stroke='#7F7F7F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')