svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewbox='0 0 23 23' fill='none')
    path(d='M4 8V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
    path(d='M9 2V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
    path(d='M14 10.5V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')
    path(d='M19 3V21' stroke='#B7CCD8' stroke-width='1.4' stroke-linecap='round')