svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20' fill='none')
  g(clip-path='url(#clip0_5101_61841)')
    path(d='M4.43057 16.2C4.93751 15.0056 6.12109 14.168 7.50033 14.168H12.5003C13.8796 14.168 15.0631 15.0056 15.5701 16.2M13.3337 7.91797C13.3337 9.75892 11.8413 11.2513 10.0003 11.2513C8.15938 11.2513 6.66699 9.75892 6.66699 7.91797C6.66699 6.07702 8.15938 4.58464 10.0003 4.58464C11.8413 4.58464 13.3337 6.07702 13.3337 7.91797ZM18.3337 10.0013C18.3337 14.6037 14.6027 18.3346 10.0003 18.3346C5.39795 18.3346 1.66699 14.6037 1.66699 10.0013C1.66699 5.39893 5.39795 1.66797 10.0003 1.66797C14.6027 1.66797 18.3337 5.39893 18.3337 10.0013Z' stroke='#545454' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
  defs
    clippath#clip0_5101_61841
      rect(width='20' height='20' fill='white')