svg(xmlns='http://www.w3.org/2000/svg' width='29' height='28' viewbox='0 0 29 28' fill='none')
  g(clip-path='url(#clip0_2115_87668)')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M2.64733 2.44933C0.757812 4.33884 0.757812 7.37994 0.757812 13.4622V14.5374C0.757812 20.6197 0.757812 23.6608 2.64733 25.5503C4.53684 27.4398 7.57794 27.4398 13.6602 27.4398H14.7354C20.8177 27.4398 23.8588 27.4398 25.7483 25.5503C27.6378 23.6608 27.6378 20.6197 27.6378 14.5374V13.4622C27.6378 7.37994 27.6378 4.33884 25.7483 2.44933C23.8588 0.559814 20.8177 0.559814 14.7354 0.559814H13.6602C7.57794 0.559814 4.53684 0.559814 2.64733 2.44933ZM5.29388 8.73587C5.43948 15.7247 8.93387 19.9247 15.0603 19.9247H15.4075V15.9263C17.6587 16.1503 19.361 17.7967 20.0442 19.9247H23.2251C22.3515 16.7439 20.0554 14.9855 18.6218 14.3135C20.0554 13.4847 22.0714 11.4687 22.553 8.73587H19.6633C19.0361 10.9535 17.1771 12.9695 15.4075 13.1599V8.73587H12.5178V16.4863C10.7258 16.0383 8.46347 13.8655 8.36267 8.73587H5.29388Z' fill='#B7CCD8')
  defs
    clippath#clip0_2115_87668
      rect(width='28' height='28' fill='white' transform='translate(0.199219)')