svg(xmlns='http://www.w3.org/2000/svg' width='29' height='28' viewbox='0 0 29 28' fill='none')
  g(clip-path='url(#clip0_5185_1192)')
    path(d='M28.3227 8.39851C28.3227 8.39851 28.0492 6.46804 27.207 5.62039C26.1406 4.50476 24.9484 4.49929 24.4016 4.43367C20.4859 4.14929 14.607 4.14929 14.607 4.14929H14.5961C14.5961 4.14929 8.71719 4.14929 4.80156 4.43367C4.25469 4.49929 3.0625 4.50476 1.99609 5.62039C1.15391 6.46804 0.885938 8.39851 0.885938 8.39851C0.885938 8.39851 0.601562 10.668 0.601562 12.9321V15.054C0.601562 17.318 0.880469 19.5876 0.880469 19.5876C0.880469 19.5876 1.15391 21.518 1.99063 22.3657C3.05703 23.4813 4.45703 23.443 5.08047 23.5634C7.32266 23.7766 14.6016 23.8423 14.6016 23.8423C14.6016 23.8423 20.4859 23.8313 24.4016 23.5524C24.9484 23.4868 26.1406 23.4813 27.207 22.3657C28.0492 21.518 28.3227 19.5876 28.3227 19.5876C28.3227 19.5876 28.6016 17.3235 28.6016 15.054V12.9321C28.6016 10.668 28.3227 8.39851 28.3227 8.39851ZM11.7086 17.6298V9.76023L19.2719 13.7087L11.7086 17.6298Z' fill='#B7CCD8')
  defs
    clippath#clip0_5185_1192
      rect(width='28' height='28' fill='white' transform='translate(0.601562)')