if softPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link Программное обеспечение

else if equipmentPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link ИТ-оборудование

else if aboutPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                .breadcrumbs__link О компании

else if newsPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link Новости

else if autsorsingPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link ИТ-аутсорсинг

else if vendorPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                .breadcrumbs__link UTINET

else

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link УВЭЖХ система HELICON 1800 UHPLC с бинарным насосом