section#licenses.licenses
    .licenses__container
        .licenses__body
            h2.section-title._with-text.licenses__title Лицензии
            p.section-subtitle.licenses__text
                | Мы регулярно подтверждаем необходимые сертификаты и лицензии
                <br>
                | Федеральной службы безопасности, Федеральной службы по техническому
                <br> 
                | и экспортному контролю Российской Федерации
            
            ul.licenses__list
                li.licenses__item.item-licenses
                    h4.item-licenses__title ФСТЭК РФ
                    p.item-licenses__text
                        | Лицензия ФСТЭК России №3518 от 25.03.2019 на осуществление 
                        | мероприятий и (или) оказание услуг в области защиты государственной 
                        | тайны (в части технической защиты информации)
                li.licenses__item.item-licenses
                    h4.item-licenses__title ФСТЭК РФ
                    p.item-licenses__text
                        | Лицензия ФСТЭК России №1495 от 29.12.2015 на деятельность 
                        | по разработке и производству средств защиты конфиденциальной информации
                li.licenses__item.item-licenses
                    h4.item-licenses__title ФСБ РФ
                    p.item-licenses__text
                        | Лицензия ФСБ России №34174 от 20.12.2019 на проведение работ, 
                        | связанных с использованием сведений, составляющих государственную тайну
            
            a(href="/licenses.html").see-all.licenses__link
                span Все лизензии
                include icons/_link-all
