section#partners.partners
    .partners__container
        .partners__body
            h2.section-title._with-text.partners__title Партнёры
            p.section-subtitle.partners__text
                | Российские и международные производители программного обеспечения, 
                <br>
                | компьютерного, сетевого и серверного оборудования
            ul.partners__grid.grid-partners
                li.grid-partners__item «ИнфоТеКС»
                li.grid-partners__item «Код Безопасности»
                li.grid-partners__item «Киберпротект»
                li.grid-partners__item «Гарда Технологии»
                li.grid-partners__item Positive Technologies
                li.grid-partners__item Aquarius
                li.grid-partners__item «Лаборатория Касперского»
                li.grid-partners__item iRU
                li.grid-partners__item «Аладдин Р.Д.»
                li.grid-partners__item «Ростелеком-Солар»
            
            a(href="/partners.html").see-all.services__link
                span Все партнёры
                include icons/_link-all
