<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.wrapper
			include html/_header
			main.main-content
				.main-content__left
					.left-content
						h1.main__title AVOID HATE
						h2.main__subtitle BECOME A POOP 
						div.join-wrapper
							span CA: 0xdkfjfjfejfejw123jrjfgnsksjsj11
							a(href="") Join now 
							.dyor-mob DYOR
				.main-content__right 
					video(src="https://storage.yandexcloud.net/videos-meyou/gif.mov", autoplay muted playsinline loop)

				.media-links 
					a(href="https://x.com/poops404")
						<img src="@img/x.svg" alt="">
					a(href="https://t.me/poops404")
						<img src="@img/telegram.svg" alt="">
				.dyor DYOR
			//- include html/_footer

		script(src="js/app.min.js")
	