section.policy

    .company-event__pattern
    .company-event__pattern.company-event__pattern-2

    .policy__container
        - const aboutPage = true;
        include ../_breadcrumbs

        .policy__header 
            h2.policy__title О компании
            p.policy__upd Последнее обновление: 12 марта, 2023
        
        .policy__body.body-policy 
            ol.body-policy__content
                li.body-policy__block
                    ol.body-policy__list
                        li.body-policy__item
                            p Молекулаб - ваш надежный партнер в области оснащения лабораторий. Мы специализируемся на поставках высококачественного оборудования и расходных материалов, необходимых для успешной работы в лабораторных условиях.
                            p Мы предлагаем широкий выбор лабораторного оборудования, включая ПЦР-системы, анализаторы ИФА, генетические анализаторы и микробиологическое оборудование. Все наши приборы отвечают требованиям современных лабораторий и гарантируют высокую точность и эффективность исследований.
                            p Кроме того, мы предлагаем широкий выбор лабораторного пластика, включая пробирки, пипетки, планшеты и колбы. Все наши изделия изготовлены из высококачественных материалов, обеспечивая надежность и безопасность ваших экспериментов.
                            p Наш ассортимент также включает широкий выбор реактивов и наборов реагентов для проведения различных лабораторных исследований. Мы гарантируем высокое качество и точность результатов.
                            p Для дополнения и улучшения работы вашего лабораторного оборудования мы предлагаем различные аксессуары, такие как насадки, адаптеры, крышки и приспособления для фиксации.
                            p Также в нашем ассортименте имеются расходные принадлежности, включая фильтры, мембраны, перчатки и шприцы, необходимые для проведения различных лабораторных процедур.
                            p Наконец, мы предлагаем широкий выбор лабораторной мебели, включая столы, шкафы, стеллажи и стойки, обеспечивающие комфорт, функциональность и безопасность в вашей лаборатории.
                            p Мы гордимся тем, что работаем напрямую с ведущими производителями, что позволяет нам предлагать конкурентные цены и гарантировать качество каждого товара. Мы стремимся установить долгосрочные партнерские отношения с нашими клиентами, предоставляя высокий уровень обслуживания и поддержки.
                            p Выбирайте Молекулаб для оснащения вашей лаборатории и доверьтесь нашему опыту, качеству и надежности. Мы готовы помочь вам в решении любых задач и достижении ваших научных целей.