section.policy
    .policy__container
        - const antiPage = true;
        include ../_breadcrumbs

        .policy__header 
            h2.policy__title Положение об антикоррупционной политике в  Обществе с ограниченной ответственностью «Молекулаб» 
            p.policy__upd Последнее обновление: 12 марта, 2023
        
        .policy__body.body-policy 
            ol.body-policy__content
                li#block-1.body-policy__block
                    h3.body-policy__title 1. Общие положения

                    ol.body-policy__list 
                        li.body-policy__item 
                            | 1.1. Настоящее Положение устанавливает основные принципы антикоррупционной политики и контроль за их соблюдением в Обществе с ограниченной ответственностью «Молекулаб» (Далее – Общество).

                        li.body-policy__item 
                            | 1.2.	Настоящее Положение разработано в соответствии с Федеральным законом от 25.12.2008 г. № 273- ФЗ «О противодействии коррупции», иными законодательными и нормативно-правовыми актами и методическими документами Российской Федерации в области противодействия коррупции, Уставом Общества, в целях защиты прав и свобод граждан, обеспечения законности, правопорядка и общественной безопасности в Обществе.
                        
                        li.body-policy__item 
                            | 1.3.	Настоящее Положение обязательно для соблюдения всеми сотрудниками Общества.

                        li.body-policy__item 
                            | 1.4.	Настоящее Положение вступает в действие с момента утверждения его руководителя Общества и действует до утверждения нового Положения.
                        
                        li.body-policy__item 
                            | 1.5.	Все изменения и дополнения к настоящему Положению должны быть утверждены приказом руководителя Общества.
                    
                        li.body-policy__item 
                            | 1.6. Для целей настоящего документа используются следующие основные понятия:

                            p 
                                b Коррупция 
                                | - злоупотребление служебным положением, дача взятки, получение взятки, злоупотребление полномочиями, коммерческий подкуп либо иное незаконное использование физическим лицом своего должностного положения вопреки законным интересам общества и государства в целях получения выгоды в виде денег, ценностей, иного имущества или услуг имущественного характера, иных имущественных прав для себя или для третьих лиц либо незаконное предоставление такой выгоды указанному лицу другими физическими лицами. Коррупцией также является совершение перечисленных деяний от имени или в интересах юридического лица (п.1 ст.1 Федерального закона от 25.12.2008 г. № 273- ФЗ «О противодействии коррупции»)
                        
                            p 
                                b Противодействие коррупции 
                                | — деятельность федеральных органов государственной власти, органов государственной власти субъектов Российской Федерации, органов местного самоуправления, институтов гражданского общества, организаций и физических лиц в пределах их полномочий (пункт 2 статьи 1 Федерального закона от 25 декабря 2008 г. № 273-ФЗ «О противодействии коррупции»):

                            p 
                                b а) 
                                | по предупреждению коррупции, в том числе по выявлению и последующему устранению причин коррупции (профилактика коррупции);  
                                br
                                b б) 
                                | по  выявлению,  предупреждению,  пресечению и раскрытию коррупционных правонарушений (борьба с коррупцией);  
                                br
                                b в) 
                                | по минимизации и (или) ликвидации последствий коррупционных правонарушений.

                            p 
                                | Взятка получение должностным лицом, иностранным должностным лицом либо должностным лицом Общества лично или через посредника денег, ценных бумаг, иного имущества либо в виде незаконных оказанных ему услуг имущественного характера, предоставления иных имущественных прав за совершение действий (бездействие) в пользу взяткодателя или представляемых им лиц, если такие действия (бездействие) входят в служебные полномочия должностного лица либо если оно в силу должностного положения может способствовать таким действиям (бездействию), а равно за общее покровительство или попустительство по службе.
                            
                            p 
                                b Коммерческий подкуп 
                                | незаконная передача лицу, выполняющему управленческие функции в коммерческой или иной организации, денег, ценных бумаг, иного имущества, оказание ему услуг имущественного характера, предоставление иных имущественных прав за совершение действий (бездействие) в интересах дающего в связи с занимаемым этим лицом служебным положением (п. 1 ст. 1 Федерального закона от 25.12.2008 № 273- ФЗ « О противодействии коррупции»). 
                        
                            p 
                                b Конфликт интересов
                                |  — ситуация, при которой личная заинтересованность (прямая или косвенная) работника (представителя Общества) влияет или может повлиять на надлежащее исполнение им должностных (трудовых) обязанностей и при которой возникает или может возникнуть противоречие между личной заинтересованностью работника (представителя Общества) и правами и законными интересами Общества, способное привести к причинению вреда правам и законным интересам, имуществу и (или) деловой репутации Общества, работником (представителем Общества) которой он является. 

                            p 
                                b Коррупционное правонарушение
                                |  - деяние, обладающее признаками коррупции, за которые нормативным правовым актом предусмотрена гражданско-правовая, дисциплинарная, административная или уголовная ответственность;
                        
                            p 
                                b Коррупционный фактор
                                |  - явление или совокупность явлений, порождающих коррупционные правонарушения или способствующие их распространению. 

                #block-2.body-policy__block
                    h3.body-policy__title 2.	Цели и задачи антикоррупционной политики Общества
                    ol.body-policy__list 
                        li.body-policy__item
                            | 2.1.	Основной целью антикоррупционной политики Общества является устранение причин развития и формирования условий существования коррупции в Обществе.
                        li.body-policy__item
                            | 2.2.	Противодействие и исключение коррупции внутри Общества, а также строгий контроль за соблюдением сотрудниками Обществом Федерального закона от 25.12.2008 № 273-ФЗ «О противодействии коррупции»;
                        li.body-policy__item
                            | 2.3.	Минимизировать риск вовлечения Общества, руководства Общества и работников независимо от занимаемой должности в коррупционную деятельность;
                        li.body-policy__item
                            | 2.4.	Сформировать у работников и иных лиц единообразное понимание политики Общества о неприятии коррупции в любых формах и проявлениях;
                        li.body-policy__item
                            | 2.5.	Обобщить и разъяснить основные требования антикоррупционного законодательства Российской Федерации, которые могут применяться в учреждении;
                        li.body-policy__item
                            | 2.6.	Установить обязанность работников Общества знать, соблюдать принципы и требования настоящей Политики, ключевые нормы применимого антикоррупционного законодательства, а также мероприятия по предотвращению коррупции.
                        li.body-policy__item
                            | 2.7.	Задачи антикоррупционной политики: 
                            p -	разработка и осуществление мер по предупреждению, пресечению и минимизации                 последствий коррупционных действий в Общества;
                            p -	выявление и предотвращение вовлечения сотрудников Общества в коррупционную деятельность; 
                            p -	устранение внешних факторов, способных вовлечь Общество в коррупционную деятельность;

                #block-3.body-policy__block
                    h3.body-policy__title 3. Область применения обязательств
                    ol.body-policy__list 
                        li.body-policy__item
                            | 3.1.	Основным кругом лиц, попадающих под действие политики, являются работники Общества, находящиеся с ним в трудовых отношениях, вне зависимости от занимаемой должности и выполняемых функций. Политика распространяется на физических и (или) юридических лиц, с которыми Общество вступает в иные договорные отношения. Антикоррупционные условия и обязательства могут закрепляться в договорах, заключаемых Обществом с контрагентами.                       
                        li.body-policy__item
                            | 3.2.	Ряд обязанностей работников в связи с предупреждением и противодействием коррупции:
                            p -	воздерживаться от совершения и (или) участия в совершении коррупционных правонарушений в интересах или от имени Общества
                            p -	воздерживаться от поведения, которое может быть истолковано окружающими как готовность совершить или участвовать в совершении коррупционного правонарушения в интересах или от имени Общества;  
                            p -	незамедлительно информировать непосредственного руководителя / лицо, ответственное за реализацию антикоррупционной политики / руководство Общества о случаях склонения работника к совершению коррупционных правонарушений;  
                            p -	незамедлительно информировать непосредственного руководителя / лицо, ответственное за реализацию антикоррупционной политики / руководство организации о ставшей известной работнику информации о случаях совершения коррупционных правонарушений другими работниками, контрагентами организации или иными лицами;  
                            p -	сообщить непосредственному начальнику или иному ответственному лицу о возможности возникновения либо возникшем у работника конфликте интересов
                        li.body-policy__item
                            | 3.3.	Работнику запрещается получать в связи с исполнением трудовых обязанностей вознаграждения от физических и юридических лиц (подарки, денежное вознаграждение, ссуды, услуги, оплату развлечений, отдыха, транспортных расходов и иные вознаграждения).
                        li.body-policy__item
                            | 3.4.	Работник обязан:
                            p -	уведомлять работодателя (его представителя), органы прокуратуры или другие государственные органы об обращении к нему каких-либо лиц в целях склонения к совершению коррупционных правонарушений;  
                            p -	принимать меры по недопущению любой возможности возникновения конфликта интересов и урегулированию возникшего конфликта интересов;  
                            p -	уведомлять работодателя (его представителя) и своего непосредственного начальника о возникшем конфликте интересов или о возможности его возникновения, как только ему станет об этом известно, в письменной форме;
                        li.body-policy__item
                            | 3.5.	Сотрудникам следует принимать, что под коррупционным фактором может пониматься любая выгода имущественного или неимущественного характера. При этом, ни внешняя форма, ни стоимость такой выгоды не имеют значения.
                        li.body-policy__item
                            | 3.6. Последствия вовлечения в коррупционные действия:
                            p - любые проявления коррупции могут привести к серьезным негативным последствиям как для Общества, так и для сотрудников/руководителей, принимающих участие в коррупционных действиях.  
                            p - сотрудники Общества могут быть привлечены к дисциплинарной, административной, гражданско-правовой и/или уголовной ответственности, включая наказание в виде лишения свободы.  
                            p - в свою очередь Общество, как юридическое лицо, может быть подвергнуто значительным финансовым санкциям и понести непоправимый репутационный ущерб
                        li.body-policy__item
                            | 3.7. Ни при каких обстоятельствах руководители и сотрудники Общества не могут совершать действия, которые могут быть квалифицированы как коррупционные, в частности:
                            p - обещать, предлагать или предоставлять, лично или через посредников Контрагентам или Специалистам здравоохранения, любую выгоду имущественного или неимущественного характера с целью повлиять на принимаемые решения;  
                            p - поручать, разрешать или одобрять предоставление, лично или через посредников 
                            p Контрагентам, любой выгоды имущественного или неимущественного характера с целью повлиять на принимаемые решения;  
                            p - требовать, соглашаться на получение, принимать, лично или через посредников от Контрагентов, любую выгоду имущественного или неимущественного характера с целью принятия определенного решения;  
                            p - выступать в качестве посредника или иным образом содействовать осуществлению коррупционного правонарушения;
                        li.body-policy__item
                            | 3.8	Сотрудникам Общества запрещено работать на конкурентов, Контрагентов, или предоставлять им любые услуги, в отсутствие у сотрудника предварительного письменного подтверждения от руководителя Общества; 
                        li.body-policy__item
                            | 3.9	Все работники Общества должны руководствоваться настоящей Политикой и неукоснительно соблюдать ее принципы и требования.
                        li.body-policy__item
                            | 3.10	Генеральный директор Общества отвечает за организацию всех мероприятий, направленных на реализацию принципов и требований настоящей Политики, включая назначение лиц, ответственных за разработку антикоррупционных мероприятий, их внедрение и контроль. 
                        li.body-policy__item
                            | 3.11	В число обязанностей ответственного за внедрение антикоррупционной политики должностного лица  включается:
                            p -	разработка и представление на утверждение Генерального директора Общества проекта локального нормативного акта Общества, направленного на реализацию мер по предупреждению коррупции (антикоррупционной политики);  
                            p -	проведение контрольных мероприятий, направленных на выявление коррупционных правонарушений работниками организации; 
                            p -	организация проведения оценки коррупционных рисков;  
                            p -	прием и рассмотрение сообщений о случаях склонения работников к совершению коррупционных правонарушений в интересах или от имени иной организации, а также о случаях совершения коррупционных правонарушений работниками, контрагентами Общества или иными лицами;  
                            p -	организация заполнения и рассмотрения уведомлений о конфликте интересов;  
                            p -	организация обучающих мероприятий по вопросам профилактики и противодействия коррупции и индивидуального консультирования работников;  
                            p -	оказание содействия уполномоченным представителям контрольно-надзорных и правоохранительных органов при проведении ими инспекционных проверок деятельности организации по вопросам предупреждения и противодействия коррупции;  
                            p -	оказание содействия уполномоченным представителям правоохранительных органов при проведении мероприятий по пресечению или расследованию коррупционных преступлений, включая оперативно-розыскные мероприятия; проведение оценки результатов антикоррупционной работы и подготовка соответствующих отчетных материалов руководству организации.

                #block-4.body-policy__block
                    h3.body-policy__title 4. Применимое антикоррупционное законодательство
                    ol.body-policy__list
                        li.body-policy__item
                            | 4.1.	Общество и все работники должны соблюдать нормы Российского антикоррупционного законодательства, установленные, в том числе, Уголовным кодексом Российской Федерации, Кодексом Российской Федерации об административных правонарушениях, Федеральным законом 25.12.2008 г. № 273- ФЗ «О противодействии коррупции» и иными нормативными актами, основными требованиями которых являются запрет дачи взяток, запрет получения взяток, запрет подкупа и запрет посредничества во взяточничестве.
                          
                        li.body-policy__item
                            | 4.2.	С учетом изложенного всем работникам Общества строго запрещается, прямо или косвенно, лично или через посредничество третьих лиц участвовать в коррупционных действиях, предлагать, давать, обещать, просить и получать взятки.  
                           
                #block-5.body-policy__block
                    h3.body-policy__title 5. Ключевые принципы антикоррупционной политики
                    ol.body-policy__list
                        li.body-policy__item
                            | 5.1.	Генеральный директор, должностные лица Общества, должны формировать этический стандарт непримиримого отношения к любым формам и проявлениям коррупции на всех уровнях, подавая пример своим поведением и осуществляя ознакомление с антикоррупционной политикой всех работников.
                        li.body-policy__item
                            | 5.2.	Общество на периодической основе выявляет, рассматривает и оценивает коррупционные риски, характерные для ее деятельности в целом и для отдельных направлений в частности.
                        li.body-policy__item
                            | 5.3.	Общество проводит мероприятия по предотвращению коррупции, разумно отвечающие выявленным риска.
                        li.body-policy__item
                            | 5.4.	Общество прилагает усилия, чтобы минимизировать риск деловых отношений с Контрагентами, которые могут быть вовлечены в коррупционную деятельность, соблюдать требования настоящей Политики, а также оказывать взаимное содействие для предотвращения коррупции.
                        li.body-policy__item
                            | 5.5.	В связи с возможным изменением во времени коррупционных рисков и иных факторов, оказывающих влияние на деятельность Общества, Общество осуществляет мониторинг внедренных мероприятий по предотвращению коррупции, контролирует их соблюдение, а при необходимости пересматривает и совершенствует их.
                        li.body-policy__item
                            | 5.6.	Общество рассматривает платежи за упрощение формальностей как проявление коррупции и запрещает их вне зависимости то того, допускаются ли подобные платежи согласно локальному законодательству Государства. Исключением являются официальные платежи в адрес государственного органа или соответствующего учреждения, предоставляющего услуги.
                        li.body-policy__item
                            | 5.7.  Деловые Партнеры и проверка их благонадежности:
                            p - сотрудникам и руководителю Общества всегда следует действовать с достаточной степенью осмотрительности при выборе третьих лиц, с которыми компания предполагает вступить в правоотношения. При этом особое внимание должно быть уделено такой категории третьих лиц, как Деловые партнеры.  
                            p -  принимая во внимание, что вовлечение Деловых партнеров в коррупционные действия может повлечь негативные последствия для Общества, компания должна избегать вступления в правоотношения с теми Деловыми партнерами, которые прямо или косвенно вовлечены, либо в отношении которых существуют разумные основания полагать об их вовлеченности в коррупцию.  
                            p - в связи с этим перед вступлением в правоотношения с Деловым партнёром всегда необходимо инициировать через юридический отдел проверку его благонадежности в соответствии с действующей редакцией положения о договорной работе.  
                            p - любые соглашения с Деловыми партнерами должны заключаться при соблюдении следующих принципов: соглашение должно соответствовать применимому законодательству, соглашение должно содержать антикоррупционную оговорку, включая обязательства делового партнера следовать положениям антикоррупционного законодательства Общества;  
                            p - в случае если Обществу стало известно о фактах нарушения Деловым партнером взятых на себя обязательств о противодействии коррупции, Обществом должны быть предприняты достаточные меры для подтверждения достоверности полученной информации. В случае если информация о фактах нарушения будет подтверждена, то имеющиеся отношения с Деловым партнером должны быть приостановлены или прекращены.

                #block-6.body-policy__block
                    h3.body-policy__title 6. Взаимодействие с работниками
                    ol.body-policy__list
                        li.body-policy__item
                            | 6.1.	Общество требует от своих работников соблюдения настоящей Политики, информируя их о ключевых принципах, требованиях и санкциях за нарушения.
                        li.body-policy__item
                            | 6.2.	В Обществе организуются безопасные, конфиденциальные и доступные средства информирования руководства о фактах взяточничества со стороны лиц, оказывающих услуги в интересах коммерческой организации или от ее имени. Генеральному директору или ответственному лицу могут поступать предложения по улучшению антикоррупционных мероприятий и контроля, а также запросы со стороны работников и третьих лиц, как в устной так и в письменной форме.
                        li.body-policy__item
                            | 6.3.	Для формирования надлежащего уровня антикоррупционной культуры до подписания трудового договора новые работники знакомятся под подпись с положениям настоящей Политики и связанных с ней документов, а для действующих работников проводятся периодические информационные мероприятия в очной и/или дистанционной форме.
                        li.body-policy__item
                            | 6.4.	Общество содействует повышению уровня антикоррупционной культуры путем информирования и систематического обучения работников в целях поддержания их осведомленности в вопросах антикоррупционной политики Общества и овладения ими способами и приемами применения антикоррупционной политики на практике. Обучение проводиться среди всех сотрудников, вовлеченных в процессы продажи продукции не реже одного раза в год. График, регламент проведения, и контроль за проведением Антикоррупционных тренингов возлагается на специалиста Общества.

                #block-7.body-policy__block
                    h3.body-policy__title 7. Подарки и гостеприимство и представительские расходы
                    ol.body-policy__list    
                        li.body-policy__item
                            | 7.1.	В целях понимания настоящей политики под Подарком понимается любая вещь,               предоставленная кому-либо в качестве знака признательности, внимания или уважения без ожидания чего-либо взамен.  Гостеприимство – это совокупные затраты на оплату транспортных расходов, проживания, питания и развлекательных мероприятий. 
                        li.body-policy__item
                            | 7.2.	Сотрудники и руководитель Общество всегда должны помнить о том, что подарки и гостеприимство могут предоставляться исключительно в разумных пределах, которые явно допускаются применимым локальным законодательством, настоящей Политикой, а также иными локальными актами, принятыми в Общество. Такие действия не должны создавать неправомерные преимущества и/или оказывать недопустимое влияние на получателей.
                        li.body-policy__item
                            | 7.3.	Допускается предоставление подарков, которые отвечают следующим критериям:
                            p - подарок должен быть разумным и скромным;  
                            p - подарок должен преподноситься честно и бескорыстно, а не с целью получения каких-либо выгод или оказания недопустимого влияния на получателя;  
                            p - подарок должен вручаться открыто от имени Общества;  
                            p - подарок не должен иметь форму денежных средств (ценных бумаг, чеков и др.);
                        li.body-policy__item
                            | 7.4. Гостеприимство может предоставляться только в соответствии с нижеуказанными принципами:
                            p - гостеприимство не должно быть излишним и роскошным;  
                            p - гостеприимство должно быть разумным, обоснованным и предоставляться исключительно в деловых целях;  
                            p - в рамках деловых встреч и мероприятий допускается организовывать и оплачивать незначительные развлекательные мероприятия, которые являются уместными и однозначно вторичными к основной цели встречи/мероприятия, а также не оказывают недопустимого влияние на приглашенных.
             
                #block-8.body-policy__block
                    h3.body-policy__title 8. Отказ от ответных мер и санкций
                    ol.body-policy__list
                        li.body-policy__item
                            | 8.1.	Общество заявляет о том, что ни один работник не будет подвергнут санкциям (в том числе уволен, понижен в должности, лишен премии) если он сообщил о предполагаемом факте коррупции, либо если он отказался дать или получить взятку, совершить коммерческий подкуп или оказать посредничество во взяточничестве.
                        li.body-policy__item
                            | 8.2.	Общество гарантирует анонимность для сотрудников, сообщающих о потенциально незаконных или неэтичных действиях.
                        li.body-policy__item
                            | 8.3.	Сотрудник, который полагает, что взятка, неподобающие выгоды или стимулирующие платежи были предоставлены или получены, обязан незамедлительно проинформировать генерального директора Общества о фактах коррупционных действий сотрудников Общества или созданий условий для коррупционных возможностей внутри Общества. В целях обеспечения возможности для сотрудников Общества и ее контрагентов беспрепятственно направлять обращения о фактах нарушения законодательства о противодействии коррупции, нарушениях требований к поведению и случаях конфликта интересов, превышении должностных полномочий, фактах вымогательства, необоснованных запретах и ограничениях допускаемых работниками может круглосуточно направляться Генеральному директору Общества на специально выделенный адрес электронной почты.
                        li.body-policy__item
                            | 8.4.	Сотрудники и руководитель Общества не должны бездействовать или попустительствовать в случае, если им стало известно о коррупционных действиях, совершаемых сотрудниками Общества, либо о намерениях совершить такие действия.
                        li.body-policy__item
                            | 8.5.	Сотрудники и руководитель Общества в своей деятельности должны всегда воздерживаться от любых действий, которые могут быть расценены лицом или обществом в качестве недопустимых, вне зависимости от положений настоящей Политики, применимого законодательства и обычаев.

                #block-9.body-policy__block
                    h3.body-policy__title 9. Внутренний контроль
                    ol.body-policy__list
                        li.body-policy__item
                            | 9.1.	Внутренний контроль направлен на создание системы соблюдения законодательства РФ в сфере финансовой деятельности, внутренних процедур составления и исполнения бюджета (плана), повышение качества составления и достоверности бухгалтерской отчетности и ведения бухгалтерского учета, а также на повышение результативности использования средств бюджета.
                        li.body-policy__item
                            | 9.2.	Основной целью внутреннего финансового контроля является подтверждение достоверности бухгалтерского учета и отчетности Общества, соблюдение действующего законодательства РФ, регулирующего порядок осуществления финансово-хозяйственной деятельности. Система внутреннего контроля призвана обеспечить:
                            p -	точность и полноту документации бухгалтерского учета;  
                            p -	своевременность подготовки достоверной бухгалтерской отчетности;  
                            p -	предотвращение ошибок;  
                            p -	исполнение приказов и распоряжений руководителя Общества, выполнение планов финансово-хозяйственной деятельности, сохранность имущества.
                        li.body-policy__item
                            | 9.3. Система внутреннего контроля Общества включает в себя следующие взаимосвязанные компоненты:
                            p -	контрольная среда, включающая в себя соблюдение принципов осуществления финансового контроля, профессиональную и коммуникативную компетентность сотрудников Общества, их стиль работы, организационную структуру, наделение ответственностью и полномочиями; оценка рисков - представляющая собой идентификацию и анализ соответствующих рисков при достижении определенных задач, связанных между собой на различных уровнях;  
                            p -	деятельность по информационному обеспечению и обмену информацией, направленная на своевременное и эффективное выявление данных, их регистрацию и обмен ими, в целях формирования у всех субъектов внутреннего контроля понимания принятых в учреждении политики и процедур внутреннего контроля и обеспечения их исполнения;  
                            p -	мониторинг системы внутреннего контроля процесс, включающий в себя функции управления и надзора, во время которого оценивается качество работы системы внутреннего контроля.
                        li.body-policy__item
                            | 9.4. Внутренний финансовый контроль в учреждении осуществляется в следующих формах:
                            p -	предварительный контроль. Он осуществляется до начала совершения хозяйственной операции. Позволяет определить, насколько целесообразной и правомерной будет та или иная операция. Предварительный контроль осуществляет руководитель Общества;  
                            p -	текущий контроль. Это проведение повседневного анализа соблюдения процедур исполнения бюджета (плана), ведения бухгалтерского учета, осуществление мониторингов расходования целевых средств по назначению, оценка эффективности и результативности их расходования. Ведение текущего контроля осуществляется на постоянной основе специалистами, осуществляющими бухгалтерский учет и отчетность Общества; последующий контроль проводится по итогам совершения хозяйственных операций. Осуществляется путем анализа и проверки бухгалтерской документации и отчетности, проведения инвентаризаций и иных необходимых процедур. Для проведения последующего контроля приказом Общества может быть создана комиссия по внутреннему контролю. В состав комиссии в обязательном порядке включаются сотрудники бухгалтерии, юрисконсульт и представители иных заинтересованных подразделений.
                        li.body-policy__item
                            | 9.5. Система контроля состояния бухгалтерского учета включает в себя надзор и проверку:
                            p -	соблюдения требований законодательства РФ, регулирующего порядок осуществления финансово-хозяйственной деятельности;  
                            p -	точности и полноты составления документов и регистров бухгалтерского учета;  
                            p -	предотвращения возможных ошибок и искажений в учете и отчетности, исполнения приказов и распоряжений руководства;  
                            p -	контроля за сохранностью финансовых и нефинансовых активов Общества. 
                        li.body-policy__item
                            | 9.6.	Лица, допустившие недостатки, искажения и нарушения, несут дисциплинарную ответственность в соответствии с требованиями ТК РФ.
                #block-10.body-policy__block
                    h3.body-policy__title 10. Внесение изменений
                    ol.body-policy__list
                        li.body-policy__item
                            | 10.1.	В целях соответствия эффективности положений настоящей Политики или связанных с ней антикоррупционных мероприятий, руководитель Общества, организует выработку и реализацию плана действий по пересмотру и изменению настоящей Политики и/или антикоррупционных мероприятий не раже одного раза в год.
                        li.body-policy__item
                            | 10.2.	Если в результате изменения действующего законодательства РФ отдельные статьи настоящего положения вступят с ним в противоречие, они утрачивают силу, преимущественную силу имеют положения действующего законодательства РФ.

            aside.body-policy__aside 
                nav.body-policy__nav.nav-policy
                    h3.nav-policy__title На этой странице
                    ol.nav-policy__list 
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-1") Общие положения
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-2") Цели и задачи антикоррупционной политики Общества
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-3") Область применения обязательств
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-4") Применимое антикоррупционное законодательство
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-5") Ключевые принципы антикоррупционной политики
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-6") Взаимодействие с работниками
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-7") Подарки и гостеприимство и представительские расходы
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-8") Отказ от ответных мер и санкций
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-9") Внутренний контроль
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-10") Внесение изменений
