section.policy
    .company-event__pattern
    .company-event__pattern.company-event__pattern-2
    .policy__container
        - const clubBusinesslPage = true;
        include ../_breadcrumbs

        .policy__header 
            h2.policy__title Клуб привилегий: Для бизнеса
            p.policy__upd Последнее обновление: 12 марта, 2023
        
        .policy__body.body-policy 
            ol.body-policy__content
                li.body-policy__block
                    ol.body-policy__list
                        li.body-policy__item
                            p
                                | Клуб привилегий Молекулаб - это программа, предоставляющая ряд преимуществ и удобств для наших постоянных клиентов. Вот некоторая информация о клубе привилегий:

                li#block-1.body-policy__block
                    h3.body-policy__title 1. Личный кабинет
                    p.body-policy__text
                        | Участники клуба имеют доступ к личному кабинету, где они могут управлять своими заказами, просматривать историю покупок, отслеживать статусы заказов и получать персонализированную информацию.

                li#block-2.body-policy__block
                    h3.body-policy__title 2. Эксклюзивные предложения и акции
                    p.body-policy__text 
                        | Участники клуба привилегий получают доступ к эксклюзивным предложениям, акциям и специальным скидкам, которые не доступны обычным покупателям. Это позволяет сэкономить на покупках и получить больше ценных предложений.

                li#block-3.body-policy__block
                    h3.body-policy__title 3. Приоритетное обслуживание
                    p.body-policy__text 
                        | Участники клуба получают приоритетное обслуживание и поддержку от нашей команды. Ваши вопросы и запросы будут обрабатываться персональным менеджером. Это позволяет получить более индивидуальный и внимательный подход к вашим потребностям.
 
                li#block-4.body-policy__block 
                    h3.body-policy__title 4. Предоставление дополнительных ресурсов
                    p.body-policy__text 
                        | Участники клуба получают приоритетное обслуживание и поддержку от нашей команды. Ваши вопросы и запросы будут обрабатываться персональным менеджером. Это позволяет получить более индивидуальный и внимательный подход к вашим потребностям
                    p.body-policy__text 
                        | Чтобы стать участником клуба привилегий Молекулаб, обратитесь к нашей службе поддержки клиентов или посетите наш веб-сайт, где вы найдете информацию о регистрации и условиях участия. Мы рады приветствовать вас в нашем клубе привилегий и предоставить вам дополнительные преимущества и удобства.

                li.body-policy__block
                    button.button.body-policy__button(data-popup="private-club") Вступить в клуб привилегий

            aside.body-policy__aside 
                nav.body-policy__nav.nav-policy
                    h3.nav-policy__title На этой странице
                    ol.nav-policy__list 
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-1") Личный кабинет
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-2") Эксклюзивные предложения и акции
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-3") Приоритетное обслуживание
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-4") Предоставление дополнительных ресурсов
