section.policy
    .policy__container
        - const clubPersonallPage = true;
        include ../_breadcrumbs

        .policy__header 
            h2.policy__title Клуб привилегий: Для частных лиц
            p.policy__upd Последнее обновление: 12 марта, 2023
        
        .policy__body.body-policy 
            ol.body-policy__content
                li.body-policy__block
                        ol.body-policy__list
                            li.body-policy__item
                                p
                                    | Клуб привилегий Молекулаб предлагает специальные преимущества и удобства для Вас. Вот некоторая информация о клубе привилегий:
                li#block-1.body-policy__block
                    h3.body-policy__title 1. Специальные скидки на научные продукты
                    p.body-policy__text
                        | Участники клуба привилегий, которые являются сотрудниками лабораторий, получают специальные скидки на продукты из нашего портфолио. Это позволяет вам сэкономить на покупках и получить доступ к необходимым научным материалам и оборудованию.

                li#block-2.body-policy__block
                    h3.body-policy__title 2. Приоритетное обслуживание
                    p.body-policy__text 
                        | Участники клуба получают приоритетное обслуживание и поддержку от нашей команды. Ваши вопросы и запросы будут обрабатываться персональным менеджером. Это позволяет получить более индивидуальный и внимательный подход к вашим потребностям

                li#block-3.body-policy__block
                    h3.body-policy__title 3. Эксклюзивные предложения и акции
                    p.body-policy__text 
                        | Участники клуба привилегий получают доступ к эксклюзивным предложениям, акциям и специальным скидкам на научные продукты. Это позволяет вам получить больше ценных предложений и сэкономить на покупках.
 
                li#block-4.body-policy__block 
                    h3.body-policy__title 4. Доступ к научным ресурсам
                    p.body-policy__text 
                        | Мы предоставляем участникам клуба привилегий для сотрудников лабораторий дополнительные научные ресурсы, такие как специальные публикации, журналы, базы данных и другие материалы. Это помогает вам быть в курсе последних научных достижений и исследований.

                li#block-4.body-policy__block
                    h3.body-policy__title 5. Индивидуальный подход
                    p.body-policy__text 
                        | Мы стремимся предоставить индивидуальный подход к каждому  сотруднику лабораторий, участнику клуба привилегий. Мы учитываем ваши научные интересы, потребности и предпочтения, чтобы обеспечить наилучший опыт покупок и обслуживания.
                    p.body-policy__text
                        | Чтобы стать участником клуба привилегий Молекулаб для сотрудников лабораторий, обратитесь к нашей службе поддержки клиентов или посетите наш веб-сайт, где вы найдете информацию о регистрации и условиях участия. Мы рады приветствовать вас в нашем клубе привилегий и предоставить вам дополнительные преимущества и удобства, соответствующие вашим потребностям.  

                li.body-policy__block
                    button.button.body-policy__button(data-popup="private-club") Вступить в клуб привилегий

            aside.body-policy__aside 
                nav.body-policy__nav.nav-policy
                    h3.nav-policy__title На этой странице
                    ol.nav-policy__list 
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-1") Специальные скидки на научные продукты
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-2") Приоритетное обслуживание
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-3") Эксклюзивные предложения и акции
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-4") Доступ к научным ресурсам
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-4") Индивидуальный подход
