section.policy
    .policy__container
        - const deliveryPage = true;
        include ../_breadcrumbs

        .policy__header 
            h2.policy__title Условия доставки
            p.policy__upd Последнее обновление: 12 марта, 2023
        
        .policy__body.body-policy 
            ol.body-policy__content
                li.body-policy__block
                    ol.body-policy__list
                        li.body-policy__item
                            p
                                | Условия доставки товара в компании Молекулаб могут варьироваться в зависимости от места доставки, типа товара и выбранного способа доставки. Вот некоторая общая информация об условиях доставки:

                li#block-1.body-policy__block
                    h3.body-policy__title 1. Регионы доставки
                    p.body-policy__text
                        | Все регионы

                li#block-2.body-policy__block
                    h3.body-policy__title 2. Способы доставки
                    p.body-policy__text 
                        | Мы предлагаем различные способы доставки, включая курьерскую доставку, транспортные компании и собственной службой доставки. Вы можете выбрать наиболее подходящий для вашего региона способ доставки при оформлении заказа, учитывая габариты и особенности транспортировки товара. Обратите внимание, все транспортные компании осуществляют доставку до входа в здание или до проходной. Если требуется доставка груза внутри здания, мы рекомендуем связаться с нашим менеджером для получения консультации и уточнения возможностей.

                li#block-3.body-policy__block
                    h3.body-policy__title 3. Сроки доставки
                    p.body-policy__text 
                        | Сроки доставки могут варьироваться в зависимости от вашего местоположения и выбранного способа доставки. Наш менеджер предоставит вам информацию о предполагаемых сроках доставки при оформлении заказа.
 
                li#block-4.body-policy__block 
                    h3.body-policy__title 4. Стоимость доставки
                    p.body-policy__text 
                        | Стоимость доставки будет рассчитана в зависимости от веса, габаритов и удаленности места доставки. При оформлении заказа наш менеджер предоставит вам информацию о стоимости доставки.

                li#block-5.body-policy__block 
                    h3.body-policy__title 5. Особые условия доставки
                    p.body-policy__text 
                        | Для некоторых товаров, требующих особых условий хранения или транспортировки (например, товары с температурным режимом ниже -80°C или в жидком азоте), мы предоставляем специальные условия доставки. Наши менеджеры помогут вам с выбором подходящего способа доставки для таких товаров.
                    p.body-policy__text 
                        | Пожалуйста, обратитесь к нашему менеджеру для получения более подробной информации об условиях доставки, включая стоимость и сроки доставки в ваш регион. Мы готовы помочь вам с выбором наиболее удобного и надежного способа доставки товара Молекулаб.

            aside.body-policy__aside 
                nav.body-policy__nav.nav-policy
                    h3.nav-policy__title На этой странице
                    ol.nav-policy__list 
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-1") Регионы доставки
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-2") Способы доставки
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-3") Сроки доставки
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-4") Стоимость доставки
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-5") Особые условия доставки
