section.policy
    .policy__container
        - const edoPage = true;
        include ../_breadcrumbs

        .policy__header 
            h2.policy__title Электронный документооборот
            p.policy__upd Последнее обновление: 12 марта, 2023
        
        .policy__body.body-policy 
            ol.body-policy__content
                li.body-policy__block
                    ol.body-policy__list
                        li.body-policy__item
                            p В интернет-магазине Молекулаб мы предлагаем воспользоваться электронным документооборотом для удобства наших клиентов. Вот некоторая информация о нашем электронном документообороте:
                li#block-1.body-policy__block
                    h3.body-policy__title 1. Уведомления
                    ol.body-policy__list
                        li.body-policy__item
                            p Для удобства отслеживания заказа Компания Молекулаб предлагает заказчикам сервис «Электронные уведомления». Мы отправляем электронные уведомления о подтверждении заказа, статусе доставки и других важных изменениях в вашем заказе. Это позволяет вам быть в курсе всех обновлений и оперативно реагировать на изменения.
                li#block-2.body-policy__block
                    h3.body-policy__title 2. Система Электронного документооборота
                    ol.body-policy__list
                        li.body-policy__item
                            p Для автоматизации документооборота наша компания предлагает электронный документооборот юридически значимыми документами. Мы готовы выставлять и принимать счета, счета-фактуры, акты и накладные, УПД, акты сверок, договора, а также вести переписку с вами в электронном виде без дублирования на бумаге. Наша компания работает с такими операторами, как:
                            ul.body-policy__highlight
                                li Контур.Диадок
                                li ООО «Компания Тензор» (СБИС)
                            p Чтобы подтвердить свое согласие и перейти на электронный документооборот необходимо 
                                a(href="") отправить приглашение 
                                | или 
                                a(href="") написать менеджеру 
                                | для отправки приглашения с нашей стороны.
                            p Мы стремимся обеспечить удобство и эффективность взаимодействия с нашими клиентами через электронный документооборот. Если у вас возникли вопросы или вам требуется дополнительная информация о нашем электронном документообороте, пожалуйста, обратитесь к нашей службе поддержки клиентов. Мы готовы помочь вам с любыми вопросами, связанными с документацией и процессами в интернет-магазине Молекулаб.
                li.body-policy__block
                    button.button.body-policy__button(data-popup="edo") Оставить заявку на ЭДО

            aside.body-policy__aside 
                nav.body-policy__nav.nav-policy
                    h3.nav-policy__title На этой странице
                    ol.nav-policy__list 
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-1") Уведомления
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-2") Система Электронного документооборота
