section.policy
    .company-event__pattern
    .company-event__pattern.company-event__pattern-2
    .policy__container
        - const guaranteePage = true;
        include ../_breadcrumbs

        .policy__header 
            h2.policy__title Гарантия
            p.policy__upd Последнее обновление: 12 марта, 2023
        
        .policy__body.body-policy 
            ol.body-policy__content
                li.body-policy__block
                    p.body-policy__text
                        | В интернет-магазине Молекулаб мы предоставляем гарантию 
                        | на все наши товары. Вот некоторая информация о гарантии:

                #block-1.body-policy__block
                    h3.body-policy__title 1. Длительность гарантии
                    p.body-policy__text 
                        | Мы предоставляем гарантию на товары в течение определенного периода времени, 
                        | который указан на странице товара или в документации к товару. 
                        | Гарантийный срок на все приборы составляет 1 год, 
                        | но может варьироваться в зависимости от конкретного товара до 3 лет.
                    
                #block-2.body-policy__block
                    h3.body-policy__title 2. Что покрывает гарантия
                    p.body-policy__text 
                        | Гарантия покрывает дефекты в материалах и изготовлении товара, которые могут 
                        | возникнуть в нормальных условиях использования. Если товар 
                        | не соответствует заявленным характеристикам или имеет дефекты, 
                        | мы обязуемся заменить или отремонтировать его в рамках гарантийных условий.

                #block-3.body-policy__block
                    h3.body-policy__title 3. Исключения из гарантии
                    p.body-policy__text 
                        | Гарантия не распространяется на повреждения, вызванные неправильной эксплуатацией, 
                        | неправильным использованием или хранением товара, 
                        | а также на повреждения, вызванные стихийными бедствиями или внешними факторами.

                #block-4.body-policy__block
                    h3.body-policy__title 4. Процедура гарантийного обслуживания
                    p.body-policy__text 
                        | Если у вас возникли проблемы с товаром в рамках гарантийного срока, 
                        | пожалуйста, свяжитесь с нашей службой поддержки клиентов. 
                        | Мы предоставим вам инструкции по возврату или ремонту товара в соответствии с гарантийными условиями.

                #block-5.body-policy__block
                    p.body-policy__text 
                        | Мы стремимся обеспечить высокое качество наших товаров и 
                        | предоставить надежную гарантию на все приобретенные товары. 
                        | Если у вас возникли вопросы или вам требуется дополнительная информация 
                        | о гарантии, пожалуйста, обратитесь к нашей службе поддержки клиентов. 
                        | Мы готовы помочь вам и обеспечить ваше удовлетворение от покупок в интернет-магазине Молекулаб.
                   
            aside.body-policy__aside 
                nav.body-policy__nav.nav-policy
                    h3.nav-policy__title На этой странице
                    ol.nav-policy__list 
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-1") Длительность гарантии
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-2") Что покрывает гарантия
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-3") Исключения из гарантии
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-4") Процедура гарантийного обслуживания