section.policy
    .policy__container
        - const howOrderPage = true;
        include ../_breadcrumbs

        .policy__header 
            h2.policy__title Как оформить заказ на сайте компании Молекулаб
            p.policy__upd Последнее обновление: 12 марта, 2023
        
        .policy__body.body-policy 
            ol.body-policy__content
                li.body-policy__block
                    p.body-policy__text
                        | Добро пожаловать на страницу "Как оформить заказ" в компании Молекулаб! 
                        | У нас есть несколько удобных способов, которыми вы можете приобрести 
                        | товары на нашем сайте:

                #block-1.body-policy__block
                    h3.body-policy__title 1. Онлайн самостоятельно при условии самовывоза
                    p.body-policy__text 
                        | Вы можете оформить заказ на нашем сайте Moleculab.ru 
                        | и самостоятельно забрать товар по адресу: 
                        | МО, г. Пущино, микрорайон Д, дом 20 А, офис 1Б. 
                        | Просто выберите нужные товары, добавьте их в корзину и оформите заказ.

                #block-2.body-policy__block
                    h3.body-policy__title 2. Онлайн самостоятельно при условии забора груза транспортной компании
                    p.body-policy__text 
                        | При оформлении заказа на нашем сайте вы можете выбрать удобную 
                        | для вас транспортную компанию из предложенного списка. 
                        | Если вам требуется доставка позиций с температурным хранением, 
                        | мы автоматически предложим вам термоконтейнер с комплектом хладоэлементов. 
                        | Также вы можете выбрать транспортную компанию, которая гарантирует 
                        | соблюдение температурного режима на каждом этапе доставки.

                #block-3.body-policy__block
                    h3.body-policy__title 3. Онлайн самостоятельно с заказом товара в пути
                    p.body-policy__text 
                        | Если товар находится в пути от производителя, вы можете оформить 
                        | заказ онлайн и мы доставим его вам, как только товар будет доступен. 
                        | Просто добавьте нужные товары в корзину и оформите заказ 

                #block-4.body-policy__block
                    h3.body-policy__title 4. С помощью менеджера
                    p.body-policy__text 
                        | Если вам требуется подтвердить наличие товара на удаленном складе, 
                        | оформить доставку крупногабаритного оборудования с запуском 
                        | и обучением конечного пользователя, приобрести химические 
                        | вещества которые входят в список прекурсоров, согласовать 
                        | график поставок или осуществить доставку с особыми температурными 
                        | условиями от – 80 С и ниже, отгрузка осуществляется без предоплаты 
                        | под гарантийное письмо конечного пользователя, наши опытные менеджеры 
                        | всегда готовы помочь вам с оформлением заказа. Просто свяжитесь 
                        | с нами по указанным контактным данным.

                #block-5.body-policy__block
                    h3.body-policy__title 5. Бесплатная доставка
                    p.body-policy__text
                        | Для клиентов в Москве и области мы предлагаем бесплатную 
                        | доставку при заказе от 20 000 рублей. Это отличная возможность 
                        | сэкономить на доставке и получить нужные товары без дополнительных затрат.

                #block-6.body-policy__block
                    p.body-policy__text
                        | Мы стремимся обеспечить удобство и гибкость в оформлении заказов, 
                        | чтобы удовлетворить ваши потребности. Если у вас 
                        | возникли вопросы или вам требуется помощь, наши менеджеры всегда 
                        | готовы проконсультировать вас и помочь с оформлением заказа. 
                        | Сделайте заказ сегодня и получите качественные продукты для вашей лаборатории от компании Молекулаб!
                   
            aside.body-policy__aside 
                nav.body-policy__nav.nav-policy
                    h3.nav-policy__title На этой странице
                    ol.nav-policy__list 
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-1") Онлайн самостоятельно при условии самовывоза
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-2") Онлайн самостоятельно при условии забора груза транспортной компании
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-3") Онлайн самостоятельно с заказом товара в пути
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-4") С помощью менеджера
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-5") Бесплатная доставка
