section.policy
    .company-event__pattern
    .company-event__pattern.company-event__pattern-2
    .policy__container
        - const personalDataPage = true;
        include ../_breadcrumbs

        .policy__wrapper
            .policy__header 
                h2.policy__title Согласие на обработку персональных данных
                p.policy__upd Последнее обновление: 12 марта, 2023
            
            .policy__body.body-policy
                ol.body-policy__content.mw-800 
                    li#block-1.body-policy__block
                        h3.body-policy__title 1. Общие положения
                        ol.body-policy__list 
                            li.body-policy__item 
                                p Настоящим Согласием я, в соответствии со статьей 9 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных», в своей воле и в своем интересе выражаю свое безусловное согласие на обработку моих персональных данных  компании Общество с ограниченной ответственностью «Молекулаб» (ОГРН 1245000004292, ИНН 5043084212).
                                p Настоящее Согласие дано для совершения следующих действий с моими персональными данными с использованием средств автоматизации и/или без использования таких средств.

                                ul.body-policy__list._bullet  
                                    li сбор, запись, регистрация, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание;
                                    li обеспечение выполнения обязательств Компанией перед Пользователем.
                                    li обеспечения возможности обратной связи представителем Оператора по запросам Пользователей;
                                    li передавать персональные данные или поручать их обработку третьим лицам (Партнёрам, если это необходимо для предоставления вам Сервиса), либо в иных случаях — с вашего отдельного согласия или при наличии иных законных оснований;
                                    li исполнение Договора (предоставление основных функций сервиса компании);
                                    li аналитика сервиса компании, предпочтений и интересов Пользователей;
                                    li борьба с мошенничеством и иными недобросовестными действиями в рамках сервиса компании;
                                    li осуществление и выполнение возложенных законодательством Российской Федерации на Компанию функций, полномочий и обязанностей;
                                    li осуществление прав и законных интересов Компании;
                                    li предоставление Пользователям услуг по доставке товаров, приобретённых с использованием сервиса компании;
                                    li обработка обращений Пользователей посредством голосовых и неголосовых каналов связи, включая электронную почту, онлайн-чат, приложения для мобильных устройств и/или социальные сети;
                                    li сбор денежных средств в оплату товара, реализуемого продавцом с использованием сервиса компании, по поручению продавца;
                                    li анализ качества предоставляемого Компанией Сервиса и улучшению качества обслуживания;
                                    li направление рекламных и информационных сообщений от имени Сервиса и их персонализация;
                                    li предоставление Партнёрами (самостоятельно или совместно) Пользователям предложений, рекламных и информационных материалов по продуктам Партнёров с целью подготовки персональных предложений и формирования индивидуальных условий обслуживания Пользователей, идентификации Пользователей в качестве клиентов Партнёров;
                                    li предоставление Пользователям консультаций и доступа к индивидуальным предложениям сервиса, включая целевые, рекламные, информационные и индивидуальные предложения по продуктам сервиса;
                                    li проведение аналитических, статистических, маркетинговых исследований, в том числе по контролю качества услуг Партнёров, оценка эффективности предоставления Пользователям предложений, консультаций и рассылок;
                                    li организация предоставления Пользователю поощрений, рассмотрения претензионных обращений Пользователя в рамках акций, проводимых Маркетплейс на базе Программы;
                                    li а также для осуществления любых иных действий, предусмотренных Федеральным законом № 152-ФЗ «О персональных данных»

                                p  Перечень моих персональных данных, на обработку которых я даю согласие (нужное подчеркнуть и заполнить):

                                ul.body-policy__list._bullet 
                                    li фамилия, имя, отчество (обязательное поле для заполнения)
                                    li паспортные данные
                                    li адрес регистрации по местожительству и адрес фактического проживания
                                    li номер контактного телефона (обязательное поле для заполнения)
                                    li электронный адрес
                                    li банковские реквизиты
                                    li ИНН
                                    li наименование организации места работы
                                    li наименование лаборатории (или другого структурного подразделения организации)
                                    li должность

                                p Я подтверждаю, что все указанные мной при регистрации данные верны  и выражаю свое согласие с тем, что, если это необходимо для реализации целей обработки персональных данных, указанных в настоящем согласии, мои персональные данные, полученные компанией Общество с ограниченной ответственностью «Молекулаб» (ОГРН 1245000004292, ИНН 5043084212), могут быть переданы третьим лицам, которым Компания поручила обработку на основании заключенного договора (счет-оферты, пользовательского соглашения) при условии соблюдения законодательства РФ.

                                p Настоящее согласие дано мной добровольно и действует до момента его отзыва путем направления мной соответствующего уведомления на адреса электронной почты: info@moleculab.ru или по адресу: 142290, Московская обл, г.о. Пущино, г Пущино, мкр. Г, павильон 1.