section.policy
    .policy__container
        - const refundPage = true;
        include ../_breadcrumbs

        .policy__header 
            h2.policy__title Порядок возврата
            p.policy__upd Последнее обновление: 12 марта, 2023
        
        .policy__body.body-policy 
            ol.body-policy__content
                li.body-policy__block
                    p.body-policy__text
                        | Для оформления возврата товара, физическим лицам, в компанию Молекулаб, 
                        | следует ознакомится с Политикой компании о возврате товара и следовать указанной инструкции:

                #block-1.body-policy__block
                    h3.body-policy__title 1. Политика возврата
                    ol.body-policy__list
                        li.body-policy__item
                            | - Возврат товара возможен в течение 14 дней с момента получения заказа (ст.25 ФЗ «О защите прав потребителей»)
                        li.body-policy__item
                            | - Товар должен быть в оригинальной упаковке и состоянии, без признаков использования или повреждений.
                        li.body-policy__item
                            |- Возврат принимается только при наличии чека или платежного поручения об оплате.
                    
                #block-2.body-policy__block
                    h3.body-policy__title 2. Шаги для оформления возврата
                    ol.body-policy__list
                        li.body-policy__item
                            | - Свяжитесь с менеджером по продажам по указанным контактным данным в счете и укажите причину возврата.
                        li.body-policy__item
                            | - Наш менеджер предоставит вам инструкции по возврату товара и необходимые документы.
                        li.body-policy__item
                            | - Упакуйте товар в надежную упаковку, чтобы избежать повреждений во время транспортировки.
                        li.body-policy__item
                            | - Отправьте товар обратно в соответствии с инструкциями, указанными нашим менеджером.

                #block-3.body-policy__block
                    h3.body-policy__title 3. Обработка возврата
                    ol.body-policy__list
                        li.body-policy__item
                            | - После получения возвращенного товара мы проведем его проверку на соответствие условиям возврата.
                        li.body-policy__item    
                            | - Если товар соответствует требованиям, мы произведем возврат суммы, уплаченной за товар, на ваш счет в течение 5 рабочих дней.
                        li.body-policy__item    
                            | - Возврат средств будет осуществлен в том же способе, которым была произведена оплата.
                        li.body-policy__item 
                            | Обратите внимание, что некоторые товары могут быть исключены из 
                            | возможности возврата в соответствии с действующим законодательством 
                            | (постановление Правительства РФот 31 декабря 2020 г. N 2463) и политикой компании.

                #block-4.body-policy__block
                    h3.body-policy__title 4. Процедура гарантийного обслуживания
                    p.body-policy__text 
                        | Для оформления возврата товара, юридическим лицам, в компанию Молекулаб, 
                        | следует ознакомится с Политикой компании о возврате товара:В случае обнаружения 
                        | при приемке товара недостатков, брака или несоответствия Товара характеристикам, 
                        | указанным в Счете или Договоре, лица, осуществляющие прием-передачу 
                        | Товара,обязаны составить и подписать акт об обнаружении недостатков товара и направить 
                        | его в ООО " Молекулаб" в течение 5 рабочих дней, с момента приемки,по электронной почте.
                        | Товар должен быть в оригинальной упаковке и состоянии, без признаков использования или повреждений.

                    p.body-policy__text 
                        | Обратите внимание, что некоторые товары могут быть исключены 
                        | из возможности возврата в соответствии с действующим законодательством 
                        | (постановление Правительства РФот 31 декабря 2020 г. N 2463) и политикой компании.

                    p.body-policy__text
                        | Если у вас возникли вопросы или вам требуется дополнительная 
                        | информация о процедуре возврата, пожалуйста, обратитесь 
                        | к нашему отделу обслуживания клиентов. Мы готовы помочь вам с оформлением возврата 
                        | и обеспечить ваше удовлетворение от покупки в компании Молекулаб.
                   
            aside.body-policy__aside 
                nav.body-policy__nav.nav-policy
                    h3.nav-policy__title На этой странице
                    ol.nav-policy__list 
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-1") Политика возврата
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-2") Шаги для оформления возврата
                        li.nav-policy__item 
                            .nav-policy__link(data-to-block="block-3") Обработка возврата