section.policy
    .company-event__pattern
    .company-event__pattern.company-event__pattern-2
    .policy__container
        - const requisitesPage = true;
        include ../_breadcrumbs

        .policy__header 
            h2.policy__title Реквизиты компании Молекулаб:
            p.policy__upd Последнее обновление: 12 марта, 2023
        
        .policy__body.body-policy.body-requisites
            table
                tbody
                    tr
                        td.table-item Краткое наименование
                        td.table-value ООО «Молекулаб»
                    tr
                        td.table-item Наименование
                        td.table-value Общество с ограниченной ответственностью «Молекулаб»
                    tr
                        td.table-item ИНН
                        td.table-value 5043084212
                    tr
                        td.table-item КПП
                        td.table-value 504301001
                    tr
                        td.table-item Юридический адрес
                        td.table-value 142290, Московская обл, г.о. Пущино, г Пущино, мкр. Г, павильон 1
                    tr
                        td.table-item Банковские реквизиты
                        td.table-value
                            ul.table-list 
                                li.table-point Банк: Сбербанк (ПАО)
                                li.table-point Расчетный счет: 40702810740000103565
                                li.table-point Кор. счет: 30101810400000000225
                                li.table-point БИК: 044525225
                            
            p.body-policy__text 
                | Компания Молекулаб является вашим надежным партнером в оснащении лабораторий по направлениям ПЦР, ИФА, генетики и микробиологии. Мы специализируемся на поставках высококачественного оборудования, расходных материалов и реактивов, необходимых для успешной работы в лабораторных условиях. Наш ассортимент включает ПЦР-системы, анализаторы ИФА, генетические анализаторы, микробиологическое оборудование, лабораторный пластик, реактивы, аксессуары и мебель для лаборатории. Мы гарантируем качество и надежность каждого продукта, чтобы вы могли проводить свои исследования с высокой точностью и эффективностью.