section#about.about
	.about__container
		h2.about__title О производстве
		p.about__text._center(data-aos="fade-up", data-aos-delay="300")
			| Минский радиозавод им. Молотова был открыт на базе Виленского<br>
			| завода, основаном в предвоенном польском городе Вильно, где,<br>
			| в свою очередь, к концу 30-х уже выросло неслабое производство<br>
			| лецинзионных радиоприёмников под маркой Электрит.<br>
			| Всё это было сновано на совсем небольшой<br>
			| мастерской по ремонту радиотехники.
		p.about__text._right(data-aos="fade-up", data-aos-delay="600") 
			| В 1957 завод меняет название и<br>
			| становится Минским радиозаводом<br>
			| им. Ленина. В 1958 году опять<br>
			| меняется название и теперь это <br>
			| Минский приборостроительный<br>
			| завод им. Ленина<br>