header.header#header
	.header__top
		.header__container
			img(src="@img/header/top-logo.svg", alt="image")

	.header__body.header-body
		.header-body__top
		.header-body__content
			img.header-body__img-top(src="@img/header/device.png", alt="image")
			.text-container(data-aos="fade-up")
				.text 
					h1 Нашу "Дружбу"
				.text 
					h1 собирают
				.text 
					h1 крепкие руки!
			//- h1.header-body__title 
			//- 	span Нашу "Дружбу"<br>
			//- 	span собирают<br>
			//- 	span крепкие руки!
		.header__menu 
			ul.nav-list
				li(data-aos="fade-up", data-aos-delay="100")
					a(href="#", data-goto="#history") История
				li(data-aos="fade-up", data-aos-delay="200")
					a(href="#", data-goto="#about") О производстве
				li(data-aos="fade-up", data-aos-delay="300")
					span Модель "Дружба"
				li(data-aos="fade-up", data-aos-delay="400")
					a(href="#", data-goto="#mechanism") Устройство
				li(data-aos="fade-up", data-aos-delay="500")
					a(href="#", data-goto="#device") Механизм

	.line.header-line
	//- .line.header-line.header-line_2
	//- .line.header-line.header-line_3