section.history#history
	.line.history-line
	.line.history-line.history-line_2
	.history__container
		h2.history__title История
		.history__text.text-container.light.regular.left
			.text 
				p Радиола "Дружба", выпускаемая Минским
			.text 
				p заводом им. Молотова с 1957 года,
			.text 
				p является настольной радиолой
			.text.ml-30 
				p первого класса.

		.history__text.text-container.orange.regular-end.rigth
			.text 
				p В этом же году на Всесоюзной промышленной
			.text 
				p выставке радиола получила высокую оценку,
			.text 
				p  а коллектив завода награжден дипломом "За особые
			.text
				p достижения в области освоения новой техники"
			.text 
				p В 1958 году на международной выставке
			.text 
				p в Брюсселе радиола признана одной из лучших
			.text 
				p моделей года и удостоена золотой медали
			.text
				p и диплома 1-й степени.
		.line.history-line.history-line_3 
			p Всемирная выставка в Брюсселе 1958 года
		img.history__tv.history__img(src="@img/history/tv.png", alt="image")
		img.history__medal.history__img(src="@img/history/medal.png", alt="image")