section.mechanism#mechanism
	.mechanism__line
	.mechanism__line.line_2
	.mechanism__line.line_3
	.mechanism__container
		.mechanism__video
			video(src="files/video.mp4", muted, autoplay, loop) 
			img(src="@img/mechanism/tv2.png", alt="image").mechanism__tv
		.mechanism__body
			.mechanism__content
				.mechanism__text.text-container.brown.regular.left
					img(src="@img/mechanism/title.svg", alt="image", data-aos="fade-up")
					.text 
						p Состоит из одиннадцатилампового
					.text 
						p приемника, заключенного в одном
					.text 
						p корпусе с трехскоростным
					.text
						p проигрывателем, который
					.text
						p позволяет воспроизводить обычные
					.text
						p и долгоиграющие пластины.
					.text
						p В наличии верньер
					.text 
						p с существенным замедлением	
					.text
						p в диапазоне УКВ. Мягкий ролик 
					.text
						p позволяет задавать низкую  
					.text 
						p скорость проигрывания при малом  
					.text
						p уровне рокота, таким образом
					.text 
						p радиолу можно использовать
					.text 
						p для оцифровки старых пластинок.
					.text 
						p Покрыта шеллачным лаком.
				
				img(src="@img/mechanism/model.png", alt="image").mechanism__model

				.mechanism__text.text-container.regular.left
					img(src="@img/mechanism/title-2.svg", alt="image", data-aos="fade-up", data-aos-delay="300")#device
					.text 
						p Акустика, как и в «Люксе»
					.text 
						p состоит из четырех динамиков.
					.text 
						p Физические размеры
					.text
						p составляют 620х463х360 мм,
					.text 
						p весит устройство 27 кг