section.model#model
	.model__line
	img.model__pattern(src="@img/model/top-pattern.png", alt="")
	.model__container
		.model__top
			h2.model__title Модель
			img.model__logo(src="@img/model/logo.png", alt="image", data-aos="fade-up")
			h2.model__title радиолы
		.model__body 
			img.model__img(src="@img/model/image-1.png", alt="", data-aos="fade-up", data-aos-delay="300")
			p.model__text 
				| По конструкции, электрической<br>
				| схеме и характеристикам<br>
				| радиола "Дружба" совпадает<br>
				| с не менее примечательной<br>
				| "Люкс", так как была<br>
				| скопирована с радиолы "Люкс"<br>
				| Рижского завода "ВЭФ"<br>
				| выпускаемой с 1956 года.
			img.model__img(src="@img/model/image-2.png", alt="", data-aos="fade-up", data-aos-delay="300")
	.model__bottom(data-aos="fade-up", data-aos-delay="600")