section.about 
	.about__container 
		.about__body 
			h3.about__title О нас
			p.about__text В нашем магазине мы воспеваем суть корейской уличной моды. Откройте для себя потрясающий ассортимент одежды, аксессуаров и обуви, в которых комфорт легко сочетается со смелыми, вызывающими образами.
			a(href="/about").about__link Читать полностью  >
			.about__title-decor 쇼룸
		.about__img
			a(href="").about__image-ibg.about__ibg
				img(src="@img/about/item-1.webp", loading="lazy", alt="")
			a(href="").about__image-ibg.about__ibg
				img(src="@img/about/item-2.png", loading="lazy", alt="")