section.catalog 
	.catalog__container
		h3.catalog__title Новинки лета 2023
		span.catalog__title-decor 참신함
		a.catalog__link(href="/new") Смотреть все >
		ul.catalog__list
			li.catalog__list-item.item-list
				a(href="#")
					article.item-list__image-ibg.item-list__ibg
						img(src="@img/catalog/item-1.png" alt="product")
					.item-list__body.item-body
						h4.item-body__text Название товара
						span.item-body__price 20 000₽
					span.item-list__desc цвет/размер
			li.catalog__list-item.item-list
				a(href="#")
					article.item-list__image-ibg.item-list__ibg
						img(src="@img/catalog/item-2.png" alt="product")
					.item-list__body.item-body
						h4.item-body__text Название товара
						span.item-body__price 20 000₽
					span.item-list__desc цвет/размер
			li.catalog__list-item.item-list
				a(href="#")
					article.item-list__image-ibg.item-list__ibg
						img(src="@img/catalog/item-3.png" alt="product")
					.item-list__body.item-body
						h4.item-body__text Название товара
						span.item-body__price 20 000₽
					span.item-list__desc цвет/размер
			li.catalog__list-item.item-list
				a(href="#")
					article.item-list__image-ibg.item-list__ibg
						img(src="@img/catalog/item-4.png" alt="product")
					.item-list__body.item-body
						h4.item-body__text Название товара
						span.item-body__price 20 000₽
					span.item-list__desc цвет/размер
			li.catalog__list-item.item-list
				a(href="#")
					article.item-list__image-ibg.item-list__ibg
						img(src="@img/catalog/item-5.png" alt="product")
					.item-list__body.item-body
						h4.item-body__text Название товара
						span.item-body__price 20 000₽
					span.item-list__desc цвет/размер
			li.catalog__list-item.item-list
				a(href="#")
					article.item-list__image-ibg.item-list__ibg
						img(src="@img/catalog/item-6.png" alt="product")
					.item-list__body.item-body
						h4.item-body__text Название товара
						span.item-body__price 20 000₽
					span.item-list__desc цвет/размер