footer.footer 
	.footer__container 
		.footer-left
			.footer-left__text Наши коллекции сочетают в себе городскую эстетику и уникальный дух модных улиц Сеула.
			.footer-left__copy 
				span.footer-left__title-decor 쇼룸 
				span © 2023 Streetlook
		.footer-right
			.footer-right__menu.footer-menu 
				h4.footer-menu__title Меню
				ul
					li
						a(href="/account") Личный кабинет
					li
						a(href="/delivery")  Оплата и доставка
					li
						a(href="/return") Возврат и гарантии
					li
						a(href="/about") О нас
					li
						a(href="/contacts") Контакты
					li
						a(href="/confidentiality") Конфиденциальность
			.footer-right__contacts.footer-contacts
				h4.footer-menu__title Контакты
				ul
					li
						a(href="tel:+79999999999") +7 999 999 9999
					li
						a(href="mailto:info@streetlook.com") info@streetlook.com
					li
						a(href="vk.com") VKontakte 
					li
						a(href="instagram.com") Intagram
					li
						a(href="t.me") Telegram
					li
						a(href="") Рассылка
			
		.footer-bottom
			span.footer-bottom__title-decor 쇼룸 
			span.footer-bottom__text © 2023 Streetlook