header.header#header
	.header__container
		nav.header__nav
			//- (data-da=".header-bottom__container, 1023.98, first")
			ul
				li.menu#menu
					span
					span
					span
				li
					a(href="", data-goto="#about") В магазин
				li
					a(href="", data-goto="#projects") Доставка и оплата
				li
					a(href="#", data-goto="#services") Контакты
				li
					a(href="#", data-popup="#classes") О нас

		.header__logo
			span 쇼룸
			span STREETLOOK

		.header__btns
			ul
				li 
					button.btn-lang#lang 
						span#current-lang RU 
						img(src="@img/header/arrow-down.svg", alt="lang")
						ul.lang-list
							li 
								a(href="/?lang=EN") EN
							li 
								a(href="/?lang=RU") RU 
							li 
								a(href="/?lang=ES") ES
				li#search.btn-search
					button
						img(src="@img/header/search.svg", alt="search")
				li#close.btn-close
					button
						img(src="@img/header/close.svg", alt="close")
				li
					a(href="/account")
						img(src="@img/header/account.svg", alt="account")
				li
					a(href="/cart")
						img(src="@img/header/cart.svg", alt="cart")


		//- nav(hidden).menu
		//- 	button(type="button").menu__icon.icon-menu
		//- 		svg(xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewbox='0 0 20 18' fill='none')
		//- 			rect(width='20' height='2' fill='white')
		//- 			rect(y='8' width='20' height='2' fill='white')
		//- 			rect(y='16' width='10' height='2' fill='white')
		//- 	.menu__body
		//- 		button.menu__close.menu__icon.icon-menu
		//- 			svg(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewbox='0 0 18 18' fill='none')
		//- 				circle(cx='9' cy='9' r='9' fill='#808080')
		//- 				rect(x='5.58643' y='4.95001' width='10.8' height='0.9' transform='rotate(45 5.58643 4.95001)' fill='white')
		//- 				rect(x='5.03223' y='12.5869' width='10.8' height='0.9' transform='rotate(-45 5.03223 12.5869)' fill='white')
		//- 		nav.mobile-menu
		//- 			ul
		//- 				li
		//- 					a(href="", data-goto="#about") О студии
		//- 				li
		//- 					a(href="", data-goto="#projects") Наши проекты
		//- 				li
		//- 					a(href="#", data-goto="#services") Услуги
		//- 				li
		//- 					a(href="#", data-popup="#classes") Мастер-классы
		//- 				li
		//- 					a(href="#", data-popup="#contacts") Контакты
		//- 			a(href="tel:+749542423532").mobile-menu__tel
		//- 				svg(width='22' height='22' viewbox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
		//- 					path(d='M18.3425 14.0983C17.215 14.0983 16.1242 13.915 15.1067 13.585C14.7858 13.475 14.4283 13.5575 14.1808 13.805L12.7417 15.6108C10.1475 14.3733 7.71833 12.0358 6.42583 9.35L8.21333 7.82833C8.46083 7.57167 8.53417 7.21417 8.43333 6.89333C8.09417 5.87583 7.92 4.785 7.92 3.6575C7.92 3.1625 7.5075 2.75 7.0125 2.75H3.84083C3.34583 2.75 2.75 2.97 2.75 3.6575C2.75 12.1733 9.83583 19.25 18.3425 19.25C18.9933 19.25 19.25 18.6725 19.25 18.1683V15.0058C19.25 14.5108 18.8375 14.0983 18.3425 14.0983Z' fill='#FF6E30')
		//- 				| +7 495 424-23-532
	.header__menu
		ul 
			li 
				a(href="/all") Весь каталог
			li 
				a(href="/new") Новинки
			li 
				a(href="/bestsellers") Бестселлеры
			li 
				a(href="/sets") Сеты
		ul 
			li 
				a(href="/Outerwear") Верхняя одежда
			li 
				a(href="/jackets") Жакеты / пиджаки
			li 
				a(href="/shirts") Рубашки
			li 
				a(href="/t-shirts") Футболки
		ul 
			li 
				a(href="/pants") Брюки
			li 
				a(href="/jeans") Джинсы
			li 
				a(href="/dress") Платья
		ul 
			li 
				a(href="/shoes") Обувь
			li 
				a(href="/accessories") Аксессуары

	.header__search.search
		input(autocomplete="off",type="text", placeholder="Поиск...").input
		span.search__text Возможно, вы ищете
		ul.search__hints
			li Брюки
			li Брюки
			li Брюки
			li Брюки
