footer.footer
	.footer__container
		span.footer__copy SOFINET 2022-2024
		.footer__paggination
			ul.paggination__list
				li.paggination__item.paggination__first
					a.paggination__link(href="")
						img(src="@img/to-first.svg", alt="")
						span First
				li.paggination__item.paggination__first
					a.paggination__link(href="")
						img(src="@img/back.svg", alt="")
						span Back
				li.paggination__item
					a.paggination__link(href="")
						span 1
				li.paggination__item._active
					a.paggination__link(href="")
						span 2
				li.paggination__item
					a.paggination__link(href="")
						span 3
				li.paggination__item
					a.paggination__link(href="")
						span 4
				li.paggination__item.paggination__more
					a.paggination__link(href="")
						img(src="@img/more.svg", alt="")
				li.paggination__item
					a.paggination__link(href="")
						span 25
				li.paggination__item.paggination__first
					a.paggination__link(href="")
						span Next
						img(src="@img/next.svg", alt="")
				li.paggination__item.paggination__last
					a.paggination__link(href="")
						span Last
						img(src="@img/to-last.svg", alt="")
						