@font-face {
    font-family: "Futura PT Book";
    src: url("../fonts/FuturaPT-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura PT Medium";
    src: url("../fonts/FuturaPT-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura PT Demi";
    src: url("../fonts/FuturaPT-Demi.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura PT Heavy";
    src: url("../fonts/FuturaPT-Heavy.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura PT Light";
    src: url("../fonts/FuturaPT-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.top-banner {
    display: flex;
    align-items: center;
    padding: 47px 0;
    height: 466px;
    background-size: cover;
    background-position: center;
}

.top-banner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-banner__texts {
    margin-bottom: 48px;
    width: 750px;
    max-width: 70%;
}

.top-banner__title {
    font-size: 44px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-family: "Futura PT Heavy";
}

.top-banner__subtitle {
    color: #FFFFFF;
    font-size: 22px;
}

.top-banner__btns {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.top-banner__btns button {
    max-width: fit-content;
    white-space: pre;
}

.button-white {
    background: #fff;
}

.table-comparisson .tariff-price {
    font-size: 22px;
}

.tariff-ензу__total {
    height: unset;
}

.table-comparisson .button-comparisson {
    height: 33px;
    cursor: pointer;
}

.table-wrap_cloud .table-row .table-plans-new {
    grid-template-columns: minmax(200px, 1fr) minmax(50px, 180px) minmax(50px, 180px) minmax(50px, 180px) minmax(50px, 180px) minmax(50px, 180px);
}

.table-row-shadow {
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.table-row-collapsed {
    gap: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #f0f0f0;
}

.table-row-collapsed .table-td {
    /* position: static; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #f0f0f0;
}

.table-row-collapsed .table-td:first-child {
    padding-left: 0.875rem;
    border-bottom: none;
}

.table-row-collapsed .table-td_inner {
    border: none;
}

.table-row-collapsed:first-child .table-td {
    border-radius: 0;
}

.table-td-va {
    display: flex;
    align-items: center;
}

.table-td-va .table-td__title {
    margin-bottom: 0;
}

.table-row-grey .table-td{
    background-color: #f0f0f0;
}

.table-td__button {
    margin-top: 36px;
    height: 33px;
    font-size: 14px;
}

.table-plans-new__mobile .tariff-accord__title__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.table-plans-new__mobile .tariff-price {
    font-family: "Futura PT Medium";
}

.table-plans-new__mobile .titleamobold {
    font-size: 16px;
    font-family: "Futura PT Medium";
}

.ap-solutions__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* flex-wrap: wrap;
    justify-content: space-between; */
    gap: 36px;
}

.ap-solutions__item {
    /* flex: 1 1 auto;
    max-width: minmax(170px, 220px); */
    /* align-self: flex-start; */
    border-radius: 15px;
    background-color: #f5f7f9;
}

.ap-solutions__item:hover .ap-solutions__icon {
    transform: scale(1.1);
}

.ap-solutions__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px 16px 20px 16px;
    height: 230px;
}

.ap-solutions__icon {
    padding: 18px;
    border-radius: 10px;
    background: #FEDD2B;
    transform-origin: 0 0;
    transition: 0.3s ease transform;
}

.ap-solutions__name {
    font-size: 18px;
    font-family: "Futura PT Medium";
    line-height: 1.2;
}

.text-with-img {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.text-with-img._align-center {
    align-items: center;
}

.text-with-img__text {
    width: 48.75%;
    color: #707378;
    font-size: 18px;
}

.text-with-img__title {
    margin-bottom: 25px;
    color: #333;
    font-family: "Futura PT Medium";
    font-size: 2.75rem;
    line-height: 1.1;
}

.text-with-img__subtitle {
    margin-bottom: 25px;
    color: #333;
    font-family: "Futura PT Medium";
    font-size: 1.375rem;
    line-height: 1.1;
}

.text-with-img__item {
    display: flex;
    align-items: center;
    gap: 14px;
}

.text-with-img__text p {
    margin-bottom: 0;
}

.text-with-img__img {
    /* width: 40%; */
    max-width: 504px;
}

.text-with-img__img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.text-with-img__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-list {
    font-size: 18px;
}

/* .text-list__item {
    color: #707378;
} */

.text-list__item:last-child {
    margin-bottom: 0;
}

.text-with-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.text-with-list__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-list {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
    background-color: #f5f7f9;
    border-radius: 10px;
}

.item-list__top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-list__icon {
    padding: 13px;
    border-radius: 10px;
    background: #FEDD2B;
}

.item-list__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item-list__title {
    font-size: 22px;
    line-height: 1.1;
    font-family: "Futura PT Medium";
}

.item-list__title._mobile {
    display: none;
}

.item-list__text {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.6;
}

.ap-solution-tab {
    margin-bottom: 40px;
}

.ap-solution-tab__title {
    margin-bottom: 15px;
    font-family: "Futura PT Medium";
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3;
}

.ap-solution-tab__text {
    font-size: 18px;
    line-height: 1.6;
}

.ap-solution-tab__buttons {
    gap: 36px;
}

.ap-screens-tab {
    margin-bottom: 40px;
}

.slider-screen__item img {
    max-width: 100%;
    max-height: 100%;
}

.ap-screens-tab {
    position: relative;
}

.slick-dots li button:before {
    font-size: 3.5625rem;
    color: #E1E1E1;
}

.slick-dots {
    bottom: 20px;
}

.slick-dots li.slick-active button:before {
    color: #FEDD2B;
}

.tabs-container .tab {
    display: none;
}

.tabs-container .tab.active {
    display: block;
}

.container-arrows {
    position: absolute;
    top: -80px;
    right: 0;
}

.tabs-container .tag {
    margin-bottom: 0;
}


.table-tariff {
    width: 100%;
}

.table-tariff .tr:first-child .td:first-child, .table-bottom-line .tr:first-child .td:first-child {
    vertical-align: top;
}

.table-tariff .tr:first-child .td, .table-bottom-line .tr:first-child .td {
    padding-top: 2.5rem;
}

td .smile {
    width: 13.25rem;
    height: 13.25rem;
    margin-bottom: 0.9375rem;
}

.tabs__wrap {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 1px solid #DCDFE8;
    border-radius: 50px;
    margin-bottom: 1.875rem;
    /* padding: 4px; */
    width: 100%;
}

.tabs__wrap.mobile {
    border-radius: 0;
    height: 36px;
}
.tabs__item.active.comparison.mobile {
    border-radius: 0;
}

.tabs__item.comparison.mobile {
    margin: 0;
}
/* 
.tabs__item.comparison.mobile {
    border-radius: 0;
} */

.tabs__item.comparison {
    font-size: 12px;
    color: #646464;
    font-weight: 400;
    padding: 8px;
    width: 100%;
    margin: 4px;
    text-align: center;
    font-family: "Futura PT Medium";
    cursor: pointer;
    transition: 0.3s ease all;
}

.comparison-table__mobile .tariff-type  {
    height: auto;
}

.comparison-mobile__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tariff-price__mobile {
    text-align: center;
}

.tabs__item.active.comparison:hover {
    color: #333333;
    background-color: #FEDD2B;
}

.tabs__item.active.comparison {
    background-color: #333333;
    color: #ffffff;
    border-radius: 50px;
    font-weight: 700;
    border: none;
}

/* .smile {
    width: 8.25rem;
    height: 8.25rem;
    margin-bottom: 0.9375rem;
}
.smile {
    width: 2.25rem;
    height: 2.25rem;
    margin-bottom: 0.9375rem;
} */
.smile img {
    vertical-align: middle;
    border-style: none;
}

.td .tariff-type {
    font-size: 16px;
    line-height: 1.2;
}

.tariff-type {
    margin-bottom: 20px;
    height: 57px;
}

.table-tariff .td:first-child {
    width: 100%;
}

.table-tariff .td, .table-bottom-line .td {
    padding-left: 3px;
    padding-right: 3px;
}

.td.diff-width {
    width: 198px;
    padding: 0;
}

.td.diff-width {
    width: 198px;
    padding: 0;
}

.table-tariff .td, .table-bottom-line .td {
    padding-left: 3px;
    padding-right: 3px;
}

.table-tariff .td, .table-bottom-line .td {
    text-align: center;
    border-right: 0.1875rem solid #F5F6F8;
    border-left: 0.1875rem solid #F5F6F8;
    padding: 0.9375rem 0.875rem;
    vertical-align: middle;
}

td b {
    font-family: "Futura PT Medium";
}

.button-add.otr.dop.active {
    display: inline-flex;
}

.button-add.button-add-active {
    border: 1px solid #fff;
    color: #fff;
    background-color: #333;
}

.button-add.otr.dop {
    display: none;
}
.button-add {
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    padding: 0.6875rem 0.3125rem;
    color: #333333;
    text-transform: uppercase;
    min-width: 8.125rem;
    max-width: 8.125rem;
    height: 2.625rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.button-add .span-add {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

img.icon.dop {
    display: none;
}

img.icon.dop.active {
    display: inline-flex;
}

.button-add.otr.dop.active {
    display: inline-flex;
}
.button-add.otr.dop {
    display: none;
}

.button-add:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #333;
}

.button-add:hover .span-price {
    display: none;
}

.button-add.button-add-active:hover .span-price {
    display: inline-flex;
}

.button-add.button-add-active:hover .span-add {
    display: none;
}

.button-add:hover .span-add {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

/* MEDIA */

@media (max-width:1140px) {
    .container-arrows {
        top: -70px;
    }
}


@media (max-width:1024px) {
    .top-banner__title {
        font-size: 26px;
        line-height: 1.3;
    }
    .ap-solutions__list {
        gap: 16px;
    }

    .text-with-img {
        flex-direction: column;
    }

    .text-with-img._column-revers {
        flex-direction: column-reverse;
    }

    .text-with-img__text {
        width: 100%;
    }

    .text-with-img__img {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 991px){
    .slider-screen__arrows {
        display: none;
    } 
    .td-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 33px;
    }
    .td-left {
        font-size: 14px;
        width: 100%;
        min-width: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (max-width:768px) {
    .top-banner {
        align-items: flex-start;
        padding: 26px 0;
        height: 560px;
        background-position: bottom center;
    }

    .top-banner__texts {
        margin-bottom: 22px;
        max-width: 100%;
    }

    .top-banner__title {
        margin-bottom: 8px;
        font-size: 26px;
    }

    .top-banner__subtitle {
        font-size: 14px;
        line-height: 1.3;
    }

    .top-banner__btns {
        gap: 8px;
    }

    .top-banner__btns button {
        max-width: fit-content;
        height: 40px;
        font-size: 14px;
    }

    .text-with-img {
        gap: 20px;
    }

    .text-with-list {
        gap: 5px;
    }

    .text-with-list__list {
        gap: 20px;
    }

    .text-with-img__text {
        font-size: 16px;
    }

    .item-list__title {
        font-size: 20px;
    }

    .item-list__text {
        font-size: 16px;
    }

    .ap-solution-tab {
        margin-bottom: 20px;
    }

    .ap-solution-tab__title {
        font-size: 20px;
    }

    .ap-solution-tab__buttons {
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width:576px) {
    .item-list {
        flex-direction: column;
    }

    .item-list__title {
        display: none;
    }

    .item-list__title._mobile {
        display: block;
    }

}