h1, h2, h3, h4, p, span, small, button, a, div {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

ol, ul {
	list-style: none;
}

input {
	border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

[class*=__container] {
	@media (max-width:$tablet){
		 padding: 0; 
	}
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
	height: 100svh;
	background-color: #fff;
	z-index: 9999;
}

._gradient {
	@media (min-width:$tablet){
		background: linear-gradient(267deg, rgba(233, 180, 139, 0.00) -9.64%, rgba(230, 222, 210, 0.71) 52.47%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
	}

}

._gradient-2 {
		@media (min-width:$tablet){
			background: linear-gradient(90deg, #A39D95 27.11%, rgba(110, 134, 120, 0.00) 105.07%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;			  
		}
}

._gradient-3 {
	@media (min-width:$tablet){
		background: linear-gradient(90deg, #E9B48B -23.39%, rgba(233, 180, 139, 0.00) 117.6%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;		  
	}
}

.main {
	display: flex;
	align-items: stretch;

	@media (max-width:$tablet){
		flex-direction: column-reverse;
	}

	&__content {
		flex: 0 0 percent(859, 1920);
		@media (max-width:$tablet){
			flex: 0 0 auto;
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			padding: rem(20) rem(10) rem(143);

			@media (max-width:$tablet){
				padding: rem(42) rem(20) rem(58);
				align-items: center;
			}
		}

		&__title {
			@include adaptiveValue("font-size", 96, 44, 1920, 1024);
			color: #000;
			text-transform: uppercase;
			@media (max-width:$tablet){
				display: none;
			}
		}

		&__subtitle {
			@include adaptiveValue("font-size", 50, 32, 1920, 1024);
			margin-bottom: rem(20);
			color: rgba(0, 0, 0, 0.80);
			text-transform: uppercase;
			@media (max-width:$tablet){
				display: none
			}
		}

		&__id {
			@include adaptiveValue("font-size", 32, 16, 1920, 320);
			margin-bottom: rem(60);
			font-family: "ChangaOne-Regular";
			@media (max-width:$tablet){
				display: none;
			}
		}

		&__button {
			@include adaptiveValue("font-size", 36, 36, 1920, 320);
			position: relative;
			color: #E9B48B;
			cursor: pointer;

			@media (max-width:$tablet){
				
			}
			&::before{
				content:'';
				position: absolute;
				bottom: rem(-10);
				left: 0;
				width: 100%;
				height: 2px;
				background: linear-gradient(90deg, #E9B48B -23.39%, rgba(233, 180, 139, 0.00) 117.6%);
				transform: scaleX(0);
				transition: 0.3s ease transform;
			}

			@media (any-hover: hover){
				&:hover{
					&::before{
						transform: scale(1);
					}
					
				}
			}
		}
	}

	&__text {
		background-color: #e8e2d7;
		@media (min-width:$tablet){
			 display: none; 
		}

	}

	&__video {
		position: relative;
	 	flex: 1 1 percent(1061, 1920);
		background-color: #e8e2d7;
		overflow: hidden;

		@media (max-width:$tablet){
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
		}

		video {
			position: absolute;
			height: 100%;
			object-fit: cover;
			// transform: translateX(-50%);
			@media (min-width:$tablet){
				@include adaptiveValue("left", 0, -200, 1280, 1024);
			}
			@media (max-width:$tablet){
				left: 52%;
				transform: translateX(-50%);
			}
		}
	}

	&__links {
		position: fixed;
		top: 50%;
		right: rem(57);
		display: flex;
		flex-direction: column;
		gap: rem(30);
		transform: translateY(-50%);

		@media (max-width:$tablet){
			right: unset;
			left: 10px;
			top: 220px;
		}

		@media (max-width:$mobile){
			top: 180px;
		}

		a {
			cursor: pointer;
			transition: transform 0.3s ease;
			@media (any-hover: hover){
				&:hover{
					transform: scale(1.15);
				}
			}
		}
	}

	&__label {
		position: fixed;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		color: rgba(110, 134, 120, 0.40);
		font-size: rem(16);
		@media (min-width:$tablet){
		}
	}

	&-text {
		display: none;
		flex-direction: column;
		align-items: center;
		padding: 0 rem(10);

		@media (max-width:$tablet){
			display: flex;
		}

		@media (max-width:$mobileSmall){
			 align-items: flex-start; 
		}

		&__title {
			color: #000703;
			@include adaptiveValue("font-size", 48, 36, 1024, 320);
			font-weight: 400;
			letter-spacing: 0.96px;
			text-transform: uppercase;			
		}

		&__subtitle {
			color: rgba(0, 0, 0, 0.80);
			@include adaptiveValue("font-size", 32, 26, 1024, 320);
			font-style: normal;
			font-weight: 400;
			line-height: 120%;
			letter-spacing: 0.64px;
			text-transform: uppercase;
		}
	}
}