section.audience#audience
	.audience__container
		.audience__body
			img(src="@img/common/shape-2.png", alt="shape").shape.shape-4
			img(src="@img/common/shape-3.png", alt="shape").shape.shape-3
			.audience__title(data-da=".audience__container, 576.98, 0", data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="100")
				h2 С чего начать?
				p Сформируйте пиксель и установите его на сайт.
					<br>Или сразу начните использовать готовые аудитории.
			.audience__lines(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="300")
				.audience__line
				.audience__line-2
			.audience__content
				.audience__block.block-audience(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="100")
					.block-audience__body
						h3 Готовые аудитории
						p Зарегистрируйтесь в личном кабинете, оплатите выбранный тариф, перейдите в раздел «Таксономия» и с помощью конструктора создайте нужную аудиторию, пересекая или объединяя сегменты.<br><br>
						p Затем эти сегменты вы можете пошерить в личный кабинет рекламной площадки и использовать при настройке рекламных кампаний.
					a(href="#", data-goto="#contact-form").button.button-white
						p.gradient-text Связаться
						span.flare
				.audience__lines-2
					.line 
					span Или
					.line
				.audience__block.block-audience(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="200")
					.block-audience__body
						h3 Собственные данные
						p Создайте пиксель, установите на сайт. И начните собирать собственные данные.<br><br>
						p Их вы сможете сегментировать, объединять с аудиториями AiData и использовать в рекламных кампаниях. А также формировать подробные отчеты об аффинитивности ваших пользователей.
					a(href="#", data-goto="#contact-form").button.button-white
						p.gradient-text Связаться
						span.flare
				

