section.cases#cases 
	.cases__container 
		h2.cases__title Кейсы
		ul.cases__list.grid
			li.grid-item
				img(src="@img/cases/label.svg", alt="vc.ru").grid-item__label
				.grid-item__img 
				.grid-item__body 
					h5.grid-item__title Готовые аудитории
					p.grid-item__text Как увеличить продажи новогодних туров за счет готовых аудиторий
					a(href="#", target="_blank").button.button-white._border.grid-item__button
						p.gradient-text Читать
						span.flare

			li.grid-item
				img(src="@img/cases/label.svg", alt="vc.ru").grid-item__label
				.grid-item__img 
				.grid-item__body 
					h5.grid-item__title Готовые аудитории
					p.grid-item__text Как увеличить продажи новогодних туров за счет готовых аудиторий
					a(href="#", target="_blank").button.button-white._border.grid-item__button
						p.gradient-text Читать
						span.flare

			li.grid-item
				img(src="@img/cases/label.svg", alt="vc.ru").grid-item__label
				.grid-item__img 
				.grid-item__body 
					h5.grid-item__title Готовые аудитории
					p.grid-item__text Как увеличить продажи новогодних туров за счет готовых аудиторий
					a(href="#", target="_blank").button.button-white._border.grid-item__button
						p.gradient-text Читать
						span.flare
