section.examples 
	.examples__container 
		h2.examples__title Примеры уникальных сегментов
	.examples__body
		ul.examples__list.examples-list(data-aos="fade-right", data-aos-anchor-placement="top-bottom")
			li.examples-list__item
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-1.png)")
					.examples-list__title Очки для зрения
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-2.png)")
					.examples-list__title Индекс массы тела
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-3.png)")
					.examples-list__title Типы и породы животных
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-4.png)")
					.examples-list__title Курильщики
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-5.png)")
					.examples-list__title Пол, возраст
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000
			
			li.examples-list__item
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-6.png)")
					.examples-list__title Военные
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item.duplicate
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-1.png)")
					.examples-list__title Очки для зрения
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item.duplicate
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-2.png)")
					.examples-list__title Индекс массы тела
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item.duplicate
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-3.png)")
					.examples-list__title Типы и породы животных
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item.duplicate
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-4.png)")
					.examples-list__title Курильщики
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item.duplicate
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-5.png)")
					.examples-list__title Пол, возраст
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000
			
			li.examples-list__item.duplicate
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-6.png)")
					.examples-list__title Военные
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

		ul.examples__list.examples-list(data-aos="fade-left", data-aos-anchor-placement="top-bottom", data-aos-delay="100")
			li.examples-list__item
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-7.png)")
					.examples-list__title Свадьба
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-8.png)")
					.examples-list__title Увлечения и виды спорта
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-9.png)")
					.examples-list__title Марки, модели и цвета авто
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-10.png)")
					.examples-list__title Алкоголь, дорогие рестораны
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-11.png)")
					.examples-list__title Зимние виды спорта и отдыха
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000
			
			li.examples-list__item
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-12.png)")
					.examples-list__title Музыкальные инструменты
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item.duplicate
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-7.png)")
					.examples-list__title Свадьба
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item.duplicate
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-8.png)")
					.examples-list__title Марки, модели и цвета авто
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item.duplicate
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-9.png)")
					.examples-list__title Типы и породы животных
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item.duplicate
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-10.png)")
					.examples-list__title Алкоголь, дорогие рестораны
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000

			li.examples-list__item.duplicate
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-11.png)")
					.examples-list__title Зимние виды спорта и отдыха
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000
			
			li.examples-list__item.duplicate
				a(href="#").examples-list__link
					.examples-list__img(style="background-image:url(@img/examples/fox-12.png)")
					.examples-list__title Музыкальные инструменты
					.examples-list__count
						img(src="@img/examples/users.svg", alt="icon")
						span.gradient-text 1 000 000