footer.footer
	.footer__container
		.footer__body.footer-body
			img(src="@img/logo-white.svg", alt="Logo").footer-body__logo
			div.footer-body__copy 
				span © 2012-2023 All Rights Reserved
				a(href="#") Privacy policy
			ul.footer-body__media-list
				li 
					a(href="vc.ru") 
						img(src="@img/footer/vcru.svg", alt="vc.ru")
				li 
					a(href="telegram.ru") 
						img(src="@img/footer/telegram.svg", alt="t.me")
				li 
					a(href="youtube.ru") 
						img(src="@img/footer/youtube.svg", alt="youtube.com")