head 
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel="icon", href="img/favicon.ico")
	link(rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png")
	link(rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png")
	meta(property="og:title", content="Готовые аудитории для рекламных кампаний")
	meta(property="og:site_name", content="")
	meta(property="og:url", content="")
	meta(property="og:description", content="Уникальные сегменты для решения любых маркетинговых задач по фотографиям")
	meta(property="og:image", content="")
	meta(property="og:image:width", content="968")
	meta(property="og:image:height", content="504")
	title Targetfox
	link(rel="stylesheet", href="css/style.min.css")