section.hero 
	.hero__container
		.hero__body.hero-body
			.hero-body__content(data-aos="fade-right")
				h1.hero-body__title Готовые 
					p.gradient-text аудитории 
					|  для рекламных кампаний
				p.hero-body__text Уникальные сегменты для решения любых маркетинговых задач по фотографиям
				a(href="#", data-goto="#contact-form").button._big Связаться
					.flare
			.hero-body__img