section.qa 
	.qa__container 
		h2.qa__title Самые актуальные вопросы
		.qa__accordion.accordion
			details.accordion__details(open, data-aos="fade-up", data-aos-anchor-placement="top-bottom")
				summary Что такое готовые аудитории?
				p Готовые аудитории - это пользователи, а точнее их рекламные идентификаторы, которые объединены в сегменты по разному количеству параметров. На эти идентификаторы можно настроить таргетированную рекламу в VK Рекламе, Яндекс. Директ, Mytarget, Getintent и др. Эти идентификаторы вы сможете увидеть у себя в рекламном кабинете в обезличенном виде, поэтому никакие другие действия, как звонок или отправку смс, вы совершить не сможете. Другими словами, готовые аудиторию с минимальными затратами помогут выстроить и точнее найти свою целевую аудиторию в интернете.
			details.accordion__details(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="100")
				summary В каких целях можно использовать готовые аудитории?
				p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!
			details.accordion__details(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="200")
				summary Вдруг я не смогу разобраться, как этим пользоваться?
				p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!
			details.accordion__details(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="300")
				summary Как сформировать прогноз от использования готовых аудиторий?
				p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!
			details.accordion__details(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-delay="400")
				summary Если я куплю самый дешевый тариф, не подорожает ли он<br>в следующем месяце?
				p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!