section.quick-start#quick-start
	.quick-start__container
		h2.quick-start__title Быстрый старт
		.quick-start__timeline.timeline
			.timeline__point.point-1
				.timeline__text Выберите актуальную тему или точный сегмент
			.timeline__point.point-2
				.timeline__text Укажите рекламную площадку
			.timeline__point.point-3
				.timeline__text Введите email и оставьте заявку
			.timeline__point.point-4
				.timeline__text Мы свяжемся с вами и уточним организационные моменты
			.timeline__point.point-5
				.timeline__text Загрузите аудиторные сегменты в личный кабинет.<br>Потом они будут доступны для настройки рекламных кампаний
			.timeline__point.point-6
				button.button.button-white.timeline__button
					p.gradient-text Начать
					span.flare
