section.quick-start#quick-start
	.quick-start__container
		h2.quick-start__title Быстрый старт
		.quick-start__timeline.timeline
			.timeline__point.point-1(data-aos="zoom-in")
				.timeline__text Выберите актуальную тему или точный сегмент
			.timeline__point.point-2(data-aos="zoom-in",  data-aos-delay="100")
				.timeline__text Укажите рекламную площадку
			.timeline__point.point-3(data-aos="zoom-in",  data-aos-delay="200")
				.timeline__text Введите email и оставьте заявку
			.timeline__point.point-4(data-aos="zoom-in",  data-aos-delay="300")
				.timeline__text Мы свяжемся с вами и уточним организационные моменты
			.timeline__point.point-5(data-aos="zoom-in",  data-aos-delay="400")
				.timeline__text Загрузите аудиторные сегменты в личный кабинет.<br>Потом они будут доступны для настройки рекламных кампаний
			.timeline__point.point-6(data-aos="zoom-in",  data-aos-delay="500")
				a(href="#", data-goto="#contact-form").button.button-white.timeline__button
					p.gradient-text Начать
					span.flare
