section.why 
	.why__container
		h2.why__title Почему нам можно доверять?
		.why__grid.grid-why 
			.grid-why__item.grid-why__item-1
				h4.gradient-text 12 МЛН +
				p Клиентских профилей
			.grid-why__item.grid-why__item-2
				h4.gradient-text Инструмент персонализации
				p Такая рекламная<br>коммуникация<br>гарантированно<br>поднимает CTR
			.grid-why__item.grid-why__item-3
				h4.gradient-text Непрерывное обновление
				p Сегменты постоянно<br>пополняются<br>и обновляются
			.grid-why__item.grid-why__item-4
				h4.gradient-text 1 200 МЛН +
				p Распознаваемых изображений
			.grid-why__item.grid-why__item-5
				h4.gradient-text > 90%
				p Активных профилей из РФ города 500К +
			.grid-why__item.grid-why__item-6._highlight
				h4 Уникальная разработка
				p 250+ сформированных уникальных сегментов
			.grid-why__item.grid-why__item-7
				h4.gradient-text 250 +
				p Готовых сегментов
			.grid-why__item.grid-why__item-8
				h4.gradient-text 2 000 +
				p Распознаваемых объектов на фото
			.grid-why__item.grid-why__item-9
				h4.gradient-text + 30% к CTR
				p Минимальный прирост эффективности

