section#catalog.catalog
    .catalog__header 
        h2.section-title.catalog__title Каталог музыки
        form(action="#", method="post") 
            select.select.catalog__select Рекомендации
                option.option(value="1", selected) Рекомендации
                option.option(value="2") Популярные
                option.option(value="3") Отечественные
                option.option(value="4") Зарубежные
    .catalog__grid.grid-catalog 
        ul.grid-catalog__list
            li.grid-catalog__item.product-item
                .product-item__header(style="background-image: url(@img/catalog/item-1.png)")
                    .product-item__heart
                        include icons/_heart
                    .product-item__options
                        include icons/_options
                h5.product-item__title 
                    a(href="/") Blinding Lights
                ul.product-item__tags
                    li.product-item__tag.genres-tag
                        span Мужской
                    li.product-item__tag.genres-tag
                        span Поп
                    li.product-item__tag.genres-tag
                        span РнБ
                .product-item__bottom 
                    .product-item__prices 
                        .product-item__price 34 000 ₽
                        .product-item__price-old 100 000 ₽
                    button(type="button").product-item__cart
                        <img src="@img/cart.svg" alt="cart-icon">

            li.grid-catalog__item.product-item
                .product-item__header(style="background-image: url(@img/catalog/item-2.png)")
                    .product-item__heart
                        include icons/_heart
                    .product-item__options
                        include icons/_options
                h5.product-item__title
                    a(href="/") 7 Rings
                ul.product-item__tags
                    li.product-item__tag.genres-tag
                        span Женский
                    li.product-item__tag.genres-tag
                        span Поп
                    li.product-item__tag.genres-tag
                        span РнБ
                .product-item__bottom 
                    .product-item__prices 
                        .product-item__price 34 000 ₽
                        .product-item__price-old 100 000 ₽
                    button(type="button").product-item__cart
                            <img src="@img/cart.svg" alt="cart-icon">

            li.grid-catalog__item.product-item
                .product-item__header(style="background-image: url(@img/catalog/item-3.png)")
                    .product-item__heart
                        include icons/_heart
                    .product-item__options
                        include icons/_options
                h5.product-item__title 
                    a(href="/") Broken Clocks
                ul.product-item__tags
                    li.product-item__tag.genres-tag
                        span Женский
                    li.product-item__tag.genres-tag
                        span Поп
                    li.product-item__tag.genres-tag
                        span РнБ
                    li.product-item__tag.genres-tag
                        span Металл
                .product-item__bottom 
                    .product-item__prices 
                        .product-item__price 34 000 ₽
                        .product-item__price-old 100 000 ₽
                    button(type="button").product-item__cart
                        <img src="@img/cart.svg" alt="cart-icon">

            li.grid-catalog__item.product-item
                .product-item__header(style="background-image: url(@img/catalog/item-4.png)")
                    .product-item__heart
                        include icons/_heart
                    .product-item__options
                        include icons/_options
                h5.product-item__title 
                    a(href="/") Paint The Town Red
                ul.product-item__tags
                    li.product-item__tag.genres-tag
                        span Мужской
                    li.product-item__tag.genres-tag
                        span Поп
                    li.product-item__tag.genres-tag
                        span РнБ
                .product-item__bottom 
                    .product-item__prices 
                        .product-item__price 34 000 ₽
                        .product-item__price-old 100 000 ₽
                    button(type="button").product-item__cart
                        <img src="@img/cart.svg" alt="cart-icon">
            
            li.grid-catalog__item.product-item
                .product-item__header(style="background-image: url(@img/catalog/item-2.png)")
                    .product-item__heart
                        include icons/_heart
                    .product-item__options
                        include icons/_options
                    .product-item__sale
                        <img src="@img/fire.svg" alt="icon-sale">
                        span -30%
                h5.product-item__title
                    a(href="/") 7 Rings
                ul.product-item__tags
                    li.product-item__tag.genres-tag
                        span Женский
                    li.product-item__tag.genres-tag
                        span Поп
                    li.product-item__tag.genres-tag
                        span РнБ
                .product-item__bottom 
                    .product-item__prices 
                        .product-item__price 34 000 ₽
                        .product-item__price-old 100 000 ₽
                    button(type="button").product-item__cart
                            <img src="@img/cart.svg" alt="cart-icon">

            li.grid-catalog__item.product-item
                .product-item__header(style="background-image: url(@img/catalog/item-3.png)")
                    .product-item__heart
                        include icons/_heart
                    .product-item__options
                        include icons/_options
                    .product-item__sale
                        <img src="@img/fire.svg" alt="icon-sale">
                        span -10%
                h5.product-item__title 
                    a(href="/") Broken Clocks
                ul.product-item__tags
                    li.product-item__tag.genres-tag
                        span Женский
                    li.product-item__tag.genres-tag
                        span Поп
                    li.product-item__tag.genres-tag
                        span РнБ
                .product-item__bottom 
                    .product-item__prices 
                        .product-item__price 34 000 ₽
                        .product-item__price-old 100 000 ₽
                    button(type="button").product-item__cart
                        <img src="@img/cart.svg" alt="cart-icon">

            li.grid-catalog__item.product-item
                .product-item__header(style="background-image: url(@img/catalog/item-4.png)")
                    .product-item__heart
                        include icons/_heart
                    .product-item__options
                        include icons/_options
                h5.product-item__title 
                    a(href="/") Paint The Town Red
                ul.product-item__tags
                    li.product-item__tag.genres-tag
                        span Мужской
                    li.product-item__tag.genres-tag
                        span Поп
                    li.product-item__tag.genres-tag
                        span РнБ
                .product-item__bottom 
                    .product-item__prices 
                        .product-item__price 34 000 ₽
                        .product-item__price-old 100 000 ₽
                    button(type="button").product-item__cart
                        <img src="@img/cart.svg" alt="cart-icon">

            li.grid-catalog__item.product-item
                .product-item__header(style="background-image: url(@img/catalog/item-1.png)")
                    .product-item__heart
                        include icons/_heart
                    .product-item__options
                        include icons/_options
                h5.product-item__title 
                    a(href="/") Blinding Lights
                ul.product-item__tags
                    li.product-item__tag.genres-tag
                        span Мужской
                    li.product-item__tag.genres-tag
                        span Поп
                    li.product-item__tag.genres-tag
                        span РнБ
                .product-item__bottom 
                    .product-item__prices 
                        .product-item__price 34 000 ₽
                        .product-item__price-old 100 000 ₽
                    button(type="button").product-item__cart
                        <img src="@img/cart.svg" alt="cart-icon">

            li.grid-catalog__item.product-item
                .product-item__header(style="background-image: url(@img/catalog/item-3.png)")
                    .product-item__heart
                        include icons/_heart
                    .product-item__options
                        include icons/_options
                h5.product-item__title 
                    a(href="/") Broken Clocks
                ul.product-item__tags
                    li.product-item__tag.genres-tag
                        span Женский
                    li.product-item__tag.genres-tag
                        span Поп
                    li.product-item__tag.genres-tag
                        span РнБ
                .product-item__bottom 
                    .product-item__prices 
                        .product-item__price 34 000 ₽
                        .product-item__price-old 100 000 ₽
                    button(type="button").product-item__cart
                        <img src="@img/cart.svg" alt="cart-icon">

            li.grid-catalog__item.product-item
                .product-item__header(style="background-image: url(@img/catalog/item-4.png)")
                    .product-item__heart
                        include icons/_heart
                    .product-item__options
                        include icons/_options
                h5.product-item__title 
                    a(href="/") Paint The Town Red
                ul.product-item__tags
                    li.product-item__tag.genres-tag
                        span Мужской
                    li.product-item__tag.genres-tag
                        span Поп
                    li.product-item__tag.genres-tag
                        span РнБ
                .product-item__bottom 
                    .product-item__prices 
                        .product-item__price 34 000 ₽
                        .product-item__price-old 100 000 ₽
                    button(type="button").product-item__cart
                        <img src="@img/cart.svg" alt="cart-icon">
            
            li.grid-catalog__item.product-item
                .product-item__header(style="background-image: url(@img/catalog/item-2.png)")
                    .product-item__heart
                        include icons/_heart
                    .product-item__options
                        include icons/_options
                h5.product-item__title
                    a(href="/") 7 Rings
                ul.product-item__tags
                    li.product-item__tag.genres-tag
                        span Женский
                    li.product-item__tag.genres-tag
                        span Поп
                    li.product-item__tag.genres-tag
                        span РнБ
                .product-item__bottom 
                    .product-item__prices 
                        .product-item__price 34 000 ₽
                        .product-item__price-old 100 000 ₽
                    button(type="button").product-item__cart
                            <img src="@img/cart.svg" alt="cart-icon">

            li.grid-catalog__item.product-item
                .product-item__header(style="background-image: url(@img/catalog/item-3.png)")
                    .product-item__heart
                        include icons/_heart
                    .product-item__options
                        include icons/_options
                h5.product-item__title 
                    a(href="/") Broken Clocks
                ul.product-item__tags
                    li.product-item__tag.genres-tag
                        span Женский
                    li.product-item__tag.genres-tag
                        span Поп
                    li.product-item__tag.genres-tag
                        span РнБ
                .product-item__bottom 
                    .product-item__prices 
                        .product-item__price 34 000 ₽
                        .product-item__price-old 100 000 ₽
                    button(type="button").product-item__cart
                        <img src="@img/cart.svg" alt="cart-icon">

    include _pagination