section.downloads
    ul.downloads__list.downloads-list
        .downloads-list__item
            h3.downloads-list__title Сегодня
            ul.downloads-list__tracks
                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem temporibus voluptatem, nam aperiam voluptate sint officia? Vel aspernatur tempore porro ut earum sed iusto, odio quas iure consequuntur tenetur ipsam.
                                p.charts-item__song Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ducimus! Temporibus eius hic dolores aut numquam error aspernatur consequatur, quisquam amet ratione commodi? Quae maxime quasi eum culpa assumenda aperiam.

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

        .downloads-list__item
            h3.downloads-list__title Вчера
            ul.downloads-list__tracks
                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd


        .downloads-list__item
            h3.downloads-list__title 08.11.24
            ul.downloads-list__tracks
                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

        .downloads-list__item
            h3.downloads-list__title 07.11.24
            ul.downloads-list__tracks
                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd

                li.charts-block__item.charts-item
                    a(href="").charts-item__link 
                        .charts-item__track 
                            .charts-item__cover(style="background-image: url(@img/hero/chart-1.png)")
                                .charts-item__label._crown
                            .charts-item__about 
                                h5.charts-item__artist Starboy
                                p.charts-item__song The Weeknd
