head 
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="color-scheme" content="only light")
	meta(name="robots" content="index, follow")
	meta(property="og:locale", content="ru_RU")
	meta(property="og:type", content="website")
	meta(property="og:title", content="Moleculab - инновации для лабораторий")
	meta(property="og:site_name", content="Moleculab")
	meta(property="og:url", content="https://paymushkin.github.io/moleculab/dist/")
	meta(property="og:description", content="Компания MolecuLab предлагает оптимальные решения для лабораторий, а также квалифицированную поддержку")
	meta(property="og:image", content="https://paymushkin.github.io/moleculab/dist/img/poster.jpg")
	meta(property="og:image:width", content="968")
	meta(property="og:image:height", content="504")
	title PrimeSongs
	//- link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
	link(rel="icon", href="img/favicon.ico")
	link(rel="icon", type="image/png", sizes="32x32", href="img/favicon.png")
	link(href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.css" rel="stylesheet")
	script(src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.js" defer)
	//- script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer)
	link(rel="stylesheet", href="css/style.min.css")