section.useful-article
    h2.useful-article__title Полезное
    .useful-article__grid.grid-useful 
        .grid-useful__item(data-popup="#article", style="background-image: url(@img/useful/item-1.png)") 
        .grid-useful__item(data-popup="#article", style="background-image: url(@img/useful/item-2.png)")
        .grid-useful__item(data-popup="#article", style="background-image: url(@img/useful/item-3.png)")



    //- h2.useful-article__title Статья
    //- .useful-article__body 
    //-     p.useful-article__text
    //-         | Lorem ipsum dolor sit amet consectetur adipisicing elit. Est debitis, iste, aspernatur ipsum vero quidem soluta tenetur maiores, laudantium totam nulla similique aliquid nam rem sapiente dolorem vel eum. Delectus.
    //-     ul.useful-article__list
    //-         li.useful-article__item Список 1
    //-         li.useful-article__item Список 2
    //-         li.useful-article__item Список 3
    //-         li.useful-article__item Список 4
    //-     img.useful-article__img(src="@img/hero/slider-1.png", alt="img")
    //-     p.useful-article__text
    //-         | Lorem ipsum dolor sit amet consectetur adipisicing elit. Est debitis, iste, aspernatur ipsum vero quidem soluta tenetur maiores, laudantium totam nulla similique aliquid nam rem sapiente dolorem vel eum. Delectus.
    //-     ul.useful-article__list
    //-         li.useful-article__item Список 1
    //-         li.useful-article__item Список 2
    //-         li.useful-article__item Список 3
    //-         li.useful-article__item Список 4