section#soft-hero.soft-hero
    .soft-hero__container
        - const softPage = true;
        include ../_breadcrumbs

        .soft-hero__mobile-content
            h1.main-title.soft-hero__title Лицензионное программное обеспечение
            p.main-subtitle.soft-hero__text Подбираем, поставляем, внедряем и&nbsp;оказываем техническую поддержку

        .soft-hero__softs.softs-grid
            .spoiler.spoiler-soft
                .spoiler__text
                    span Направления
                    include ../icons/_spoiler
                nav.spoiler__hidden-block
                    ul.spoiler__list
                        li.spoiler__item(data-value="Операционные системы")
                            a(href="#").spoiler__link  
                                span Операционные системы
                        li.spoiler__item(data-value="Информационная безопасность")
                            a(href="#").spoiler__link  
                                span Информационная безопасностьи
                        li.spoiler__item(data-value="Офисные программы")
                            a(href="#").spoiler__link
                                span Офисные программы

            ul.softs-grid__list 
                li.softs-grid__item
                    a(href="#").softs-grid__link Sharx DC
                li.softs-grid__item
                    a(href="#").softs-grid__link «РУСТЭК»
                li.softs-grid__item
                    a(href="#").softs-grid__link «Росплатформа»
                li.softs-grid__item
                    a(href="#").softs-grid__link «Киберпротект»
                li.softs-grid__item
                    a(href="#").softs-grid__link Positive Technologies
                li.softs-grid__item
                    a(href="#").softs-grid__link Content AI
                li.softs-grid__item
                    a(href="#").softs-grid__link «МойОфис»
                li.softs-grid__item
                    a(href="#").softs-grid__link «СёрчИнформ»
                li.softs-grid__item
                    a(href="#").softs-grid__link «Солар»
                li.softs-grid__item
                    a(href="#").softs-grid__link «Атом Безопасность»
                li.softs-grid__item
                    a(href="#").softs-grid__link «Код Безопасности»
                li.softs-grid__item
                    a(href="#").softs-grid__link «РТ-Информационная безопасность»
                li.softs-grid__item
                    a(href="#").softs-grid__link «Смарт-Софт»
                li.softs-grid__item
                    a(href="#").softs-grid__link Makves
                li.softs-grid__item
                    a(href="#").softs-grid__link «1С»
                li.softs-grid__item
                    a(href="#").softs-grid__link «Стахановец»
                li.softs-grid__item
                    a(href="#").softs-grid__link «Лаборатория Касперского»
                li.softs-grid__item
                    a(href="#").softs-grid__link PROMT
                li.softs-grid__item
                    a(href="#").softs-grid__link Astra Linux
                li.softs-grid__item
                    a(href="#").softs-grid__link «РТ-Информационная безопасность»
                li.softs-grid__item
                    a(href="#").softs-grid__link «Аврора»
                li.softs-grid__item
                    a(href="#").softs-grid__link «Альт»
                li.softs-grid__item
                    a(href="#").softs-grid__link «РОСА»
                li.softs-grid__item
                    a(href="#").softs-grid__link «РЕД СОФТ»
                li.softs-grid__item
                    a(href="#").softs-grid__link «БУЛАТ»
                li.softs-grid__item
                    a(href="#").softs-grid__link Dr.Web
                li.softs-grid__item
                    a(href="#").softs-grid__link «Битрикс24»
                li.softs-grid__item
                    a(href="#").softs-grid__link InfoWatch
                li.softs-grid__item
                    a(href="#").softs-grid__link Zecurion