section#soft-types.soft-why
    .soft-why__container
        .soft-why__body
            h2.section-title.soft-why__title Почему важно работать только с лицензионным программным обеспечением?
            .soft-why__content
                h3.soft-why__reason Использование лицензированного программного обеспечения позволяет организациям:
                ul.soft-why__list 
                    li.soft-why__item избежать рисков, связанных с соответствием российского законодательства;
                    li.soft-why__item получить право на квалифицированную техническую поддержку производителя программного обеспечения;
                    li.soft-why__item защитить программное обеспечение от злоумышленников и вирусов;
                    li.soft-why__item своевременно обновлять версии программного обеспечения.