.hero {
    position: relative;
    @include adaptiveValue("height", 1181, 659, 1920, 375, 1);
    background-color: $mainColor;
    overflow: hidden;
    &__container {
        position: relative;
        // padding: 185px 195px;
        @include adaptiveValue("padding-top", 185, 36, 1920, 375, 1);
        @include adaptiveValue("padding-right", 195, 15, 1920, 375, 1);
        @include adaptiveValue("padding-left", 195, 15, 1920, 375, 1);
    }

    &__title {
        margin-bottom: rem(80);
        color: #fff;
        font-family: Magenda;
        font-size: rem(260);
        @include adaptiveValue("font-size", 260, 130, 1920, 1024,1);

        @media (max-width:$mobile){
            @include adaptiveValue("font-size", 130, 85, 1024, 375, 1);
        }
        
        &-extra {
            display: inline-block;
            @include adaptiveValue("margin-left", 230, 40, 1920, 1024, 1);

            @media (max-width:$tablet){
                display: block;
                margin-left: 0;
            }
        }
    }

    &__label {
        position: absolute;
        // top: rem(192);
        @include adaptiveValue("top", 192, 83, 1920, 1024, 1);
        @include adaptiveValue("right", 200, 60, 1920, 1024, 1);
        // right: rem(200);
        color: #fff;
        // font-size: rem(29);
        @include adaptiveValue("font-size", 29, 12, 1920, 375, 1);
        font-weight: 500;
        z-index: 3;

        @media (max-width:$tablet){
            display: block;
            margin-bottom: rem(36);
            // display: none;
        }

        @media (max-width:$mobile){
            position: initial; 
        }

        @media (max-width:$mobileSmall){
            top: rem(36);
            left: rem(15);
        }
    }

    &__shape {
        position: absolute;
        @include adaptiveValue("top", -137, 31, 1920, 375, 1);
        @include adaptiveValue("left", -570, -343, 1920, 375, 1);
        @include adaptiveValue("width", 1898, 593, 1920, 375, 1);
        @include adaptiveValue("height", 1898, 651, 1920, 375, 1);
        background-color: #000;
        background-color: $highlightColor;
        border-radius: 50%;
        opacity: 0;
        animation: show 1.5s ease-in-out 0.5s 1 forwards;
    }

    &__img {
        position: absolute;
        bottom: -16%;
        left: 39%;
        max-width: rem(1061);
        height: 117%;
        z-index: 2;

        @media (max-width:$tablet){
            width: percent(1061, 1920);
        }

        @media (max-width:$tablet){
            bottom: -7%;
            left: 38%;
            height: 95%;
            width: unset;
        }

        @media (max-width:$mobile){
            bottom: -10%;
            left: 35%;
        }

        @media (max-width: $mobileSmall){
            bottom: -16%;
            left: 30%;
            height: 95%;
            width: unset; 
        }

        @media (max-width: em(400)){
            bottom: -16%;
            left: 11%;
            // height: 100%;
            // width: percent(475, 375); 
        }
    }
}

@keyframes show {
    from {
        background-color: #000;
        transform: translate(-100%, 100%);
        opacity: 0;
    } to {
        background-color: $highlightColor;
        transform: translate(0%, 0%);
        opacity: 1;
    }
}