<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body._small-player
		.wrapper.wrapper__container._small-sidebar
			include html/_header
			include html/_sidebar
			main.main
				include html/_account
			include html/_player-bar
			include html/_popup
		script(src="js/app.min.js")