<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body._player-active
		.wrapper.wrapper__container
			include html/_header
			include html/_sidebar
			main.main
				include html/_hero
				include html/_catalog
			//- include html/_footer
			//- include html/_menu
			//- include html/_popup
		include html/_player-bar
		//- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
		script(src="js/app.min.js")
	