section#about.about
	.about__container
		h2.about__title ОБО МНЕ
		.about__body.body-about  
			img(src="@img/about/photo.png", alt="Диана Моторина").body-about__img
			.body-about__content 
				.body-about__title Моторина Диана Игоревна
				ul.body-about__list
					li 15 лет опыта в фигурном катании
					li Специалист с высшим образованием НГУ им. П.Ф. Лесгафта
					li 3,5 года регулярной практики в роли тренера
					li Поставила на коньки и ролики более 100 человек
					li Работаю с категорией людей от 3,5 года до 80 лет
					li На занятиях с лёгкостью нахожу подход как к ребёнку, так и ко взрослому
					li Являюсь действующим магистрантом спортивной психологии. Неспроста ученики отмечают мою лёгкость и комфорт в общении
				button.body-about__button.button(data-popup="#form") связаться со мной