section.feedback 
	.feedback__container 
		.feedback__slider.swiper
				.feedback__wrapper.swiper-wrapper

					.feedback__slide.swiper-slide.slide-feedback
						.slide-feedback__top 
							.slide-feedback__avatar(style="background-image: url(@img/feedback/item-3.png)")
							.slide-feedback__info 
								ul.slide-feedback__raiting
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
								h4.slide-feedback__name Даша Корогодина
								span.slide-feedback__date 5 мая 2023
						.slide-feedback__bottom
							p 
								| Замечательный тренер, ребёнок
								| в восторге от занятий! Максимально вежливый и приятный в общении
								| человек, всегда идёт на встречу
								| по графику тренировок. Рекомендую!

					.feedback__slide.swiper-slide.slide-feedback
						.slide-feedback__top 
							.slide-feedback__avatar(style="background-image: url(@img/feedback/item-4.png)") 
							.slide-feedback__info 
								ul.slide-feedback__raiting
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
								h4.slide-feedback__name Ника Андреева
								span.slide-feedback__date 4 января 2023
						.slide-feedback__bottom
							p 
								| Мне очень нравится Диана как в роли
								| тренера, так и в роли отличного собеседника! 
								| За тренировки мы успеваем нарабатывать опыт, делать новые упражнения
								| и это очень радует. Диана, спасибо!!! 

					.feedback__slide.swiper-slide.slide-feedback
						.slide-feedback__top 
							.slide-feedback__avatar(style="background-image: url(@img/feedback/item-5.png)")  
							.slide-feedback__info 
								ul.slide-feedback__raiting
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
								h4.slide-feedback__name Анатолий
								span.slide-feedback__date 27 мая 2023
						.slide-feedback__bottom
							p 
								| Занимались 2 дочки и остались довольны, будем ходить ещё. 
								| Огромное спасибо тренеру, она специалист в своём деле. Рекомендую!)

					.feedback__slide.swiper-slide.slide-feedback
						.slide-feedback__top 
							.slide-feedback__avatar(style="background-image: url(@img/feedback/item-6.png)")  
							.slide-feedback__info 
								ul.slide-feedback__raiting
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
								h4.slide-feedback__name Ирина
								span.slide-feedback__date 6 октября 2023
						.slide-feedback__bottom
							p 
								| Диана - пунктуальная, внимательная
								| к ребёнку, доброжелательная.
								| Пока несколько занятий позади, занимаемся
								| с нуля, сын с удовольствием идёт на лёд,
								| уже самостоятельно передвигается по катку. 

					.feedback__slide.swiper-slide.slide-feedback
						.slide-feedback__top 
							.slide-feedback__avatar(style="background-image: url(@img/feedback/item-7.png)") 
							.slide-feedback__info 
								ul.slide-feedback__raiting
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
								h4.slide-feedback__name Асем
								span.slide-feedback__date 15 декабря 2022
						.slide-feedback__bottom
							p 
								| На первом занятии боролись со страхом,
								| на втором уже начинаю технически правильно выполнять упражнения.
								| Диана понятно объясняет технику и помогает преодолеть страх. Очень советую Диану,
								| с ней приятно и комфортно кататься.

					.feedback__slide.swiper-slide.slide-feedback
						.slide-feedback__top 
							.slide-feedback__avatar(style="background-image: url(@img/feedback/item-8.png)")  
							.slide-feedback__info 
								ul.slide-feedback__raiting
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
								h4.slide-feedback__name Кристина
								span.slide-feedback__date 7 декабря 2022
						.slide-feedback__bottom
							p 
								| Занимаюсь с Дианой уже месяц. 
								| Профессионал своего дела, пунктуальна, вежлива. 
								| Очень быстро нашла подход к ребёнку. 
								| Теперь буквально живём в коньках, 
								| с нетерпением ждём следующей тренировки!

					.feedback__slide.swiper-slide.slide-feedback
						.slide-feedback__top 
							.slide-feedback__avatar(style="background-image: url(@img/feedback/item-1.png)")
							.slide-feedback__info 
								ul.slide-feedback__raiting
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
								h4.slide-feedback__name Екатерина
								span.slide-feedback__date 29 января 2023
						.slide-feedback__bottom
							p 
								| Большое спасибо Диане за качественные тренировки. 
								| Обучаемся с нуля и уже есть успехи. 
								| Дети с радостью бегут на занятия. 
								| Диана очень внимательна и дружелюбна. 
								| Занятия интересные, много базы и элементов

					.feedback__slide.swiper-slide.slide-feedback
						.slide-feedback__top 
							.slide-feedback__avatar(style="background-image: url(@img/feedback/item-2.png)")
							.slide-feedback__info 
								ul.slide-feedback__raiting
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
									li
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M11.0388 1.34928C11.3159 0.383751 12.6841 0.383751 12.9612 1.34928L14.8705 8.00203C14.9971 8.44316 15.4077 8.7415 15.8663 8.72558L22.7835 8.48557C23.7874 8.45074 24.2102 9.75199 23.3775 10.3139L17.6404 14.1855C17.2599 14.4422 17.1031 14.9249 17.26 15.3562L19.6257 21.8606C19.9691 22.8047 18.8622 23.6089 18.0705 22.9906L12.6155 18.7306C12.2538 18.4482 11.7462 18.4482 11.3845 18.7306L5.92951 22.9906C5.13781 23.6089 4.0309 22.8047 4.37425 21.8606L6.74002 15.3562C6.89689 14.9249 6.74005 14.4422 6.35963 14.1855L0.622482 10.3139C-0.210166 9.75199 0.212634 8.45074 1.21654 8.48557L8.13367 8.72558C8.59233 8.7415 9.00295 8.44316 9.12955 8.00203L11.0388 1.34928Z" fill="#E3D0B7"/>
										</svg>
								h4.slide-feedback__name Юлия
								span.slide-feedback__date 24 апреля 2023
						.slide-feedback__bottom
							p 
								| Диана сама позвонила на каток и выяснила условия и стоимость аренды коньков.
								| Была вовремя. Начала с азов (как падать,
								| что важно), после тренировки дала рекомендации по выбору коньков


				.feedback__navigation.navigation 
					
					button.prev
						svg(width='30' height='30' viewbox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
							mask#mask0_121_1353(style='mask-type:alpha' maskunits='userSpaceOnUse' x='0' y='0' width='30' height='30')
								rect(width='30' height='30' transform='matrix(-1 0 0 1 30 0)' fill='url(#pattern0)')
							g(mask='url(#mask0_121_1353)')
								circle(cx='15' cy='15' r='15' transform='matrix(-1 0 0 1 30 0)' fill='black')
							defs
								pattern#pattern0(patterncontentunits='objectBoundingBox' width='1' height='1')
									use(xlink:href='#image0_121_1353' transform='scale(0.0111111)')
								image#image0_121_1353(width='90' height='90' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAABmJLR0QA/wD/AP+gvaeTAAACDElEQVR4nO3dP2pUcRRH8RMTVCyEgI1gH4KljSmsBXULWrkG4wK0UqMrsIqVtRbuIE26NBY2ChYa/FOIAYexCDbiCPfBfC+/cD7w6rlchpl33ryZAUmSJEkSAGeAHeAzMF9wvAceAGtNM54IOyxe8N/HbtOMJ8L/nsn/OrZ7xhxfddEz4EbLpIN7Sm3Rc+ArsNkx7MjOAnvUl/0OuNAw79AuAh+oL/sNnomUXQF+UF/2k45hR3eb+qLnwN2OYUdXOa/+cxwB1zqGHdkq8Ir6sj8ClxrmHdp54ID6sveBcw3zDm0D+EJ92S+BlYZ5h3Yd+EV92Wb6BNvUFz0DbnUMO7rn1Jf9HbjcMezIzPQgMz3ITA8y04PM9BAzPchMDzLTg8z0IDM9yEwPMdODzPSgq8BP6ss20ycw04PM9BAzPWgdeEt92Wb6BJsc331aXfajjmFHNyXTPy17qFPLfoBBzLoHGI0vHQG+GQZ4ehcy5bsxBkvRHUzwpdvCi0pL52XSAC/8B6wAL6gv2Y+yiu5TX7IfzhZNvd3gXsewo9pgWl57A02BeR2wCrymvmTzusi8DjCvA8zrAPM6wLwOMK9DzOsA8zrAvA4wrwPM6xDzOsC8DjCvA8zrAPM65Bn1JX/DnzUuO6S25Blws2XSwfnT8yHVP1Mwryc6DTzm+DsjixZ8CDzEMwxJkiRJyvgNFuS6cSI2G6sAAAAASUVORK5CYII=')
					
					h2.feedback__title ОТЗЫВЫ

					button.next
						svg(width='30' height='30' viewbox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
							mask#mask0_121_1356(style='mask-type:alpha' maskunits='userSpaceOnUse' x='0' y='0' width='30' height='30')
								rect(width='30' height='30' fill='url(#pattern0)')
							g(mask='url(#mask0_121_1356)')
								circle(cx='15' cy='15' r='15' fill='black')
							defs
								pattern#pattern0(patterncontentunits='objectBoundingBox' width='1' height='1')
									use(xlink:href='#image0_121_1356' transform='scale(0.0111111)')
								image#image0_121_1356(width='90' height='90' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAABmJLR0QA/wD/AP+gvaeTAAACDElEQVR4nO3dP2pUcRRH8RMTVCyEgI1gH4KljSmsBXULWrkG4wK0UqMrsIqVtRbuIE26NBY2ChYa/FOIAYexCDbiCPfBfC+/cD7w6rlchpl33ryZAUmSJEkSAGeAHeAzMF9wvAceAGtNM54IOyxe8N/HbtOMJ8L/nsn/OrZ7xhxfddEz4EbLpIN7Sm3Rc+ArsNkx7MjOAnvUl/0OuNAw79AuAh+oL/sNnomUXQF+UF/2k45hR3eb+qLnwN2OYUdXOa/+cxwB1zqGHdkq8Ir6sj8ClxrmHdp54ID6sveBcw3zDm0D+EJ92S+BlYZ5h3Yd+EV92Wb6BNvUFz0DbnUMO7rn1Jf9HbjcMezIzPQgMz3ITA8y04PM9BAzPchMDzLTg8z0IDM9yEwPMdODzPSgq8BP6ss20ycw04PM9BAzPWgdeEt92Wb6BJsc331aXfajjmFHNyXTPy17qFPLfoBBzLoHGI0vHQG+GQZ4ehcy5bsxBkvRHUzwpdvCi0pL52XSAC/8B6wAL6gv2Y+yiu5TX7IfzhZNvd3gXsewo9pgWl57A02BeR2wCrymvmTzusi8DjCvA8zrAPM6wLwOMK9DzOsA8zrAvA4wrwPM6xDzOsC8DjCvA8zrAPM65Bn1JX/DnzUuO6S25Blws2XSwfnT8yHVP1Mwryc6DTzm+DsjixZ8CDzEMwxJkiRJyvgNFuS6cSI2G6sAAAAASUVORK5CYII=')
