section#programs.programs 
	.programs__container
		.programs__body
			h2.programs__title программы тренировок:
			.programs__slider.swiper
				.programs__wrapper.swiper-wrapper
					.programs__slide.swiper-slide.programs-slide._slide_1
						.programs-slide__title День рождения<br>на&nbsp;катке
						p.programs-slide__text 
							| Познавательный и&nbsp;запоминающийся
							| на&nbsp;долгие годы способ встретить новый год&nbsp;жизни.
							| Длительность программы: 1,5&nbsp;часа
						.programs-slide__img 
						span.programs-slide__price от&nbsp;10.000&nbsp;₽
						button.button.programs-slide__button(data-popup="#form-1") записаться

					.programs__slide.swiper-slide.programs-slide._slide_2
						.programs-slide__title Индивидуальное<br>занятие
						p.programs-slide__text 
							| Тренировки для&nbsp;детей от&nbsp;3,5 года и&nbsp;взрослых.
							| Фигурное катание может стать вашим хобби, 
							| а&nbsp;может<br>видом спорта, который принесёт множество наград
							| и&nbsp;званий. Всё&nbsp;зависит от&nbsp;вашей цели! 
						.programs-slide__img 
						span.programs-slide__price 2.000&nbsp;₽
						button.button.programs-slide__button(data-popup="#form-2") записаться

					.programs__slide.swiper-slide.programs-slide._slide_3
						.programs-slide__title Групповые<br>занятия
						p.programs-slide__text 
							| Занятия проходят в&nbsp;группах до&nbsp;7&nbsp;человек.
							| Длительность занятия:
							| каток -&nbsp;1&nbsp;час, каток +&nbsp;ОФП -&nbsp;1,5&nbsp;или 2&nbsp;часа
							| (формируем расписание исходя из&nbsp;запроса группы)
						.programs-slide__img 
						span.programs-slide__price от 700&nbsp;₽
						button.button.programs-slide__button(data-popup="#form-3") записаться

					.programs__slide.swiper-slide.programs-slide._slide_4
						.programs-slide__title Абонемент<br>на&nbsp;4&nbsp;занятия
						p.programs-slide__text 
							| Если после первой тренировки вы&nbsp;приняли
							| решение продолжить ходить на занятия, то&nbsp;это предложение может вас&nbsp;заинтересовать.
							| Длительность: 4&nbsp;занятия -&nbsp;4&nbsp;часа.  
						.programs-slide__img 
						span.programs-slide__price 6.000&nbsp;₽
						button.button.programs-slide__button(data-popup="#form-4") записаться

				.programs__navigation.navigation
					button.prev
						svg(width='31' height='56' viewbox='0 0 31 56' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M23.7412 2.15625L1.95605 25.3125C1.34668 26.0742 0.889648 26.9883 0.889648 27.75C0.889648 28.6641 1.34668 29.5781 1.95605 30.3398L23.7412 53.4961C25.1123 55.0195 27.3975 55.0195 28.9209 53.6484C30.4443 52.2773 30.4443 49.9922 29.0732 48.4688L9.57324 27.75L29.0732 7.18359C30.4443 5.66016 30.4443 3.375 28.9209 2.00391C27.3975 0.632812 25.1123 0.632812 23.7412 2.15625Z' fill='#326BB1')

					button.next
						svg(width='31' height='56' viewbox='0 0 31 56' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M7.55859 2.15625L29.3438 25.3125C29.9531 26.0742 30.4102 26.9883 30.4102 27.75C30.4102 28.6641 29.9531 29.5781 29.3438 30.3398L7.55859 53.4961C6.1875 55.0195 3.90234 55.0195 2.37891 53.6484C0.855469 52.2773 0.855469 49.9922 2.22656 48.4688L21.7266 27.75L2.22656 7.18359C0.855469 5.66016 0.855469 3.375 2.37891 2.00391C3.90234 0.632812 6.1875 0.632812 7.55859 2.15625Z' fill='#326BB1')
