section.qa 
	.qa__container 
		h2.qa__title Часто - задаваемые<br>вопросы
		.qa__accordion.accordion
			details.accordion__details(open)
				summary Что необходимо брать с собой на занятия? 
				ul 
					li Коньки
					li Воду
					li Перчатки
					li Шапку/повязку
					li Тренировочный костюм
					li Несколько пар носков (желательно длинных, чтобы не натереть ногу в коньке)
					li Жёсткие чехлы на лезвия (чтобы передвигаться вне льда)
					li Мягкие чехлы на лезвия (чтобы переносить в сумке коньки)
					li Тряпочку для лезвий (чтобы протирать лезвия от лишней влаги после занятия).

			details.accordion__details
				summary Со скольки лет можно отдать ребёнка на каток?
				p Начинать заниматься можно с 3,5 лет
			
			details.accordion__details
				summary Какие коньки лучше купить начинающему фигуристу?  
				p 
					| Рекомендую выбирать из следующих фирм: Risport, Riedell, WIFA, Jackson, Edea.
					| Ботинки следует выбирать средней жёсткости, чтобы нога была хорошо зафиксирована.

			details.accordion__details
				summary Сколько времени длится 1 занятие? 
				p Занятие длится 1 час.

			details.accordion__details
				summary Сколько раз в неделю нужно заниматься? 
				p 
					| Всё зависит от цели, которую вы ставите на занятия, ну и конечно
					| от вашего свободного времени. Любителям достаточно 1-2 раз в неделю,
					| в то время как профессионалы занимаются от 4 до 6 раз в неделю.

			details.accordion__details
				summary Тренируете ли вы зимой на открытых катках?
				p Да, зимой с желающими мы занимаемся на открытых катках.

			details.accordion__details
				summary Не поздно ли мне учиться заниматься в 30+?
				p
					| Конечно не поздно, всегда можно начать заниматься, если этого действительно хотеть.
					| Единственное, что может остановить, так это наличие медицинских противопоказаний. 
					| Если вы здоровы, то рада буду видеть вас на занятиях. 

			details.accordion__details
				summary Можно ли арендовать коньки на ледовой арене? 
				p 
					| Да, в основном на ледовых аренах есть прокат коньков. Редко бывает такое,
					| что проката нет, в таком случае мы выберем другую ледовую арену. 
					| Рекомендую не оттягивать с покупкой коньков, т.к. в прокате коньки разношены
					| и не приспособлены для регулярных тренировок.