section.why 
	.why__container 
		h2.why__title почему мне можно доверять
		ul.why__list 
			li.why-item 
				img.why-item__img(src="@img/why/why-1.png", alt="")
				p.why-item__text 
					| <b>За 3,5 года</b> тренерской деятельности<br> и <b>более 100</b> 
					| учеников<br> только <b>положительные</b> отзывы
			
			li.why-item 
				img.why-item__img(src="@img/why/why-2.png", alt="")
				p.why-item__text 
					| Имею <b>высшее спортивное</b> образование,<br> 
					| что <b>подтверждает</b> мою компетенцию<br> в сфере <b>фигурного катания</b>

			li.why-item 
				img.why-item__img(src="@img/why/why-3.png", alt="")
				p.why-item__text 
					| Я <b>гарантирую</b> вам <b>комфортное</b><br>
					| взаимодействие и <b>индивидуальный</b><br>
					| подход в тренировочном процессе